<div data-component="OPageContent" class="o-page-content">

    <div class="o-width spacer-desktop wc-75">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_about.gif" alt="ARKET About">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="headings" style="text-align:left;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin"><span class="heading-cap">ABOUT</span>ARKET is a
                    modern-day market and lifestyle destination offering essential products for men, women, children and
                    the home, as well as a New Nordic vegetarian café. The wide assortment of fashion, food, scents,
                    beauty and functional home items is curated to simplify good choices and provide inspiration for a
                    more beautiful everyday life.
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width about-grid wc-75">
        <div class="o-layout is-small">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2">
                    <div class="image-slideshow section">
                        <%# md-about-o-image-list-explore-arket %>
                        <%- include ("../../common/md-about-o-image-list-explore-arket.ejs") %>
                    </div>
                </div>
                <div class="layout-row-3">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="headings" style="text-align:center;">
                                <div class="m-headline">
                                    <h2 class="a-heading-2  has-margin">
                                        <span class="heading-cap">People</span>Stories from our studio
                                    </h2>
                                </div>
                            </div>
                            <div class="text-container">
                                <p class="a-paragraph is-richtext"></p>
                                <div style="text-align: left;font-size: 20.0px;">Our new interview series features
                                    conversations with members of the ARKET team, sharing their thoughts on the creative
                                    process and the responsibility we all have for what we put out into the world.
                                </div>
                                <div style="text-align: left;font-size: 14.0px;">&nbsp;</div>
                                <div style="text-align: left;font-size: 14.0px;">ARKET’s design studio and head office
                                    are located on Södermalm in Stockholm, Sweden, and in total we are more than 200
                                    people working for the brand around the world: designers, chefs, architects, buyers,
                                    pattern-makers, producers, mothers, fathers, readers, runners, artists and hobby
                                    gardeners.&nbsp;
                                </div>
                                <div style="text-align: left;font-size: 14.0px;">&nbsp;</div>
                                <div style="text-align: left;font-size: 14.0px;">Our shared mission is to democratise
                                    quality and make sustainable design accessible to more people. With a circular
                                    approach and a high level of transparency into our processes, we also want to drive
                                    forward positive change in the fashion and design industry.&nbsp;
                                </div>
                                <div style="text-align: left;font-size: 14.0px;">&nbsp;</div>
                                <div style="text-align: left;font-size: 14.0px;">These following eight stories represent
                                    an example of who we are and who we want to be, what we wish for, how we think, and
                                    what inspires our work.
                                </div>
                                <p class="a-paragraph"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="O-WIDTH wc-50">
        <div class="o-width spacer--desktop wc-100"></div>
    </div>
    <div class="o-width VNAV wc-100">
        <div class="o-image-listing cols-3">
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/materials.html" target="_blank" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_10_WEB.jpg" alt="Kenjiro Kuwana">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Materials</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_susanna_04_WEB.jpg" alt="Susanna Cognigni">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Suppliers</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/design.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_elisabeth_06_WEB.jpg" alt="Elisabet Holmström">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Design</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q3_cafe_bts_jessica_f.jpg" alt="Jessica Leroux">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Food</div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width VNAV wc-100">
        <div class="o-image-listing cols-3">
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/balance.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_08_WEB.jpg" alt="Caroline Igel">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Balance</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/knowledge.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_03_WEB.jpg" alt="Ivan Fernandez">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Knowledge</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/community.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_07_WEB.jpg">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Community</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/environment.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_10_WEB.jpg">
                    <span class="promoIndex" hidden="">18</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Environment</div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about-chooser wc-75"></div>
    <div class="o-width wc-50">
        <div class="headings" style="text-align:left;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin"><span class="heading-cap">Name</span>A nod to
                    our Nordic heritage and soul, ARKET means ‘sheet of paper’ in Swedish. It symbolises creativity and
                    innovation, openness and open-mindedness, and connects to the aesthetics of simplicity that
                    influence our designs. It also represents the importance of conscious choices – the possibility to
                    do good and choose the positive alternative when creating something new.</h2>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
            <h2 class="a-heading-2">
                <span class="heading-cap">ARKET CAFÉ</span>
                <span class="heading-value"></span>
            </h2>
        </div>
    </div>
    <div class="o-width about-chooser wc-75">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"><b>411267-411</b></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">
                    <div class="layout-row-2">
                        <div class="image-slideshow section">
                            <div class="o-image-listing cols-1">
                                <div class="image-container">
                                    <div class="trackImage col-item">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_cafe_cookbook_martinberg.jpg" alt="Martin Berg">
                                        <div class="caption">
                                            <span>Martin Berg, head chef at ARKET café</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-row-3">
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="headings" style="text-align:center;">
                                    <div class="m-headline">
                                        h2 class="a-heading-2  has-margin">
                                        <span class="heading-cap">Food</span>Seasonal and plant-based</h2>
                                    </div>
                                </div>
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext">ARKET café is a seasonal
                                        vegetarian kitchen and coffee shop promoting natural flavours and a modern, more
                                        sustainable way of eating. The menu reflects our vision of the New Nordic
                                        everyday food. It emphasises traditional methods and healthy ethically-produced
                                        ingredients, consciously combining our Northern recipes with influences from
                                        abroad.</p>
                                </div>
                            </div>
                        </div>
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide ">
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext">Our head chef Martin Berg
                                        describes himself as ‘on a mission’. One of the early proponents of the New
                                        Nordic food movement, Martin has a rich background in sustainable and sensitive
                                        cooking, as the executive chef at the Michelin-star restaurants Mathias Dahlgren
                                        and the co-founder of the Green Rabbit rye bakery and organic café in Stockholm.&nbsp;<br><br>His
                                        work with ARKET café is based on the conviction that the transformation towards
                                        a healthier and more sustainable food culture needs to be broader and more
                                        accessible than the world of fine dining, encompassing our everyday meals and
                                        habits. By offering a delicious seasonal menu based on whole grains, fruits,
                                        vegetables, nuts, seeds and traditional legumes, Martin’s mission is to inspire
                                        people to choose the positive alternative.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tagCloud parbase section">
                            <div class="o-tag-cloud">
                                <h6 class="a-heading-6 cloud-title">explore our seasonal menu</h6>
                                <ul class="tags-container"><!-- -->
                                    <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/cafe.html" target="_self" class="a-link">ARKET
                                            café</a><!-- --></li><!-- --></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">SUSTAINABILITY FACT SHEET</span>
                <span class="heading-value"></span>
            </h2>
        </div>
    </div>
    <div class="o-width spacer wc-50">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/Supplier_wanjiamei_04_a_WEB.jpg">
                    <div class="caption">
                        <span>Fujian Wanjiamei factory, China</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin"><span class="heading-cap">Environment</span>ARKET
                        Sustainability Fact Sheet is a combined mission statement and account of the efforts we are
                        making to reduce our footprint on the environment.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">This is the first time we collect yearly data
                    from our production <b>to</b> make it publicly available on our website.&nbsp;Part of this
                    initiative,&nbsp; we also present a full list of all the suppliers we have been working with during
                    2020.&nbsp;<span>Transparency is a founding principle of ARKET. By providing more insight into our processes and methods, we want to simplify informed choices in everyday life and drive forward positive change on a larger scale.&nbsp;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Explore</h6>
            <ul class="tags-container"><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/sustainability-fact-sheet.html" target="_self" class="a-link">ARKET Sustainability Fact Sheet 2020</a><!-- --></li>
            </ul>
        </div>
        <div class="o-text-field is-wide">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;"><b><br></b></div>
                <p class="a-paragraph"></p></div>
        </div>
    </div>
    <div class="o-width about-chooser wc-75">
        <div class="o-text-field is-wide">
            <div class="text-container">
                <p class="a-paragraph is-richtext"><b>891983-760</b></p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Knowledge.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">New Nordic Everyday design</span>
                <span class="heading-value"></span>
            </h2>
        </div>
    </div>
    <div class="o-width spacer wc-100"></div>
    <div class="o-width wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_misc_-01A_WEB.jpg">
                    <div class="caption"><span>Stockholm studio</span></div>
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_Store_Hamburg_Oct2018_280_f.jpg">
                    <div class="caption"><span>ARKET stores &amp; cafés</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">History </span>The
                        concept of everyday beauty was one of the starting points for developing ARKET as well as a
                        major influence on the Nordic modernist movement in the mid-20th century. Formulated in 1919 by
                        Swedish art historian Gregor Paulsson, ‘More beautiful everyday things’ became the slogan for a
                        new democratic approach that aimed to bridge the worlds of arts, crafts and functional form to
                        produce affordable and widely accessible items for everyday use.</h2></div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">In the Nordic countries, this ambition was
                    associated with a new ideal of beauty which favoured clean lines, a neutral colour palette and solid
                    materials inspired by nature and the northern climate. Above all, it made functionality and
                    durability the basis for good design.&nbsp;<span>With special attention to sustainable practices, we continue to build on the Nordic tradition of functional beauty and the mission to enhance life through well-designed everyday things. Our collections are carefully made to leave a lighter footprint and intended to be used and loved for a long time.</span>
                </p></div>
        </div>
    </div>
    <div class="o-width VNAV wc-100">
        <div class="o-width spacer wc-75"></div>
    </div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width ">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../common/md-about-o-focus-tiles-stores.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../common/md-about-o-focus-tiles-cs.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../common/md-about-o-focus-tiles-recycle.ejs") %>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-width wc-75">
            <div class="o-text-field is-wide ">
                <div class="text-container">
                    <p class="a-paragraph is-richtext">ARKET is a brand within the H&amp;M group
                        Registered office H&amp;M Hennes &amp; Mauritz GBC AB Mäster Samuelsgatan 46A 106 38 Stockholm
                        Sweden Company registration number GBC – 5560701715 Registered in Sweden VAT registration number
                        SE 556070171501 For corporate information, visit about.hm.com</p>
                </div>
            </div>
        </div>
    </div>
</div>