<div data-component="OPageContent" class="o-page-content footer-about-wrap" data-component-id="">
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png" alt="Menu">
            <h2 class="a-heading-2">
                <span class="heading-cap">ARKET CAFÉ</span>
                <span class="heading-value"></span>
            </h2>
        </div>

        <div class="o-text-field is-wide">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">비건 &amp; <br>베지테리언 카페</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="about-align-center">
                    마틴 버그 설립,<br />
                    헤드 쉐프<br />
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width wc-100">
        <div class="o-chooser with-image" data-component="OChooser" data-type="with-image">
            <div class="item-container"></div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">Summer</span>
                    봄에서 여름으로 바뀌면서, 우리는 충분한 휴식을 취하고 가족들과 함께 길고 화창한 날을 보낼 준비를 하고 있습니다. ARKET의 계절 메뉴는 자연의 순환 리듬에 따라 새로운 색과 맛의 에너지로 넘칩니다. 일년 중 이맘때면, 우리는 자연 그대로의 신선한 농산물을 즐길 수 있는 가볍고 복잡하지 않은 식사를 선택합니다.
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-100"></div>
    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout " data-chooser="Menu" data-chooser-title="Menu" data-chooser-image="/images/about/cafe_icon_menu.png" data-chooser-image-alt="Menu" id="menu">
            <div class="layout-row-1"></div> 
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
	    <div class="m-headline u-align-center is-main-headline full-width cafe-wrap">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Summer</span>
                <span class="heading-value">Menu</span>
            </h2>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-image-listing cols-3">
                <div class="image-container">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/tomato-and-roasted-pepper-salad.html" target="_self" class="trackImage a-link">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_salad_A_WEB_X2.jpg" alt="Summer salad">
                    </a>
                </div>
                <div class="image-container">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/tomato-and-roasted-pepper-salad.html" target="_self" class="trackImage a-link">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_sandwich_B_WEB_X2.jpg" alt="Summer sandwich">
                    </a>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_flatbread_A_WEB_X2.jpg" alt="Summer flatbread">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_wrap_A_WEB_X2.jpg" alt="Summer wraps">
                    </div>
                </div>
                    <div class="image-container">
                        <div class="trackImage col-item">
                            <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_20Q4_cafe_stockholm_7.jpg">
                        </div>
                    </div>
                    <div class="image-container">
                        <div class="trackImage col-item">
                            <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_20Q4_cafe_stockholm_5.jpg">
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    시금치, 양상추와 같은 잎이 무성한 야채와 토마토, 가지, 그리고 레드 페퍼는 이번 계절이 적기이면서 강력한 비타민을 공급합니다. 남부 스웨덴의 스카네에서 난 유기농 퀴노아와 워브로 크바른의 새로운 빵이, 메뉴에 새롭고 활기찬 맛을 가져다 줍니다. 토스카나식 판자넬라 샐러드와 뿌리채소가 들어간 그린 커리는 마틴 버그 셰프의 최근 창작메뉴들입니다.<br class="only-pc"><br class="only-pc">
                    더 달콤한 분위기로는, 톡 쏘는 루바브와 즙이 많은 딸기가 우리의 패스트리에 진정한 여름의 느낌을 불러옵니다. 새로운 청량음료에도 과일 테마는 계속되며, ARKET만의 스트로베리 쉐이크, 레모네이드, 얼그레이 아이스티가 중심을 장식합니다. 또한 맛있는 에스프레소와 쉐이크와 마챠 쉐이크 제공되어 열기를 식히고 재충전을 돕습니다. ARKET 카페에서는 모든 식사와 페이스트리, 음료가 포장되어 어디서나 즐길 수 있습니다.

                </p>
            </div>
        </div>
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="about-align-center">여름 메뉴는 2021년 5월 27일에 출시될 예정입니다.<br></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-tag-cloud">
        <h6 class="a-heading-6 cloud-title">Cook at home</h6>
        <ul class="tags-container">
            <li class="tag ">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/tomato-and-roasted-pepper-salad.html" target="_self" class="a-link">Summer salad</a>
            </li>
        </ul>    
    </div>
    <div class="o-width wc-25"></div>
    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout" data-chooser="Vision" data-chooser-title="Vision" data-chooser-image="<%= pageInfo.root %>/images/about/cafe_icon_chef.png" data-chooser-image-alt="Vision" id="vision">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>

    <div class="o-width title--medium about-icon wc-50">
        <div class="o-text-field is-wide ">
            <div class="headings big-tit-txt">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-code cafe">패스트리 드롭</span>
                        #17 <br>스웨디시 루바브 크럼블
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="about-align-center">마틴버그,<br>헤드쉐프<br></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-width fullWidth--mobile title--x-small wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">
                    <div class="layout-row-2">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1">
                                <div class="image-container">
                                    <div class="trackImage col-item">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_ps_rhurbarb_B_WEB.jpg" alt="ARKET Rhubarb Crumble">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-row-3">
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext"><br>
                                        ARKET의 Pastry Drop™ 시리즈는<br class="only-pc"> 북유럽 기후의 자연스러운 리듬에 영감을 받아 계절에 따른 맛을 가진 패스트리입니다. 우리의 헤드 쉐프인 마틴 버그가<br class="only-pc"> 개발한 페이스트리는 ARKET 카페에서 한정적으로 제공됩니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout" data-chooser="Pastries" data-chooser-title="Pastries" data-chooser-image="<%= pageInfo.root %>/images/about/cafe_icon_pastries.png" data-chooser-image-alt="Pastries" id="pastries">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="m-headline u-align-center is-main-headline full-width cafe-wrap">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">Pastries</span>
                    <span class="heading-value">Seasonal pastries</span>
                </h2>
            </div>
            <div class="o-image-listing cols-3 img-wrap-list">
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21_cafe_rhubarb_sponge_cake_A_WEB_X2.jpg" alt="Rhubarb Sponge Cake">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21_cafe_extra_images_F_WEB.jpg" alt="ARKET Pastry Shop">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21_cafe_strawberry_bun_B_WEB_X2.jpg" alt="ARKET Strawberry bun">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21_cafe_cinnamon_bun_B_WEB.jpg" alt="ARKET Cinnamon bun">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21_cafe_cookies_F_WEB.jpg" alt="ARKET Cookie">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21_cafe_tebirkes_C_WEB.jpg" alt="Tebirkes">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width wc-25"></div>
    <div class="o-width spacer wc-75"></div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile title--x-small wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">
                    <div class="layout-row-2">
                        <div class="headline parbase section">
                            <div class="m-headline with-icon u-align-center is-main-headline full-width ">
                                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
                                <h2 class="a-heading-2 ">
                                    <span class="heading-cap">Chef</span>
                                    <span class="heading-value">Martin Berg</span>
                                </h2>
                            </div>
                        </div>
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="text-container">
                                        <p class="a-paragraph is-richtext">
                                            <br>
                                            마틴이 함께한 ARKET 카페는, 더 건강하고 지속가능한 음식문화를 향한 변화는 파인 다이닝의 세계보다 더 폭 넓고 접근성이 있어야 하며, 이를 통해 우리의 일상적인 식사와 습관을 아우를 수 있어야 한다는 확신에 바탕을 두고 있습니다. 
                                            통곡물, 과일, 채소, 견과류, 씨앗, 그리고 전통적인 콩 작물을 바탕으로 한 맛있는 계절 메뉴를 제공하는 마틴의 '임무'란, 사람들이 더 긍정적인 대안을 선택하도록 영감을 주는 것입니다.<br><br>
                                        </p>
                                </div>
                            </div>
                        </div>
                        <div class="tagCloud parbase section">
                            <div class="o-tag-cloud">
                                <h6 class="a-heading-6 cloud-title">Why we care so much about food</h6>
                                <ul class="tags-container">
                                    <li class="tag ">
                                        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/martin-berg.html" target="_self" class="a-link">Read more</a>
                                    </li>
                                </ul>    
                            </div>
                        </div>
                    </div>
                    <div class="layout-row-3">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1">
                                <div class="image-container">
                                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/martin-berg.html" target="_self" class="trackImage a-link">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_18S7B2_cafe_CPH_martinberg_f.jpg" alt="Martin Berg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <center>
                    <span class="f-type3 ">Given the current situation some of our stores and cafés are temporarily closed. Please check with your local café manager for availability and takeaway possibilities.</span>
                </center>
                    <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <%# md-o-teaser %>
    <%- include ("../../common/md-o-cafe.ejs") %>
    <%- include ("../../common/md-o-teaser.ejs") %>

</div><!--end -->
