<div data-component="OPageContent" class="o-page-content" style="padding-bottom:40px;">
    <h3 class="lightbox-list-tit">로그인/회원가입</h3>
    <ul class="lightbox-list-wrap">
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-required-input-id">
                <span>아이디 미선택 시</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-email-id-selected">
                <span>이메일 아이디 선택 시</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-email-send-complete">
                <span>인증메일 발송완료 안내</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-email-send-fail">
                <span>이메일 발송 불가 시</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-email-send-chain">
                <span>연속 이메일 발송을 요청할 경우</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-phone-certify-guide" data-classes="alert">
                <span>휴대폰 인증 안내</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-email-certify-fail">
                <span>이메일인증 확인되지 않을 경우</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-info-incorrect">
                <span>정보가 일치하지 않는 경우</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-restid-repair-cancle">
                <span>휴면계정복구 취소</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-restid-repair-complete">
                <span>휴면계정복구 완료</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-pw-change-complete">
                <span>비밀번호 변경 완료</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-order-search-nonmbr" data-classes="alert">
                <span>비회원 주문조회</span>
            </button>
        </li>
    </ul>

    <h3 class="lightbox-list-tit">상품</h3>
    <ul class="lightbox-list-wrap">
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-size-guide">
                <span>사이즈가이드</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-size-guide-type1" data-classes="is-large">
                <span>사이즈가이드 T1</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-size-guide-type2-f" data-classes="is-large">
                <span>사이즈가이드 T2-여성</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-size-guide-type2-m" data-classes="is-large">
                <span>사이즈가이드 T2-남성</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-prd-essential-info">
                <span>상품 필수 표시 정보</span>
            </button>
        </li>
    </ul>

    <h3 class="lightbox-list-tit">장바구니/주문서</h3>
    <ul class="lightbox-list-wrap">
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-cart-count-change">
                <span>장바구니 수량 변경</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-order-info-agree">
                <span>주문내용동의</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-find-address">
                <span>주소검색</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-find-address-v2">
                <span>주소검색 v2</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-find-address-standard">
                <span>주소검색 - 표준주소</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-find-address-standard-v2">
                <span>주소검색 - 표준주소 v2</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-dlvr-list-del">
                <span>배송지목록 > 삭제</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-deposit-account-guide" data-classes="alert">
                <span>무통장입금 전용계좌 안내</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-deposit-account-guide-v2">
                <span>무통장입금 전용계좌 안내 v2</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-deposit-account-guide-nonmbr" data-classes="alert">
                <span>무통장입금 전용계좌 안내(비회원)</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-deposit-account-guide-nonmbr-v2">
                <span>무통장입금 전용계좌 안내(비회원) v2</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-verification-way">
                <span>본인인증 방법 선택</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-nonmbr-order-info-agree">
                <span>비회원 주문 정보수집 동의</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-orderer-info" data-classes="alert">
                <span>주문고객정보</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-return-refund-guide">
                <span>반품 및 환불</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-pay-processing" data-classes="alert">
                <span>결제진행중</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-pay-processing-v2">
                <span>결제진행중 v2</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-pay-processing-ex" data-classes="alert">
                <span>결제진행중-외부</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-pay-processing-ex-v2">
                <span>결제진행중-외부 v2</span>
            </button>
        </li>
    </ul>
    <h3 class="lightbox-list-tit">검색</h3>
    <ul class="lightbox-list-wrap">
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-search-no-keyword">
                <span>검색어 입력 안내</span>
            </button>
        </li>
    </ul>

    <h3 class="lightbox-list-tit">마이페이지 > 회원정보</h3>
    <ul class="lightbox-list-wrap">
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-show-hidden-info" data-classes="alert">
                <span>가려진 정보 보기</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-staff-card-save">
                <span>임직원 카드번호 저장</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-staff-card-del">
                <span>임직원 카드번호 삭제</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-social-connect">
                <span>개인계정 연결관리</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-social-connect-complete">
                <span>개인계정 연결관리>등록완료</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-social-connect-cancel">
                <span>개인계정 연결관리>해제완료</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-refund-receipt-info-mng" data-classes="is-large">
                <span>환불계좌/현금영수증 : 등록전</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-refund-receipt-info-mng-after" data-classes="is-large">
                <span>환불계좌/현금영수증 : 등록후</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-refund-account-reg-complete">
                <span>환불계좌 등록 완료</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-refund-account-del">
                <span>환불계좌 삭제</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-refund-account-del-complete">
                <span>환불계좌 삭제 완료</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-receipt-list" data-classes="is-large">
                <span>영수증/세금계산서 리스트</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-receipt-list-noresult" data-classes="is-large">
                <span>영수증/세금계산서 리스트(내용없음)</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-receipt-apply-tax" data-classes="is-large">
                <span>세금계산서 신청</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-biznum-check-1">
                <span>사업자등록번호 이력 없을 때</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-biznum-check-2">
                <span>사업자등록번호 이력 있을 때</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-receipt-print-tax" data-classes="print-receipt-tax">
                <span>세금계산서 인쇄</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-receipt-print-credit" data-classes="print-receipt-card">
                <span>신용카드 영수증 인쇄</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-receipt-print-cash" data-classes="print-receipt-card">
                <span>현금영수증 인쇄</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-receipt-print" data-classes="is-large">
                <span>영수증 인쇄</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-receipt-cash-cancle-confirm">
                <span>현금영수증 취소 확인</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-receipt-cash-cancle">
                <span>현금영수증 취소</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-mbr-leave-confirm">
                <span>회원탈퇴 > 재확인 팝업</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-mbr-leave-info-refund">
                <span>회원탈퇴 > 환불계좌등록 안내</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-mbr-leave-info-order">
                <span>회원탈퇴 > 주문/교환/반품/AS 안내</span>
            </button>
        </li>
    </ul>

    <h3 class="lightbox-list-tit">마이페이지 > 주문/배송</h3>
    <ul class="lightbox-list-wrap">
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-account-success" data-classes="alert">
                <span>계좌인증 성공</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-account-failure" data-classes="alert">
                <span>계좌인증 실패</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-hide-order-history" data-classes="alert">
                <span>주문내역 숨김</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="cart-product-option-change" data-classes="alert">
                <span>옵션변경</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="cart-order-cancle-unable" data-classes="alert">
                <span>주문취소불가</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-delivery-trace">
                <span>배송추적</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-return-details" data-classes="alert">
                <span>반품 상세 정보</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-order-cancel-details" data-classes="alert">
                <span>주문취소 상세 정보</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-select-delivery-address">
                <span>배송지변경</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-select-pay-way" data-classes="is-large">
                <span>결제수단변경</span>
            </button>
        </li>
    </ul>

    <h3 class="lightbox-list-tit">푸터</h3>
    <ul class="lightbox-list-wrap">
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="country-selector" data-classes="is-country-selector is-multi-language">
                <span>배송국가</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-service-join-confirm" data-classes="is-large">
                <span>서비스가입사실확인</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-newsletter-ntn-lightbox">
                <span>뉴스레터신청</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-newsletter-apply-complete">
                <span>뉴스레터 신청완료</span>
            </button>
        </li>
        <li>
            <!-- type1 : 이용약관, type2 : 개인정보처리방침, type3:개인정보처리방침 12조 -->
            <button class="a-button is-outlined open-lightbox" data-template="lp-join-policy" data-classes="join-policy-type is-large type1">
                <span>이용약관 및 개인정보처리방침</span>
            </button>
        </li>
    </ul>

    <h3 class="lightbox-list-tit">기타</h3>
    <ul class="lightbox-list-wrap">
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-main-popup" data-classes="is-main-popup">
                <span>메인팝업</span>
            </button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-main-popup2" data-classes="is-main-popup">
                <span>메인팝업2</span>
            </button>
        </li>
        <li>
            <button class="a-button open-dialog-btn" data-target="lp-mail-unsubscription-complete">
                <span>이메일수신거부완료</span>
            </button>
        </li>
    </ul>
</div>

<!-- handlebars-template -->
<%# 아이디 미선택 시 %>
<%- include ("../../handlebars/hndl-lp-required-input-id.ejs") %>

<%# 이메일 아이디 선택 시 %>
<%- include ("../../handlebars/hndl-lp-email-id-selected.ejs") %>

<%# 인증 메일 발송완료 안내 %>
<%- include ("../../handlebars/hndl-lp-email-send-complete.ejs") %>

<%# 이메일 발송 불가 시 %>
<%- include ("../../handlebars/hndl-lp-email-send-fail.ejs") %>

<%# 연속 이메일 발송을 요청할 경우 %>
<%- include ("../../handlebars/hndl-lp-email-send-chain.ejs") %>

<%# 휴대폰 인증 안내 %>
<%- include ("../../handlebars/hndl-lp-phone-certify-guide.ejs") %>

<%# 이메일 인증이 확인되지 않을 경우 %>
<%- include ("../../handlebars/hndl-lp-email-certify-fail.ejs") %>

<%# 정보가 일치하지 않는 경우 %>
<%- include ("../../handlebars/hndl-lp-info-incorrect.ejs") %>

<%# 휴면계정복구 취소  %>
<%- include ("../../handlebars/hndl-lp-restid-repair-cancle.ejs") %>

<%# 휴면계정복구 완료  %>
<%- include ("../../handlebars/hndl-lp-restid-repair-complete.ejs") %>

<%# 비밀번호 변경 완료  %>
<%- include ("../../handlebars/hndl-lp-pw-change-complete.ejs") %>

<%# 비회원 주문조회 %>
<%- include ("../../handlebars/hndl-lp-order-search-nonmbr.ejs") %>

<%# 장바구니 수량 변경 %>
<%- include ("../../handlebars/hndl-lp-cart-count-change.ejs") %>

<%# 주문내용동의 %>
<%- include ("../../handlebars/hndl-lp-order-info-agree.ejs") %>

<%# 무통장입금 전용계좌 안내 %>
<%- include ("../../handlebars/hndl-lp-deposit-account-guide.ejs") %>

<%# 무통장입금 전용계좌 안내 v2 %>
<%- include ("../../handlebars/hndl-lp-deposit-account-guide-v2.ejs") %>

<%# 무통장입금 전용계좌 안내(비회원) %>
<%- include ("../../handlebars/hndl-lp-deposit-account-guide-nonmbr.ejs") %>

<%# 무통장입금 전용계좌 안내(비회원) v2 %>
<%- include ("../../handlebars/hndl-lp-deposit-account-guide-nonmbr-v2.ejs") %>

<%# 비회원 주문 정보수집 동의 %>
<%- include ("../../handlebars/hndl-lp-nonmbr-order-info-agree.ejs") %>

<%# 본인인증 방법 선택 %>
<%- include ("../../handlebars/hndl-lp-verification-way.ejs") %>

<%# 주문고객정보 %>
<%- include ("../../handlebars/hndl-lp-orderer-info.ejs") %>

<%# 반품 및 환불 %>
<%- include ("../../handlebars/hndl-lp-return-refund-guide.ejs") %>

<%# 결제진행중 %>
<%- include ("../../handlebars/hndl-lp-pay-processing.ejs") %>

<%# 결제진행중 v2 %>
<%- include ("../../handlebars/hndl-lp-pay-processing-v2.ejs") %>

<%# 결제진행중-외부 %>
<%- include ("../../handlebars/hndl-lp-pay-processing-ex.ejs") %>

<%# 결제진행중-외부 v2 %>
<%- include ("../../handlebars/hndl-lp-pay-processing-ex-v2.ejs") %>

<%# 결제진행중-외부 %>
<%- include ("../../handlebars/hndl-lp-search-no-keyword.ejs") %>

<%# 사이즈가이드 %>
<%- include ("../../handlebars/hndl-lp-size-guide.ejs") %>

<%# 사이즈가이드 type1 %>
<%- include ("../../handlebars/hndl-lp-size-guide-type1.ejs") %>

<%# 사이즈가이드 type2 여성 %>
<%- include ("../../handlebars/hndl-lp-size-guide-type2-f.ejs") %>

<%# 사이즈가이드 type2 남성 %>
<%- include ("../../handlebars/hndl-lp-size-guide-type2-m.ejs") %>

<%# 상품필수정보 %>
<%- include ("../../handlebars/hndl-lp-prd-essential-info.ejs") %>

<%# 계좌인증 성공 %>
<%- include ("../../handlebars/hndl-lp-account-success.ejs") %>

<%# 계좌인증 실패 %>
<%- include ("../../handlebars/hndl-lp-account-failure.ejs") %>

<%# 주문내역 숨김 %>
<%- include ("../../handlebars/hndl-lp-hide-order-history.ejs") %>

<%# 반품 상세 정보 %>
<%- include ("../../handlebars/hndl-lp-return-details.ejs") %>

<%# 주문취소 상세 정보 %>
<%- include ("../../handlebars/hndl-lp-order-cancel-details.ejs") %>

<%# 배송지변경 %>
<%- include ("../../handlebars/hndl-lp-select-delivery-address.ejs") %>

<%# 주소검색 %>
<%- include ("../../handlebars/hndl-lp-find-address.ejs") %>

<%# 주소검색 v2 %>
<%- include ("../../handlebars/hndl-lp-find-address-v2.ejs") %>

<%# 주소검색-표준주소 %>
<%- include ("../../handlebars/hndl-lp-find-address-standard.ejs") %>

<%# 주소검색-표준주소 v2 %>
<%- include ("../../handlebars/hndl-lp-find-address-standard-v2.ejs") %>

<%# 배송지목록 > 삭제 %>
<%- include ("../../handlebars/hndl-lp-dlvr-list-del.ejs") %>

<%# 결제수단변경 %>
<%- include ("../../handlebars/hndl-lp-select-pay-way.ejs") %>

<%# 가려진정보보기 %>
<%- include ("../../handlebars/hndl-lp-show-hidden-info.ejs") %>

<%# 임직원카드번호저장 %>
<%- include ("../../handlebars/hndl-lp-staff-card-save.ejs") %>

<%# 임직원카드번호삭제 %>
<%- include ("../../handlebars/hndl-lp-staff-card-del.ejs") %>

<%# 개인계정 연결관리 %>
<%- include ("../../handlebars/hndl-lp-social-connect.ejs") %>

<%# 개인계정 연결관리 > 등록 완료 %>
<%- include ("../../handlebars/hndl-lp-social-connect-complete.ejs") %>

<%# 개인계정 연결관리 > 해제 완료 %>
<%- include ("../../handlebars/hndl-lp-social-connect-cancel.ejs") %>

<%# 환불계좌/현금영수증 : 등록전 %>
<%- include ("../../handlebars/hndl-lp-refund-receipt-info-mng.ejs") %>

<%# 환불계좌/현금영수증 : 등록후 %>
<%- include ("../../handlebars/hndl-lp-refund-receipt-info-mng-after.ejs") %>

<%# 환불계좌삭제요청 %>
<%- include ("../../handlebars/hndl-lp-refund-account-del.ejs") %>

<%# 환불계좌삭제완료 %>
<%- include ("../../handlebars/hndl-lp-refund-account-del-complete.ejs") %>

<%# 환불계좌등록 %>
<%- include ("../../handlebars/hndl-lp-refund-account-reg-complete.ejs") %>

<%# 영수증/세금계산서 리스트 %>
<%- include ("../../handlebars/hndl-lp-receipt-list.ejs") %>

<%# 영수증/세금계산서 리스트(내용없음) %>
<%- include ("../../handlebars/hndl-lp-receipt-list-noresult.ejs") %>

<%# 세금계산서 신청 %>
<%- include ("../../handlebars/hndl-lp-receipt-apply-tax.ejs") %>

<%# 사업자등록번호 이력 없을때 %>
<%- include ("../../handlebars/hndl-lp-biznum-check-1.ejs") %>

<%# 사업자등록번호 이력 있을때 %>
<%- include ("../../handlebars/hndl-lp-biznum-check-2.ejs") %>

<%# 세금계산서 인쇄 %>
<%- include ("../../handlebars/hndl-lp-receipt-print-tax.ejs") %>

<%# 신용카드 영수증 인쇄 %>
<%- include ("../../handlebars/hndl-lp-receipt-print-credit.ejs") %>

<%# 현금 영수증 인쇄 %>
<%- include ("../../handlebars/hndl-lp-receipt-print-cash.ejs") %>

<%# 영수증 인쇄 %>
<%- include ("../../handlebars/hndl-lp-receipt-print.ejs") %>

<%# 현금 영수증 취소 확인 %>
<%- include ("../../handlebars/hndl-lp-receipt-cash-cancle-confirm.ejs") %>

<%# 현금 영수증 취소 %>
<%- include ("../../handlebars/hndl-lp-receipt-cash-cancle.ejs") %>

<%# 회원탈퇴 > 재확인 팝업 %>
<%- include ("../../handlebars/hndl-lp-mbr-leave-confirm.ejs") %>

<%# 회원탈퇴 > 환불계좌등록안내 %>
<%- include ("../../handlebars/hndl-lp-mbr-leave-info-refund.ejs") %>

<%# 회원탈퇴 > 주문/교환/반품/AS안내 %>
<%- include ("../../handlebars/hndl-lp-mbr-leave-info-order.ejs") %>

<%# 옵션변경 %>
<%- include ("../../handlebars/hndl-cart-product-option-change.ejs") %>

<%# 주문취소불가 %>
<%- include ("../../handlebars/hndl-cart-order-cancle-unable.ejs") %>

<%# 배송추적 %>
<%- include ("../../handlebars/hndl-lp-delivery-trace.ejs") %>

<%# 배송국가 %>
<%- include ("../../handlebars/hndl-country-selector.ejs") %>

<%# 메인팝업 %>
<%- include ("../../handlebars/hndl-lp-main-popup.ejs") %>

<%# 메인팝업2 %>
<%- include ("../../handlebars/hndl-lp-main-popup2.ejs") %>

<%# 이메일수신거부완료 %>
<%- include ("../../handlebars/hndl-lp-mail-unsubscription-complete.ejs") %>

<%# 서비스가입사실확인 %>
<%# footer.ejs 에서 include %>
<%#- include ("../../handlebars/hndl-lp-service-join-confirm.ejs") %>

<%# 뉴스레터신청팝업 %>
<%- include ("../../handlebars/hndl-lp-newsletter-apply.ejs") %>

<%# 뉴스레터신청완료 %>
<%- include ("../../handlebars/hndl-lp-newsletter-apply-complete.ejs") %>

<%# 이용약관 및 개인정보처리 방침 %>
<%# footer.ejs 에서 include %>
<%#- include ("../../handlebars/hndl-lp-join-policy.ejs") %>

<!-- //handlebars-template -->