<!-- index 재사용 -->
<div data-component="OPageContent" class="o-page-content">

    <!-- o-hero -->
    <div class="o-hero is-takeover full-width hero-takeover double-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg">
                    <div class="heading-wrapper">
                        <div class="m-headline">
                            <h1 class="a-heading-1 large-font">
                                <span class="heading-cap">S/S 2021</span>
                                <span class="heading-value">Striped collection</span>
                            </h1>
                        </div>
                    </div>

                    <div class="cta-wrapper" style="--cta-color:Black; --text-color:White;">
                        <div class="o-tag-cloud">
                            <ul class="tags-container">
                                <li class="tag">
                                    <a class="a-link" href="/en/men/c/striped-collection.html" onclick="TealiumUtils.heroCtaClicked('Hero component','startpage','');">
                                        Men<span class="promoIndex" hidden="">0</span>
                                    </a>
                                </li>
                                <li class="tag">
                                    <a class="a-link" href="/en/women/c/striped-collection.html" onclick="TealiumUtils.heroCtaClicked('Hero component','startpage','');">
                                        Women
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="image-wrapper">
            <a onclick="TealiumUtils.heroCtaClicked( 'Hero component','startpage','Striped collection,Striped collection');"
               href="/en/men/c/striped-collection.html"
               target="_self"
               class="a-link">
                <div style="background-image:url(<%= pageInfo.root %>/images/component/21207_M_Towelling-Summer-Stripes_02_WEB.jpg)"
                     class="takeover-background">
                </div>
            </a>
            <a onclick="TealiumUtils.heroCtaClicked( 'Hero component','startpage','Striped collection');"
               href="/en/women/c/striped-collection.html"
               target="_self"
               class="a-link">
                <div style="background-image: url(<%= pageInfo.root %>/images/component/21203_W_Towelling-Summer-Stripes_04_WEB.jpg); float:right"
                     class="takeover-background">
                </div>
            </a>
        </div>

        <div class="promotion-data p11-takeover-base" hidden="" data-slides-index="0">
            <span class="promo_id">Hero component</span>
            <span class="promo_name">startpage</span>
            <span class="promo_creative">Striped collection,Striped collection</span>
        </div>

    </div>
    <!-- //o-hero -->

    <!-- o-width -->
    <div class="o-width VNAV wc-100">

        <%# md-o-image-listing-cols3-1 %>
        <%- include ("../../common/md-o-image-listing-cols3-1.ejs") %>

    </div>
    <!-- //o-width -->

    <!-- o-width -->
    <div class="o-width VNAV wc-100">

        <%# md-o-image-listing-cols3-2 %>
        <%- include ("../../common/md-o-image-listing-cols3-2.ejs") %>

    </div>
    <!-- //o-width -->

    <!-- o-width -->
    <div class="o-width wc-100">
        <div class="headings ta-c">
            <div class="m-headline">
                <h2 class="a-heading-2 has-hover has-margin">
                    <span class="heading-cap">explore</span>
                    <a href="/<%= pageInfo.lang %>/about.html" target="_self" class="a-link heading-tag">ARKET</a>
                </h2>
            </div>
        </div>
    </div>
    <!-- //o-width -->

    <!-- o-width -->
    <div class="o-width wc-75">
        <!-- md-o-focus-panel -->
        <%- include ("../../common/md-o-focus-panel.ejs") %>
        <!-- //md-o-focus-panel -->
    </div>
    <!-- //o-width -->

</div>
<!-- //index 재사용 -->

<!-- pay-process-loading-bx -->
<div class="pay-process-loading-bx is-show">
    <div class="content-bx">
        <p class="t1">결제 진행 중입니다.</p>
        <p class="t2">창을 닫거나, 새로 고침 시 주문오류가 발생할 수 있습니다</p>
    </div>
</div>
<!-- //pay-process-loading-bx -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        setTimeout(function(){
        },1000);
    })();
</script>
<!-- //tip -->