<div data-component="OPageContent" class="o-page-content stores-content" data-component-id="">

    <div class="u-clearfix o-width wc-75">
        <div class="o-width wc-50">
            <div class="o-text-field is-wide">
                <div class="headings">
                    <div class="m-headline">
                        <h2 class="a-heading-2 has-margin">
                            <span class="heading-cap">ARKET</span>
                            매장찾기
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="country-wrapper">
            <div class="dropdown">
                <!-- 대한민국 고정위해 disabled 사용 -->
                <div data-component="MDropdownFilter" class="m-dropdown-filter is-disabled" id="countries">
                    <input placeholder="Choose your country" class="a-input filter" type="text" data-value="KR" value="대한민국" disabled>
                    <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                    <ul>
                        <li class="ul-container">
                            <ul class="options has-results">
                                <li class="a-option" data-value="AU">Australia</li>
                                <li class="a-option" data-value="AT">Austria</li>
                                <li class="a-option" data-value="BH">Bahrain</li>
                                <li class="a-option" data-value="BE">Belgium</li>
                                <li class="a-option" data-value="CA">Canada</li>
                                <li class="a-option" data-value="CN">China</li>
                                <li class="a-option" data-value="CZ">Czech Republic</li>
                                <li class="a-option" data-value="DK">Denmark</li>
                                <li class="a-option" data-value="FI">Finland</li>
                                <li class="a-option" data-value="FR">France</li>
                                <li class="a-option" data-value="DE">Germany</li>
                                <li class="a-option" data-value="HK">Hong Kong</li>
                                <li class="a-option" data-value="HU">Hungary</li>
                                <li class="a-option" data-value="IE">Ireland</li>
                                <li class="a-option" data-value="IL">Israel</li>
                                <li class="a-option" data-value="IT">Italy</li>
                                <li class="a-option" data-value="JP">Japan</li>
                                <li class="a-option" data-value="KW">Kuwait</li>
                                <li class="a-option" data-value="LV">Latvia</li>
                                <li class="a-option" data-value="LU">Luxembourg</li>
                                <li class="a-option" data-value="MY">Malaysia</li>
                                <li class="a-option" data-value="NL">Netherlands</li>
                                <li class="a-option" data-value="NO">Norway</li>
                                <li class="a-option" data-value="PL">Poland</li>
                                <li class="a-option" data-value="PT">Portugal</li>
                                <li class="a-option" data-value="QA">Qatar</li>
                                <li class="a-option" data-value="RO">Romania</li>
                                <li class="a-option" data-value="SG">Singapore</li>
                                <li class="a-option" data-value="SI">Slovenia</li>
                                <li class="a-option is-dropdown-value is-selected" data-value="KR">대한민국</li>
                                <li class="a-option" data-value="ES">Spain</li>
                                <li class="a-option" data-value="SE">Sweden</li>
                                <li class="a-option" data-value="CH">Switzerland</li>
                                <li class="a-option" data-value="TR">Turkey</li>
                                <li class="a-option" data-value="AE">United Arab Emirates</li>
                                <li class="a-option" data-value="GB">United Kingdom</li>
                                <li class="a-option" data-value="US">United States</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dropdown">
                <div data-component="MDropdownFilter" class="m-dropdown-filter" id="cities">
                    <input placeholder="Choose your city" class="a-input filter" type="text" value="서울">
                    <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                    <ul>
                        <li class="ul-container">
                            <ul class="options has-results">
                                <li class="a-option is-dropdown-value is-selected">서울</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="map-wrapper u-clearfix">
            <div data-component="OMap" class="o-map">
                <!-- 네이버맵 -->
                <div class="naver-map-bx"></div>
                <!-- //네이버맵 -->

                <!-- 매장 표시 marker -->
                <!-- to Dev [toggle Class] : is-active -->
                <a href="none#" class="marker is-active"></a>
                <!-- // 매장 표시 marker -->

                <!-- to Dev [toggle Class] : is-visible -->
                <!-- 매장정보팝업-가로수길점-->
                <div class="map-in-store-info is-visible">

                    <div class="m-info-box">
                        <button type="button" class="a-button-nostyle close-btn">
                            <span class="a-icon-close"></span>
                        </button>
                        <div class="scroll-content">
                            
                            <div class="text-container">
                                <div class="store-name">
                                    아르켓 더현대 서울
                                </div>
                                <div class="address">
                                    영등포구 여의대로 108 파크원 더현대서울 지하2층 07335 서울시<br>
                                    02-3442-3935
                                </div>
                                <br>
                                <div class="open-day">
                                    <span>월-목</span>10:30-20:00 <br>
                                    <span>금-일</span>10:30-20:30
                                </div>
                                <br>
                                <div class="cafe-title">
                                    ARKET café
                                </div>
                                <div class="open-day">
                                    <span>월-목</span>10:30-20:00 <br>
                                    <span>금-일</span>10:30-20:30
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- //매장정보팝업 -->

                <!-- 매장정보팝업-더현대 서울점 -->
                <div class="map-in-store-info">
                    <button type="button" class="a-button-nostyle close-btn">
                        <span class="a-icon-close"></span>
                    </button>
                    <div class="scroll-content">
                        
                        <div class="text-container"><br>
                            <div class="store-name">
                                ARKET 더현대 서울점
                            </div>
                            <div class="address">
                                서울특별시 영등포구 여의대로 108 파크원<br class="only-m">
                                더현대서울 지하2층
                            </div>
                            <br>
                            <div class="open-day">
                                <span>월-목</span> 10:30–20:00<br>
                                <span>금-일</span> 10:30-20:30
                            </div>
                            <br>
                            <div class="cafe-title">
                                ARKET café
                            </div>
                            <div class="open-day">
                                <span>월-목</span> 10:30–20:00<br>
                                <span>금-일</span> 10:30-20:30
                            </div>
                        </div>

                    </div>
                </div>
                <!-- //매장정보팝업 -->
            </div>
        </div>

         <ul class="store-list-ul">
                <li>
                    <!-- store-item -->
                    <div class="store-item">
                        <div class="o-image-listing cols-1">
                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/stores/ARKET_Korea_Store-9_Web.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="o-text-field is-wide is-large">

                            <div class="text-container">
                                <div class="store-name">
                                    ARKET 가로수길점
                                </div>

                                <div class="address">
                                    서울 특별시 강남구 가로수길 30<br>
                                    02-3442-3935
                                </div>
                                <br>
                                <div class="open-day">
                                    <span>월-일</span>11:00–20:00
                                </div>

                                <p class="a-paragraph">&nbsp;</p>

                                <div class="cafe-title">
                                    ARKET café
                                </div>

                                <div class="open-day">
                                    <span>월-일</span>11:00–20:00
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- //store-item -->
                </li>
                <li>
                    <!-- store-item -->
                    <div class="store-item">
                        <div class="o-image-listing cols-1">
                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/stores/WEB_Korea-store_1.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="o-text-field is-wide is-large">

                            <div class="text-container">
                                <div class="store-name">
                                    ARKET 더현대 서울점
                                </div>

                                <div class="address">
                                    서울특별시 영등포구 여의대로 108 파크원<br class="only-m">더현대서울 지하2층
                                </div>

                                <br>

                                <div class="open-day">
                                    <span>월-목</span>10:30–20:00<br>
                                    <span>금-일</span>10:30–20:30
                                </div>

                                <p class="a-paragraph">&nbsp;</p>

                                <div class="cafe-title">
                                    ARKET café
                                </div>

                                <div class="open-day">
                                   <span>월-목</span>10:30–20:00<br>
                                    <span>금-일</span>10:30–20:30
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- //store-item -->
                </li>
            </ul>

    </div>

    <p class="a-paragraph only-pc">&nbsp;</p>

    <div class="o-width spacer wc-50">
        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2">
                <span class="heading-value">ARKET Café</span>
            </h2>
        </div>
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ARKET 매장에는 뉴 노르딕 푸드 매니페스토와 양질의 재료와 건강한 삶에 대한 비전을 담은 카페가 포함되어 있습니다.
                    우리가 제공하는 요리에 계절의 변화를 반영하여 우리의 기후, 풍경, 물을 구분짓는 다양한 재료들로 요리하는 것을 목표로 하고 있습니다.
                </p>
            </div>
        </div>
    </div>

    <p class="a-paragraph only-pc">&nbsp;</p>
    <div class="o-width wc-100">
        <div class="title--medium tag-cloud--new-arrivals wc-100">
            <div class="o-tag-cloud">
                <h6 class="a-heading-6 cloud-title"></h6>
                <ul class="tags-container">
                    <li class="tag">
                        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/cafe.html" target="_self" class="a-link">Read more</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <p class="a-paragraph only-pc">&nbsp;</p>
    <p class="a-paragraph only-pc">&nbsp;</p>

    <%# md-o-teaser %>
    <%- include ("../../common/md-o-teaser.ejs") %>

</div>