<div data-component="OPageContent" class="o-page-content stores-content" data-component-id="">

    <div class="parbase sdp-component left-component">
        <nav class="m-breadcrumb" data-component="MBreadCrumb">
            <ol class="breadcrumb-container">
                <li>
                    <a class="a-link" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/index.html" target="_self">
                        <span>ARKET</span>
                    </a>
                </li>

                <li>
                    <a class="a-link" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/stores.html" target="_self">
                        <span>Stores &amp; Cafés</span>
                    </a>
                </li>

                <li>
                    <a class="a-link" aria-current="page" data-no-click="true" target="_self">
                        <span>Welcome to ARKET Store &amp; Café in Korea - Garosu-gil, Seoul</span>
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    <h1 class="a-heading-1 seo-heading">
         <span>
             <p>ARKET
                <span class="text-address">
                    서울 특별시 강남구<br class="only-m"> 가로수길 30
                </span>
             </p>
        </span>
    </h1>

    <div class="o-width wc-75">
        <div class="o-text-field is-wide is-large">
            <div class="text-container align-center">
                <p class="a-paragraph is-richtext"></p>

                <div class="open-day">
                    <b>월-일</b>11:00–20:00
                </div>

                <p class="a-paragraph">&nbsp;</p>

                <div class="a-paragraph">
                    <b>ARKET café</b>
                </div>
                <div class="open-day"><br>
                    <b>월-일</b>11:00–20:00
                </div>

                <div class="open-day"><br>
                    <b>연락처</b>02-3442-3935
                </div>
                <p class="a-paragraph">&nbsp;</p>
            </div>

        </div>

        <div class="o-tag-cloud">
            <ul class="tags-container">
                <li class="tag">
                    <a href="http://naver.me/FArP2qZ2" target="_blank" class="a-link">Map</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/stores/ARKET_Korea_Store-9_Web.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/stores/ARKET_Korea_Store-10_Web.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/stores/ARKET_Korea_Store-8_Web.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/stores/ARKET_Korea_Store-3_Web.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/stores/ARKET_Korea_Store-6_Web.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="o-width spacer wc-75"></div>
</div>