<div data-component="OPageContent" class="o-page-content stores-content" data-component-id="">

    <div class="parbase sdp-component left-component">
        <nav class="m-breadcrumb" data-component="MBreadCrumb">
            <ol class="breadcrumb-container">
                <li>
                    <a class="a-link" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/index.html" target="_self">
                        <span>ARKET</span>
                    </a>
                </li>

                <li>
                    <a class="a-link" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/stores.html" target="_self">
                        <span>Stores &amp; Cafés</span>
                    </a>
                </li>

                <li>
                    <a class="a-link" aria-current="page" data-no-click="true" target="_self">
                        <span>Welcome to ARKET Store &amp; Café in Korea - The Hyundai Seoul</span>
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    <h1 class="a-heading-1 seo-heading">
         <span>
             <p>ARKET
                <span class="text-address">
                    B2F, The Hyundai Seoul,<br class="only-m"> 108 Yeouidaero,<br class="only-m"> Youngdeungpo-gu
                </span>
             </p>
        </span>
    </h1>

    <div class="o-width wc-75">
        <div class="o-text-field is-wide is-large">
            <div class="text-container align-center">
                <p class="a-paragraph is-richtext"></p>

                <div class="open-day">
                    <b>Mon–Thu</b>10.30–20.00<br class="only-m">
                    <b>Fri–Sun</b>10.30-20.30
                </div>

                <p class="a-paragraph">&nbsp;</p>

                <div class="a-paragraph">
                    <b>ARKET café</b>
                </div>

                <div class="open-day"><br>
                    <b>Mon–Thu</b>10.30–20.00<br class="only-m">
                    <b>Fri–Sun</b>10.30-20.30
                </div>

                <p class="a-paragraph cafe-info">
                    <b>The café serves a take-away menu only.</b>
                </p>

                <div>
                    Enjoy other delicious ARKET recipes at home with our complimentary ARKET Cookbook, available for download&nbsp;
                    <a href="https://www.arket.com/content/dam/P11/docs/arket_cookbook_for_spring_summer_autumn_and_winter_lr.pdf" class="a-link">
                        <u>here.</u>
                    </a>
                </div>
                <p class="a-paragraph">&nbsp;</p>
            </div>

        </div>

        <div class="o-tag-cloud">
            <ul class="tags-container">
                <li class="tag">
                    <a href="http://naver.me/5PS2Ritm" target="_blank" class="a-link">Map</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/stores/WEB_Korea-store_1.jpg">
                </div>
            </div>
        </div>
    </div>
</div>