<div data-component="OPageContent" class="o-page-content stores-content" data-component-id="">

    <div class="o-hero is-takeover full-width hero-takeover double-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block">
                    <div class="heading-wrapper">
                        <div class="m-headline">
                            <h1 class="a-heading-1">
                                <span class="heading-cap">ARKET</span>
                                <span class="heading-value">Stores &amp; cafés</span>
                            </h1>
                        </div>
                    </div>

                    <div class="text-wrapper">
                        <p class="a-paragraph text-content a-paragraph text-content large-font">
                            ARKET is a modern-day market that offers quality clothing, shoes and accessories, and a selection of homeware and stationery items.
                            Our stores also include a vegetarian café.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/stores/ARKET_Store_Amsterdam_Feb2018_facade_f.jpg)" class="takeover-background"></div>
            <div style="background-image: url(<%= pageInfo.root %>/images/stores/ARKET_Store_Hamburg_Oct2018_280_f.jpg); float:right" class="takeover-background"></div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width wc-50">
            <div class="o-text-field is-wide">
                <div class="headings">
                    <div class="m-headline">
                        <h2 class="a-heading-2  has-margin">
                            <span class="heading-cap">ARKET</span>
                            Stores &amp; Cafés
                        </h2>
                    </div>
                </div>
                <div class="text-container">
                    <p class="a-paragraph is-richtext">
                        To ensure the wellbeing of our staff, customers and communities, we’re adjusting our store and café&nbsp;opening hours in line with local government guidelines.
                        Please see specific information for each of our locations below.&nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="o-layout">
            <div class="layout-5">
                <div class="layout-row-2">
                    <!-- Belgium -->
                    <div class="headline parbase section">
                        <div class="m-headline u-align-center is-main-headline full-width">
                            <h2 class="a-heading-2">
                                <span class="heading-value">Belgium</span>
                            </h2>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">antwerp</h6>
                            <ul class="tags-container">
		                        <li class="tag">
			                        <a href="#none" target="_self" class="a-link">Huidevettersstraat 35-37</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">brussels</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Avenue de la Toison D'or 15</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- // Belgium -->

                    <!-- Denmark -->
                    <div class="headline parbase section">
                        <div class="m-headline u-align-center is-main-headline full-width">
                            <h2 class="a-heading-2">
                                <span class="heading-value">Denmark</span>
                            </h2>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">copenhagen</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Airport</a>
                                </li>
                                <li class="tag ">
                                    <a href="#none" target="_self" class="a-link">Købmagergade 33</a>
                                </li>
                                <li class="tag ">
                                    <a href="#none" target="_self" class="a-link">Field's</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">lyngby</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Storcenter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- // Denmark -->

                    <!-- Germany -->
                    <div class="headline parbase section">
                        <div class="m-headline u-align-center is-main-headline full-width">
                            <h2 class="a-heading-2">
                                <span class="heading-value">Germany</span>
                            </h2>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">berlin</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Kurfürstendamm 19-24</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">cologne</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Ehrenstraße 14-16</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">hamburg</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Mönckenbergstraße 11</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">Munich</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Weinstraße 6</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- // Germany -->

                    <!-- Luxembourg -->
                    <div class="headline parbase section">
                        <div class="m-headline u-align-center is-main-headline full-width">
                            <h2 class="a-heading-2">
                                <span class="heading-value">Luxembourg</span>
                            </h2>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">Luxembourg</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Boulevard F.W. Raiffeisen 25</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- // Luxembourg -->
                </div>

                <div class="layout-row-3">
                    <!-- Netherlands -->
                    <div class="headline parbase section">
                        <div class="m-headline u-align-center is-main-headline full-width">
                            <h2 class="a-heading-2">
                                <span class="heading-value">Netherlands</span>
                            </h2>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">amsterdam</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Koningsplein 20</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">The Hague</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Wagenstraat 14</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- // Netherlands -->

                    <!-- South Korea -->
                    <div class="headline parbase section">
                        <div class="m-headline u-align-center is-main-headline full-width">
                            <h2 class="a-heading-2">
                                <span class="heading-value">South Korea</span>
                            </h2>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">Seoul</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Garosu-gil</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">Seoul</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">The Hyundai Seoul</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- // South Korea -->

                    <!-- Sweden -->
                    <div class="headline parbase section">
                        <div class="m-headline u-align-center is-main-headline full-width">
                            <h2 class="a-heading-2">
                                <span class="heading-value">Sweden</span>
                            </h2>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">Gothenburg</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Östra Hamngatan 39</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">Stockholm</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Drottninggatan 53</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- // Sweden -->

                    <!-- United Kingdom -->
                    <div class="headline parbase section">
                        <div class="m-headline u-align-center is-main-headline full-width">
                            <h2 class="a-heading-2">
                                <span class="heading-value">United Kingdom</span>
                            </h2>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">Birmingham</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Bullring Shopping Centre</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">kent</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Bluewater</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">Liverpool</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">91-92 Paradise Street</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">London</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">224 Regent Street</a>
                                </li>
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">27–29 Long Acre</a>
                                </li>
                                <li class="tag">
                                    <a href="#none" target="_self" class="a-link">Westfield Stratford</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- // United Kingdom -->
                </div>
            </div>
        </div>
    </div>

    <div class="title--large wc-100"></div>

    <div class="o-width spacer wc-50">
        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2">
                <span class="heading-value">ARKET Café</span>
            </h2>
        </div>
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ARKET stores include a café, founded on the New Nordic Food Manifesto and its vision of quality ingredients and healthy living.
                    The cafés aim is to reflect the changing seasons in the dishes we offer, with cooking based on the produce and other ingredients
                    that distinguish our climate, landscapes and waters.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-100">
        <div class="title--medium tag-cloud--new-arrivals wc-100">
            <div class="o-tag-cloud">
                <h6 class="a-heading-6 cloud-title"></h6>
                <ul class="tags-container">
                    <li class="tag">
                        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/cafe.html" target="_self" class="a-link">Read more</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <%# md-o-teaser %>
    <%- include ("../../common/md-o-teaser.ejs") %>

</div>