<div data-component="OPageContent" class="o-page-content stores-content" data-component-id="">

    <div class="o-hero is-takeover full-width hero-takeover double-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block">
                    <div class="heading-wrapper">
                        <div class="m-headline">
                            <h1 class="a-heading-1">
                                <span class="heading-cap">ARKET</span>
                                <span class="heading-value">스토어 &amp; 카페</span>
                            </h1>
                        </div>
                    </div>

                    <div class="text-wrapper">
                        <p class="a-paragraph text-content a-paragraph text-content large-font">
                            아르켓은 퀄리티 있는 옷, 신발 그리고 악세사리들과 홈 셀렉션, 문구류 아이템을 판매하는 현대적인 마켓 입니다.
                            우리 스토어는 또한 베지테리언 카페도 있습니다.                     
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/stores/ARKET_Store_Amsterdam_Feb2018_facade_f.jpg)" class="takeover-background"></div>
            <div style="background-image: url(<%= pageInfo.root %>/images/stores/ARKET_Store_Hamburg_Oct2018_280_f.jpg); float:right" class="takeover-background"></div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width wc-50">
            <div class="o-text-field is-wide">
                <div class="headings">
                    <div class="m-headline">
                        <h2 class="a-heading-2  has-margin">
                            <span class="heading-cap">ARKET</span>
                            Stores &amp; Cafés
                        </h2>
                    </div>
                </div>
                <div class="text-container">
                    <p class="a-paragraph is-richtext">
                        직원과 고객 그리고 지역사회의 안녕을 보장하기 위해 지자체 지침에 따라 매장 및 카페 오픈 시간을 조정하고 있습니다. 아래의 각 위치에 대한 구체적인 정보를 참조하십시오.
                    </p>
                </div>
            </div>
        </div>
        <div class="o-width spacer wc-50">
            <div class="layout-5">
                <div class="layout-row-3">
                    <!-- South Korea -->
                    <div class="headline parbase section">
                        <div class="m-headline u-align-center is-main-headline full-width">
                            <h2 class="a-heading-2">
                                <span class="heading-value">대한민국</span>
                            </h2>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">서울</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/stores-detail.html" target="_self" class="a-link">가로수길</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">서울</h6>
                            <ul class="tags-container">
                                <li class="tag">
                                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/stores-detail2.html" target="_self" class="a-link">더 현대 서울</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- // South Korea -->
                </div>
            </div>
        </div>
    </div>

    <div class="title--large wc-100"></div>

    <div class="o-width spacer wc-50">
        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2">
                <span class="heading-value">ARKET Café</span>
            </h2>
        </div>
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ARKET 매장에는 뉴 노르딕 푸드 매니페스토와 양질의 재료와 건강한 삶에 대한 비전을 담은 카페가 포함되어 있습니다. 
                    우리가 제공하는 요리에 계절의 변화를 반영하여 우리의 기후, 풍경, 물을 구분짓는 다양한 재료들로 요리하는 것을 목표로 하고 있습니다.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-100">
        <div class="title--medium tag-cloud--new-arrivals wc-100">
            <div class="o-tag-cloud">
                <h6 class="a-heading-6 cloud-title"></h6>
                <ul class="tags-container">
                    <li class="tag">
                        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/cafe.html" target="_self" class="a-link">Read more</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <%# md-o-teaser %>
    <%- include ("../../common/md-o-teaser.ejs") %>

</div>