<div data-component="OPageContent" class="o-page-content">
    <div class="coremetricsPageId" hidden="">women | department</div>
    <div class="coremetricsPageType" hidden="">department</div>
    <div class="coremetricsCategoryId" hidden="">Women_Department</div>
    <div class="coremetricsCategoryPath" hidden="">Women_Department</div>

    <!-- o-hero -->
    <div class="o-hero is-takeover full-width hero-takeover double-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg" style="">
                    <div class="heading-wrapper">
                        <div class="m-headline">
                            <h1 class="a-heading-1 large-font">
                                <span class="heading-cap">women</span>
                                <span class="heading-value">Striped collection</span>
                            </h1>
                        </div>
                    </div>

                    <div class="cta-wrapper" style="--cta-color:black; --text-color:white;">
                        <div class="o-tag-cloud">
                            <ul class="tags-container">
                                <li class="tag">
                                    <a class="a-link"
                                       href="/en/women/c/striped-collection.html"
                                       onclick="TealiumUtils.heroCtaClicked('Hero component','women/department','');">
                                        Shop now
                                        <span class="promoIndex" hidden="">0</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="image-wrapper">
            <a onclick="TealiumUtils.heroCtaClicked( 'Hero component','women/department','Striped collection,Striped collection');"
               href="/en/women/c/striped-collection.html"
               target="_self"
               class="a-link">
                <div style="background-image:url(<%= pageInfo.root %>/images/component/21203_W_Towelling-Summer-Stripes_04_WEB.jpg)"
                     class="takeover-background">
                </div>
            </a>
            <a onclick="TealiumUtils.heroCtaClicked( 'Hero component','women/department','Striped collection');"
               href="/en/women/c/striped-collection.html"
               target="_self"
               class="a-link">
                <div style="background-image: url(<%= pageInfo.root %>/images/component/21203_W_Towelling-Summer-Stripes_08_WEB.jpg); float:right"
                     class="takeover-background">
                </div>
            </a>
        </div>
    </div>
    <!-- //o-hero -->

    <!-- o-width -->
    <div class="o-width wc-100 VNAV">
        <div class="o-image-listing cols-3">
            <div class="image-container">
                <a href="/en/women/new-arrivals.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/component/W_New-arrivals_w2121.gif">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">New arrivals</div>
                </div>
            </div>
            <div class="image-container">
                <a href="/en/women/dresses.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/component/21203_W_Towelling-Summer-Stripes_01_WEB.jpg">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Dresses</div>
                </div>
            </div>
            <div class="image-container">
                <a href="/en/women/swimwear.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/component/21203_W_Towelling-Summer_Stripes_21_WEB.jpg">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Swimwear</div>
                </div>
            </div>
            <div class="image-container">
                <a href="/en/women/basics.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/component/abc_tshirts_w_vnav.jpg">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Basics</div>
                </div>
            </div>
        </div>
    </div>
    <!-- //o-width -->

    <!-- title--medium -->
    <div class="title--medium tag-cloud--new-arrivals wc-100">
        <div class="headings ta-c">
            <div class="m-headline">
                <h2 class="a-heading-2 has-hover has-margin">
                    <a href="/en/women/trousers.html" target="_self" class="a-link heading-tag">TROUSERS &amp; SHORTS</a>
                </h2>
            </div>
        </div>

        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title"></h6>
            <ul class="tags-container">
                <li class="tag ">
                    <a href="/en/women/trousers.html" target="_self" class="a-link">
                        All trousers<span class="promoIndex" hidden="">5</span>
                    </a>
                </li>
                <li class="tag ">
                    <a href="/en/women/trousers/shorts.html" target="_self" class="a-link">
                        Shorts<span class="promoIndex"hidden="">6</span>
                    </a>
                </li>
                <li class="tag ">
                    <a href="/en/women/jeans.html" target="_self" class="a-link">
                        Jeans<span class="promoIndex" hidden="">7</span>
                    </a>
                </li>
                <li class="tag ">
                    <a href="/en/women/jeans/shorts.html" target="_self" class="a-link">
                        Jeans shorts<span class="promoIndex" hidden="">8</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- //title--medium -->

    <!-- o-width -->
    <div class="o-width VNAV last-vnav wc-100">
        <div class="o-image-listing cols-3">
            <div class="image-container">
                <a href="/en/guide/care.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/component/VNAV_Care_Silk_7.jpg">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Care guide</div>
                </div>
            </div>
            <div class="image-container">
                <a href="/en/about/sustainability-fact-sheet.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/component/factsheet_vnav.gif">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Sustainability Fact Sheet</div>
                </div>
            </div>
            <div class="image-container">
                <a href="https://www.arket.com/en/men/bags-accessories/product.arket-canvas-tote-white.0776510001.html"
                   target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/component/VNAV_Arket_tote.jpg">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Organic Cotton Tote</div>
                </div>
            </div>
            <div class="image-container">
                <a href="/en/about/suppliers.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_20Q4_about_susanna_12_WEB.jpg">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">About SUPPLIERS</div>
                </div>
            </div>
        </div>
    </div>
    <!-- //o-width -->
</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //헤더 border-bottom 라인 숨기기
        // let tempHeader = document.querySelector('.o-header');
        // tempHeader.classList.add('hide-border');
        $('.o-header').addClass('hide-border') //gnb 활성화

        // let tempHeaderWomen = tempHeader.querySelector('.departments li:nth-child(1) a')
        // tempHeaderWomen.classList.add('is-active'); //gnb 활성화
        $('.departments li:nth-child(1) a').addClass('is-active') //gnb 활성화
    })();
</script>
<!-- //tip -->
