<div data-component="OPageContent" class="o-page-content">
    <!--
	<div class="parbase sdp-component left-component">
        <%# m-breadcrumb %>
        <%#- include ("../../../common/md-m-breadcrumb.ejs") %>
    </div>
    -->

	<div class="o-width layout--no-lines fullWidth--mobile fullWidth--desktop fullWidth--tablet layout--abc wc-100" style="background-color: #5c5c5c">
		<!-- o-layout -->
		<div class="o-layout" style="background-color:; margin-top:px;margin-bottom:px;;">
			<div style=";" class="layout-row-1"></div>
			<div style=";" class=" layout-4">
				<div class="layout-row-2">
					<div class="image-slideshow parbase section">
						<div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
							<div class="image-container">
								<div class="trackImage col-item">
									<img class="a-image" src="<%= pageInfo.root %>/images/component/arket_basics_collection.jpg" alt="ARKET Basics Collection">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layout-row-3">
					<div class="widthComponent parbase section">
						<div class="o-width title--x-small wc-100">
							<div class="richtextWrapper is-richtext">
								<div class="m-headline u-align-left is-white is-main-headline full-width">
									<div class="a-heading-1"><h1 class="heading-code">men's Basics Collection</h1>
										<span class="heading-value">Our well-considered assortment of classic everyday staples for men. Carefully designed for an effortless fit and made from quality materials that stand the test of repetitive use. <br></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layout-row-4" style=";"></div>
		</div>
		<!-- //o-layout -->
	</div>

	<div class="o-width abc--fixed wc-100" style="background-color: #5c5c5c">
		<!-- o-text-field -->
		<div class="o-text-field is-wide">
			<div class="text-container">
				<p class="a-paragraph is-richtext">
					<b style="color: rgb(255,255,255);">
						<a href="#top" style="color: white;text-decoration: none;" class="a-link">ABC</a>
					</b>
				</p>
			</div>
		</div>
		<!-- //o-text-field -->
	</div>

	<div class="o-width fullWidth--mobile fullWidth--desktop fullWidth--tablet chooser--fixed wc-100" style="background-color: #eae9e9">
		<!-- o-chooser -->
		<div style="color:inherit" class="o-chooser with-image" data-component="OChooser" data-type="with-image">
			<div class="item-container">
				<div class="m-chooser-item with-image">
					<a href="#t-shirts" target="_self" class="a-link">
						<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_icon_tshirt.png" alt="T-shirts">
						<span class="anchor-title">T-shirts</span>
					</a>
				</div>
				<div class="m-chooser-item with-image">
					<a href="#socks" target="_self" class="a-link">
						<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_icon_socks.png" alt="Socks">
						<span class="anchor-title">Socks</span>
					</a>
				</div>
				<div class="m-chooser-item with-image">
					<a href="#underwear" target="_self" class="a-link">
						<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_icon_munderwear.png" alt="Underwear">
						<span class="anchor-title">Underwear</span>
					</a>
				</div>
			</div>
		</div>
		<!-- //o-chooser -->
	</div>

	<div class="o-width title--x-small o-width wc-50">
		<div class="o-text-field is-wide ">
			<div class="headings" style="text-align:center;">
				<div class="m-headline">
					<h2 class="a-heading-2  has-margin">
						<span class="heading-cap">ABC</span>
						All day, every day
					</h2>
				</div>
			</div>
			<div class="text-container"><p class="a-paragraph is-richtext">Basics are the building blocks of every
					wardrobe; simple yet essential garments that need to live up to the demands of everyday use. ABC is
					ARKET’s basic collection of carefully curated t-shirts, underwear, and socks, designed with close
					attention to fit, feel and durability. Pick and mix your personal line-up of basics or be inspired by
					some of our favourite combinations.</p></div>
		</div>
	</div>
	<div class="o-width wc-50">
		<div class="o-image-listing cols-3" style="margin-top:0px; margin-bottom:0px;">
			<div class="image-container">
				<a href="https://www.arket.com/en/men/underwear/product.pima-cotton-briefs,-set-of-3-black.0984687001.html" target="_self" class="trackImage a-link">
					<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_m_u_briefs.jpg" alt="The Refill Kit">
				</a>
				<div class="slider-text-block">
					<div class="is-richtext o-text-field "><h3><b>ABC</b><br>The Refill Kit<br></h3>
						<p>Keep your underwear drawer fresh by stocking up on multi sets of soft, comfortable briefs and
							trunks.<br></p></div>
				</div>
			</div>
			<div class="image-container">
				<div class="trackImage col-item">
					<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_everydaykit.jpg" alt="The Everyday Kit">
				</div>
				<div class="slider-text-block">
					<div class="is-richtext o-text-field "><h3><b>ABC</b><br>The Everyday Kit<br></h3>
						<p>Fundamentals of the everyday dressing routine. Find your favorite combo and put on repeat.
							<br></p></div>
				</div>
			</div>
			<div class="image-container">
				<div class="trackImage col-item">
					<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_m_t_midweight.jpg" alt="The Tee Kit">
				</div>
				<div class="slider-text-block">
					<div class="is-richtext o-text-field "><h3><b>ABC</b><br>The Tee Kit<br></h3>
						<p>Combine your own T-shirt set from ABC’s range of essentials wardrobe shelf styles. <br></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="o-text-field is-wide ">
		<div class="text-container"><p class="a-paragraph is-richtext"><b>.</b></p></div>
	</div>
	<div class="o-width layout--no-margins wc-100">
		<div class="o-layout   " style="background-color:; margin-top:px;margin-bottom:px;;" data-chooser="T-shirts" data-chooser-title="T-shirts" data-chooser-image="<%= pageInfo.root %>/images/component/abc_icon_tshirt.png" data-chooser-image-alt="T-shirts" id="t-shirts">
			<div style=";" class="layout-row-1"></div>
			<div style=";" class="layout-5">
				<div class="layout-row-2" style=";"></div>
				<div class="layout-row-3" style=" ;"></div>
			</div>
		</div>
	</div>
	<div class="o-width about-chooser wc-75"></div>
	<div class="o-width title--x-small o-width wc-50">
		<div class="m-headline with-icon u-align-center is-main-headline full-width " style="background-color:">
			<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_icon_tshirt.png">
			<h2 class="a-heading-2 ">
				<span class="heading-cap">Men</span>
				<span class="heading-value">T-shirts</span>
			</h2>
		</div>
		<div class="o-text-field is-wide ">
			<div class="text-container"><p class="a-paragraph is-richtext">The reliability of a perfectly plain T-shirt
					cannot be overestimated. From workdays to weekends, it is one of the most useful garments in the
					wardrobe, easy to pair with almost anything and great to build outfits around: when layering, seeking
					comfort or casualising an office suit.<br></p></div>
		</div>
	</div>
	<div class="o-width image-comp--4-col image-comp--2-col-mob wc-75">
		<div class="m-headline u-align-center is-main-headline full-width " style="background-color:">
			<h2 class="a-heading-2 ">
				<span class="heading-cap">ABC</span>
				<span class="heading-value">T-shirts</span>
			</h2>
		</div>
		<div class="o-image-listing cols-3" style="margin-top:0px; margin-bottom:0px;">
			<div class="image-container">
				<a href="https://www.arket.com/en/men/t-shirt/product.midweight-t-shirt-white.0494713002.html" target="_self" class="trackImage a-link">
					<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_m_t_midweight_single.jpg" alt="The Midweight T-shirt">
				</a>
				<div class="slider-text-block">
					<div class="is-richtext o-text-field "><h3><b>ABC <br></b> The Midweight T-shirt<b><br></b></h3>
						<p style="text-align: left;">A standard design in the wardrobe, cut with a regular fit and made
							from soft, firm cotton.
							<a href="https://www.arket.com/en_sek/men/t-shirt/product.midweight-t-shirt-white.0494713002.html" style="font-family: Arket Sans SC;">
								Shop now
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="image-container">
				<a href="https://www.arket.com/en/men/t-shirt/product.heavyweight-t-shirt-white.0527611001.html" target="_self" class="trackImage a-link">
					<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_m_t_heavyweight_single.jpg" alt="The Heavyweight T-shirt">
				</a>
				<div class="slider-text-block">
					<div class="is-richtext o-text-field "><h3><b>ABC <br></b>The Heavyweight T-shirt<br></h3>
						<p>Final-layer favourite with a slightly more relaxed fit, made from sturdy cotton with
							vintage-like feel.
							<a href="https://www.arket.com/en_sek/men/t-shirt/product.heavyweight-t-shirt-white.0527611001.html" style="font-family: Arket Sans SC;">
								Shop now
							</a>
						</p>
						<p style="text-align: center;">&nbsp;</p></div>
				</div>
			</div>
			<div class="image-container">
				<a href="https://www.arket.com/en/men/t-shirt/product.oversized-heavyweight-t-shirt-white.0874785005.html" target="_self" class="trackImage a-link">
					<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_m_t_oversized_single.jpg" alt="The Oversized T-shirt">
				</a>
				<div class="slider-text-block">
					<div class="is-richtext o-text-field "><h3><b>ABC <br></b>The Oversized T-shirt<br></h3>
						<p>A voluminous T-shirt made from 50% recycled cotton fibres together with Texloop ™ Recycling.
							<a href="https://www.arket.com/en_sek/men/t-shirt/product.oversized-heavyweight-t-shirt-white.0874785005.html" style="font-family: Arket Sans SC;">
								Shop now
							</a>
						</p>
						<p style="text-align: center;">&nbsp;</p></div>
				</div>
			</div>
			<div class="image-container">
				<a href="https://www.arket.com/en/men/t-shirt/product.interlock-t-shirt-white.0844469002.html" target="_self" class="trackImage a-link">
					<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_m_t_doubleknit_single.jpg" alt="The Double Knit T-shirt">
				</a>
				<div class="slider-text-block">
					<div class="is-richtext o-text-field "><h3><b>ABC <br></b> The Double Knit T-shirt<br></h3>
						<p>Complete the shelf with a comfortable pick, made from heavyweight cotton stretch with a
							regular fit.
							<a href="https://www.arket.com/en_sek/men/t-shirt/product.interlock-t-shirt-white.0844469002.html" style="font-family: Arket Sans SC;">
								Shop now
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="o-width VNAV wc-100"></div>
	<div class="o-width layout--no-margins wc-100">
		<div class="o-layout   " style="background-color:; margin-top:px;margin-bottom:px;;" data-chooser="Socks" data-chooser-title="Socks" data-chooser-image="<%= pageInfo.root %>/images/component/abc_icon_socks.png" data-chooser-image-alt="Socks" id="socks">
			<div style=";" class="layout-row-1"></div>
			<div style=";" class="layout-5">
				<div class="layout-row-2" style=";"></div>
				<div class="layout-row-3" style=" ;"></div>
			</div>
		</div>
	</div>
	<div class="o-width layout--no-margins wc-100">
		<div class="o-layout   " style="background-color:; margin-top:px;margin-bottom:px;;" data-chooser="Underwear" data-chooser-title="Underwear" data-chooser-image="<%= pageInfo.root %>/images/component/abc_icon_munderwear.png" data-chooser-image-alt="Underwear" id="underwear">
			<div style=";" class="layout-row-1"></div>
			<div style=";" class="layout-5">
				<div class="layout-row-2" style=";"></div>
				<div class="layout-row-3" style=" ;"></div>
			</div>
		</div>
	</div>
	<div class="o-width title--x-small o-width wc-50">
		<div class="m-headline with-icon u-align-center is-main-headline full-width " style="background-color:">
			<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_icon_socks_munderwear.png">
			<h2 class="a-heading-2 ">
				<span class="heading-cap">Men</span>
				<span class="heading-value">Socks &amp; Underwear</span>
			</h2>
		</div>
		<div class="o-text-field is-wide ">
			<div class="text-container"><p class="a-paragraph is-richtext">Socks are a small but essential part of the
					wardrobe, making sure that your feet feel great from morning to night. The ABC line of socks are made
					from high-quality organic cotton, supima cotton or mercerized cotton to ensure durability, dryness and
					wearing comfort. The design is kept in basic black to simplify washing, pairing and restocking.</p>
			</div>
		</div>
	</div>
	<div class="abc--mobile-fix o-width wc-75">
		<div class="o-layout   " style="background-color:; margin-top:px;margin-bottom:px;;">
			<div style=";" class="layout-row-1"></div>
			<div style=";" class="layout-5">
				<div class="layout-row-2" style=";">
					<div class="headline parbase section">
						<div class="m-headline u-align-center is-main-headline full-width " style="background-color:">
							<h2 class="a-heading-2 ">
								<span class="heading-cap">ABC</span>
								<span class="heading-value">Socks</span>
							</h2>
						</div>
					</div>
					<div class="image-slideshow parbase section">
						<div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
							<div class="image-container">
								<a href="https://www.arket.com/en/men/socks/product.supima-cotton-socks,-set-of-3-black.0796886001.html" target="_self" class="trackImage a-link">
									<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_m_s_mercerised.jpg" alt="Supima Cotton Socks">
								</a>
								<div class="slider-text-block">
									<div class="is-richtext o-text-field ">
										<h3><p><b>ABC<br></b>Supima Cotton Socks<br></p></h3>
										<p>A classic sock in long-lasting, colourfast Supima cotton blend with a
											reinforced toe and heel.
											<a href="https://www.arket.com/en_sek/men/socks/product.supima-cotton-socks,-set-of-3-black.0796886001.html" style="font-family: Arket Sans SC;">
												Shop now
											</a>
										</p>
									</div>
								</div>
							</div>
							<div class="image-container">
								<a href="https://www.arket.com/en/men/socks/product.mercerised-cotton-socks-black.0640437001.html" target="_self" class="trackImage a-link">
									<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_m_s_rib_black.jpg" alt="Mercerised Cotton Socks">
								</a>
								<div class="slider-text-block">
									<div class="is-richtext o-text-field ">
										<h3><p><b>ABC</b><br>Mercerised Cotton Socks<br></p></h3>
										<p>A thinner sock in a refined mercerised cotton blend with slight lustre and
											durable strength.
											<a href="https://www.arket.com/en_sek/men/socks/product.mercerised-cotton-socks-black.0640437001.html" style="font-family: Arket Sans SC;">
												Shop now
											</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layout-row-3" style=" ;">
					<div class="headline parbase section">
						<div class="m-headline u-align-center is-main-headline full-width " style="background-color:">
							<h2 class="a-heading-2 ">
								<span class="heading-cap">ABC</span>
								<span class="heading-value">Underwear</span>
							</h2>
						</div>
					</div>
					<div class="image-slideshow parbase section">
						<div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
							<div class="image-container">
								<a href="https://www.arket.com/en/men/underwear/product.pima-cotton-briefs,-set-of-3-black.0984687001.html" target="_self" class="trackImage a-link">
									<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_m_u_briefs.jpg" alt=" Pima Cotton Briefs">
								</a>
								<div class="slider-text-block">
									<div class="is-richtext o-text-field ">
										<h3><p><b>ABC<br></b>Pima Cotton Briefs<br></p></h3>
										<p>Classic, close-fitted briefs made from high-quality, colourfast Pima cotton
											with a lined front.
											<a href="https://www.arket.com/en_sek/men/underwear/product.pima-cotton-briefs,-set-of-3-black.0984687001.html" style="font-family: Arket Sans SC;">
												Shop now
											</a>
										</p>
									</div>
								</div>
							</div>
							<div class="image-container">
								<a href="https://www.arket.com/en/men/underwear/product.pima-cotton-trunks,-set-of-3-white.0984683002.html" target="_self" class="trackImage a-link">
									<img class="a-image" src="<%= pageInfo.root %>/images/component/abc_m_u_trunks.jpg" alt=" Pima Cotton Trunks">
								</a>
								<div class="slider-text-block">
									<div class="is-richtext o-text-field ">
										<h3><p><b>ABC<br></b>Pima Cotton Trunks<br></p></h3>
										<p>Classic trunks made from high-quality Pima cotton with added stretch for
											ultimate comfort. .
											<a href="https://www.arket.com/en_sek/men/underwear/product.pima-cotton-trunks,-set-of-3-white.0984683002.html" style="font-family: Arket Sans SC;">
												Shop now
											</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="o-width wc-75">
		<div class="o-width fullWidth--mobile wc-50"></div>
	</div>
	<div class="o-width wc-75">
		<div class="o-width fullWidth--mobile wc-75"></div>
	</div>
	<div class="o-width wc-75">
		<div class="o-width fullWidth--mobile wc-100">
			<div class="o-layout   " style="background-color:; margin-top:px;margin-bottom:px;;">
				<div style=";" class="layout-row-1"></div>
				<div style=";" class="layout-5">
					<div class="layout-row-2" style=";">
						<div class="image-slideshow parbase section">
							<div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
								<div class="image-container">
									<div class="trackImage col-item">
										<img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_19S9B2_care_6_f1.jpg">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layout-row-3" style=" ;">
						<div class="textcomponent parbase section">
							<div class="o-text-field is-wide is-large">
								<div class="headings" style="text-align:center;">
									<div class="m-headline">
										<h2 class="a-heading-2  has-margin">
											<span class="heading-cap">Care</span>
											For your basics
										</h2>
									</div>
								</div>
								<div class="text-container"><p class="a-paragraph is-richtext">Sustainability is at the
										core of ARKET, naturally incorporated in all of our processes. One of the greatest
										things we can do to reduce our environmental footprint is to make our garments last
										longer by caring for them and thereby elongate their lifespan.<br></p></div>
							</div>
						</div>
						<div class="textcomponent parbase section">
							<div class="o-text-field is-wide ">
								<div class="text-container"><p class="a-paragraph is-richtext">It is a given that
										garments you wear closest to your body on an everyday basis need to be washed
										regularly but by doing this in a more conscious way you can reduce the effect on the
										environment.<br>&nbsp;<br>Don’t wash your T-shirts more often than necessary.
										Spot-treating and steaming T-shirts is a great alternative to washing. In between
										washes, air to regain a fresh feeling or use garment refresher spray.<br>&nbsp;<br>Wash
										all basics at the lowest temperature and the shortest cycle possible to save water
										and use a natural, biodegradable liquid rinse. Shake it to minimise wrinkles and
										hang or lay flat to air-dry.<br>&nbsp;<br><br></p></div>
							</div>
						</div>
						<div class="tagCloud parbase section">
							<div class="o-tag-cloud"><h6 class="a-heading-6 cloud-title">Read more</h6>
								<ul class="tags-container"><!-- -->
									<li class="tag "><!-- -->
										<a href="/en/guide/care.html" target="_self" class="a-link">Care guide
										</a><!-- -->
									</li><!-- --></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="o-width VNAV wc-100">

		<!-- o-tag-cloud -->
		<div class="o-tag-cloud"><h6 class="a-heading-6 cloud-title">View full assortment</h6>
			<ul class="tags-container"><!-- -->
				<li class="tag "><!-- -->
					<a href="/en/men/T-shirts.html" target="_self" class="a-link">T-shirts</a><!-- --></li><!-- -->
				<!-- -->
				<li class="tag "><!-- -->
					<a href="/en/men/socks.html" target="_self" class="a-link">Socks</a><!-- --></li><!-- --><!-- -->
				<li class="tag "><!-- -->
					<a href="/en/men/underwear.html" target="_self" class="a-link">Underwear</a><!-- --></li><!-- -->
				<!-- -->
				<li class="tag "><!-- -->
					<a href="/en/men/jeans.html" target="_self" class="a-link">Jeans</a><!-- --></li><!-- --><!-- -->
				<li class="tag "><!-- -->
					<a href="/en/men/shoes/slides.html" target="_self" class="a-link">Sandals</a><!-- --></li><!-- -->
			</ul>
		</div>
		<!-- //o-tag-cloud -->

		<div class="o-width VNAV wc-75">

			<div class="m-headline u-align-center is-main-headline full-width " style="background-color:">
				<h2 class="a-heading-2 ">
					<span class="heading-value">You may also like</span>
				</h2>
			</div>
			<div class="parbase sdp-component product-listing align-below">

				<!-- o-product-listing -->
				<div id="lazyLoadSpan">
					<div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-6 u-align-center">
						<%# md-o-product-listing-product-list %>
						<%- include ("../../../common/md-o-product-listing-product-list-30ea-central.ejs") %>
					</div>

				</div>

				<span id="lazyDiv">
					<%# md-o-lazy-load %>
					<%- include ("../../../common/md-o-lazy-load.ejs") %>
            </span>
				<!-- //o-product-listing -->

			</div>
		</div>

		<div class="o-width about-chooser wc-75">
			<div class="o-text-field is-wide ">
				<div class="text-container"><p class="a-paragraph is-richtext"><b>.</b></p></div>
			</div>
		</div>

	</div>

	<div class="o-tag-cloud">
		<h6 class="a-heading-6 cloud-title">VIEW BASICS FOR</h6>
		<ul class="tags-container"><!--
		--><li class="tag "><!--
			--><a href="/en/women/basics.html" target="_self" class="a-link">Women</a><!--
   		--></li><!--
    --><!--
		--><li class="tag "><!--
			--><a href="/en/children/basics.html" target="_self" class="a-link">Children</a><!--
   		--></li><!--
    --></ul>
	</div>

	<div class="o-width spacer wc-50">
		<div class="o-text-field is-wide is-large">
			<div class="text-container"><p class="a-paragraph is-richtext"></p>
				<div style="text-align: center;"><b>Browse our assortment</b></div>
				<p class="a-paragraph"></p></div>
		</div>
	</div>

	<%# md-o-teaser %>
	<%- include ("../../../common/md-o-teaser.ejs") %>

</div>
