<div data-component="OPageContent" class="o-page-content guide-content">

    <!-- description-box -->
    <div class="description-box full-width">
        <h2 class="a-heading-1">
            <strong class="a-strong">o-chooser</strong>
        </h2>
        <div class="m-informative-section">
            <h3>Description</h3>

            <h3>background-color</h3>
            <p>.o-chooser 태그를 감싼 태그에 인라인 스타일로 적용</p>

            <h3>.with-image</h3>
            <p>.m-chooser-item 태그 안에 img 태그 생성, 이미지와 같이 표시, font-size:13px</p>

            <h3>.large-text</h3>
            <p>font-size:20px, 이미지 표시 안됨</p>

            <h3>.small-text</h3>
            <p>font-size:13px, 이미지 표시 안됨</p>
        </div>

    </div>
    <!-- //description-box -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">with image</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-chooser -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="o-width wc-100" style="background-color:transparent;">
        <!-- to Dev [toggle Class] : with-image, large-text, small-text -->
        <!-- to Dev [toggle Prop] : data-type -->
        <div class="o-chooser with-image" data-component="OChooser" data-type="with-image">
            <div class="item-container"></div>
        </div>
    </div>
    <!-- //o-chooser -->

    <!-- o-chooser -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="o-width wc-100" style="background-color: #eae9e9;">
        <!-- to Dev [toggle Class] : with-image, large-text, small-text -->
        <!-- to Dev [toggle Prop] : data-type -->
        <div class="o-chooser with-image" data-component="OChooser" data-type="with-image">
            <div class="item-container"></div>
        </div>
    </div>
    <!-- //o-chooser -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">large-text</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-chooser -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="o-width wc-100" style="background-color:transparent;">
        <!-- to Dev [toggle Class] : with-image, large-text, small-text -->
        <!-- to Dev [toggle Prop] : data-type -->
        <div class="o-chooser large-text" data-component="OChooser" data-type="large-text">
            <div class="item-container"></div>
        </div>
    </div>
    <!-- //o-chooser -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">small-text</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-chooser -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="o-width wc-100" style="background-color:transparent;">
        <!-- to Dev [toggle Class] : with-image -->
        <!-- to Dev [toggle Prop] : data-type -->
        <div class="o-chooser small-text" data-component="OChooser" data-type="small-text">
            <div class="item-container"></div>
        </div>
    </div>
    <!-- //o-chooser -->
    
    <!----------------------->

    <!-- item-data -->
    <div class="o-layout"
         data-chooser="bomber"
         data-chooser-title="bomber"
         data-chooser-image="<%= pageInfo.root %>/images/component/chooser_parka.jpg"
         data-chooser-image-alt="bomber"
         id="bomber">
    </div>
    <div class="o-layout"
         data-chooser="trenc"
         data-chooser-title="trenc"
         data-chooser-image="<%= pageInfo.root %>/images/component/chooser_carcoat.jpg"
         data-chooser-image-alt="trenc"
         id="trenc">
    </div>
    <div class="o-layout"
         data-chooser="field jacket"
         data-chooser-title="field jacket"
         data-chooser-image="<%= pageInfo.root %>/images/component/chooser_denimjacket.jpg"
         data-chooser-image-alt="field jacket"
         id="field jacket">
    </div>
    <div class="o-layout"
         data-chooser="denim jacket"
         data-chooser-title="denim jacket"
         data-chooser-image="<%= pageInfo.root %>/images/component/chooser_fieldjacket.png"
         data-chooser-image-alt="denim jacket"
         id="denim jacket">
    </div>
    <div class="o-layout"
         data-chooser="suit"
         data-chooser-title="suit"
         data-chooser-image="<%= pageInfo.root %>/images/component/chooser_overcoat.jpg"
         data-chooser-image-alt="suit"
         id="suit">
    </div>
    <div class="o-layout"
         data-chooser="carcoat"
         data-chooser-title="carcoat"
         data-chooser-image="<%= pageInfo.root %>/images/component/chooser_parka.jpg"
         data-chooser-image-alt="carcoat"
         id="carcoat">
    </div>
    <div class="o-layout"
         data-chooser="long goat"
         data-chooser-title="long goat"
         data-chooser-image="<%= pageInfo.root %>/images/component/chooser_carcoat.jpg"
         data-chooser-image-alt="long goat"
         id="long goat">
    </div>
    <!-- //item-data -->

</div>