<div data-component="OPageContent" class="o-page-content guide-content">

    <!-- description-box -->
    <div class="description-box full-width">
        <h2 class="a-heading-1">
            <strong class="a-strong">Focus Panel</strong>
        </h2>
        <div class="m-informative-section">
            <h3>Description</h3>

            <h3>.two-tiles</h3>
            <p>아이템 2개를 표시</p>

            <h3>.three-tiles</h3>
            <p>아이템 3개를 표시</p>

            <h3>.focus-panel-3col</h3>
            <p>모바일 화면 시 컬럼 3 모두 표시</p>
        </div>

    </div>
    <!-- //description-box -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">two-tiles</span>
    </h2>
    <!-- //a-heading -->
    <div class="o-width wc-100">
        <!-- o-focus-panel -->
        <div class="o-focus-panel">
            <!-- to Dev [toggle Class] : two-tiles, three-tiles -->
            <div class="focus-panel-container two-tiles">
                <div class="free-tile focus-panel">
                    <a class="a-link" href="#none" target="_self">
                        <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk22.jpg&quot;);">
                            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk22.jpg" data-pfsrc="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk22.jpg">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2 q-alpha big-tags">Boat Neck</h2>
                                <p class="a-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="free-tile focus-panel">
                    <a class="a-link" href="#none" target="_self">
                        <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk_22_3.jpg&quot;);">
                            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk_22_3.jpg" data-pfsrc="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk_22_3.jpg">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2 q-alpha">Turtle Neck</h2>
                                <p class="a-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aliquam tristique maximus aliquet. Integer hendrerit eu augue non malesuada.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- //o-focus-panel -->
    </div>

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">three-tiles</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-focus-panel -->
    <div class="o-width wc-75">
        <div class="o-focus-panel">
            <div class="focus-panel-container three-tiles">
                <div class="free-tile focus-panel">
                    <a class="a-link" href="#none" target="_self">
                        <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk22.jpg&quot;);">
                            <picture class="a-picture" data-component="APicture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk22.jpg" data-pfsrc="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk22.jpg">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2">Category</h2>
                                <p class="a-paragraph">Upcycled Down™ Down Puffer Coat</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="free-tile focus-panel">
                    <a class="a-link" href="#none" target="_self">
                        <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk_22_3.jpg&quot;);">
                            <picture class="a-picture" data-component="APicture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk_22_3.jpg" data-pfsrc="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk_22_3.jpg">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2">Category</h2>
                                <p class="a-paragraph">Upcycled Down™ Down Puffer Trench Coat</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="free-tile focus-panel">
                    <a class="a-link" href="#none" target="_self">
                        <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.root %>/images/component/W_SDP_beachwear_2_wk22.jpg&quot;);">
                            <picture class="a-picture" data-component="APicture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/component/W_SDP_beachwear_2_wk22.jpg" data-pfsrc="<%= pageInfo.root %>/images/component/W_SDP_beachwear_2_wk22.jpg">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2">Category</h2>
                                <p class="a-paragraph">Upcycled Down™ A-Line Down Puffer Coat</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- //o-focus-panel -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">3 Column On Mobile</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-focus-panel -->
    <!-- to Dev [toggle Class] : focus-panel-3col -->
    <div class="focus-panel-3col">
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <div class="free-tile focus-panel">
                        <a class="a-link" href="#none" target="_self">
                            <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk22.jpg&quot;);">
                                <picture class="a-picture" data-component="APicture" data-background="m-free-tile">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk22.jpg" data-pfsrc="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk22.jpg">
                                </picture>
                                <div class="text-content">
                                    <h2 class="a-heading-2">Category</h2>
                                    <p class="a-paragraph">Upcycled Down™ Down Puffer Coat</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="free-tile focus-panel">
                        <a class="a-link" href="#none" target="_self">
                            <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk_22_3.jpg&quot;);">
                                <picture class="a-picture" data-component="APicture" data-background="m-free-tile">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk_22_3.jpg" data-pfsrc="<%= pageInfo.root %>/images/component/W_SDP_beachwear_wk_22_3.jpg">
                                </picture>
                                <div class="text-content">
                                    <h2 class="a-heading-2">Category</h2>
                                    <p class="a-paragraph">Upcycled Down™ Down Puffer Trench Coat</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="free-tile focus-panel">
                        <a class="a-link" href="#none" target="_self">
                            <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.root %>/images/component/W_SDP_beachwear_2_wk22.jpg&quot;);">
                                <picture class="a-picture" data-component="APicture" data-background="m-free-tile">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/component/W_SDP_beachwear_2_wk22.jpg" data-pfsrc="<%= pageInfo.root %>/images/component/W_SDP_beachwear_2_wk22.jpg">
                                </picture>
                                <div class="text-content">
                                    <h2 class="a-heading-2">Category</h2>
                                    <p class="a-paragraph">Upcycled Down™ A-Line Down Puffer Coat</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //o-focus-panel -->

    <!----------------------->
        
</div>