<div data-component="OPageContent" class="o-page-content guide-content">

    <!-- description-box -->
    <div class="description-box full-width">
        <h2 class="a-heading-1">
            <strong class="a-strong">o-image-listing</strong>
        </h2>
        <div class="m-informative-section">
            <h3>Description</h3>

            <h3>.full-width</h3>
            <p>margin-left:0, margin-right:0</p>

            <h3>.VNAV</h3>
            <p>margin-left:0, margin-right:0, padding-left:0, padding-right:0, 내부 아이템의 width:25% / <br> <span class="fc-point2">※ .wc-100, .cols-3 클래스와 함께 사용</span></p>
            <p></p>

            <h3>.wc-100, .wc-75, .wc-50, .wc-25</h3>
            <p>.wc-100 : width:100% / .wc-75 : width:75% / .wc-50 : width:50% / .wc-25 : width:25%</p>

            <h3>.cols-3, .cols-2, .cols-1</h3>
            <p>.cols-3 : width:33.33% / .cols-2 : width:50% / .cols-2 : width:100%</p>
        </div>

    </div>
    <!-- //description-box -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">wc-100</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-width -->
    <!-- to Dev [toggle Class] : full-width, VANS, wc-100, wc-75, wc-50, wc-25 -->
    <div class="o-width wc-100">
        <h3 class="a-heading-3 u-align-center"><span>wc-100 / cols-3</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-3">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
        <h3 class="a-heading-3 u-align-center"><span>wc-100 / cols-2</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-2">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
        <h3 class="a-heading-3 u-align-center"><span>wc-100 / cols-1</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-1">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
    </div>
    <!-- //o-width -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">wc-75</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-width -->
    <div class="o-width wc-75">
        <h3 class="a-heading-3 u-align-center"><span>wc-75 / cols-3</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-3">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
        <h3 class="a-heading-3 u-align-center"><span>wc-75 / cols-2</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-2">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
        <h3 class="a-heading-3 u-align-center"><span>wc-75 / cols-1</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-1">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
    </div>
    <!-- //o-width -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">wc-50</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-width -->
    <div class="o-width wc-50">
        <h3 class="a-heading-3 u-align-center"><span>wc-50 / cols-3</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-3">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
        <h3 class="a-heading-3 u-align-center"><span>wc-50 / cols-2</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-2">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
        <h3 class="a-heading-3 u-align-center"><span>wc-50 / cols-1</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-1">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
    </div>
    <!-- //o-width -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">wc-25</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-width -->
    <div class="o-width wc-25">
        <h3 class="a-heading-3 u-align-center"><span>wc-25 / cols-3</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-3">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
        <h3 class="a-heading-3 u-align-center"><span>wc-25 / cols-2</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-2">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
        <h3 class="a-heading-3 u-align-center"><span>wc-25 / cols-1</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-1">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
    </div>
    <!-- //o-width -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">wc-100 & VNAV</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-width -->
    <!-- to Dev [toggle Class] : full-width, VANS, wc-100, wc-75, wc-50, wc-25 -->
    <div class="o-width wc-100 VNAV">
        <h3 class="a-heading-3 u-align-center"><span>wc-100 / cols-3</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-3">
            <%# image-item %>
            <%- include ("cmpnt-o-image-listing-md-item.ejs") %>
        </div>
    </div>
    <!-- //o-width -->

    <!-- o-width -->
    <!-- to Dev [toggle Class] : full-width, VANS, wc-100, wc-75, wc-50, wc-25 -->
    <div class="o-width wc-100 VNAV">
        <h3 class="a-heading-3 u-align-center"><span>wc-100 / cols-3</span></h3>
        <!-- to Dev [toggle Class] : cols-3, cols-2, cols-1 -->
        <div class="o-image-listing cols-3">
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <div class="" style="">
                        <img class="a-image" src="<%= pageInfo.root %>/images/component/W_New-arrivals_w2121.gif">
                    </div>
                    <span class="promoIndex" hidden="">1</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">New arrivals</div>
                </div>
            </div>
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <div class="" style="">
                        <img class="a-image" src="<%= pageInfo.root %>/images/component/21203_W_Towelling-Summer-Stripes_01_WEB.jpg">
                    </div>
                    <span class="promoIndex" hidden="">2</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Dresses</div>
                </div>
            </div>
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <div class="" style="">
                        <img class="a-image" src="<%= pageInfo.root %>/images/component/21203_W_Towelling-Summer_Stripes_21_WEB.jpg">
                    </div>
                    <span class="promoIndex" hidden="">3</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Swimwear</div>
                </div>
            </div>
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <div class="" style="">
                        <img class="a-image" src="<%= pageInfo.root %>/images/component/abc_tshirts_w_vnav.jpg">
                    </div>
                    <span class="promoIndex" hidden="">4</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Basics</div>
                </div>
            </div>
        </div>
    </div>
    <!-- //o-width -->
        
</div>