<div data-component="OPageContent" class="o-page-content cofs-page page-profile">

    <div class="o-my-page o-width wc-75">

        <%# md-o-my-page-navigation %>
        <%- include ("../../../common/md-o-my-page-navigation.ejs") %>

        <h2 class="a-heading-2 is-main-heading page-top-title">
            <span>회원정보변경</span>
            <a class="a-link a-link-udln btn-show-hidden-info open-lightbox" href="#none" target="_self" data-template="lp-show-hidden-info" data-classes="alert">가려진 정보 보기</a>
        </h2>

        <!-- my-profile-content -->
        <div class="my-profile-content">
            <!-- o-my-details-summary -->
            <div id="profileSummary" class="o-my-details summary">
                <!-- data-grids -->
                <div class="data-grids">
                    <div class="data-grid id">
                        <div class="id-g-label">아이디</div>
                        <div class="id-g-value">hy1***********</div>
                    </div>

                    <div class="data-grid name">
                        <div class="name-g-label">이름</div>
                        <div class="name-g-value">홍*동</div>
                    </div>

                    <div class="data-grid email">
                        <div class="email-g-label">이메일 주소</div>
                        <div class="email-g-value">
                            <span>hy1*******@*********</span>
                            <a class="a-link a-link-udln btn-change toggle-bx-btn" href="#none" target="_self" data-target="email-edit"><span hidden>변경하기</span></a>
                        </div>
                    </div>
                    <div class="data-grid full toggle-bx-con email-edit">
                        <!-- gray-bx -->
                        <div class="gray-bx">
                            <div class="email-input-bx">
                                <div class="m-input v3" data-component="MInput">
                                    <label class="a-label js-a-label fixed" for="orderer-email">변경할 이메일 주소 입력</label>
                                    <input class="a-input js-a-input"
                                           placeholder="이메일 주소를 입력해 주세요"
                                           type="email"
                                           value=""
                                           pattern=""
                                           name="orderer-email"
                                           id="orderer-email"
                                           required=""
                                           data-validation-required-text="이메일 주소를 입력해 주세요"
                                           data-validation-pattern-text="">
                                    <label class="a-label js-a-label" for="orderer-email" data-placeholder=""></label>
                                    <p class="input-guide-text">이메일 주소를 입력해 주세요</p>
                                </div>
                                <div class="m-dropdown v3">
                                    <label class="a-label js-a-label" for="emailDomain">&nbsp;</label>
                                    <select class="option-wrap"name="selectMailDomain" id="emailDomain">
                                        <option class="a-option">직접입력</option>
                                        <option class="a-option">@naver.com</option>
                                        <option class="a-option">@daum.net</option>
                                        <option class="a-option">@nate.com</option>
                                        <option class="a-option">@gmail.com</option>
                                        <option class="a-option">@hanmail.net</option>
                                        <option class="a-option">@hotmail.com</option>
                                    </select>
                                    <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                                </div>
                            </div>
                            <button class="a-button btn-certify-email toggle-bx-btn" type="button" data-target="email-edit2"><span>인증하기</span></button>
                        </div>
                        <!-- //gray-bx -->
                    </div>
                    <div class="data-grid full toggle-bx-con email-edit2">
                        <!-- gray-bx -->
                        <div class="gray-bx">
                            <div class="email-input-bx">
                                <div class="m-input v3" data-component="MInput">
                                    <label class="a-label js-a-label fixed" for="orderer-email2">변경할 이메일 주소 입력</label>
                                    <input class="a-input js-a-input"
                                           placeholder="이메일 주소를 입력해 주세요"
                                           type="email"
                                           value="hby12345@naver.com"
                                           pattern=""
                                           name="orderer-email2"
                                           id="orderer-email2"
                                           required=""
                                           data-validation-required-text="이메일 주소를 입력해 주세요"
                                           data-validation-pattern-text="">
                                    <label class="a-label js-a-label" for="orderer-email2" data-placeholder=""></label>
                                </div>
                                <p class="guide-text">이메일 주소 변경을 위해 입력하신 이메일 주소로 인증메일이 발송되었습니다. <br>인증완료 후 변경완료 버튼을 선택해 주세요.</p>
                                <div class="m-dropdown v3">
                                    <label class="a-label js-a-label" for="emailDomain">&nbsp;</label>
                                    <select class="option-wrap"name="selectMailDomain" id="emailDomain">
                                        <option class="a-option">직접입력</option>
                                        <option class="a-option">@naver.com</option>
                                        <option class="a-option">@daum.net</option>
                                        <option class="a-option">@nate.com</option>
                                        <option class="a-option">@gmail.com</option>
                                        <option class="a-option">@hanmail.net</option>
                                        <option class="a-option">@hotmail.com</option>
                                    </select>
                                    <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                                </div>
                            </div>
                            <div class="button-container col-2">
                                <button class="a-button btn-email-resend" type="button"><span>인증메일 재발송</span></button>
                                <button class="a-button btn-change-complete" type="button"><span>변경완료</span></button>
                            </div>
                        </div>
                        <!-- //gray-bx -->
                    </div>

                    <div class="data-grid birth">
                        <div class="birth-g-label">생년월일</div>
                        <div class="birth-g-value">1990-01-**</div>
                    </div>

                    <div class="data-grid full phone">
                        <div class="phone-g-label">휴대폰번호</div>
                        <div class="phone-g-value">
                            <span>010-****-1234</span>
                            <a class="a-link a-link-udln btn-change toggle-bx-btn" href="#none" target="_self" data-target="phone-edit"><span hidden>변경하기</span></a>
                        </div>
                    </div>
                    <div class="data-grid full toggle-bx-con phone-edit">
                        <!-- gray-bx -->
                        <div class="gray-bx">
                            <div class="phone-certify-step1">
                                <div class="m-input v3 with-button" data-component="MInput">
                                    <label class="a-label js-a-label fixed" for="phone-number">변경할 휴대폰번호 입력</label>
                                    <input class="a-input js-a-input"
                                           placeholder="숫자만 입력하세요"
                                           type="number"
                                           name="phone-number"
                                           id="phone-number"
                                           required=""
                                           data-validation-required-text="휴대폰번호를 입력해 주세요"
                                           data-validation-pattern-text="기존 휴대폰번호와 동일한 번호입니다.">
                                    <button class="a-button sm send-certify-num-btn" type="button"><span>인증번호 받기</span></button>
                                    <label class="a-label js-a-label" for="phone-number" data-placeholder=""></label>
                                </div>
                                <p class="guide-text">
                                    <span class="desc-text3">휴대폰으로 발송된 인증번호를 입력하세요. (3분이내)</span>
                                    <span class="desc-text3">인증번호가 도착하지 않을 시에는 재발송을 해주세요</span></span>
                                </p>
                            </div>
                            <div class="phone-certify-step2">
                                <div class="m-input v3 with-button" data-component="MInput">
                                    <label class="a-label js-a-label fixed" for="certify-number"></label>
                                    <input class="a-input js-a-input"
                                           placeholder="인증번호 입력"
                                           type="number"
                                           name="certify-number"
                                           id="certify-number"
                                           required=""
                                           data-validation-required-text="인증번호를 입력해 주세요"
                                           data-validation-pattern-text="">
                                    <button class="a-button sm send-certify-num-btn" type="button"><span>인증번호 확인</span></button>
                                    <label class="a-label js-a-label" for="certify-number" data-placeholder=""></label>
                                    <p class="input-guide-text">인증번호를 입력해 주세요.</p>
                                    <p class="certify-time">유효시간 <span class="time-m">03</span>:<span class="time-s">00</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- //gray-bx -->
                    </div>
                    <div class="data-grid full phone-agree">
                        <div class="checkbox-list">
                            <span class="m-checkbox v2 u-clearfix">
                                <input class="a-checkbox" type="checkbox" id="checkbox-sms">
                                <label class="a-label js-a-label custom-box" for="checkbox-sms" tabindex="0"></label>
                                <label class="a-label js-a-label" for="checkbox-sms">ARKET  상품/이벤트 정보 SMS 수신 동의[선택]</label>
                            </span>
                            <span class="m-checkbox v2 u-clearfix">
                                <input class="a-checkbox" type="checkbox" id="checkbox-phone">
                                <label class="a-label js-a-label custom-box" for="checkbox-phone" tabindex="0"></label>
                                <label class="a-label js-a-label" for="checkbox-phone">전화상담을 통한 상품/이벤트 정보 수신 동의[선택]</label>
                            </span>
                        </div>
                    </div>

                    <div class="data-grid full password">
                        <div class="password-g-label">
                            <span>비밀번호</span>
                            <a class="a-link a-link-udln btn-change toggle-bx-btn" href="#none" target="_self" data-target="password-edit"><span hidden>변경하기</span></a>
                        </div>
                    </div>

                    <div class="data-grid full toggle-bx-con password-edit">
                        <!-- gray-bx -->
                        <div class="gray-bx">
                            <!-- input : 기존 비밀번호 -->
                            <div class="m-input v3" data-component="MInput">
                                <label class="a-label js-a-label" for="old-password">기존 비밀번호</label>
                                <input class="a-input js-a-input"
                                       id="old-password"
                                       name="old-password"
                                       type="password"
                                       pattern=""
                                       placeholder="기존 비밀번호"
                                       data-validation-required-text="기존 비밀번호를 입력해 주세요."
                                       data-validation-pattern-text="기존 비밀번호와 동일하지 않습니다."
                                       required="">
                                <label class="a-label js-a-label" for="old-password"></label>
                                <p class="input-guide-text">기존비밀번호 입력</p>
                            </div><!-- // input : 기존 비밀번호 -->

                            <!-- input : 새 비밀번호 -->
                            <div class="m-input v3" data-component="MInput">
                                <label class="a-label js-a-label" for="new-password">새 비밀번호</label>
                                <input class="a-input js-a-input"
                                       id=""
                                       name="new-password"
                                       type="password"
                                       pattern=""
                                       placeholder="새 비밀번호"
                                       data-validation-required-text="새 비밀번호를 입력해 주세요."
                                       data-validation-pattern-text="비밀번호는 8~30자리 이내로 입력해주세요."
                                       required="">
                                <label class="a-label js-a-label" for="new-password"></label>
                                <p class="input-guide-text">8~30자 이내 영문자, 숫자, 특수문자 중 2가지 이상 포함</p>
                            </div><!-- // input : 새 비밀번호 -->

                            <!-- input : 새 비밀번호 확인 -->
                            <div class="m-input v3" data-component="MInput" data-validation-match-field="password">
                                <label class="a-label js-a-label" for="repeat-new-password">새 비밀번호 확인</label>
                                <input class="a-input js-a-input"
                                       id="repeat-new-password"
                                       name="repeat-new-password"
                                       type="password"
                                       placeholder="새 비밀번호 확인"
                                       data-validation-required-text="비밀번호를 재입력해주세요."
                                       data-validation-match-field-text="비밀번호와 비밀번호 확인을 동일하게 입력해주세요."
                                       required="">
                                <label class="a-label js-a-label" for="repeat-new-password"></label>
                                <p class="input-guide-text">새 비밀번호와 동일한 비밀번호를 입력해주세요.</p>
                            </div><!-- // input : 새 비밀번호 확인 -->
                            <button class="a-button btn-change-pw-confirm" type="button"><span>확인</span></button>
                        </div>
                        <!-- //gray-bx -->
                    </div>

                    <div class="data-grid full newsletter">
                        <div class="newsletter-g-label">뉴스레터 구독[선택]</div>
                        <div class="newsletter-g-value">
                            <div class="checkbox-list">
                                <span class="m-checkbox v2 u-clearfix">
                                    <input class="a-checkbox" type="checkbox" id="checkbox-email">
                                    <label class="a-label js-a-label custom-box" for="checkbox-email" tabindex="0"></label>
                                    <label class="a-label js-a-label" for="checkbox-email">ARKET 상품/이벤트 정보 이메일 수신  동의</label>
                                </span>
                                <span class="m-checkbox v2 u-clearfix">
                                    <input class="a-checkbox" type="checkbox" id="checkbox-gender">
                                    <label class="a-label js-a-label custom-box" for="checkbox-gender" tabindex="0"></label>
                                    <label class="a-label js-a-label" for="checkbox-gender">
                                        성별을 마케팅 정보로 활용하는 것에 동의

                                        <div class="radio-button-list">
                                            <div class="m-radio-button v2">
                                                <input type="radio" class="a-radio-button" id="male" name="gender">
                                                <label class="a-label js-a-label u-no-select custom-radio" for="male"></label>
                                                <label class="a-label js-a-label label-text" for="male">남</label>
                                            </div>
                                            <div class="m-radio-button v2">
                                                <input type="radio" class="a-radio-button" id="female" name="gender">
                                                <label class="a-label js-a-label u-no-select custom-radio" for="female"></label>
                                                <label class="a-label js-a-label label-text" for="female">여</label>
                                            </div>
                                        </div>

                                    </label>
                                </span>
                                <span class="m-checkbox v2 u-clearfix">
                                    <input class="a-checkbox" type="checkbox" id="checkbox-third">
                                    <label class="a-label js-a-label custom-box" for="checkbox-third" tabindex="0"></label>
                                    <label class="a-label js-a-label" for="checkbox-third">개인정보 제3자 (H&M) 정보제공 및 국외 이전(스웨덴) 동의[선택]</label>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="data-grid full staff-card">
                        <div class="staff-card-g-label">
                            임직원 카드 인증
                            <a class="a-link a-link-udln btn-certify toggle-bx-btn" href="#none" target="_self" data-target="staff-card-edit"><span hidden>번호 인증하기</span></a>
                        </div>
                    </div>

                    <div class="data-grid full toggle-bx-con staff-card-edit">
                        <!-- gray-bx -->
                        <div class="gray-bx">
                            <div class="m-input v3" data-component="MInput">
                                <label class="a-label js-a-label fixed" for="staff-card-number">임직원 카드 번호</label>
                                <input class="a-input js-a-input"
                                       placeholder="임직원 카드 번호 입력"
                                       type="tel"
                                       value=""
                                       pattern=""
                                       name="staff-card-number"
                                       id="staff-card-number"
                                       required=""
                                       data-validation-required-text="임직원 카드 번호를 입력해 주세요"
                                       data-validation-pattern-text="">
                                <label class="a-label js-a-label" for="staff-card-number" data-placeholder=""></label>
                                <p class="input-guide-text">최소 9자리 이상 입력</p>
                            </div>
                            <button class="a-button btn-certify-staff-card open-dialog-btn" data-target="lp-staff-card-save" type="button"><span>확인</span></button>
                        </div>
                        <!-- //gray-bx -->
                    </div>

                    <div class="data-grid full staff-card">
                        <div class="staff-card-g-label">
                            임직원 카드 인증
                            <a class="a-link a-link-udln btn-change toggle-bx-btn" href="#none" target="_self" data-target="staff-card-edit"><span hidden>변경하기</span></a>
                            <a class="a-link a-link-udln btn-del open-lightbox" data-template="lp-staff-card-del" data-classes="alert" href="#none" target="_self"><span>삭제</span></a>
                        </div>
                        <div class="staff-card-g-value">0123456789900</div>
                    </div>

                </div>
                <!-- //data-grids -->
            </div>
            <button class="a-button btn-profile-info-submit" type="button"><span>확인</span></button>
            <!-- //o-my-details-summary -->
        </div>
        <!-- //my-profile-content -->

        <!-- link-list-wrap -->
        <ul class="link-list-wrap">
            <li>
                <a class="a-link open-lightbox" data-template="lp-social-connect" href="#none" target="_self">
                    <h3 class="a-heading-3">개인계정 연결관리</h3>
                </a>
            </li>
            <li>
                <a class="a-link open-lightbox" data-template="lp-refund-receipt-info-mng" data-classes="is-large" href="#none" target="_self">
                    <h3 class="a-heading-3">환불계좌/현금영수증</h3>
                </a>
            </li>
            <li>
                <a class="a-link open-lightbox" data-template="lp-refund-receipt-info-mng-after" data-classes="is-large" href="#none" target="_self">
                    <h3 class="a-heading-3">환불계좌/현금영수증</h3>
                </a>
            </li>
            <li class="only-pc">
                <a class="a-link open-lightbox" data-template="lp-receipt-list" data-classes="is-large" href="#none" target="_self">
                    <h3 class="a-heading-3">영수증/세금계산서</h3>
                </a>
            </li>
            <li>
                <a class="a-link" href="#none" target="_self">
                    <h3 class="a-heading-3">회원탈퇴</h3>
                </a>
            </li>
        </ul>
        <!-- //link-list-wrap -->

    </div>
</div>

<!-- handlebars-template -->
<%# 가려진정보보기 %>
<%- include ("../../../handlebars/hndl-lp-show-hidden-info.ejs") %>

<%# 임직원카드번호저장 %>
<%- include ("../../../handlebars/hndl-lp-staff-card-save.ejs") %>

<%# 임직원카드번호삭제 %>
<%- include ("../../../handlebars/hndl-lp-staff-card-del.ejs") %>

<%# 개인계정 연결관리 %>
<%- include ("../../../handlebars/hndl-lp-social-connect.ejs") %>

<%# 개인계정 연결관리 > 등록 완료 %>
<%- include ("../../../handlebars/hndl-lp-social-connect-complete.ejs") %>

<%# 개인계정 연결관리 > 해제 완료 %>
<%- include ("../../../handlebars/hndl-lp-social-connect-cancel.ejs") %>

<%# 환불계좌/현금영수증 : 등록전 %>
<%- include ("../../../handlebars/hndl-lp-refund-receipt-info-mng.ejs") %>

<%# 환불계좌/현금영수증 : 등록후 %>
<%- include ("../../../handlebars/hndl-lp-refund-receipt-info-mng-after.ejs") %>

<%# 환불계좌삭제요청 %>
<%- include ("../../../handlebars/hndl-lp-refund-account-del.ejs") %>

<%# 환불계좌삭제완료 %>
<%- include ("../../../handlebars/hndl-lp-refund-account-del-complete.ejs") %>

<%# 환불계좌등록 %>
<%- include ("../../../handlebars/hndl-lp-refund-account-reg-complete.ejs") %>

<%# 영수증/세금계산서 리스트 %>
<%- include ("../../../handlebars/hndl-lp-receipt-list.ejs") %>

<%# 영수증/세금계산서 리스트(내용없음) %>
<%- include ("../../../handlebars/hndl-lp-receipt-list-noresult.ejs") %>

<%# 세금계산서 신청 %>
<%- include ("../../../handlebars/hndl-lp-receipt-apply-tax.ejs") %>

<%# 세금계산서 인쇄 %>
<%- include ("../../../handlebars/hndl-lp-receipt-print-tax.ejs") %>

<%# 신용카드 영수증 인쇄 %>
<%- include ("../../../handlebars/hndl-lp-receipt-print-credit.ejs") %>

<%# 현금 영수증 인쇄 %>
<%- include ("../../../handlebars/hndl-lp-receipt-print-cash.ejs") %>

<%# 영수증 인쇄 %>
<%- include ("../../../handlebars/hndl-lp-receipt-print.ejs") %>

<%# 현금 영수증 취소 확인 %>
<%- include ("../../../handlebars/hndl-lp-receipt-cash-cancle-confirm.ejs") %>

<%# 현금 영수증 취소 %>
<%- include ("../../../handlebars/hndl-lp-receipt-cash-cancle.ejs") %>
<!-- //handlebars-template -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelector('.menu-my-details');
        if(activeTab){
            activeTab.parentNode.classList.add('is-active');
        }
    })();
</script>
<!-- //tip -->