<%- include ("./common/layout-header") %>

<body data-component="OPage" class="layout-inside" id="oPage" data-locale-page-node-name="en" data-component-id="66152dea-5e9c-4757-9208-19efae8e2313">

<div class="coremetricsPageId" hidden="">Startpage 3</div>
<div class="coremetricsPageType" hidden="">Startpage 4</div>
<div class="coremetricsCategoryId" hidden="">Startpage 2</div>
<div class="coremetricsCategoryPath" hidden="">Startpage 1</div>

<input id="ogimage" type="hidden" value="">

<!-- Code to manage the mobile preview after css changes by HTML team -->

<div data-component="SkeletonLoading" id="lpResolveConfigs" data-lp-aspect-ratio-width="2" data-lp-aspect-ratio-height="3" data-lp-density-mobile="2" data-lp-density-tablet="2" data-lp-density-desk="2" data-lp-max-density="3" data-lp-format="webp,jpeg" data-lp-cache-threshold="50" data-lp-url="lp.arket.com" data-lp-uri="app006prod" data-lp-image-fit="containerWidth" data-lp-jpeg-quality-desktop="70" data-lp-webp-quality-mobile="70" data-lp-webp-quality-tablet="70" data-lp-jpeg-quality-tablet="70" data-lp-webp-quality-desktop="70" data-lp-jpeg-quality-mobile="70" data-component-id="6dbb0cd9-2cf4-4569-a46d-c4294b9c76a2"></div>

<script src="<%= pageInfo.root %>/org/etc/designs/appeaser/shared/clientlibs/components.min.0ff734763f97062b81ea61876bc97b89.js"></script>
<script src="https://www.arket.com/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/selectCountryLightbox_Clientlib.min.js"></script>

<div class="u-no-select">
    <header data-component="OHeader" class="o-header hide-departments">
        <div class="header-bar header-bar-for-landing">
            <h1 class="a-heading-1 seo-heading landing-page-title"><span>랜딩페이지 제목</span></h1>
            <button type="button" class="a-button-nostyle a-back-move"></button>
        </div>
    </header>
</div>

<!-- o-page-content -->
<%- include ("./pages/"+targetPath) %>
<!-- //o-page-content -->

<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/shared/head.min.5e1856d1a93320e7fb437c09aa90d73b.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/application.min.73b337f60c6d73af4c93d85989b79c31.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/shared/rakuten.min.747914cb35be38661f59d65b3ef708d2.js"></script>-->
    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend.min.53fbce400c01c000a192f9a286ec0c06.js"></script>
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/controllers.min.2c7b678057024241af565e0ec9b1b348.js"></script>-->
    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/controllers/controllers.js"></script>
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/global_Clientlib.min.bffddb20c0117ec36495ecd499273e2a.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/product_Clientlib.min.09ff425f6b46f61e5c6429be9e290878.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/genericpage_Clientlib.min.44bc583ac294a90847353b251f2c46c0.js"></script>-->

<!-- frontend.renew.js -->
    <script src="<%= pageInfo.root %>/js/frontend.renew.js"></script>
<!-- //frontend.renew.js -->

</body>
</html>