<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="p:domain_verify" content="12424d5c1bfd4a43b3d3a555349a3cb8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>ARKET - Essential products for men, women, children and the home WW</title>

    <meta name="description" content="ARKET is a modern-day market and lifestyle destination offering essential products for men, women, children and the home. ">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="Essential products for men, women, children and the home">
    <meta property="og:description" content="ARKET is a modern-day market and lifestyle destination offering essential products for men, women, children and the home. ">
    <meta property="og:site_name" content="ARKET">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.arket.com/<%= pageInfo.lang %>/index.html">
    <meta property="og:image" content="https:">

    <meta property="fb:app_id" content="138733209821465">

    <link rel="shortcut icon" type="image/png" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/favicons/favicon-32.png">
    <link rel="apple-touch-icon" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/favicons/favicon-180.png">

    <link rel="canonical" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/index.html">

    <!--<link rel="stylesheet" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend.min.a033ce601ceae2b3ed0d1dc0a1cc8264.css" type="text/css">-->
    <link rel="stylesheet" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend.min.1987a0f885a03ad325376517da7bed68.css" type="text/css">

    <!-- frontend.renew.css -->
    <link rel="stylesheet" href="<%= pageInfo.root %>/css/frontend.renew.css" type="text/css">
    <!-- //frontend.renew.css -->

    <script src="<%= pageInfo.root %>/org/etc/designs/hm/clientlibs/shared/jquery.min.98d49f2a9477a5d4f9edef7b7e9698b1.js"></script>
    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend/js/modernizr-custom.min.js"></script>
    <script src="<%= pageInfo.root %>/org/metrics/default/touchpoint.js"></script>
</head>

<body data-component="OPage" class="layout-inside" id="oPage" data-locale-page-node-name="en" data-component-id="66152dea-5e9c-4757-9208-19efae8e2313">

    <div class="coremetricsPageId" hidden="">Startpage 3</div>
    <div class="coremetricsPageType" hidden="">Startpage 4</div>
    <div class="coremetricsCategoryId" hidden="">Startpage 2</div>
    <div class="coremetricsCategoryPath" hidden="">Startpage 1</div>

    <input id="ogimage" type="hidden" value="">

    <!-- Code to manage the mobile preview after css changes by HTML team -->

    <div data-component="SkeletonLoading" id="lpResolveConfigs" data-lp-aspect-ratio-width="2" data-lp-aspect-ratio-height="3" data-lp-density-mobile="2" data-lp-density-tablet="2" data-lp-density-desk="2" data-lp-max-density="3" data-lp-format="webp,jpeg" data-lp-cache-threshold="50" data-lp-url="lp.arket.com" data-lp-uri="app006prod" data-lp-image-fit="containerWidth" data-lp-jpeg-quality-desktop="70" data-lp-webp-quality-mobile="70" data-lp-webp-quality-tablet="70" data-lp-jpeg-quality-tablet="70" data-lp-webp-quality-desktop="70" data-lp-jpeg-quality-mobile="70" data-component-id="6dbb0cd9-2cf4-4569-a46d-c4294b9c76a2"></div>

    <div class="firsttimelanguageselector first-time-language-selector">
        <script type="text/x-handlebars-template" id="language-select">
        </script>
    </div>

    <span id="arketeotflag" data-arketeot-flag="true"></span>
    <span id="countryDataStorageEOT" data-country-codes="de_AT,nl_BE,cs_CZ,da_DK,fr_FR,fi_FI,de_DE,hu_HU,en_IE,it_IT,nl_NL,no_NO,pl_PL,pt_PT,sk_SK,sl_SI,es_ES,sv_SE,en_GB,en_WW,bg_BG,hr_HR,el_CY,et_EE,el_GR,lv_LV,lt_LT,fr_LU,ro_RO,en_DE,de_CH,en_CH" data-country-names="Austria,Belgium,Czech Republic,Denmark,France,Finland,Germany,Hungary,Ireland,Italy,Netherlands,Norway,Poland,Portugal,Slovakia,Slovenia,Spain,Sweden,United Kingdom, International,Bulgaria,Croatia,Cyprus,Estonia,Greece,Latvia,Lithuania,Luxembourg,Romania,Germany,Switzerland,Switzerland" data-country-flags="https://www.arket.com/content/dam/P11/country-flags/austria.svg,https://www.arket.com/content/dam/P11/country-flags/belgium.svg,https://www.arket.com/content/dam/P11/country-flags/czech_republic.svg,https://www.arket.com/content/dam/P11/country-flags/denmark.svg,https://www.arket.com/content/dam/P11/country-flags/france.svg,https://www.arket.com/content/dam/P11/country-flags/finland.svg,https://www.arket.com/content/dam/P11/country-flags/germany.svg,https://www.arket.com/content/dam/P11/country-flags/hungary.svg,https://www.arket.com/content/dam/P11/country-flags/ireland.svg,https://www.arket.com/content/dam/P11/country-flags/italy.svg,https://www.arket.com/content/dam/P11/country-flags/netherlands.svg,https://www.arket.com/content/dam/P11/country-flags/norway.svg,https://www.arket.com/content/dam/P11/country-flags/poland.svg,https://www.arket.com/content/dam/P11/country-flags/portugal.svg,https://www.arket.com/content/dam/P11/country-flags/slovakia.svg,https://www.arket.com/content/dam/P11/country-flags/slovenia.svg,https://www.arket.com/content/dam/P11/country-flags/spain.svg,https://www.arket.com/content/dam/P11/country-flags/swedish-flag.svg,https://www.arket.com/content/dam/P11/country-flags/uk.svg,https://www.arket.com/content/dam/P11/country-flags/Global.svg,https://www.arket.com/content/dam/P11/country-flags/Bulgaria.svg,https://www.arket.com/content/dam/P11/country-flags/Croatia.svg,https://www.arket.com/content/dam/P11/country-flags/cyprus_flag.svg,https://www.arket.com/content/dam/P11/country-flags/Estonia.svg,https://www.arket.com/content/dam/P11/country-flags/Greece.svg,https://www.arket.com/content/dam/P11/country-flags/Latvia.svg,https://www.arket.com/content/dam/P11/country-flags/Lithuania.svg,https://www.arket.com/content/dam/P11/country-flags/Luxembourg.svg,https://www.arket.com/content/dam/P11/country-flags/Romania.svg,https://www.arket.com/content/dam/P11/country-flags/germany.svg,https://www.arket.com/content/dam/P11/country-flags/switzerland.svg,https://www.arket.com/content/dam/P11/country-flags/switzerland.svg" data-country-languages=" , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,English,German,English"></span>

    <div id="accountDataStorage" hidden="" data-nodes-map="Yes I would like to receive promotions from Arket a brand of the H&amp;amp;M Group. I confirm that I’m 18 years or older. I consent to let H&amp;amp;M Group to process my personal data in order to provide me with personalised promotions in my social media feed email and through SMS in accordance with the&nbsp;<a class=&quot;a-link&quot; href=&quot;https://www.arket.com/content/p11/en/customer-service/privacy-notice/promotions.html&quot;>privacy notice</a>." data-locale-info-locale="hm.multiCountry.getLocale('HMCORP_locale','en')" data-locale-info-new="WW" data-locale-info-country="hm.multiCountry.getCountryCode('HMCORP_locale')"></div>
    <input type="hidden" id="localeNode" data-base-store-code="p11-global">
    <div id="headerDataStorage" data-testbuy="false" data-context-path="en" data-is-order-confirmation-page="false" hidden=""></div>

    <!-- m-site-banner : 띠배너 -->
    <!-- to Dev [toggle Prop] : background-color  -->
    <div id="site-banner-id" data-component="MSiteBanner" class="m-site-banner slide-down" style="background-color: rgb(0, 0, 0);">
        <input type="hidden" name="startDateField" value="2021/06/10 08:10:00" id="sitebannercountsd">
        <input type="hidden" name="endDateField" value="2021/9/13 18:45:00" id="sitebannercounted">
        <div>
            <!-- to Dev [toggle Class] : site-banner-desktop, site-banner-mobile  -->
            <div class="a-paragraph site-banner-desktop is-richtext" style="padding-top:15px;padding-bottom:15px;color:#FFFFFF">
                <a title="ARKET SALE" href="/en/sale.html">SALE —</a>
                U
                <a href="/en/sale.html">p to 50% off |</a>
                <a title="Women SALE" href="/en/women/sale.html">Women,</a>
                <a title="Men SALE" href="/en/men/sale.html">Men,</a>
                <a title="Children SALE" href="/en/children/sale.html">Children</a>
                <a title="Homeware SALE" href="/en/homeware/sale.html">&amp; Homeware</a>
                &nbsp;&nbsp;
                <section id="desktoptimer">
                    <input class="sitebannertimer" id="desktopdaysid" value="01">
                    <span id="desktopdayspan" class="timeLabel">D</span>
                    <input class="sitebannertimer" id="desktophoursid" value="43">
                    <span class="timeLabel">H</span>
                    <input class="sitebannertimer" id="desktopminutesid" value="21">
                    <span class="timeLabel">M</span>
                    <input class="sitebannertimer" id="desktopsecondsid" value="55">
                    <span class="timeLabel">S</span>
                </section>
            </div>

            <!-- to Dev [toggle Class] : site-banner-desktop, site-banner-mobile  -->
            <div class="a-paragraph site-banner-mobile is-richtext" style="padding-top:10px;padding-bottom:10px;color:#FFFFFF">
                <a href="/en/sale.html">SALE —</a>
                U
                <a href="/en/sale.html">p to 50% off</a>
            </div>
        </div>
    </div>
    <script>
        setTimeout(function(){
            displaySiteBannerCountDown();
        },3000);
    </script>
    <!-- //m-site-banner : 띠배너 -->

    <div class="u-no-select">
        <div class="a-overlay js-a-overlay q-opacity-0" data-component="AOverlay" data-component-id="00dc7c54-c454-4add-9da6-62430cfc116d"></div>
        <div id="popupOutOfStock" class="m-out-of-stock" data-component="MOutOfStockCart" aria-hidden="true" data-component-id="b4808637-9ae3-4f32-9137-413fafd34485">
            <div class="out-of-stock-info">
                <p class="a-paragraph max-limit-text popupText">The Product You have selected is Not Available now</p>
            </div>
            <div class="close-out-of-stock">
                <button class="a-button-nostyle a-icon-close a-icon" type="button" aria-label="Close"></button>
            </div>
        </div>

        <!-- header -->
        <%
            if(targetPath == "ko/search.ejs"){
        %>
            <%- include ("./common/header-for-search.ejs") %>
        <%
            }else {
        %>
            <%- include ("./common/header.ejs") %>
        <%
            }
        %>
        <!-- //header -->

        <!-- o-lightbox -->
        <div data-component="OLightbox" class="o-lightbox">
            <div class="lightbox-wrapper">
                <div class="lightbox-header"></div>
                <div class="lightbox-content js-content u-clearfix"></div>
                <button type="button" class="a-button-nostyle m-button-icon a-icon-close js-close-button"></button>
            </div>
        </div>
        <!-- //o-lightbox -->

        <!-- m-product-zoom -->
        <div data-component="MProductZoom" class="m-product-zoom">
            <button type="button" class="a-button-nostyle a-icon-close-circle"></button>
            <div class="img-wrapper"></div>
        </div>
        <!-- //m-product-zoom -->
    </div>

    <input type="hidden" id="georguri" value="?goeorguri=%2Fen%2Findex.html">
    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/shared/clientlibs/components.min.0ff734763f97062b81ea61876bc97b89.js"></script>

    <script type="text/html" id="country-selector">
        <div class="selectCountryLightboxEOT parbase">
            <div data-component="MCountrySelection" class="m-country-selection with-flags">
                <div class="matrix-content">
                    <div class="country-selector-title">
                        <h2 class="a-heading-2">배송 국가를 선택하세요</h2>
                    </div>

                    <div class="country-container">
                        <a href="https://www.arket.com/content/p11/page.countryselector.de_AT.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="AT">
                            <img alt="Austria" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/austria.svg" />
                            <span>오스트리아</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.nl_BE.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="BE">
                            <img alt="Belgium" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/belgium.svg" />
                            <span>벨기에</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.bg_BG.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="BG">
                            <img alt="Bulgaria" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Bulgaria.svg" />
                            <span>불가리아</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.hr_HR.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="HR">
                            <img alt="Croatia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Croatia.svg" />
                            <span>크로아티아</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.el_CY.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="CY">
                            <img alt="Cyprus" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/cyprus_flag.svg" />
                            <span>키프로스</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.cs_CZ.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="CZ">
                            <img alt="Czech Republic" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/czech_republic.svg" />
                            <span>체코 공화국</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.da_DK.en_eur.DKK.jsp" target="_self" class="a-link internal-link m-country-select" data-country="DK">
                            <img alt="Denmark" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/denmark.svg" />
                            <span>덴마크</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.et_EE.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="EE">
                            <img alt="Estonia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Estonia.svg" />
                            <span>에스토니아</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.fi_FI.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="FI">
                            <img alt="Finland" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/finland.svg" />
                            <span>핀란드</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.fr_FR.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="FR">
                            <img alt="France" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/france.svg" />
                            <span>프랑스</span>
                        </a>

                        <button type="button" class="a-button-nostyle m-country-select" data-country="DE">
                            <img alt="Germany" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/germany.svg" />
                            <span>Germany</span>
                            <div data-component="MDropdownFilter" class="m-dropdown-filter country-dropdown has-error">
                                <input placeholder="Germany" class="a-input filter" type="text" required="" onfocus="blur();" />
                                <ul>
                                    <li class="ul-container">
                                        <ul class="options">
                                            <li class="a-option">
                                                <a href="https://www.arket.com/content/p11/page.countryselector.de_DE.de_de.EUR.jsp" target="_self" class="a-link is-multilanguage internal-link">독일</a>
                                            </li>
                                            <li class="a-option">
                                                <a href="https://www.arket.com/content/cos/page.countryselector.en_DE.en_de.EUR.jsp" target="_self" class="a-link is-multilanguage internal-link">영어</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </button>

                        <a href="https://www.arket.com/content/p11/page.countryselector.el_GR.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="GR">
                            <img alt="Greece" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Greece.svg" />
                            <span>그리스</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.hu_HU.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="HU">
                            <img alt="Hungary" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/hungary.svg" />
                            <span>헝가리</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.en_IE.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="IE">
                            <img alt="Ireland" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/ireland.svg" />
                            <span>아일랜드</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.it_IT.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="IT">
                            <img alt="Italy" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/italy.svg" />
                            <span>이탈리아</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.lv_LV.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="LV">
                            <img alt="Latvia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Latvia.svg" />
                            <span>라트비아</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.lt_LT.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="LT">
                            <img alt="Lithuania" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Lithuania.svg" />
                            <span>리투아니아</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.fr_LU.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="LU">
                            <img alt="Luxembourg" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Luxembourg.svg" />
                            <span>록셈부르크</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.nl_NL.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="NL">
                            <img alt="Netherlands" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/netherlands.svg" />
                            <span>네덜란드</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.no_NO.en_eur.NOK.jsp" target="_self" class="a-link internal-link m-country-select" data-country="NO">
                            <img alt="Norway" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/norway.svg" />
                            <span>노르웨이</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.pl_PL.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="PL">
                            <img alt="Poland" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/poland.svg" />
                            <span>폴란드</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.pt_PT.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="PT">
                            <img alt="Portugal" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/portugal.svg" />
                            <span>포르투갈</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.ro_RO.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="RO">
                            <img alt="Romania" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Romania.svg" />
                            <span>루마니아</span>
                        </a>

                        <a href="https://www.arket.com/ru_ru/" target="_self" class="a-link m-country-select" data-country="RU">
                            <img alt="Russia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Russian.svg" />
                            <span>러시아</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.sk_SK.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="SK">
                            <img alt="Slovakia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/slovakia.svg" />
                            <span>솔로바키아</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.sl_SI.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="SI">
                            <img alt="Slovenia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/slovenia.svg" />
                            <span>슬로베니아</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.sl_SI.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="SI">
                            <img alt="South Korea" class="a-image icon-flag" src="<%= pageInfo.root %>/images/icon/icon-country-korea.svg" />
                            <span>대한민국</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.es_ES.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="ES">
                            <img alt="Spain" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/spain.svg" />
                            <span>스페인</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselector.sv_SE.en_eur.SEK.jsp" target="_self" class="a-link internal-link m-country-select" data-country="SE">
                            <img alt="Sweden" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/swedish-flag.svg" />
                            <span>스웨덴</span>
                        </a>

                        <button type="button" class="a-button-nostyle m-country-select" data-country="CH">
                            <img alt="Switzerland" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/switzerland.svg" />
                            <span>Switzerland</span>
                            <div data-component="MDropdownFilter" class="m-dropdown-filter country-dropdown has-error">
                                <input placeholder="Switzerland" class="a-input filter" type="text" required="" onfocus="blur();" />
                                <ul>
                                    <li class="ul-container">
                                        <ul class="options">
                                            <li class="a-option">
                                                <a href="https://www.arket.com/content/p11/page.countryselector.de_CH.de_ch.CHF.jsp" target="_self" class="a-link is-multilanguage internal-link">독일</a>
                                            </li>
                                            <li class="a-option">
                                                <a href="https://www.arket.com/content/p11/page.countryselector.en_CH.en_ch.CHF.jsp" target="_self" class="a-link is-multilanguage internal-link">영문</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </button>

                        <a href="https://www.arket.com/content/p11/page.countryselector.en_GB.en_eur.GBP.jsp" target="_self" class="a-link internal-link m-country-select" data-country="GB">
                            <img alt="United Kingdom" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/uk.svg" />
                            <span>영국</span>
                        </a>

                        <a href="https://www.arket.com/content/p11/page.countryselectorGlobal.en_WW.en.USD.jsp" target="_self" class="a-link internal-link m-country-select" data-country="WW">
                            <img alt="International Shipping" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Global.svg" />
                            <span>국제배송</span>
                        </a>
                    </div>
                    <p class="a-paragraph">정확한 가격, 배송 시간 및 배송비를<br class="only-m"> 확인하려면 국가를 선택하세요.<br>상품의 가격은 구가별 가격 정책 및 세금에 따라<br class="only-m">달라 질 수 있는 점에 유의하세요.</p>
                </div>
            </div>
        </div>
    </script>

    <script src="https://www.arket.com/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/selectCountryLightbox_Clientlib.min.js"></script>

    <script type="text/html" id="select-country-checkout">
        <div class="m-change-country-lightbox is-checkout">
            <h2 class="a-heading-2">Change location</h2>
            <p class="a-paragraph">Your shopping bag will be moved to the selected location.</p>
            <a class="a-button is-primary" href="/entrance.html?goeorguri=%2Fen%2Findex.html">Continue</a>
            <button class="a-button is-secondary js-close-button"><span>false</span></button>
        </div>
    </script>

    <!-- handlebars-template -->
    <%- include ("./common/handlebars-template.ejs") %>
    <!-- //handlebars-template -->

    <!-- o-page-content -->
    <%- include ("./pages/"+targetPath) %>
    <!-- //o-page-content -->

    <!-- footer -->
    <%- include ("./common/footer.ejs") %>
    <!-- //footer -->

    <div id="selectCountryLightboxType" data-lightbox-type="is-multi-language" hidden=""></div>
    
    <!-- o-cookie-message -->
    <%- include ("./common/cookie-message.ejs") %>
    <!-- //o-cookie-message -->

    <div id="messageBarGlobalSellingDataStorage"
         data-here-text="here"
         data-delivery-link="/en/customer-service/delivery-methods.html"
         data-shipping-location="Change location"
         data-shipping-message="Your shipping location is set to"
         data-global-selling-enabled=""
         hidden=""></div>

    <div class="jseditor"></div>

<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/shared/head.min.5e1856d1a93320e7fb437c09aa90d73b.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/application.min.73b337f60c6d73af4c93d85989b79c31.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/shared/rakuten.min.747914cb35be38661f59d65b3ef708d2.js"></script>-->
    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend.min.53fbce400c01c000a192f9a286ec0c06.js"></script>
    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/controllers.min.2c7b678057024241af565e0ec9b1b348.js"></script>
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/global_Clientlib.min.bffddb20c0117ec36495ecd499273e2a.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/product_Clientlib.min.09ff425f6b46f61e5c6429be9e290878.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/genericpage_Clientlib.min.44bc583ac294a90847353b251f2c46c0.js"></script>-->

    <!-- frontend.renew.js -->
    <script src="<%= pageInfo.root %>/js/frontend.renew.js"></script>
    <!-- //frontend.renew.js -->

</body>
</html>