<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="p:domain_verify" content="12424d5c1bfd4a43b3d3a555349a3cb8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>ARKET - Essential products for men, women, children and the home WW</title>

    <meta name="description" content="ARKET is a modern-day market and lifestyle destination offering essential products for men, women, children and the home. ">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="Essential products for men, women, children and the home">
    <meta property="og:description" content="ARKET is a modern-day market and lifestyle destination offering essential products for men, women, children and the home. ">
    <meta property="og:site_name" content="ARKET">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.thehyundai.com/">
    <meta property="og:image" content="https:">

    <link rel="stylesheet" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend.min.1987a0f885a03ad325376517da7bed68.css" type="text/css">

    <!-- frontend.renew.css -->
    <link rel="stylesheet" href="<%= pageInfo.root %>/css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="<%= pageInfo.root %>/css/frontend.renew.css" type="text/css">
    <!-- //frontend.renew.css -->

    <script src="<%= pageInfo.root %>/org/etc/designs/hm/clientlibs/shared/jquery.min.98d49f2a9477a5d4f9edef7b7e9698b1.js"></script>
    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend/js/modernizr-custom.min.js"></script>
    <script src="<%= pageInfo.root %>/org/metrics/default/touchpoint.js"></script>

</head>

<body data-component="OPage" class="layout-inside" id="oPage" data-locale-page-node-name="en" data-component-id="66152dea-5e9c-4757-9208-19efae8e2313">

    <div class="coremetricsPageId" hidden="">Startpage 3</div>
    <div class="coremetricsPageType" hidden="">Startpage 4</div>
    <div class="coremetricsCategoryId" hidden="">Startpage 2</div>
    <div class="coremetricsCategoryPath" hidden="">Startpage 1</div>

    <input id="ogimage" type="hidden" value="">

    <!-- Code to manage the mobile preview after css changes by HTML team -->

    <div data-component="SkeletonLoading" id="lpResolveConfigs" data-lp-aspect-ratio-width="2" data-lp-aspect-ratio-height="3" data-lp-density-mobile="2" data-lp-density-tablet="2" data-lp-density-desk="2" data-lp-max-density="3" data-lp-format="webp,jpeg" data-lp-cache-threshold="50" data-lp-url="lp.arket.com" data-lp-uri="app006prod" data-lp-image-fit="containerWidth" data-lp-jpeg-quality-desktop="70" data-lp-webp-quality-mobile="70" data-lp-webp-quality-tablet="70" data-lp-jpeg-quality-tablet="70" data-lp-webp-quality-desktop="70" data-lp-jpeg-quality-mobile="70" data-component-id="6dbb0cd9-2cf4-4569-a46d-c4294b9c76a2"></div>

    <div class="firsttimelanguageselector first-time-language-selector">
        <script type="text/x-handlebars-template" id="language-select"></script>
    </div>

    <div class="u-no-select">
        <div class="a-overlay js-a-overlay q-opacity-0" data-component="AOverlay"></div>
        <div id="popupOutOfStock" class="m-out-of-stock" data-component="MOutOfStockCart" aria-hidden="true">
            <div class="out-of-stock-info">
                <p class="a-paragraph max-limit-text popupText">The Product You have selected is Not Available now</p>
            </div>
            <div class="close-out-of-stock">
                <button class="a-button-nostyle a-icon-close a-icon" type="button" aria-label="Close"></button>
            </div>
        </div>

        <!-- o-lightbox -->
        <div data-component="OLightbox" class="o-lightbox">
            <div class="lightbox-wrapper">
                <div class="lightbox-header"></div>
                <div class="lightbox-content js-content u-clearfix"></div>
                <button type="button" class="a-button-nostyle m-button-icon a-icon-close js-close-button"></button>
            </div>
        </div>
        <!-- //o-lightbox -->

        <!-- m-product-zoom -->
        <div data-component="MProductZoom" class="m-product-zoom">
            <button type="button" class="a-button-nostyle a-icon-close-circle"></button>
            <div class="img-wrapper"></div>
        </div>
        <!-- //m-product-zoom -->
    </div>

    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/shared/clientlibs/components.min.0ff734763f97062b81ea61876bc97b89.js"></script>

    <!-- handlebars-template -->
    <%- include ("./common/handlebars-template.ejs") %>
    <!-- //handlebars-template -->

    <!-- o-page-content -->
    <%- include ("./pages/"+targetPath) %>
    <!-- //o-page-content -->
    
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/shared/head.min.5e1856d1a93320e7fb437c09aa90d73b.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/application.min.73b337f60c6d73af4c93d85989b79c31.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/shared/rakuten.min.747914cb35be38661f59d65b3ef708d2.js"></script>-->
    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend.min.53fbce400c01c000a192f9a286ec0c06.js"></script>
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/controllers.min.2c7b678057024241af565e0ec9b1b348.js"></script>-->
    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/controllers/controllers.js"></script>
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/global_Clientlib.min.bffddb20c0117ec36495ecd499273e2a.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/product_Clientlib.min.09ff425f6b46f61e5c6429be9e290878.js"></script>-->
<!--    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/clientlibs/aem-clientlibs/genericpage_Clientlib.min.44bc583ac294a90847353b251f2c46c0.js"></script>-->

    <!-- frontend.renew.js -->
    <script src="<%= pageInfo.root %>/js/jquery-ui.js"></script>
    <script src="<%= pageInfo.root %>/js/frontend.renew.js"></script>
    <!-- //frontend.renew.js -->

</body>
</html>