<div data-component="OPageContent" class="o-page-content suppliers-econyl">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">AQUAFIL</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field is-wide">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        Aquafil is the supplier behind ECONYL® - an innovative nylon yarn, produced entirely from recovered fishnets and other nylon waste.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Through an advanced recycling process, the waste materials are broken down to their raw-material state and then rebuilt with the exact same performance as nylon produced from fossil materials. The ECONYL® process can be repeated infinitely and thus forms the basis for a closed-loop cycle of regenerated nylon.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div style="color:inherit" class="o-chooser large-text" data-component="OChooser" data-type="large-text">
            <div class="item-container">
                <div class="m-chooser-item large-text">
                    <a href="#women" target="_self" class="a-link">
                        <img class="a-image" src="" alt="Women">
                        <span class="anchor-title">Women</span>
                    </a>
                </div>
                <div class="m-chooser-item large-text">
                    <a href="#men" target="_self" class="a-link">
                        <img class="a-image" src="" alt="Men">
                        <span class="anchor-title">Men</span>
                    </a>
                </div>
                <div class="m-chooser-item large-text">
                    <a href="#children" target="_self" class="a-link">
                        <img class="a-image" src="" alt="Children">
                        <span class="anchor-title">Children</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2">
                <span class="heading-cap">Women</span>
                <span class="heading-value">Swimwear</span>
            </h2>
        </div>
    </div>

    <div class="o-width spacer noLines wc-75">
        <div class="o-layout has-products" data-chooser="Women" data-chooser-title="Women" data-chooser-image-alt="Women" id="women">
            <div class="layout-row-1"></div>
            <div class="layout-1">
                <div class="layout-row-2">
                    <div class="productlisting parbase section">
                        <style type="text/css">
                            html.no-touchevents .o-product .image:hover .a-image.default-image {
                                display: inline-block!important;
                            }
                        </style>
                        <div class="parbase sdp-component product-listing align-below">
                            <!-- o-product-listing -->
                            <div id="lazyLoadSpan">
                                <div id="reloadProducts" class="o-product-listing fixed-columns-5 center-aligned u-align-center">
                                    <%# md-o-product-listing-product-list %>
                                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                                </div>
                            </div>

                            <span id="lazyDiv">
                                <%# md-o-lazy-load %>
                                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
                            </span>
                            <!-- //o-product-listing -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Men</span>
                <span class="heading-value">Swimwear</span>
            </h2>
        </div>
    </div>

    <div class="o-width spacer noLines wc-75">
        <div class="o-layout has-products" data-chooser="Men" data-chooser-title="Men" data-chooser-image-alt="Men" id="men">
            <div class="layout-row-1"></div>
            <div class="layout-1">
                <div class="layout-row-2">
                    <div class="productlisting parbase section">
                        <style type="text/css">
                            html.no-touchevents .o-product .image:hover .a-image.default-image {
                                display: inline-block!important;
                            }
                        </style>
                        <div class="parbase sdp-component product-listing align-below">
                            <!-- o-product-listing -->
                            <div id="lazyLoadSpan">
                                <div id="reloadProducts" class="o-product-listing fixed-columns-5 center-aligned u-align-center">
                                    <%# md-o-product-listing-product-list %>
                                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                                </div>
                            </div>

                            <span id="lazyDiv">
                                <%# md-o-lazy-load %>
                                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
                            </span>
                            <!-- //o-product-listing -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Children</span>
                <span class="heading-value">Swimwear</span>
            </h2>
        </div>
    </div>

    <div class="o-width spacer noLines wc-75">
        <div class="o-layout has-products" data-chooser="Children" data-chooser-title="Children" data-chooser-image-alt="Children" id="children">
            <div class="layout-row-1"></div>
            <div class="layout-1">
                <div class="layout-row-2">
                    <div class="productlisting parbase section">
                        <style type="text/css">
                            html.no-touchevents .o-product .image:hover .a-image.default-image {
                                display: inline-block!important;
                            }
                        </style>
                        <div class="parbase sdp-component product-listing align-below">
                            <!-- o-product-listing -->
                            <div id="lazyLoadSpan">
                                <div id="reloadProducts" class="o-product-listing fixed-columns-5 center-aligned u-align-center">
                                    <%# md-o-product-listing-product-list %>
                                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                                </div>
                            </div>

                            <span id="lazyDiv">
                                <%# md-o-lazy-load %>
                                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
                            </span>
                            <!-- //o-product-listing -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width spacer wc-75"></div>

    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-code">material</span>
                        ECONYL®
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                </p><p style="text-align: left;" class="a-paragraph">Through an advanced recycling process where nylon waste is broken down and returned to its original building blocks, it is possible to rebuild a completely new nylon fibre with the exact same purity and performance as virgin nylon, without the use of raw fossil materials. Nylon is a synthetic textile fibre that can be recycled endlessly with retained quality, and the ECONYL® Regeneration System thus forms a closed-loop cycle of regenerated – and regenerable – nylon products.</p>
                <p class="a-paragraph">The making of ECONYL® yarn starts with the rescue of waste and surplus materials that otherwise would have been unused or gone to landfills. Textile leftovers, industrial plastic components, carpeting and, not least, fishnets from the world’s oceans – all composed of nylon – are collected and carefully tested at the laboratory in Ljubljana, Slovenia.&nbsp;</p>
                <p class="a-paragraph">The fishnets are retrieved from all parts of the world – from the North Sea to South Asia – and include so-called ‘ghost nets’, which have been lost and left at sea and pose a serious threat to marine life. The waste is collected through different initiatives and projects, such as The Healthy Seas, where volunteer divers recover nets from the bottom of the European seas, and Net-Works™, which encourages coastal communities in the Philippines and Cameroon to collect and sell discarded fishing nets.</p>
                <p class="a-paragraph">By melting the different kinds of waste materials and ‘un-zipping’ the nylon, they become identical to the material produced by fossil oil. From here, fresh nylon is rebuilt by linking the chains of molecules anew, and then spun to form a textile yarn.&nbsp;</p>
                <p class="a-paragraph">Regeneration means that the material is recycled with perfect quality – retaining nylon’s inherent strength, durability and lightness – and that our new products can be potentially recycled infinitely. The process helps saving crude oil, avoiding CO2 emissions, as well as reclaiming waste materials from the environment. Excess energy from the ECONYL® plant in Ljubljana is used to heat the pools of neighbouring Atlantis, the city’s large water park.</p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width spacer wc-50">
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;"><b>Browse our assortment</b></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <%# md-o-teaser %>
    <%- include ("../../../../common/md-o-teaser.ejs") %>

</div>