<div data-component="OPageContent" class="o-page-content suppliers-econyl footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">AQUAFIL</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field is-wide">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>Aquafil은 회수된 어망 및 기타 나일론 폐기물에서 생산된 혁신적인 나일론 원사인 ECONYL®의 공급업체입니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    첨단 재활용 공정을 통해 폐자재를 원료 상태로 분해한 후 화석 원료로 생산된 나일론과 동일한 성능으로 재건합니다. ECONYL® 공정은 무한히 반복될 수 있으므로 재생 나일론의 루프 사이클의 기초를 형성합니다.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div style="color:inherit" class="o-chooser large-text" data-component="OChooser" data-type="large-text">
            <div class="item-container">
                <div class="m-chooser-item large-text">
                    <a href="#women" target="_self" class="a-link">
                        <img class="a-image" src="" alt="Women">
                        <span class="anchor-title">Women</span>
                    </a>
                </div>
                <div class="m-chooser-item large-text">
                    <a href="#men" target="_self" class="a-link">
                        <img class="a-image" src="" alt="Men">
                        <span class="anchor-title">Men</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2">
                <span class="heading-cap">Women</span>
                <span class="heading-value">Swimwear</span>
            </h2>
        </div>
    </div>

    <div class="o-width spacer noLines wc-75">
        <div class="o-layout has-products" data-chooser="Women" data-chooser-title="Women" data-chooser-image-alt="Women" id="women">
            <div class="layout-row-1"></div>
            <div class="layout-1">
                <div class="layout-row-2">
                    <div class="productlisting parbase section">
                        <div class="parbase sdp-component product-listing align-below">
                            <!-- o-product-listing -->
                            <div id="lazyLoadSpan">
                                <div id="reloadProducts" class="o-product-listing fixed-columns-5 center-aligned u-align-center">
                                    <%# md-o-product-listing-product-list %>
                                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                                </div>
                            </div>

                            <span id="lazyDiv">
                                <%# md-o-lazy-load %>
                                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
                            </span>
                            <!-- //o-product-listing -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Men</span>
                <span class="heading-value">Swimwear</span>
            </h2>
        </div>
    </div>

    <div class="o-width spacer noLines wc-75">
        <div class="o-layout has-products" data-chooser="Men" data-chooser-title="Men" data-chooser-image-alt="Men" id="men">
            <div class="layout-row-1"></div>
            <div class="layout-1">
                <div class="layout-row-2">
                    <div class="productlisting parbase section">
                        <div class="parbase sdp-component product-listing align-below">
                            <!-- o-product-listing -->
                            <div id="lazyLoadSpan">
                                <div id="reloadProducts" class="o-product-listing fixed-columns-5 center-aligned u-align-center">
                                    <%# md-o-product-listing-product-list %>
                                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                                </div>
                            </div>

                            <span id="lazyDiv">
                                <%# md-o-lazy-load %>
                                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
                            </span>
                            <!-- //o-product-listing -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width spacer wc-75"></div>

    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-code">material</span>
                        ECONYL®
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph">나일론 폐기물을 분해하여 원래의 구성 요소로 되돌리는 첨단 재활용 공정을 통해 화석 원료를 사용하지 않고도 나일론과 동일한 순도와 성능으로 완전히 새롭게 나일론 섬유를 재건할 수 있습니다. 나일론은 품질을 유지하면서 끝없이 재활용할 수 있는 합성 섬유 섬유이며 ECONYL® 재생 시스템은 재생 가능한 나일론 제품의 루프 사이클을 형성합니다.</p>
                <p class="a-paragraph">ECONYL® 원사 제작은 사용하지 않았거나 매립지의 폐기물 및 잉여 재료를 구하는 것에서 시작됩니다. 섬유 잔여물, 산업용 플라스틱 부품, 카페트, 그리고 무엇보다 전 세계 해양의 어망(모두 나일론으로 구성됨)을 수집하고 슬로베니아 류블랴나에 있는 실험실에서 신중하게 테스트합니다.</p>
                <p class="a-paragraph">어망은 북해에서 남아시아에 이르기까지 전 세계에서 회수되며, 바다에 방치되고 유실되어 해양 생물에 심각한 위협이 되는 이른바 '유령 그물'을 포함합니다. 자원 봉사 다이버들이 유럽 해저에서 그물을 회수하는 Healthy Seas와 필리핀과 카메룬의 해안 지역 사회가 버려진 어업을 수거하여 판매하도록 장려하는 Net-Works™와 같은 다양한 프로젝트를 통해 폐기물을 수거합니다.</p>
                <p class="a-paragraph">다양한 종류의 폐기물을 녹이면 화석 기름에서 생성되는 물질과 동일하게 됩니다. 여기에서 분자 사슬을 다시 연결하여 신선한 나일론을 재건한 다음 방적하여 섬유 원사를 만듭니다.</p>
                <p class="a-paragraph">재생이란 나일론 고유의 강도, 내구성 및 가벼움을 유지하면서 완벽한 품질로 재료를 재활용하고 당사의 신제품을 무한히 재활용할 수 있음을 의미합니다. 이 프로세스는 원유를 절약하고 CO2 배출을 방지하며 환경에서 폐기물을 재생하는 데 도움이 됩니다. 류블랴나에 있는 ECONYL® 공장에서 발생하는 많은 에너지는 이웃 도시의 대형 워터파크인 아틀란티스의 수영장을 데우는 데 사용됩니다.</p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width spacer wc-50">
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;"><b>Browse our assortment</b></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <%# md-o-teaser %>
    <%- include ("../../../../common/md-o-teaser.ejs") %>

</div>