<div data-component="OPageContent" class="o-page-content">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">FUJIAN WANJIAMEI</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        Based in the city of Quanzhou – which lies on the coast between Guangzhou and Shanghai – the Fujian factory designs and manufactures high-quality heavy knits.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    The company was founded in 2006, and its 1,500 employees are skilled in yarn winding, knitting panels, linking and special workmanship techniques
                    – like advanced embroidery and traditional intarsia knitting by hand. With a number of quality and environmental certifications,
                    Fujian reduces their waste and emissions by employing a better utilisation rate of raw materials.
                    They are crafting heavy-knit pieces for ARKET, using all of their advanced skills – including embroidery and hand knitting.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">

        <div class="o-image-listing cols-2">

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/wanjiamei_01_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/wanjiamei_02_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/wanjiamei_06_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/wanjiamei_03_a.jpg">
                </div>
            </div>

        </div>
    </div>

    <div class="o-width wc-100">
        <style type="text/css">
            html.no-touchevents .o-product .image:hover .a-image.default-image {
                display: inline-block !important;
            }
        </style>

        <div class="parbase sdp-component product-listing align-below">
            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing fixed-columns-6 center-aligned u-align-center">
                    <%# md-o-product-listing-product-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->
        </div>
    </div>

</div>