<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">LIMONTA</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        남부 알프스의 눈 덮인 봉우리는 롬바르디아 지역의 밀라노 북쪽에 위치한 Costa Masnaga 마을의 아름다운 배경을 형성합니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    이 작은 마을은 1893년 회사가 설립된 이래로 섬유 제조업체인 Limonta의 고향이었습니다. 직물과 인조 가죽의 유명한 전문가인 가족 소유의 회사는 세계에서 가장 선택적이고 품질을 중시하는 럭셔리 브랜드와 긴밀하게 협력하고 있습니다.
                </p>
                <p class="a-paragraph is-richtext">
                    Limonta는 원래 실내 장식품을 위한 복잡한 자카드 직물을 만드는 데 중점을 두었습니다. 그 생산에는 여전히 가정용 직물뿐만 아니라 의류, 신발 및 액세서리, 벽지 및 인조 잔디용 직물 및 재료도 포함됩니다.
                </p>
                <p class="a-paragraph is-richtext">
                    회사의 풍부한 유산은 Limonta에서 지금까지 생산된 모든 직물에서 수천, 수천 개의 재단을 보관하고 있는 광범위한 아카이브로 구현됩니다. 그것은 어느 박물관에서도 가치가 있을 독특하고 매혹적인 컬렉션입니다. 아카이브는 19세기 후반으로 거슬러 올라가며 손으로 스케치한 자카드 패턴의 원본을 포함합니다.
                </p>
                <p class="a-paragraph is-richtext">
                    사업을 확장하기 위해 Limonta는 고향 마을 밖의 현대적인 시설로 이전했습니다. 공장은 첨단 기술을 갖추고 있으며, 디자인에서 제직, 인쇄 및 마무리에 이르기까지 모든 단계를 포괄하며 테스트 및 개발이 수행되는 자체 실험실도 있습니다.
                </p>
                <p class="a-paragraph is-richtext">
                    이 회사의 두 공장에는 주 6일, 하루 24시간 가동되는 약 300개의 자카드 및 평직 직기가 있습니다. 그러나 그들 사업의 시초에 대한 존경심과 충성심으로 Limonta는 여전히 Costa Masnaga 중심에 본사와 본사를 두고 있습니다.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-100" style="background-color: rgb(244, 244, 244)">

        <div class="o-width wc-75">
            <div class="o-image-listing cols-3">

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Limonta_03.jpg">
                    </div>
                </div>

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Limonta_02.jpg">
                    </div>
                </div>

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Limonta_05.jpg">
                    </div>
                </div>

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Limonta_07.jpg">
                    </div>
                </div>

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Limonta_08.jpg">
                    </div>
                </div>

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Limonta_10.jpg">
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="o-width wc-75">

        <div class="o-width wc-100">
            <div class="parbase sdp-component product-listing align-below">
                <!-- o-product-listing -->
                <div id="lazyLoadSpan">
                    <div id="reloadProducts" class="o-product-listing has-still-life-images fixed-columns-4  u-align-center">
                        <%# md-o-product-listing-product-list %>
                        <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                    </div>
                </div>

                <span id="lazyDiv">
                    <%# md-o-lazy-load %>
                    <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
                <!-- //o-product-listing -->
            </div>

            <div class="o-width wc-75"></div>

            <!-- carousel -->
            <div class="o-width wc-75 carousel">
                <!-- product-suggestions-slider -->
                <div class="o-pra-component is-suggestions"
                     data-component="OPra"
                     data-pra-panel="product-detail-page"
                     data-pra-locale="en"
                     data-pra-id="PRA1">
                    <h2 class="a-heading-2 u-align-center is-main-heading slider-title">Other items you may like</h2>

                    <%# md-o-slider-product %>
                    <%- include ("../../../../common/md-o-slider-product.ejs") %>

                </div>
                <!-- // product-suggestions-slider -->
            </div>
            <!-- //carousel -->
        </div>

        <div class="o-width wc-100">
            <div class="o-width wc-75">
                <div class="o-tag-cloud">
                    <h6 class="a-heading-6 cloud-title">view all</h6>
                    <ul class="tags-container">
                        <li class="tag">
                            <a href="#none" target="_self" class="a-link">Swim shorts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>