<div data-component="OPageContent" class="o-page-content">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">MARCONI</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        Marconi is a Chinese garment manufacturer, specialising in high-quality pieces for men and women.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Based in Suzhou and Jiangsu, outside of Shanghai, the prosperous area – and the company
                    – has long attracted employees with the technical skills to do laser cutting, embroidery, pleating and more.
                    With just over 500 staff, Marconi takes complex design concepts and turns them into reality.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">

        <div class="o-image-listing cols-2">

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/marconi_01_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/marconi_02_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/marconi_03_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/marconi_04_a.jpg">
                </div>
            </div>

        </div>
    </div>

    <style type="text/css">
        html.no-touchevents .o-product .image:hover .a-image.default-image {
            display: inline-block!important;
        }
    </style>

    <div class="parbase sdp-component product-listing align-below">

        <%# md-o-product-filters %>
        <%#- include ("../../../../common/md-o-product-filters.ejs") %>

        <!-- o-product-listing -->
        <div id="lazyLoadSpan">
            <div id="reloadProducts" class="o-product-listing has-still-life-images fixed-columns-4 u-align-center">
                <%# md-o-product-listing-product-list %>
                <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
            </div>
        </div>

        <span id="lazyDiv">
            <%# md-o-lazy-load %>
            <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
        <!-- //o-product-listing -->
    </div>

</div>