<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">MARCONI</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        Marconi는 남성과 여성을 위한 고품질 의류를 전문으로 하는 중국 의류 제조업체입니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    상하이 외곽의 쑤저우와 장쑤에 기반을 두고 번영하고 있는 이 지역과 회사는 레이저 절단, 자수, 주름 잡기 등을 할 수 있는 기술을 가진 직원들을 오랫동안 끌어오고 있습니다. 500명이 조금 넘는 직원이 있는 Marconi는 복잡한 디자인 컨셉을 현실로 만들어 줍니다.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">

        <div class="o-image-listing cols-2">

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/marconi_01_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/marconi_02_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/marconi_03_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/marconi_04_a.jpg">
                </div>
            </div>

        </div>
    </div>

    <div class="parbase sdp-component product-listing align-below">

        <%# md-o-product-filters %>
        <%#- include ("../../../../common/md-o-product-filters.ejs") %>

        <!-- o-product-listing -->
        <div id="lazyLoadSpan">
            <div id="reloadProducts" class="o-product-listing has-still-life-images fixed-columns-4 u-align-center">
                <%# md-o-product-listing-product-list %>
                <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
            </div>
        </div>

        <span id="lazyDiv">
            <%# md-o-lazy-load %>
            <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
        <!-- //o-product-listing -->
    </div>

</div>