<div data-component="OPageContent" class="o-page-content">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">PIMKIE</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        Founded in 1992, Pimkie is an apparel manufacturer and exporter based in Bangladesh, whose factory has been ranked one of the most modern in the country.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Its 1,500 employees work in platinum- and gold-level, LEED-certified factories (Leadership in Energy and Environmental Design)
                    to produce woven tops and bottoms – particularly denim. In fact, its skilled workforce produces 2.8 million denim pieces each month.
                    They are putting their denim expertise to work for ARKET, producing jeans with a more sustainable wash.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">

        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/pimkie_1_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/pimkie_2_a.jpg">
                </div>
            </div>
        </div>

    </div>

    <div class="o-width wc-50"></div>

    <div class="o-width wc-100">
        <style type="text/css">
            html.no-touchevents .o-product .image:hover .a-image.default-image {
                display: inline-block !important;
            }
        </style>

        <div class="parbase sdp-component product-listing align-below">
            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing fixed-columns-5 center-aligned u-align-center">
                    <%# md-o-product-listing-product-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->
        </div>
    </div>

</div>