<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">RE:DOWN</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        Down is ideal for lightweight insulating outerwear.
                        The unique three-dimensional structure of down clusters traps air to create a super-warm thermal barrier next to the body.
                        It also makes it soft and breathable, easy to pack and compress.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    With all of the same properties as virgin down, recycled down and feathers are a more sustainable alternative produced with no new material added to the production cycle.
                    Re:Down® products are 100% natural and chemical-free – washed in hot thermal water and sterilised at high temperature.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-100">
        <div class="o-width wc-100">
            <div class="parbase sdp-component product-listing align-below">
                <!-- o-product-listing -->
                <div id="lazyLoadSpan">
                    <div id="reloadProducts" class="o-product-listing fixed-columns-5 center-aligned u-align-center">
                        <%# md-o-product-listing-product-list %>
                        <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                    </div>
                </div>

                <span id="lazyDiv">
                    <%# md-o-lazy-load %>
                    <%- include ("../../../../common/md-o-lazy-load.ejs") %>
                </span>
                <!-- //o-product-listing -->
            </div>

            <div class="o-layout">
                <div class="layout-row-1">
                    <div class="m-headline">
                        <h2 class="a-heading-2 has-margin u-align-center">
                            <span class="heading-cap">Supplier</span>
                            <span class="heading-value">Re:Down®</span>
                        </h2>
                    </div>
                </div>

                <div class="layout-5">
                    <div class="layout-row-2">
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide">
                                <div class="headings">
                                    <div class="m-headline">
                                        <!-- mrk-edit : 20211025 -->
                                        <h2 class="a-heading-2 has-margin">
                                            <!--<span class="heading-cap">supplier</span>Re:Down®-->
                                            <span class="heading-cap">SUPPLIER</span>Re:Down®
                                        </h2>
                                        <!-- //mrk-edit : 20211025 -->
                                    </div>
                                </div>
                                <div class="text-container">
                                    <!-- mrk-edit : 20211025 -->
                                    <p class="a-paragraph is-richtext"></p>
                                    <!--
                                    <p class="a-paragraph">Down is ideal for lightweight insulating outerwear. The unique three-dimensional structure of down clusters traps air to create a super-warm thermal barrier next to the body. It also makes it soft and breathable, easy to pack and compress. With all of the same properties as virgin down, recycled down and feathers are a more sustainable alternative produced with no new material added to the production cycle.</p>
                                    <p class="a-paragraph">Recycling is not a new innovation. Down is a durable and resilient material that can retain its natural properties for a lifetime, and historically, it was normal for down from old pillows and duvets to be cleaned and re-used; it was how you made the most of an expensive resource.</p>
                                    <p class="a-paragraph">Our raw material is collected from sleeping bags and pre-used home textiles. It is first sorted and separated into feathers and clusters of fine down, then washed and sterilised to ensure a clean and hypoallergenic filling material. Based in Hungary, our supplier Re:Down® uses hot thermal water for its washing process, then recycles the wastewater back into clean drinking water. A third of the factory’s electricity is produced by solar power and the down is dried and sterilised at high temperature without the use of chemicals.</p>
                                    <p class="a-paragraph">All Re:Down® products are traceable from waste collection to final output. The best down is regenerated for garments and home textiles but a total of 97% of all collected materials are recycled for different applications, including non-woven insulation and organic fertilisers.<br></p>
                                    -->
                                    <p class="a-paragraph">SUPPLIERS Down은 보온성이 뛰어난 경량 아우터에 이상적입니다. 독특한 3차원 다운 클러스터 구조는 옷 안에 공기를 가두어 보온성을 유지시켜 줍니다. 또한 부드럽고 통기성이 뛰어나 압축 및 패킹에 용이합니다.</p>
                                    <p class="a-paragraph">Down과 깃털은 지속 가능한 소재입니다. 이 소재는 제품 생산주기에 새로운 공정이 추가되지 않으며, 재활용되어도 처음 사용된 Down과 동일합니다.</p>
                                    <p class="a-paragraph">재활용은 혁신적인 소재가 아닙니다. Down은 내구성과 복원력이 뛰어난 소재로 재활용되어도 처음의 특징을 계속 유지합니다. 그리고 역사적으로도 오래된 배게 나 침구류에서 나온 Down을 세탁하거나 다른 방식으로 재사용 하는 것이 일반적이었습니다. 이렇게 하여 값비싼 재료를 최대한 다시 활용할 수 있었습니다.</p>
                                    <p class="a-paragraph">우리의 원료는 침구류나 이미 사용된 리빙 상품들에서 얻어집니다. 먼저, 깃털이나 미세한 털 뭉치로 구분한 뒤 세척 및 살균하여 저자극성 충전재가 되도록 만듭니다. 헝가리에 본사를 둔 당사의 공급업체 Re:Down®은 세척 과정에서 발생하는 폐수를 다시 깨끗한 식수로 재활용합니다. 공장 전기의 3분의 1은 태양광을 사용하여 공급이 되고, Down을 건조하거나 멸균하는데 어떠한 화학 재료도 사용하지 않습니다.</p>
                                    <p class="a-paragraph">모든 Re:Down®의 제품은 폐기물 수집부터 최종으로 만들어지는 제품까지의 과정을 추적할 수 있습니다. 좋은 상태의 Down은 의류 및 가정 용품으로 재생산되지만 수집된 Down의 97%는 절연재나 유기농 비료를 비롯한 다양한 용도로 재활용됩니다.<br></p>
                                    <p class="a-paragraph"></p>
                                    <!-- //mrk-edit : 20211025 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-row-3">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1">
                                <div class="image-container">
                                    <div class="trackImage col-item">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/about/redown_05_a.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="promotion-data p11-layout" hidden="" data-slides-index="1">
                    <span class="promo_id">w.06-MON-2018</span>
                    <span class="promo_name"></span>
                    <span class="promo_creative"></span>
                </div>
            </div>

            <div class="o-image-listing cols-3">

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/redown_07_a.jpg">
                        <span class="promoIndex" hidden="">2</span>
                    </div>

                    <%# md-o-img-promotion-data %>
                    <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                </div>

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/redown_10_a.jpg">
                        <span class="promoIndex" hidden="">3</span>
                    </div>

                    <%# md-o-img-promotion-data %>
                    <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                </div>

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/redown_06_a.jpg">
                        <span class="promoIndex" hidden="">4</span>
                    </div>

                    <%# md-o-img-promotion-data %>
                    <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                </div>

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/redown_04_a.jpg">
                        <span class="promoIndex" hidden="">5</span>
                    </div>

                    <%# md-o-img-promotion-data %>
                    <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                </div>

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/redown_03_a.jpg">
                        <span class="promoIndex" hidden="">6</span>
                    </div>

                    <%# md-o-img-promotion-data %>
                    <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                </div>

                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/redown_11_a.jpg">
                        <span class="promoIndex" hidden="">7</span>
                    </div>

                    <%# md-o-img-promotion-data %>
                    <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                </div>
            </div>
        </div>
    </div>

</div>