<div data-component="OPageContent" class="o-page-content care-guide-content" data-component-id="">
    <div class="coremetricsPageId" hidden="">care_guide 3</div>
    <div class="coremetricsPageType" hidden="">care_guide 4</div>
    <div class="coremetricsCategoryId" hidden="">care_guide 2</div>
    <div class="coremetricsCategoryPath" hidden="">care_guide 1</div>

    <div class="o-hero is-takeover  full-width hero-takeover double-image" data-component="OHero">

        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block">
                    <div class="heading-wrapper">
                        <div class="m-headline">
                            <h1 class="a-heading-1">
                                <span class="heading-cap">arket</span>
                                <span class="heading-value">Care guide</span>
                            </h1>
                        </div>
                    </div>
                    <div class="text-wrapper">
                        <p class="a-paragraph text-content a-paragraph text-content large-font">Sustainability has been a primary consideration in developing the ARKET brand and naturally incorporated in all processes, from the choice of suppliers and materials to informing customers about how to care for their products to prolong their lifespan.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_1_f.jpg)" class="takeover-background"></div>
            <div style="background-image: url(<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_3_f.jpg); float:right" class="takeover-background"></div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">guide</span>
                <span class="heading-value">How to take care of</span>
            </h2>
        </div>
    </div>

    <div class="o-width VNAV wc-100">
        <div class="o-image-listing cols-3">
            <!-- Cashmere-->
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_6_vn.jpg" alt="Cashmere">
                    <span class="promoIndex" hidden="">0</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Cashmere</div>
                </div>
                <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="0">
                    <span class="promo_id">image component grid</span>
                    <span class="promo_name">startpage</span>
                    <span class="promo_creative"></span>
                </div>
            </div>
            <!-- // Cashmere-->

            <!-- silk -->
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_1_vn.jpg" alt="Silk">
                    <span class="promoIndex" hidden="">1</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Silk</div>
                </div>
                <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="1">
                    <span class="promo_id">image component grid</span>
                    <span class="promo_name">startpage</span>
                    <span class="promo_creative"></span>
                </div>
            </div>
            <!-- // silk -->

            <!-- wood -->
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_02_f_VN.jpg">
                    <span class="promoIndex" hidden="">2</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Wood</div>
                </div>
                <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="2">
                    <span class="promo_id">image component grid</span>
                    <span class="promo_name">startpage</span>
                    <span class="promo_creative"></span>
                </div>
            </div>
            <!-- // wood -->

            <!-- linen -->
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/VNAV_Care_Linen-5.jpg">
                    <span class="promoIndex" hidden="">3</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Linen</div>
                </div>
                <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="3">
                    <span class="promo_id">image component grid</span>
                    <span class="promo_name">startpage</span>
                    <span class="promo_creative">care / linen</span>
                </div>
            </div>
            <!-- // linen -->
        </div>
    </div>

    <div class="o-width VNAV wc-100">
        <div class="o-image-listing cols-3" style="margin-top:0px; margin-bottom:0px;">

            <!-- canvas -->
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_canvas_trainers_02_f_VN.jpg" alt="Canvas">
                    <span class="promoIndex" hidden="">4</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Canvas</div>
                </div>
                <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="4">
                    <span class="promo_id">image component grid</span>
                    <span class="promo_name">startpage</span>
                    <span class="promo_creative"></span>
                </div>
            </div>
            <!-- // canvas -->

            <!-- denim -->
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_3_vn.jpg" alt="Denim">
                    <span class="promoIndex" hidden="">5</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Denim</div>
                </div>
                <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="5">
                    <span class="promo_id">image component grid</span>
                    <span class="promo_name">startpage</span>
                    <span class="promo_creative"></span>
                </div>
            </div>
            <!-- // denim -->

            <!-- leather -->
            <div class="image-container">

                <a href="/en_gbp/guide/care/leather.html" target="_self" class="trackImage a-link">

                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_08_f_VN.jpg">

                    <span class="promoIndex" hidden="">6</span></a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Leather</div>
                </div>
                <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="6"><span class="promo_id">image component grid</span><span class="promo_name">startpage</span><span class="promo_creative"></span></div>
            </div>
            <!-- // leather -->

            <!-- wool -->
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/VNAV_Care_Wool_12.jpg">
                    <span class="promoIndex" hidden="">7</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Wool</div>
                </div>
                <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="7">
                    <span class="promo_id">image component grid</span>
                    <span class="promo_name">startpage</span>
                    <span class="promo_creative">startpage / homeware</span>
                </div>
            </div>
            <!-- // wool -->
        </div>
    </div>

    <div class="o-width VNAV wc-100">
        <div class="o-image-listing cols-3" style="margin-top:0px; margin-bottom:0px;">

            <!-- Jewellery -->
            <div class="image-container">
                <a href="#none" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/WEB_20Q3_JEWELRY_3.jpg" alt="Jewellery">
                    <span class="promoIndex" hidden="">8</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Jewellery</div>
                </div>
                <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="8">
                    <span class="promo_id">image component grid</span>
                    <span class="promo_name">startpage</span>
                    <span class="promo_creative"></span>
                </div>
            </div>
            <!-- // Jewellery -->

        </div>
    </div>


    <!--  women > all 상품 리스트2 -->
    <div class="o-width wc-75">
        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2  has-hover">
                <span class="heading-cap">homeware</span>
                <a href="#none" target="_self" class="a-link heading-tag">Care &amp; cleaning</a>
            </h2>
        </div>

        <style type="text/css">
            html.no-touchevents .o-product .image:hover .a-image.default-image {
                display: inline-block!important;
            }
        </style>

        <div class="parbase sdp-component product-listing align-below">

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-4 u-align-center">
                    <span id="product-listing-data-storage" data-entries="7" hidden=""></span>
                    <%# md-o-product-listing-product-list %>
                    <%#- include ("../../../../common/md-o-product-listing-product-list-7ea-central-care.ejs") %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->
        </div>

        <div id="productStart" class="0"></div>
        <div id="productPath" class="/en/women/new-arrivals/_jcr_content/homepagepar/widthcomponent_16087/o-width/productlisting_copy_.products.html"></div>
        <div id="productCount" class="102"></div>
        <div id="productPerPage" class="36"></div>
    </div>


    <%# md-o-teaser %>
    <%- include ("../../../../common/md-o-teaser.ejs") %>

    <div class="splash parbase"></div>
</div>

