<div data-component="OPageContent" class="o-page-content care-guide-content">

    <!-- info-section -->
    <div class="o-hero is-takeover  full-width hero-takeover double-image" data-component="OHero">

        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block">
                    <div class="heading-wrapper">
                        <div class="m-headline">
                            <h1 class="a-heading-1">
                                <span class="heading-cap">arket</span>
                                <span class="heading-value">관리방법</span>
                            </h1>
                        </div>
                    </div>
                    <div class="text-wrapper">
                        <p class="a-paragraph text-content a-paragraph text-content large-font">
                            지속가능성은 ARKET 브랜드의 발전에 있어 우선 고려 사항이며, 공급업체 및 소재의 제품 수명 연장을 위하여 
                            고객에게 관리 방법을 안내하는 것까지 모든 프로세스를 자연스럽게 포함하고 있습니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="image-wrapper">
            <div style="background-image: url(<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_1_f.jpg)" class="takeover-background"></div>
            <div style="background-image: url(<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_3_f.jpg); float:right" class="takeover-background"></div>
        </div>
    </div>
    <!-- //info-section -->

    <!-- m-headline -->
    <div class="o-width wc-75">
        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">guide</span>
                <span class="heading-value">How to take care of</span>
            </h2>
        </div>
    </div>
    <!-- // m-headline -->

    <!-- 카테고리별-image-listing-1 -->
    <div class="o-width VNAV wc-100">
        <div class="o-image-listing cols-3">
            <!-- Cashmere-->
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/cashmere.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_6_vn.jpg" alt="Cashmere">
                </a>

                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Cashmere</div>
                </div>
            </div>
            <!-- // Cashmere-->

            <!-- silk -->
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/silk.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_1_vn.jpg" alt="Silk">
                </a>

                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Silk</div>
                </div>
            </div>
            <!-- // silk -->

            <!-- wood -->
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/wood.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_02_f_VN.jpg" alt="wood">
                </a>

                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Wood</div>
                </div>
            </div>
            <!-- // wood -->

            <!-- linen -->
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/linen.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/VNAV_Care_Linen-5.jpg">
                </a>

                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Linen</div>
                </div>
            </div>
            <!-- // linen -->
        </div>
    </div>
    <!-- // 카테고리별-image-listing-1 -->

    <!-- 카테고리별-image-listing-2 -->
    <div class="o-width VNAV wc-100">
        <div class="o-image-listing cols-3">

            <!-- canvas -->
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/canvas.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_canvas_trainers_02_f_VN.jpg" alt="Canvas">
                </a>

                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Canvas</div>
                </div>
            </div>
            <!-- // canvas -->

            <!-- denim -->
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/denim.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_3_vn.jpg" alt="Denim">
                </a>

                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Denim</div>
                </div>
            </div>
            <!-- // denim -->

            <!-- leather -->
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/leather.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_08_f_VN.jpg" alt="Leather">
                </a>

                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Leather</div>
                </div>
            </div>
            <!-- // leather -->

            <!-- wool -->
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/wool.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/VNAV_Care_Wool_12.jpg" alte="Wool">
                </a>

                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Wool</div>
                </div>
            </div>
            <!-- // wool -->
        </div>
    </div>
    <!-- // 카테고리별-image-listing-2 -->

    <!-- 카테고리별-image-listing-3 -->
    <div class="o-width VNAV wc-100">
        <div class="o-image-listing cols-3">

            <!-- Jewellery -->
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/Jewellery.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/care/WEB_20Q3_JEWELRY_3.jpg" alt="Jewellery">
                </a>

                <div class="slider-text-block">
                    <div class="is-richtext o-text-field">Jewellery</div>
                </div>
            </div>
            <!-- // Jewellery -->

        </div>
    </div>
    <!-- // 카테고리별-image-listing-3 -->

    <!-- product-listing-section -->
    <div class="o-width wc-75">
        <div class="m-headline u-align-center is-main-headline full-width">
            <h2 class="a-heading-2 has-hover">
                <span class="heading-cap">homeware</span>
                <a href="#none" target="_self" class="a-link heading-tag">Care &amp; cleaning</a>
            </h2>
        </div>

        <style type="text/css">
            html.no-touchevents .o-product .image:hover .a-image.default-image {
                display: inline-block!important;
            }
        </style>

        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
            <%#- include ("../../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-4 u-align-center">
                    <span id="product-listing-data-storage" data-entries="7" hidden=""></span>

                    <%# md-o-product-listing-product-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>

                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->
        </div>

        <div id="productStart" class="0"></div>
        <div id="productPath" class="/en/women/new-arrivals/_jcr_content/homepagepar/widthcomponent_16087/o-width/productlisting_copy_.products.html"></div>
        <div id="productCount" class="102"></div>
        <div id="productPerPage" class="36"></div>
    </div>
    <!-- //product-listing-section -->

    <%# md-o-teaser %>
    <%- include ("../../../../common/md-o-teaser.ejs") %>

    <div class="splash parbase"></div>
</div>

