<div data-component="OPageContent" class="o-page-content care-guide-content">

    <h1 class="a-heading-1 seo-heading">
        <span>Jewellery</span>
    </h1>

    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../common/md-o-local-navigation-care-guide.ejs") %>

    <!-- info-section -->
    <div class="o-width wc-75">
        <div class="o-layout">
            <div class="layout-row-1">
            </div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="text-container">
                                <p class="a-paragraph is-richtext">
                                    ARKET의 주얼리는 금과 은으로 도금된 고품질의 컬렉션입니다. 도금 공정은 올바른 관리를 해주면 지속적인 아름다운 광택을 유지합니다. 아래는 주얼리의 광택을 유지하고 코팅이 변색되는 것을 방지하는 몇 가지 방법들입니다.<br>
                                    <br>
                                    모든 주얼리는 시간이 지나면 산화로 인해 자연스럽게 어두운 녹청이 생깁니다. 변화를 늦추기 위해서는 습기와 땀이 산화를 촉진하므로 샤워, 운동 전 착용을 지양해주세요. <br>
                                    <br>
                                    도금된 부분과 스톤이 손상되지 않도록 하려면 주얼리 착용시 향수, 비누 및 미용 제품과의 직접적인 접촉을 피하세요.<br>
                                    <br>
                                    부드러운 극세사 천으로 정기적으로 주얼리는 닦아주시고 필요시 따뜻한 물을 사용해 얼룩을 제거하고 부드럽고 깨끗한 천으로 두드려 건조해주세요.<br>
                                    <br>
                                    쥬얼리는 긁힘과 충격으로 인해 손상될수 있으니 부드러운 소재의 천이 있는 상자에 넣어 건조한 장소에 보관하는 것이 좋습니다. 주얼리들이 서로 엉키지 않도록 분리하여 보관하세요.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/WEB_20Q3_JEWELRY_3.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/WEB_20Q3_JEWELRY_2.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/WEB_20Q3_JEWELRY_4.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/WEB_20Q3_JEWELRY_6.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // img-box -->
            </div>
        </div>
    </div>
    <!-- // info-section -->

    <!-- product-listing-section -->
    <div class="o-width wc-75">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
            <%#- include ("../../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-5 u-align-center">
                    <%# md-o-product-listing-search-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->

        </div>
    </div>
    <!-- // product-listing-section -->

</div>


<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[9].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->