<div data-component="OPageContent" class="o-page-content care-guide-content">
    <h1 class="a-heading-1 seo-heading ">
        <span>Leather</span>
    </h1>
    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../common/md-o-local-navigation-care-guide.ejs") %>

    <div class="o-width spacer wc-100"></div>

    <!-- info-section-1 -->
    <div class="o-width wc-50">
        <div class="o-text-field is-wide">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">care</span>Leather garments
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph">Our leather garments are chrome free tanned, though it is a hard-wearing natural material, yet it can be sensitive. Some substances can leave permanent marks on the leather, like oily products, make-up, lipstick, lotions, perfume and alcohol-based products. Repeated contact with dark textiles can give stains on the leather, if the leather is lighter in colour. Soft leather does also grow slightly after use, as leather is a flexible material and a part of its beauty.<br>
                    <br>
                </p>
                <p class="a-paragraph">• Keep leather away from humidity, heat and chemicals and protect it from rain and<br>rough surfaces, which can scratch and damage it.</p>
                <p class="a-paragraph">• To remove light stains, wipe with a slightly damp cloth.</p>
                <p class="a-paragraph">• Otherwise, leather items should be taken to a specialist leather dry cleaner.</p>
                <p class="a-paragraph">• If leather should get wet, allow it to air dry at normal room temperature.</p>
                <p class="a-paragraph"><br>Wear your leather garments, treat them with extra love and care to keep them durable for long time.</p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <!-- // info-section-1 -->

    <!-- info-section-2 -->
    <div class="o-width wc-75">
        <div class="o-width spacer wc-100"></div>
        <div class="o-layout">
            <div class="layout-row-1"></div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide">
                            <div class="headings">
                                <div class="m-headline">
                                    <h2 class="a-heading-2 has-margin">
                                        <span class="heading-cap">care</span>Leather shoes
                                    </h2>
                                </div>
                            </div>
                            <div class="text-container">
                                <p class="a-paragraph is-richtext">
                                    Leather is a hard-wearing yet sensitive natural material that, if taken care of properly, will age in style. As part of our commitment to more sustainable choices, all ARKET shoes are made using selected high-quality hides that have undergone a chrome-free tanning process. Slight variations in colour and texture are natural characteristics of leather and make each pair unique. &nbsp;<br>
                                    &nbsp;<br>
                                    To keep your leather shoes looking their best for a long time, we recommend following these care instructions: <br>
                                    &nbsp;<br>
                                    • Avoid contact with water, grease and chemicals. Dry damp shoes with a clean soft cloth to absorb any liquid and let them dry in room temperature. <br>
                                    &nbsp;<br>
                                    • Do not leave your shoes close to sources of strong heat and light. When not in use, always store your shoes in their box to protect them from sun, dirt and scratching. &nbsp;<br>
                                    &nbsp;<br>
                                    • To clean your shoes, wipe them carefully using a soft clean cloth. <br>
                                    &nbsp;<br>
                                    • Condition your shoes with uncoloured wax or cream every month and before the first use to keep the leather fresh and supple. This will also prevent the leather from cracking. Some conditioning and cleaning products can, however, affect the surface of the leather. To make sure that the leather doesn't get duller or darker, always test a new product on a small hidden area of the shoe before applying it on the whole shoe. Light-coloured leather is especially sensitive.  <br>
                                    &nbsp;<br>
                                    • For suede and nubuck shoes, apply a waterproofing spray every other month to protect them from stains and water. Brush the hide carefully with a suede brush before and after spraying, always going with the pile direction. <br>
                                    &nbsp;<br>
                                    • If you get mud on suede/nubuck, let the mud dry overnight and brush it off. Wipe any remaining dirt off with a clean, damp cloth or use a suede eraser. <br>
                                    &nbsp;<br>
                                    • Many of ARKET´s shoes are crafted with an outsole made of leather. If the leather outsole wears out, the front part and the heel can be changed and the edges evened out by a specialist, who can also add a thin protective rubber sole. <br>
                                    &nbsp;<br>
                                    • Keep an eye on the condition of your shoes and make sure to mend them in time in order to prevent any permanent damage to the leather. &nbsp;<br>
                                    &nbsp;<br>
                                    • Use a shoe horn – it will protect the shape of the counter/heel area, and in the long run, the shape of the entire shoe. <br>
                                    &nbsp;<br>
                                    • Insert shoe trees when you’re not wearing your shoes. This will help absorb moisture and keep the original shape of the shoe. <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_01_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_02_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_03_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_04_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_05_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_06_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_07_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_08_f.jpg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- // img-box -->
            </div>
        </div>
    </div>
    <!-- // info-section-2 -->

    <!-- product-listing-section -->
    <div class="o-width wc-100">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
            <%- include ("../../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-5 u-align-center">
                    <%# md-o-product-listing-search-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->

        </div>
    </div>
    <!-- // product-listing-section -->

</div>


<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[5].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->