<div data-component="OPageContent" class="o-page-content care-guide-content">
    <h1 class="a-heading-1 seo-heading ">
        <span>Leather</span>
    </h1>
    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../common/md-o-local-navigation-care-guide.ejs") %>

    <div class="o-width spacer wc-100"></div>

    <!-- info-section-1 -->
    <div class="o-width wc-50">
        <div class="o-text-field is-wide">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        가죽 관리법
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph">
                    ARKET의 가죽은 금속처리의 태닝이 처리되어 있는 내구성이 강한 천연 소재이지만 민감할 수 있습니다. 
                    유성제품, 메이크업, 립스틱, 로션, 향수 및 알코올이 함류된 제품과 같은 물질은 가죽에 지워지지 않는 자국을 남을 수 있고, 가죽의 색상이 옅은 경우 어두운 직물과 반복적으로 접촉하면 얼룩이 생길 수 있습니다. 가죽은 본연의 아름다움을 가지고 있고 유연한 소재이기 때문에 부드러운 가죽은 사용 후 약간 늘어날 수 있습니다.<br>
                </p>
                <p class="a-paragraph">• 습기, 열 및 화학 물질로 부터 멀리하고 비, 습기, 가죽을 손상시킬 수 있는 거친 소재로부터 보호하세요. </p>
                <p class="a-paragraph">• 가벼운 얼룩을 제거하려면 약간 젖은 천으로 닦아내주세요.</p>
                <p class="a-paragraph">• 간단한 케어가 아니라면, 가죽 전문 세탁소에 맡겨야 합니다.</p>
                <p class="a-paragraph">• 가죽이 젖은 경우 상온에서 자연 건조 시켜주세요.</p>
                <p class="a-paragraph"><br>가죽 착용시 더 많은 관심과 주의를 기울여 오랫동안 보관할 수 있도록 해주세요.</p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <!-- // info-section-1 -->

    <!-- info-section-2 -->
    <div class="o-width wc-75">
        <div class="o-width spacer wc-100"></div>
        <div class="o-layout">
            <div class="layout-row-1"></div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide">
                            <div class="headings">
                                <div class="m-headline">
                                    <h2 class="a-heading-2 has-margin">
                                        가죽신발 관리법
                                    </h2>
                                </div>
                            </div>
                            <div class="text-container">
                                <p class="a-paragraph is-richtext">
                                    가죽은 내구성이 뛰어나면서도 민감한 천연 소재로, 잘 관리해주면 시간이 지날 수록 멋지게 변합니다. 보다 지속 가능한 선택에 대한 약속의 일환으로 ARKET의 모든 신발은 금속처리의 태닝 공정을 거친 엄선된 고품질 가족을 사용하여 만들어 집니다. 색상과 질감이 약간 변화하는 것은 가죽 본연의 특성이며 이러한 자연스러운 변화는 더욱 신발을 특별하게 만들어 줍니다. <br>
                                    &nbsp;<br>
                                    가죽 신발을 최상의 상태로 오랫동안 유지하기 위해서 다름의 관리법을 따른 것이 좋습니다.<br>
                                    &nbsp;<br>
                                    • 물, 기름, 화학 물질과의 접촉을 피해주세요. 젖은 신발을 깨끗하고 부드러운 천으로 닦고 실온에서 건조하세요.<br>
                                    &nbsp;<br>
                                    • 열과 직사광선에 신발을 가까이 두지 마세요. 보관시에는 항상 상자에 넣어 햇빛, 먼지, 긁힐 수 있는 상황으로부터 보호하세요.<br>
                                    &nbsp;<br>
                                    • 부드럽고 깨끗한 천으로 부드럽게 닦으세요. <br>
                                    &nbsp;<br>
                                    • 가죽을 좋은 상태로 유지하고 가죽이 갈라지는 것을 방지하기 위해서는 처음 착용하기 전과 매월 무색 왁스나 크림으로 신발을 관리해주세요. 일부 관리용품은 가죽 표면에 영향을 줄 수 있습니다. 가죽이 변색되지 않도록 항상 관리용품을 신발 전체에 도포하기 전 신발의 안보이는 작은 부분에 테스트 후 사용해주세요. 특히 밝은 색상의 가죽은 민감할 수 있으니 이 점 주의하세요.<br>
                                    &nbsp;<br>
                                    • 스웨이드나 누버크 신발의 경우 얼룩과 물로부터 보호하기 위해 두달에 한번 방수 스프레이를 뿌려주세요. 스프레이를 뿌리기 전후에 항상 결 방향으로 스웨이드 브러시로 가죽을 조심스럽게 닦아주세요. <br>
                                    &nbsp;<br>
                                    • 스웨이드/누버크에 진흙이 묻었다면 진흙을 말리고 브러시로 닦아내주세요. 그 후 깨끗한 젖은 천으로 남아 있는 먼지를 닦아내거나 스웨이드 지우개를 사용하여 마무리해주세요.<br>
                                    &nbsp;<br>
                                    • 가죽의 영구적인 손상을 방지하기 위해 제때 수선해야합니다.<br>
                                    &nbsp;<br>
                                    • 신발을 착용하지 않을 때는 신발 나무를 안에 넣어 보관하세요. 수분을 흡수하고 신발의 원래 본연의 모양을 유지하는데 도움이 됩니다.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_01_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_02_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_03_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_04_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_05_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_06_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_07_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_leather_footwear_08_f.jpg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- // img-box -->
            </div>
        </div>
    </div>
    <!-- // info-section-2 -->

    <!-- product-listing-section -->
    <div class="o-width wc-100">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
            <%- include ("../../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-5 u-align-center">
                    <%# md-o-product-listing-search-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->

        </div>
    </div>
    <!-- // product-listing-section -->

</div>


<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[5].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->