<div data-component="OPageContent" class="o-page-content care-guide-content">

    <h1 class="a-heading-1 seo-heading">
        <span>Linen</span>
    </h1>

    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../common/md-o-local-navigation-care-guide.ejs") %>

    <!-- info-section -->
    <div class="o-width wc-75">
        <div class="o-layout">
            <div class="layout-row-1">
            </div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="text-container">
                                <p class="a-paragraph is-richtext"></p>
                                <p class="a-paragraph">Linen is a strong natural fabric that gets softer with use and time.
                                    Wash linen in the machine on a gentle cycle using a mild detergent
                                    without bleach or optical brightening agents. Follow the temperature
                                    recommendations on the product’s care label or instructions – in
                                    general, dark colours should be washed at a low temperature to reduce
                                    the risk of fading.</p>
                                <p class="a-paragraph">Line dry, if possible – it is kinder to both the product and the
                                    environment and gives linen a crisp feel. If you prefer a softer feel,
                                    tumble dry at a low temperature for a few rotations, then remove and
                                    hang until fully dry. Note that tumble drying and heavy centrifuging
                                    will add to the wear of linen; use cautiously to ensure the longest
                                    possible life for your product.</p>
                                <p class="a-paragraph">Always check the care instructions that accompany a product, as
                                    they might indicate specific instructions due to colour, print,
                                    construction or end-use.</p>
                                <p class="a-paragraph"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CAMP_Care_Linen-2.jpg" alt="Care - Linen">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CAMP_Care_Linen-3.jpg" alt="Care - Linen">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CAMP_Care_Linen-1.jpg" alt="Care - Linen">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CAMP_Care_Linen-4.jpg" alt="Care- Linen">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // img-box -->

            </div>
        </div>
    </div>
    <!-- // info-section -->

    <!-- product-listing-section -->
    <div class="o-width wc-100">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
            <%- include ("../../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-5 u-align-center">
                    <%# md-o-product-listing-search-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->

        </div>
    </div>
    <!-- // product-listing-section -->

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[4].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->