<div data-component="OPageContent" class="o-page-content care-guide-content">

    <h1 class="a-heading-1 seo-heading">
        <span>Linen</span>
    </h1>

    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../common/md-o-local-navigation-care-guide.ejs") %>

    <!-- info-section -->
    <div class="o-width wc-75">
        <div class="o-layout">
            <div class="layout-row-1">
            </div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="text-container">
                                <p class="a-paragraph is-richtext"></p>
                                <p class="a-paragraph">
                                    린넨은 시간이 지날수록 부드러워지는 천연 직물입니다. 표백제나 형광증백제가 없는 중성 세제를 사용하여 섬세의류를 세탁할때 사용하는 모드로 세탁해주세요. 
                                    케어라벨의 권장 온도를 따라주시고, 대게 어두운 색상은 변색의 위험이 있으니 낮은 온도에서 세탁해야 합니다.
                                </p>
                                <p class="a-paragraph">
                                    가능한 자연 건조해주세요. 자연에서 건조되면 린넨의 바스락 거리는 느낌을 느낄 수 있습니다. 부드러운 느낌을 원하시면 낮은 온도에서 건조해주신 후 완전히 걸조될 때까지 꺼내서 걸어두세요. 
                                    제품을 오랫동안 착용하기 위해서는 건조기는 상품을 마모현상을 증가시킬 수 있으니 주의해서 사용해주세요.
                                </p>
                                <p class="a-paragraph">
                                    색상, 패턴, 구조, 또는 제작 용도로 케어 방법이 다를 수 있으니 항상 제품과 함께 제공되는 케어라벨을 확인해주세요.
                                </p>
                                <p class="a-paragraph"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CAMP_Care_Linen-2.jpg" alt="Care - Linen">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CAMP_Care_Linen-3.jpg" alt="Care - Linen">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CAMP_Care_Linen-1.jpg" alt="Care - Linen">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CAMP_Care_Linen-4.jpg" alt="Care- Linen">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // img-box -->

            </div>
        </div>
    </div>
    <!-- // info-section -->

    <!-- product-listing-section -->
    <div class="o-width wc-100">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
            <%- include ("../../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-5 u-align-center">
                    <%# md-o-product-listing-search-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->

        </div>
    </div>
    <!-- // product-listing-section -->

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[4].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->