<div data-component="OPageContent" class="o-page-content care-guide-content"">
    <div class="coremetricsPageId" hidden="">FeautureArticles_WoodenUtensils_3</div>
    <div class="coremetricsPageType" hidden="">FeautureArticles_WoodenUtensils_4</div>
    <div class="coremetricsCategoryId" hidden="">FeautureArticles_WoodenUtensils_2</div>
    <div class="coremetricsCategoryPath" hidden="">FeautureArticles_WoodenUtensils_1</div>

    <h1 class="a-heading-1 seo-heading">
        <span>Wood</span>
    </h1>

    <%# md-o-teaser %>
    <%- include ("../../../../common/md-o-local-navigation-care-guide.ejs") %>

    <!-- info-section-1 -->
    <div class="o-width wc-75">
        <div class="o-layout">
            <div class="layout-row-1">
            </div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="headings">
                                <div class="m-headline">
                                    <h2 class="a-heading-2 has-margin">
                                        <span class="heading-cap">care</span>Wooden utensils
                                    </h2>
                                </div>
                            </div>
                            <div class="text-container">
                                <p class="a-paragraph is-richtext"></p>
                                <p class="a-paragraph">Hand wash your wooden utensils using washing-up liquid and warm water.&nbsp; Rinse thoroughly and allow them to air dry in an upright position, on a dish rack or in a container. Wood is a porous material and wooden utensils may retain food smells.</p>
                                <p class="a-paragraph">To remove unwanted smells, rub the utensils with salt and lemon. Lightly sand your wooden utensils with fine-grade sandpaper when needed. Occasionally treat them with a food-safe oil that is not prone to rancidity to prevent them from drying out. Do not wash wooden utensils in the dishwasher or leave them soaking in water.</p>
                                <p class="a-paragraph"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wooden_utensils_01_f.jpg">
                                    <span class="promoIndex" hidden="">0</span>
                                </div>
                                <%# md-o-img-promotion-data-care %>
                                <%- include ("../../../../common/md-o-img-promotion-data-care.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wooden_utensils_02_f.jpg">
                                    <span class="promoIndex" hidden="">1</span>
                                </div>
                                <%# md-o-img-promotion-data-care %>
                                <%- include ("../../../../common/md-o-img-promotion-data-care.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wooden_utensils_03_f.jpg">
                                    <span class="promoIndex" hidden="">2</span>
                                </div>
                                <%# md-o-img-promotion-data-care %>
                                <%- include ("../../../../common/md-o-img-promotion-data-care.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wooden_utensils_04_f.jpg">
                                    <span class="promoIndex" hidden="">3</span>
                                </div>
                                <%# md-o-img-promotion-data-care %>
                                <%- include ("../../../../common/md-o-img-promotion-data-care.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wooden_utensils_05_f.jpg">
                                    <span class="promoIndex" hidden="">4</span>
                                </div>
                                <%# md-o-img-promotion-data-care %>
                                <%- include ("../../../../common/md-o-img-promotion-data-care.ejs") %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // img-box -->

            </div>
        </div>
    </div>
    <!-- // info-section-1 -->

    <div class="o-width wc-100"></div>

    <!-- info-section-2 -->
    <div class="o-width wc-75">
        <div class="o-layout">
            <div class="layout-row-1">
            </div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="headings">
                                <div class="m-headline">
                                    <h2 class="a-heading-2 has-margin">
                                        <span class="heading-cap">care</span>Wooden chopping boards
                                    </h2>
                                </div>
                            </div>
                            <div class="text-container">
                                <p class="a-paragraph is-richtext"></p>
                                <p class="a-paragraph">Hand wash your wooden chopping board with hot soapy water. Rinse thoroughly and pat with a cloth to remove excess water.&nbsp;Allow the board to air dry completely before putting it away. Wood is a porous material and a wooden chopping board may retain food smells. To remove unwanted smells, rub the board with salt and lemon.<br></p>
                                <p class="a-paragraph">To extend the life of your chopping board and prevent it from drying out and cracking, treat it regularly with a food-safe oil that is not prone to rancidity. Use a clean cloth to apply the oil in an even layer, working in the direction of the grain.&nbsp;<br></p>
                                <p class="a-paragraph">Let the oil soak in for a few hours, preferably overnight, then remove the excess oil with a dry cloth. Do not wash a wooden chopping board in the dishwasher or leave it soaking in water.&nbsp;</p>
                                <p class="a-paragraph"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_01_f.jpg">
                                    <span class="promoIndex" hidden="">5</span>
                                </div>
                                <%# md-o-img-promotion-data-care %>
                                <%- include ("../../../../common/md-o-img-promotion-data-care.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_02_f.jpg">
                                    <span class="promoIndex" hidden="">6</span>
                                </div>
                                <%# md-o-img-promotion-data-care %>
                                <%- include ("../../../../common/md-o-img-promotion-data-care.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_03_f.jpg">
                                    <span class="promoIndex" hidden="">7</span>
                                </div>
                                <%# md-o-img-promotion-data-care %>
                                <%- include ("../../../../common/md-o-img-promotion-data-care.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_04_f.jpg">
                                    <span class="promoIndex" hidden="">8</span>
                                </div>
                                <%# md-o-img-promotion-data-care %>
                                <%- include ("../../../../common/md-o-img-promotion-data-care.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_05_f.jpg">
                                    <span class="promoIndex" hidden="">9</span>
                                </div>
                                <%# md-o-img-promotion-data-care %>
                                <%- include ("../../../../common/md-o-img-promotion-data-care.ejs") %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // img-box -->

            </div>
        </div>
    </div>
    <!-- // info-section-2 -->

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[2].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->