<div data-component="OPageContent" class="o-page-content care-guide-content">

    <h1 class="a-heading-1 seo-heading">
        <span>Wood</span>
    </h1>

    <%# md-o-teaser %>
    <%- include ("../../../../common/md-o-local-navigation-care-guide.ejs") %>

    <!-- info-section-1 -->
    <div class="o-width wc-75">
        <div class="o-layout">
            <div class="layout-row-1">
            </div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="headings">
                                <div class="m-headline">
                                    <h2 class="a-heading-2 has-margin">
                                        나무 기구 관리법
                                    </h2>
                                </div>
                            </div>
                            <div class="text-container">
                                <p class="a-paragraph is-richtext"></p>
                                <p class="a-paragraph">세제와 따뜻한 물을 사용하여 도구를 손으로 씻으세요. 깨끗이 헹구고 수직의 선반 또는 용기에서 자연 건조 시켜주세요. 나무는 다공성 소재이며 냄새가 벨수 있습니다. </p>
                                <p class="a-paragraph">냄새 제거를 위해서는 소금과 레몬으로 문지르면 되고 필요시 고급 사포로 나무 도구를 가볍게 갈아줄 수 있습니다. 가끔 식품에 안전한 오일을 발라 마르는 것을 방지해주시고 식기 세척기에 넣거나 물에 담가두지 마세요.</p>
                                <p class="a-paragraph"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wooden_utensils_01_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wooden_utensils_02_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wooden_utensils_03_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wooden_utensils_04_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wooden_utensils_05_f.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // img-box -->

            </div>
        </div>
    </div>
    <!-- // info-section-1 -->

    <div class="o-width wc-100"></div>

    <!-- info-section-2 -->
    <div class="o-width wc-75">
        <div class="o-layout">
            <div class="layout-row-1">
            </div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="headings">
                                <div class="m-headline">
                                    <h2 class="a-heading-2 has-margin">
                                        나무도마 관리법
                                    </h2>
                                </div>
                            </div>
                            <div class="text-container">
                                <p class="a-paragraph is-richtext"></p>
                                <p class="a-paragraph">따뜻한 비눗물로 나무 도마를 손으로 세척한 후 천으로 두드려 여분의 물기를 제거해주세요. 도마를 자연건조로 완전히 건조시킨 후 보관해주세요. 나무는 다공성 소재이며 냄새가 벨수 있습니다. 냄새 제거를 위해서는 소금과 레몬으로 문질러 주세요. </p>
                                <p class="a-paragraph">정기적으로식품에 안전한 오일을 깨끗한 천을 사용하여 나무 결 방향으로 고르게 발라 도마의 수명을 연장하고 마르는 것을 방지해주세요.</p>
                                <p class="a-paragraph">오일에 몇 시간, 가급적 하룻밤 동안 담가두었다가 마른 천으로 여분의 오일을 제거해주시고 식기세척기에 넣거나 물에 담가두지 마세요.</p>
                                <p class="a-paragraph"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_01_f.jpg">
                                    <span class="promoIndex" hidden="">5</span>
                                </div>
                                <%# md-o-img-promotion-data %>
                                <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_02_f.jpg">
                                    <span class="promoIndex" hidden="">6</span>
                                </div>
                                <%# md-o-img-promotion-data %>
                                <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_03_f.jpg">
                                    <span class="promoIndex" hidden="">7</span>
                                </div>
                                <%# md-o-img-promotion-data %>
                                <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_04_f.jpg">
                                    <span class="promoIndex" hidden="">8</span>
                                </div>
                                <%# md-o-img-promotion-data %>
                                <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_wood_chopping_boards_05_f.jpg">
                                    <span class="promoIndex" hidden="">9</span>
                                </div>
                                <%# md-o-img-promotion-data %>
                                <%- include ("../../../../common/md-o-img-promotion-data.ejs") %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // img-box -->

            </div>
        </div>
    </div>
    <!-- // info-section-2 -->

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[2].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->