<div data-component="OPageContent" class="o-page-content care-guide-content">

    <h1 class="a-heading-1 seo-heading ">
        <span>Wool</span>
    </h1>
    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../common/md-o-local-navigation-care-guide.ejs") %>

    <!-- info-section -->
    <div class="o-width wc-75">
        <div class="o-layout">
            <div class="layout-row-1"></div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="text-container">
                                <p class="a-paragraph is-richtext"></p>
                                <p class="a-paragraph">메리노 울, 램스울, 모헤어에는 다양한 타입이 있습니다. 대부분 자주 세탁할 필요 없으며 필요한 부분을 세탁, 또는 건조 시킬 수 있습니다. </p>
                                <p class="a-paragraph">
                                    양모 세탁 시, 반드시 케어라벨의 사용설명서를 확인하시고 손세탁 또는 중성세제를 사용하여 미지근한 온도에서 세탁기를 사용해주세요. 상품의 실밥이 튀어나오거나 줄어드는 현상을 방지하기 위해 메쉬소재의 세탁망에 넣어 세탁해주세요. 
                                    또한 섬유가 늘어나는 것을 방지하려면 옷을 짜지 말고 항상 평평하게 건조하세요. 가급적이면 수건으로 여분의 수분을 흡수하세요. 
                                </p>
                                <p class="a-paragraph">세탁 후 다림질하면 소재의 자연스러운 광택을 유지하는데 도움이 되고 다림질이 필요할 경우 헝겊을 겉에 덧대어 스팀 다리미를 사용하세요.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/woolcare_1_a.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/woolcare_2_a.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/woolcare_3_a.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/woolcare_4_a.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // img-box -->

            </div>
        </div>
    </div>
    <!-- // info-section -->

    <!-- product-listing-section -->
    <div class="o-width wc-75">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
            <%#- include ("../../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-5 u-align-center">
                    <%# md-o-product-listing-search-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->

        </div>
    </div>
    <!-- // product-listing-section -->
</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[1].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->