<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../../common/md-o-local-navigation-about-women-in-leadership.ejs") %>

    <div class="o-width spacer-desktop wc-75"></div>

    <div class="title--medium  o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-text-field is-wide ">
                <div class="headings" style="text-align:center;">
                    <div class="m-headline"><h2 class="a-heading-2  has-margin">THE PLACE OF POSSIBLE FOR ALL</h2></div>
                </div>
                <div class="text-container"><p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">Leona Whitfield, Area Manager UK, Benelux & South Korea, London</div>
                    <p class="a-paragraph"></p></div>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container"><p class="a-paragraph is-richtext">As an area manager, Leona holds a key role in
                    creating strategies to achieve our business goals, from sales to customer experience to talent
                    development within our physical stores. Her tasks include training, supporting and inspiring store
                    and café managers and their teams to grow as leaders and act as ambassadors of the brand every day.
                    Leona is also involved in opening new stores in new and existing markets, which means that she helps
                    store and café teams to build a workplace culture that celebrates our brand values. <br></p></div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_5_WEB.jpg">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_8_WEB.jpg">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_6_WEB.jpg">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_7_WEB.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-text-field two-columns ">
                <div class="text-container"><p class="a-paragraph is-richtext"></p>
                    <p class="a-paragraph">‘Good leadership is imperative for us at ARKET to continue growing as a brand
                        and evolve as individuals in a natural, warm and authentic way. Recognising the potential in
                        individuals based on talent and not gender helps us keep our brand DNA alive through every step
                        we take.&nbsp; <br></p>
                    <p class="a-paragraph">When Covid-19 broke out last year, we had to completely adapt our way of
                        working. Most of our physical stores were temporarily closed, which was a challenge we never
                        faced before. The honesty and transparency in leadership I experienced in my career at ARKET has
                        allowed me to naturally approach my teams in the same way. Together, we were able to nurture an
                        open and supportive climate, where everyone was encouraged to think outside of the box,
                        collaborate and find creative ways of navigating in the new reality. <br></p>
                    <p class="a-paragraph">Holding a leadership role as a woman supports my vision that women are
                        limitless in business and cannot be restrained in utilising their capabilities to grow and
                        inspire. For too long, women have had to fight to prove their value and place in the economy. As
                        a leader, it is my responsibility towards my colleagues and the community to continue creating a
                        workplace that is the place of possible for all, regardless of gender or identity.&nbsp; <br>
                    </p>
                    <p class="a-paragraph">If you are a woman who wishes to lead, I encourage you to never see obstacles
                        but only challenges. By challenging, we question – and questioning leads to actions and
                        solutions.’<br></p>
                    <p class="a-paragraph"></p></div>
            </div>
        </div>
    </div>

    <div class="o-width spacer-desktop wc-75"></div>

    <%# md-about-o-width-communites %>
    <%- include ("../../../../../common/md-about-o-width-communites.ejs") %>

    <div class="o-width wc-100">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    Select a colleague below to read more
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-focus-panel">
            <div class="focus-panel-container three-tiles">

                <%# md-about-o-focus-tiles %>
                <%- include ("../../../../../common/md-about-o-focus-tiles-lina.ejs") %>

                <%# md-about-o-focus-tiles %>
                <%- include ("../../../../../common/md-about-o-focus-tiles-vera.ejs") %>

            </div>
        </div>
    </div>

    <div class="o-width about-grid wc-50">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-hover has-margin">
                    <span class="heading-cap">explore</span>
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about.html" target="_self" class="a-link heading-tag">ARKET</a>
                </h2>
            </div>
        </div>
        <%# md-about-o-image-list-explore-arket %>
        <%- include ("../../../../../common/md-about-o-image-list-explore-arket.ejs") %>
    </div>

    <div class="o-width spacer wc-100"></div>

</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[3].classList.add('is-selected');
        }

        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[7].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->