<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../../common/md-o-local-navigation-about-women-in-leadership.ejs") %>

    <div class="o-width spacer-desktop wc-75"></div>

    <div class="title--medium  o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-text-field is-wide ">
                <div class="headings" style="text-align:center;">
                    <div class="m-headline"><h2 class="a-heading-2 has-margin">일터에서의 여성 공동체</h2></div>
                </div>
                <div class="text-container"><p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">Lina Hällgren, 크리에이티브 콘텐츠 & 스튜디오 매니저, 스톡홀름</div>
                    <p class="a-paragraph"></p></div>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container"><p class="a-paragraph is-richtext">Lina는 ARKET 브랜드의 스토리를 구상하는 30명 이상의 크리에이티브로 구성된 팀을 감독합니다.
                    카피라이터, 미술감독, 사진작가, 스타일리스트, 리터처, 코디네이터 및 프로젝트 매니저들이 arket.com을 위한 콘텐츠를 설계하고 제작하는 Lina의 팀입니다.
                    그의 역할은 우리 브랜드의 모델을 캐스팅하고 어떤 언어 사용할지, 어떻게 제품 전시할지 등 온라인으로 브랜드를 표시하는 방법에 직접적인 영향을 줍니다.
                    <br></p></div>
        </div>
    </div>

    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_1_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_3_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-text-field two-columns ">
                <div class="text-container"><p class="a-paragraph is-richtext"></p>
                    <p class="a-paragraph">'크리에이티브 팀과 함께 일을 하고 있어서 저의 일은 그들에게 아이디어를 개발할 수 있는 공간과 자신감을 주는 것입니다.
                        제 목표는 팀을 잘 듣고, 인도하고, 그들이 최선의 결과를 이끌어 낼 수 있도록 도와주는 것입니다. 나는 리더십에 대한 전체적인 접근법을 믿습니다.
                        신뢰, 건강한 가치 형성, 동기 부여를 통해 팀원들이 잠재력을 최대한 발휘할 수 있도록 격려하는 것이 저의 목표입니다.
                        또한 저는 저희 팀이 본인의 인생과 가족이 항상 우선이라는 것을 알았으면 합니다.'<br><br>

                        전 세계적으로, 여성들에게 주어진 가족의 가치와 가정을 돌봐야 한다는 의무는 종종 그들의 커리어에 대한 길을 가로막습니다. 자라면서 저는 여성 리더는 전혀 알지 못했고,
                        주변의 여성들이 직장에서, 특히 아이를 낳고 나서 동등하게 대우받기 위해 고군분투하는 것을 보았습니다. 저도 여자이고 엄마로서,
                        아픈 아이들과 함께 집에 있거나 학교에서 아이들을 데리러 일찍 떠나는 것이 항상 괜찮다고 느껴지지는 않았습니다. 가족이 없는 것처럼 행동해야 한다는 부담감이 컸고
                        잘 해내야 한다는 생각에 스스로를 강하게 밀어붙였습니다.<br>
                    </p>

                    <p class="a-paragraph">지금 저는 팀의 문화, 특히 부모인 팀원들이 많은 팀에게 영향을 미칠 수 있는 위치에 있기 때문에, 다른 방법이 있다는 것을 보여주는 것이 저의 임무가 되었습니다.
                        건강한 일과 삶의 균형은 우리가 회사 목표에 전달하는 데 필요한 에너지와 창의력을 자유롭게 해줄 것입니다.
                        이러한 접근 방식을 직장에서 사용할 수 있다는 사실은 회사 가치관의 한 예입니다. 또한 무엇이 가능한지에 대한 명확한 신호를 보냅니다.
                        오늘날, 저는 여성들에게 동등한 직업 기회를 적극적으로 제공하지 않는 회사에서 일하고 싶지 않습니다.<br><br>

                        리더가 되길 갈망하는 여성들에게 주고 싶은 저의 충고는 그들이 진심으로 열정을 느끼고 자신의 직감을 믿을 수 있는 진로를 선택하라입니다.
                        하지만 가장 중요한 것은 재미있게 놀고 친구를 사귀는 것입니다. 일은 긍정적인 경험이 되어야 하니, 동시에 꼭 즐겨야 합니다.
                        제 경력 동안 그동안의 동료들 없이는 지금의 저도 없었을 것입니다.'
                    </p>
                    <p class="a-paragraph"></p></div>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-50">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_2_WEB.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="o-width spacer-desktop wc-75"></div>

    <%# md-about-o-width-communites %>
    <%- include ("../../../../../common/md-about-o-width-communites.ejs") %>

    <div class="o-width wc-100">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    Select a colleague below to read more
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-focus-panel">
            <div class="focus-panel-container three-tiles">
                
                <%# md-about-o-focus-tiles %>
                <%- include ("../../../../../common/md-about-o-focus-tiles-leona.ejs") %>

                <%# md-about-o-focus-tiles %>
                <%- include ("../../../../../common/md-about-o-focus-tiles-vera.ejs") %>

            </div>
        </div>
    </div>

    <div class="o-width about-grid wc-50">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-hover has-margin">
                    <span class="heading-cap">explore</span>
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about.html" target="_self" class="a-link heading-tag">ARKET</a>
                </h2>
            </div>
        </div>
        <%# md-about-o-image-list-explore-arket %>
        <%- include ("../../../../../common/md-about-o-image-list-explore-arket.ejs") %>
    </div>

    <div class="o-width spacer wc-100"></div>
    
</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[1].classList.add('is-selected');
        }

        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[7].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->