<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../../common/md-o-local-navigation-about-women-in-leadership.ejs") %>

    <div class="o-width spacer-desktop wc-75"></div>

    <div class="title--medium  o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-text-field is-wide ">
                <div class="headings" style="text-align:center;">
                    <div class="m-headline"><h2 class="a-heading-2  has-margin">비즈니스 여성을 위한<br class="only-pc">사례 구축</h2></div>
                </div>
                <div class="text-container"><p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">Vera Huang, 상하이 글로벌 머천다이징 수석 매니저</div>
                    <p class="a-paragraph"></p></div>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Vera는 중국 상하이에 있는 당사 생산 사무실에서 일하는 머천다이징 매니저로, ARKET의 디자이너와 스톡홀름에 있는 구매 사무소 및 현지 공급 회사 간의 연락 담당자입니다.
                    Vera와 그녀의 팀은 공급업체가 생산한 의류가 품질, 지속 가능성 및 핏 면에서 ARKET의 높은 기준을 따르도록 하는 팀입니다. 팀은 협력사 공장을 정기적으로 방문하여
                    외부 협력사에 대한 ARKET 브랜드 대표 역할을 수행합니다.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_9_WEB.jpg">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_12_WEB.jpg">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_11_WEB.jpg">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_10_WEB.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-text-field two-columns ">
                <div class="text-container"><p class="a-paragraph is-richtext"></p>
                    <p class="a-paragraph">저는 성 평등하고 다양성을 존중하는 리더십이 미래를 위한 견고한 기반을 구축하고자 하는 조직들에게 전략적인 비즈니스 필수 요소로 보고 있습니다.
                        전통적으로, 여성들에게 주어진 역할은 그들에게 자기 개발을 위한 공간을 거의 남겨두지 않았습니다.
                        하지만 이제 우리는 여성들이 그들의 삶과 경력에 대한 결정을 내릴 수 있는 권한을 느끼는 지역 사회와 일터가 그것을 통해 혜택을 받는다는 것을 알고 있습니다.
                    </p>
                    <p class="a-paragraph">
                        리더로서 저의 주된 임무는 팀 내에서 자신감을 쌓고, 팀원들이 따뜻하고 포용적인 업무 환경을 함께 만들 수 있도록 격려하는 것입니다.
                        또한 비즈니스 목표 달성을 확인하는 것도 저의 책임이지만, 적절한 조건을 갖춘 팀이 없다면 불가능합니다.
                        초기에 저는 우리가 함께 브레인스토밍을 할 때 오는 많은 도전들을 극복할 수 있다는 것을 깨달았습니다.
                        저는 저희 팀이 자신감을 갖고 모든 아이디어가 환영받는다고 느끼고 어떤 질문도 어리석은 질문이 아니라는 것을 느낄 때 생산성이 증가하는 것을 볼 수 있었으며,
                        지속 가능한 자재를 확보하고 주문에 따른 생산 낭비를 최소화할 수 있었습니다.
                        저희 팀은 저는 공급 업체들과 긴밀히 협력하고 있기 때문에, 조직 외부의 성 평등에 대한 강력한 메시지를 전달할 수 있는 위치에 있습니다.
                        우리는 여성의 리더십과 긍정적인 사업 성과 간의 연관성을 직접 보여줌으로써, 다른 회사들이 변화를 받아들이도록 하였고, 이 변화에 대해서 도움을 제공할 수 있었습니다.
                    </p>
                    <p class="a-paragraph">
                        제가 받은 조언 중 가장 인상 깊었던 것은 남들이 나를 위해 원하는 것이 아니라 내가 원하는 것을 바탕으로 경력을 쌓으라는 것이었습니다. 당신이 믿는 것을 당신의 임무로 삼으세요.
                        항상 호기심을 갖고 배우세요. 비즈니스 환경이 빠르게 변화합니다. 선도적인 업무와 전략적 사고 및 새로운 툴에 대한 이해는 당신에게 기회가 왔을 때 준비가 되어 있을 수 있게 도와줍니다.
                    </p>
                    <p class="a-paragraph"></p></div>
            </div>
        </div>
    </div>

    <div class="o-width spacer-desktop wc-75"></div>

    <%# md-about-o-width-communites %>
    <%- include ("../../../../../common/md-about-o-width-communites.ejs") %>

    <div class="o-width wc-100">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <!-- mrk-edit : 20211025 -->
                <h2 class="a-heading-2 has-margin">
                    <!--Select a colleague below to read more-->
                    이름을 선택해서 더 알아보세요
                </h2>
                <!-- //mrk-edit : 20211025 -->
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-focus-panel">
            <div class="focus-panel-container three-tiles">

                <%# md-about-o-focus-tiles %>
                <%- include ("../../../../../common/md-about-o-focus-tiles-leona.ejs") %>
                
                <%# md-about-o-focus-tiles %>
                <%- include ("../../../../../common/md-about-o-focus-tiles-lina.ejs") %>

            </div>
        </div>
    </div>

    <div class="o-width about-grid wc-50">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-hover has-margin">
                    <span class="heading-cap">explore</span>
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about.html" target="_self" class="a-link heading-tag">ARKET</a>
                </h2>
            </div>
        </div>
        <%# md-about-o-image-list-explore-arket %>
        <%- include ("../../../../../common/md-about-o-image-list-explore-arket.ejs") %>
    </div>

    <div class="o-width spacer wc-100"></div>

</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[2].classList.add('is-selected');
        }

        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[7].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->