<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../../common/md-o-local-navigation-about-women-in-leadership.ejs") %>

    <div class="o-width spacer-desktop wc-75"></div>

    <div class="title--medium  o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-text-field is-wide ">
                <div class="headings" style="text-align:center;">
                    <div class="m-headline"><h2 class="a-heading-2  has-margin">BUILDING A CASE FOR WOMEN IN BUSINESS</h2></div>
                </div>
                <div class="text-container"><p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">Vera Huang, Global Merchandising Senior Manager, Shanghai</div>
                    <p class="a-paragraph"></p></div>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container"><p class="a-paragraph is-richtext">Vera is a merchandising manager working in
                    our production office in Shanghai, China – a liaison between ARKET’s designers and buying office in
                    Stockholm and local supplying companies. Vera and her team are the ones that make sure the garments
                    produced by the suppliers follow ARKET’s high standards in terms of quality, sustainability and fit.
                    The team pays regular visits to the suppliers’ factories, acting as representatives of the ARKET
                    brand towards the external business partners.</p>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_9_WEB.jpg">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_12_WEB.jpg">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_11_WEB.jpg">
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_10_WEB.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="o-text-field two-columns ">
                <div class="text-container"><p class="a-paragraph is-richtext"></p>
                    <p class="a-paragraph">‘I see gender-equal and diverse leadership as a strategic business imperative
                        for organisations that want to stay relevant and build a solid foundation for the future.
                        Traditionally, the role designated to women has left them with little room for personal
                        development. But we know now that communities and workplaces where women feel empowered to make
                        decisions about their lives and careers benefit from it.</p>
                    <p class="a-paragraph">My primary mission as a leader is to build confidence among the team, inspire
                        and encourage them to co-create a warm and inclusive work environment. My responsibility is also
                        to make sure we achieve our business goals, but it wouldn’t be possible without a team that has
                        been given the right conditions to do so. Early on, I have understood that we can overcome many
                        challenges that come with our jobs when we brainstorm together. I see that my team thrives when
                        they have the confidence to speak up and feel that every idea is welcomed, and no question is
                        too silly to ask. This way, we have, for example, made fantastic progress in securing
                        sustainable materials and minimising production waste for our orders. <br>Since my team and I
                        work closely with supplying companies, we are in a position to deliver a strong message about
                        gender equality outside of our organisation. Through showcasing the connection between women in
                        leadership and positive business results, we can inspire other companies to open up to change
                        and support them along the way.</p>
                    <p class="a-paragraph">The most impressive advice I ever got was to build my career on what I want,
                        not what others want for me. Take something you believe in and make it your mission. Stay
                        curious and learn – the business environment changes quickly. Your understanding of the leading
                        practices, strategic thinking, and emerging tools will help you be ready when an opportunity
                        comes.’<br></p>
                    <p class="a-paragraph"></p></div>
            </div>
        </div>
    </div>

    <div class="o-width spacer-desktop wc-75"></div>

    <%# md-about-o-width-communites %>
    <%- include ("../../../../../common/md-about-o-width-communites.ejs") %>

    <div class="o-width wc-100">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    Select a colleague below to read more
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-focus-panel">
            <div class="focus-panel-container three-tiles">

                <%# md-about-o-focus-tiles %>
                <%- include ("../../../../../common/md-about-o-focus-tiles-leona.ejs") %>
                
                <%# md-about-o-focus-tiles %>
                <%- include ("../../../../../common/md-about-o-focus-tiles-lina.ejs") %>

            </div>
        </div>
    </div>

    <div class="o-width about-grid wc-50">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-hover has-margin">
                    <span class="heading-cap">explore</span>
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about.html" target="_self" class="a-link heading-tag">ARKET</a>
                </h2>
            </div>
        </div>
        <%# md-about-o-image-list-explore-arket %>
        <%- include ("../../../../../common/md-about-o-image-list-explore-arket.ejs") %>
    </div>

    <div class="o-width spacer wc-100"></div>

</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[2].classList.add('is-selected');
        }

        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[7].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->