<div data-component="OPageContent" class="o-page-content footer-about-wrap">
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png" alt="Menu">
            <h2 class="a-heading-2">
                <span class="heading-cap">Food</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings big-tit-txt">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">봄, 여름, 가을, 겨울을<br class="br-only-m"> 위한 요리책</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                    <div class="about-align-center">
                        마틴 버그,<br>
                        ARKET헤드 쉐프
                    </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        ARKET의 첫 번째 요리책에서, 쉐프 마틴 버그는 우리의 첫 해의 사계절 채식주의 레시피를 모았습니다. 마틴은 "뉴 노르딕 푸드 무브먼트"의 초기 지지자 중 한명이며, 현대적인 접근으로 북유럽의 고전적인 요리 전통을 아우릅니다. 이것은 윤리적으로 생산되는 건강한 재료를 사용하여 전통적인 요리법으로 만든 요리를 의미합니다. 또 다른 중요한 점은, 지역 생산자들과 긴밀히 협력함으로써, 음식의 질을 향상시키고 환경적인 부담을 줄이는 것입니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    북유럽의 생활에서, 계절의 변화는 매우 중요합니다. 겨울이 길고 추운 만큼 여름은 짧고 밝습니다. 노르딕 키친은 혹독한 기후와 맞서고 적응해 온 역사에서 유래되었습니다. 
                    지금 북유럽의 삶은 예전보다 훨씬 편안 해졌지만, 제철 요리는 여전히 북유럽 음식 문화의 중추입니다. 이 책의 요리법은 모두 스칸디나비아의 서로 다른 계절을 반영하고 있습니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_cafe_cookbook_martinberg.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_17S6B2_R6_4_a.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        뉴 노르딕 키친은 전통을 기반으로 하고 있지만, 끊임없이 진화하고 있습니다. 오늘날의 북유럽 음식은 고전적인 요리 기술과 다른 문화로부터의 새로운 영향이 혼재되어 있습니다 . 이 책에 포함된 ARKET의 대표적인 노란 완두콩 후무스가 그 한 예입니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    이 조리법은 중동 음식의 영향을 받았지만, 스칸디나비아의 노란 완두콩으로 만들어졌습니다. ARKET의 첫 번째 레시피 컬렉션은 간단한 일상의 레시피로 구성되어 있으며, 가정용으로 조정 되었습니다. 
                    이 책에는 저희 카페에서 제공되는 요리와 디저트뿐만 아니라 독특한 레시피도 포함되어 있습니다. ARKET의 사명은 다양한 사람들에게 건강하고 지속 가능한 음식을 모던하고 이해하기 쉬운 방식으로 대중화하는 것입니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_17S6B2_R1_3_a.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_cafe_cookbook_cover.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-tag-cloud">
        <h6 class="a-heading-6 cloud-title">Download selected recipes for</h6>
        <ul class="tags-container">
            <li class="tag ">
                <a href="https://www.arket.com/content/dam/P11/images/campaigns/2020/cafe/docs/arket_cookbookforspringsummerautumnandwinter_spring.pdf" target="_self" class="a-link">Spring</a>
            </li> 
            <li class="tag ">
                <a href="https://www.arket.com/content/dam/P11/images/campaigns/2020/cafe/docs/arket_cookbookforspringsummerautumnandwinter_summer.pdf" target="_self" class="a-link">Summer</a>
            </li>
            <li class="tag ">
                <a href="https://www.arket.com/content/dam/P11/images/campaigns/2020/cafe/docs/arket_cookbookforspringsummerautumnandwinter_autumn.pdf" target="_self" class="a-link">Autumn</a>
            </li>
            <li class="tag ">
                <a href="https://www.arket.com/content/dam/P11/images/campaigns/2020/cafe/docs/arket_cookbookforspringsummerautumnandwinter_winter.pdf" target="_self" class="a-link">Winter</a>
            </li> 
        </ul>    
    </div>
    <div class="o-width wc-100">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_cookbook_spread_y.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_cookbook_spread_x.jpg">
                </div>
            </div>
        </div>
        <div class="richtextWrapper is-richtext">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-jessica.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket-cafe3.ejs") %>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[3].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->