<div data-component="OPageContent" class="o-page-content">
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png" alt="Menu">
            <h2 class="a-heading-2">
                <span class="heading-cap">Food</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">WHY WE CARE SO MUCH ABOUT FOOD</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">
                        with Martin Berg<b><br>
                        Head chef of the ARKET café</b>
                    </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Food </span>
                        Our head chef Martin Berg describes himself as ‘on a mission’. One of the early proponents of the New Nordic food movement, Martin has a rich background in sustainable and sensitive cooking, as the executive chef at Michelin-star restaurants and the co-founder of a traditional sourdough rye bakery and organic café in Stockholm.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ARKET café is a seasonal vegetarian kitchen and coffee shop promoting natural flavours and a modern, more sustainable way of eating. The menu reflects our vision of the New Nordic everyday food. It emphasises traditional methods and healthy ethically produced ingredients, consciously combining our Northern recipes with influences from abroad.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q3_cafe_bts_martin_f.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_20Q4_cafe_stockholm_10b.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Nordic roots</span>
                        Our background is in the New Nordic food movement, whose ideas of ethics and taste have helped remodel both the gastronomy and the everyday cuisine of our region in the last decades. 
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    It is a philosophy that highlights locality and the many unique flavours and traditions that have been shaped by our climate. Above all, it’s one that aims to transform how food is produced and consumed, making the way we eat a force of change in society. In our interpretation, our Nordic soul is reflected in the ingredients we use as well as in how they’re combined with an open and inclusive mind. In traditional recipes featuring innovative ingredients and flavour combinations – or in dishes and cooking techniques that draw inspiration from food cultures all over the world – these form our New Nordic everyday cuisine. By offering a modern vegetarian menu, we want to inspire new discoveries and a more sustainable diet which benefits both our health and the environment.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_3.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_20Q4_cafe_stockholm_5.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Eating in season </span>
                        Natural foods have a cyclical rhythm. There is a limited window of time each year when ingredients reach their peak of flavour and nutrition, tasting sweeter, richer and more complex than either before or after.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Tender leafy greens and primeur vegetables in spring; strawberries, plums and tomatoes in summer; mushrooms and the harvest of root vegetables during autumn; produce that can be stored and processed to last through the winter. 
                    Following this natural rhythm of the seasons connects us to the moment and offers an inspiring pulse of anticipation and new energy through the year. It is also a great opportunity to rediscover the delicious but perhaps underused ingredients that many of us might have forgotten about, such as the wide variety of kale and leaf cabbages and our own Swedish grey peas.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width portrait-video  wc-75">
        <div class="a-vimeo-video" style="margin-top:0px; margin-bottom:0px;">
            <iframe src="https://player.vimeo.com/video/460941558?autoplay=0&amp;amp;color=ffffff&amp;amp;title=0&amp;amp;byline=0&amp;amp;portrait=0" width="640" height="360" frameborder="0" allowfullscreen="" style="height: 100%; width:100%"></iframe>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Natural farming </span>
                        Using heritage grains and legumes in the everyday kitchen is a way to preserve our culinary heritage – in the Nordic region as well as across the world. But perhaps more importantly, these varieties are also opening the door to a new tradition and new world of flavours.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    With modern and monocultural farming, the natural variety of wheats, beans, lentils and greens almost vanished from our fields and gardens, as the focus shifted towards consistency and high yields. But with the growing interest in healthier and more sustainable food, we’re now beginning to rediscover older techniques and traditions, as well as the historic crops that have been farmed for centuries – widely but in small scale – in close harmony with the environment. 
                    Many of these varieties have developed a natural resistance to weeds and pests which makes them well-suited for organic farming, and thanks to their large root systems, they’re able to absorb more vitamins, minerals and amino acids from the earth. As a result, they have a richer complexity of flavour, and farmed with care and consideration to place, the restored diversity of plants helps to vitalise the soils and entire ecosystems where they’re grown.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_20Q4_cafe_stockholm_8.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/Coffee J&N_1_f.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Better coffee </span>
                        We are passionate about good coffee and serve only certified organic speciality coffee blends and single origins; transparent and traceable coffees from roasters who focus on flavour, seasonality and ethical sourcing.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ‘Speciality coffee’ is a term used for top-quality coffee produced by skilled farmers at high altitudes, where it develops clean and intense flavours often described as sweet, floral, fruity, spicy, herby and nutty. We work closely with speciality coffee roasters across Europe who all source their beans directly from the growers and cooperatives that produce them. The beans are carefully roasted to preserve the natural flavour and unique character of each coffee. 
                    When it comes to coffee, what tastes good is usually also good for the environment and for the people who produce it. 
                    Good coffee is always more or less organic, farmed in harmony with the environment with little or no chemical additives. And because it is direct-traded without middlemen, the producers are paid a fair and long-term sustainable price, meaning they can continue to invest in quality and sustainable growing practices. Good coffee costs a little bit more than the mass-produced alternatives, but can also be enjoyed without any of the bitter aftertaste.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q1_cafe_warbrokvarn_5a.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q1_cafe_warbrokvarn_7.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Our foundation </span>
                        Our way of cooking and thinking about food are influenced by the same ideas and scientific conclusions that form the basis of The Planetary Health Diet. Launched by the EAT-Lancet commission, it is a plant-forward diet where whole grains, fruits, vegetables, nuts and legumes comprise the biggest share of what we eat while meats, dairy and added sugar are limited to only modest amounts. 
                        Shifting to a largely vegetarian diet nurtures our own health as well as environmental sustainability on a global scale.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Transparency of taste, as well as transparency into the creative process, defines the way we cook and the menu we offer. Everything we serve is freshly prepared in open kitchens. We roast vegetables and boil eggs in small ovens behind the counter and make salads and sandwiches to order. All recipes are tailored to suit a limited space – simple dishes, relying on a few pure flavours, handmade from sustainably produced seasonal ingredients. 
                    Our breads and pastries are developed in collaboration with three Nordic bakeries using 100% organic flour, sugar and butter. We’re convinced that the quality of the food depends on the ingredients we use, and by showing that genuine and thoughtful cooking can in fact be offered at a wider scale, we hope to contribute to a new standard in our industry.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-50">
        <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_20Q4_cafe_stockholm_11.jpg">
                </div>
            </div>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>

    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-jessica.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket-cafe2.ejs") %>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[3].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->