<div data-component="OPageContent" class="o-page-content footer-about-wrap">
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png" alt="Menu">
            <h2 class="a-heading-2">
                <span class="heading-cap">Food</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        우리가 음식에<br>
                        신경을 쓰는 이유
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                    <div class="about-align-center">
                        마틴 버그,<br>
                        아르켓 카페 헤드 셰프
                    </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Food </span>
                        우리의 헤드 셰프 마틴 버그는 스스로를 미션에 임하고 있다고 합니다. 뉴 노르딕 음식 운동의 초기 지지자 중 한명인 마틴은 미슐랭 스타 레스토랑의 수석 셰프이자 전통적인 사워도우 호밀 베이커리와 유기농 카페 공동 설립자로서 지속가능하고 세심한 요리에 풍부한 경험을 가지고 있습니다. 
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    아르켓 카페는 계절주의 베지테리언 주방과 자연스러운 풍미를 추구하는 커피숍 그리고 모던하며 지속가능한 먹거리를 추구하는 카페 입니다. 우리의 메뉴는 뉴 노르딕 일상 음식의 비전을 반영합니다.<br> 
                    전통적인 방법과 건강하고 윤리적인 방식으로 재배된 재료를 사용하는걸 강조하며 북유럽과 해외의 영향을 받은 레시피 선보입니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q3_cafe_bts_martin_f.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_20Q4_cafe_stockholm_10b.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field is-wide ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Nordic roots</span>
                        우리의 배경은 뉴 노르딕 음식 운동에서 시작 됩니다. 지난 십년간 이 운동에서 나온 맛과 윤리성은 우리지역의 일상 요리와 미식을 개조하는 일을 했습니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    이것은 우리 기후에 의해 형성된 여러 독특한 맛과 지역성, 전통을 강조하는 철학입니다. 무엇보다도, 어떻게 음식을 생산하고 소비하는지에 따라 우리가 먹는 방식을 변화시키는 사회적인 힘을 만들어내는 것을 목표로 하고 있습니다. 
                    우리 해석에 의하면, 북유럽 정신은 우리가 사용하는 재료와 이를 열리고 포용하는 마음으로 어떻게 접목시키는지에 따라 반영이 됩니다. 혁신적인 재료와 맛의 조화를 나타내는 전통적인 레시피나 여러 전세계 음식 문화에서 온 요리 테크닉이 새로운 노르딕 일상 음식 문화를 형성 하고 있습니다. 현대식 베지테리언 메뉴를 제공함으로써, 우리는 새로운 발견 그리고 우리의 건강과 환경 모두에 이로운 보다 지속적인 식사에 대한 영감을 주고 싶습니다. 
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_3.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_20Q4_cafe_stockholm_5.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">제철 음식</span>
                        자연 식품은 주기적인 리듬을 가지고 있습니다. 제철 재료들은 매년 제한적이며 이전이나 이후보다 더 영양과 맛이 최고조에 달하며 달콤하고 풍부하며 다양한 맛을 냅니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    봄에는 새로운 채소들과 잎이 무른 야채, 여름에는 딸기와 자두, 토마토, 가을에는 버섯과 뿌리 채소들의 수확; 겨울까지 저장되고 가공될 수 있는 생산물. 이 계절별 자연의 흐름을 따르는 것은 우리를 매 순간과 연결시켜주고 한 해 동안의 기대와 새로운 에너지를 제공합니다. 
                    이는 또한 우리 중 많은 사람들이 잊어버렸을지도 모르는 맛있지만 아마도 덜 사용된 재료들, 케일, 양배추 그리고 스웨덴산 그레이 완동콩을 재발견할 수 있는 좋은 기회입니다. 
                </p>
            </div>
        </div>
    </div>
    <div class="o-width portrait-video  wc-75">
        <div class="a-vimeo-video">
            <iframe src="https://player.vimeo.com/video/460941558?autoplay=0&amp;amp;color=ffffff&amp;amp;title=0&amp;amp;byline=0&amp;amp;portrait=0" width="640" height="360" frameborder="0" allowfullscreen="" style="height: 100%; width:100%"></iframe>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">자연농업 </span>
                        북유럽과 전세계에서 북유럽의 전통적인 곡식들과 콩들을 매일 주방에서 사용하는 것은 우리의 역사 깊은 요리법을 보존하는 방법입니다. 하지만 아마도 더 중요한 것은, 이 다양성이 새로운 전통과 새로운 나라의 맛의 문을 열고 있다는 것 입니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    현대적이고 단일 농사를 지으면서, 일관성과 높은 수확량에 집중하느라 밀, 콩, 렌틸 그리고 채소 등의 자연적 품종이 밭과 정원에서 거의 사라졌다. 하지만 건강에 좋고 더 지속 가능한 식품에 대한 관심이 높아지면서, 우리는 이제 환경과의 긴밀한 조화를 통해 수세기 동안 널리, 그러나 소규모로 농사를 지어 온 역사적인 작물뿐만 아니라 오래된 기술과 전통을 재발견하기 시작했습니다. 
                    이 품종들 중 다수는 잡초와 해충에 대한 자연적인 저항을 키우며 유기농 농사에 적합하게 발전되어 왔습니다. 또 큰 뿌리 조직 덕분에 지구로부터 더 많은 비타민, 미네랄, 아미노산을 흡수합니다. 그 결과, 그들은 풍부한 풍미를 가지고 있고, 주의와 배려로 재배되고, 복원된 식물들의 다양성은 그들이 자라는 토양과 전체 생태계에 활력을 불어넣는데 도움을 줍니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_20Q4_cafe_stockholm_8.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/Coffee J&N_1_f.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">더 나은 커피 </span>
                        우리는 좋은 커피와 유기농 스페셜티 커피 블렌딩과 싱글 오리진을 제공하는것에 열정적 입니다. 우리의 커피는 맛과 계절성 그리고 윤리적 소싱에 초점을 맞춘 로스터에게서 받는 투명하고 추적 가능한 커피 입니다. 
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ‘스페셜티 커피’란 높은 고도에서 커피 재배하는 숙련된 농부에게서 제공된 고퀄리티의 커피를 뜻하는 용어 이며, 그곳의 커피는 종종 달콤하며 꽃,과일,스파이스,허브,견과류로 묘사되는 깨끗하고 강렬한 맛이 납니다. 우리는 유럽 전역의 커피 전문 로스터들과 긴밀히 협력하고 있습니다. 그들은 모두 콩을 생산하는 재배자와 협동조합 으로부터 직접 원두를 공급받습니다. 원두는 각 커피의 자연적 향과 독특한 특징을 보존하기 위해 조심스럽게 볶아 줍니다. 커피에 관해서는, 좋은 맛의 커피는 환경과 커피를 생산하는 사람들에게도 좋습니다. 
                    좋은 커피는 대게 환경과 조화를 이루며 화학물질은 조금 아님 전혀 사용하지 않은 유기농 입니다. 그리고 중간상인 없이 직거래되기 때문에, 생산자들은 공정하고 장기적인 지속 가능한 가격을 받습니다. 즉, 품질과 지속 가능한 성장 관행에 계속 투자할 수 있다는 뜻입니다. 좋은 커피는 대량 생산되는 커피보다 조금 더 비싸지만, 또한 쓴 뒷맛 없이 즐길 수 있습니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q1_cafe_warbrokvarn_5a.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q1_cafe_warbrokvarn_7.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">우리의 기반</span>
                        요리와 음식에 대한 우리의 사고방식은 지구 건강 식단의 기초를 이루는 동일한 생각과 과학적 결론에 의해 영향을 받았습니다. EAT-Lancet 위원회가 시작한 이 식단은 우리가 먹는 음식 중 전곡, 과일, 채소, 견과류, 콩류가 가장 큰 비중을 차지하고 있는 반면 육류, 유제품, 첨가 설탕은 적은 양으로 제한되어 있습니다. 대체로 채식주의 식단으로 전환하는 것은 세계적인 규모의 환경 지속가능성과 더불어 우리 자신의 건강을 증진시킵니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    맛의 투명성과 더불어 창의적 과정에 대한 투명성은 우리가 요리하는 방법과 우리가 제공하는 메뉴를 정의합니다. 우리가 제공하는 모든 것은 개방된 주방에서 신선하게 제공 됩니다. 우리는 조리대 뒤에 있는 작은 오븐에서 야채를 굽고 계란을 삶고 주문 받은 샐러드와 샌드위치를 만듭니다. 모든 레시피는 제한된 공간에 적합하도록 맞춤 제작됩니다 - 몇 가지 순수한 맛에 의존하는 간단한 요리, 지속 가능한  
                    제철 재료로 수제 요리. 우리의 빵과 페이스트리는 유기농 밀가루, 설탕 및 버터를 100%로 사용하는 세 개의 북유럽 베이커리와 협력하여 개발되었습니다. 우리는 음식의 질이 우리가 사용하는 재료에 달려 있다고 확신하고 있고, 진정성 있고 사려 깊은 요리도 사실 더 넓은 규모로 제공될 수 있다는 것을 보여주면서, 우리는 우리 업계의 새로운 기준에 기여하기를 희망합니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-50">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_20Q4_cafe_stockholm_11.jpg">
                </div>
            </div>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>

    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-jessica.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket-cafe2.ejs") %>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[3].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->