<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Food</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        자연과 함께하는<br>
                        농사법의 이점과<br>
                        아름다움
                    </h2>
                </div>
            </div>

            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="about-align-center">팔 모디그,<br>
                    유기농 농부 & 파그레스렛 농장의 오너
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">

            <div class="headings about-align-left">
                <div class="m-headline">
                    <span class="heading-cap">Food </span>
                    팔 모디그는 유기농 농사를 재배하는 농장주 중 한명으로서 아르켓 카페에 자연재배된 완두콩, 렌틸, 퀴노아를 제공하고 있는 노르딕 라바라와 함께 일하고 있습니다. 우리는 이 재료들을 우리의 시즈널 채식, 비건 샐러드의 베이스로 사용하고 있고 또 우리만의 시그니쳐 노르딕 후무스를 만드는데 사용합니다.
                    </h2>
                </div>
            </div>

            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    농장에서 태어나 자란 팔 모디그와 그의 형은 2005년 가업을 이어받아 모든 밭을 유기농 재배로 전환했습니다.
                    그들은 현재 스웨덴 남부 스칸니아 지역의 총 160헥타르에 다양한 콩, 완두콩, 렌틸콩, 전통적인 곡류, 노르딕 퀴노아 그리고 뿌리 채소를 재배하고 있습니다.
                </p>
            </div>

        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-image-listing cols-2">

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_1.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_2.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        ‘유기농 재배의 가장 큰 장점은 화학 살충제와 비료의 사용을 피할 수 있다는 점 입니다. 
                        살충제는 많은 곤충들과 미생물들은 죽여 생물다양성 손실로 이어지고 인공비료들은 화석 에너지로 생산 되기 때문에 온실가스의 주범이 되며 기후 변화에 아주 큰 영향을 미치기 때문입니다.’ 라고 팔 모디그는 말했습니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    화학 비료를 사용하지 않는 대신, 식물들은 스스로 땅에서 질소와 탄소를 가져와 토양을 비옥하게 하고 보충하는 것을 돕습니다. 
                    또 풀과 클로버 같은 덮개 작물들을 농작물 중간 중간에 재배함으로서 표면을 푸르게 유지하고 토양 구조를 강화시켜 좋은 영양분들이 씻겨저 나가는 것을 방지하게 합니다.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_3.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_4.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        완두콩이나 렌틸을 한 시즌에 심고 그 다음엔 감자, 당근, 유채씨나 곡물 또는 클로버나 풀들, 다양한 꽃들을 돌아가면서 심으면서 다양한 작물을 공동으로 심고 순환 시킴으로써, 
                        토양을 건강하게 유지해 주고 영양분의 자연스러운 균형을 유지합니다. 이것을 또한 잡초나 식물의 질병이 퍼지는 것을 자연적으로 방지하는 방법이기도 합니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    아르켓 카페에서 사용하고 있는 유기농 완두콩,렌틸콩 그리고 퀴노아는 현대 공업용 방식보다 수확량이 적은 전통적인 품종 입니다. 
                    이 낮은 수확량으로 각 식물들을 땅 속에서 더 많은 영양분(비타민과 미네랄)을 얻습니다. 이는 더 풍부하고 다양한 맛을 주며 우리 몸을 더 건강하게 해줍니다. 
                </p>
            </div>
        </div>
    </div>

    <div class="o-width portrait-video wc-75">
        <div class="a-vimeo-video">
            <iframe src="https://player.vimeo.com/video/460941558?autoplay=0&amp;amp;color=ffffff&amp;amp;title=0&amp;amp;byline=0&amp;amp;portrait=0" width="640" height="360" frameborder="0" allowfullscreen="" style="height: 100%; width:100%"></iframe>
        </div>

        <div class="o-width wc-50">
            <div class="o-tag-cloud">
                <!-- mrk-edit : 20211025 -->
                <h6 class="a-heading-6 cloud-title"><!--External website-->외부 웹사이트</h6>
                <!-- //mrk-edit : 20211025 -->
                <ul class="tags-container">
                    <li class="tag">
                        <a href="http://www.nordiskravara.se" target="_self" class="a-link">Nordisk Råvara</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>

    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-jessica.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket-cafe2.ejs") %>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[3].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->