<div data-component="OPageContent" class="o-page-content">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Food</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                       THE BENEFITS AND BEAUTY OF FARMING WITH NATURE
                    </h2>
                </div>
            </div>

            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;">with Per Modig
                    <b><br>Organic Farmer &amp; owner of Fagraslätt gård</b>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">

            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <span class="heading-cap">Food </span>
                    Per Modig is one of the organic farmers working together with Nordisk Råvara,
                    which supplies ARKET café with naturally grown peas, lentils and quinoa.
                    We use these ingredients as the base for our seasonal vegetarian and vegan salads and for making our signature Nordic hummus.
                    </h2>
                </div>
            </div>

            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Born and raised on the farm, Per Modig and his brother took over the family business in 2005 and have
                    since converted all fields to organic cultivation. They now grow a multitude of different beans, peas, lentils, heritage grains,
                    ‘Nordic quinoa’ and root vegetables on a total of 160 hectares in the Scania region of southern Sweden.
                </p>
            </div>

        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_1.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_2.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        ‘The number one benefit of organic farming is that we can avoid using chemical pesticides and fertilisers.
                        Pesticides kill insects and micro-organisms, which leads to biodiversity loss, and artificial fertilisers
                        have a huge climate impact as they are a major source of greenhouse gases and produced with fossil energy,’ Per Modig says.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Instead of using chemical fertilisers, the plants themselves help enrich and replenish the soils by pulling nitrogen
                    and carbon from the atmosphere down into the earth. Cover crops such as grass and clover are grown in-between harvests
                    to keep the surface green and promote soil structure, preventing valuable nutrients from being washed away.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_3.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_4.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        By co-planting a variety of crops and rotating them between different fields
                        – peas or lentils in one season, then potatoes and carrots, rapeseeds or grains, or clover, grass and a variety of flowers
                        – the soils stay healthy and maintain a natural balance of nutrients. It’s also a method for naturally preventing weeds
                        and plant diseases from spreading in the fields.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    The organic peas, lentils and quinoa we are using in the ARKET café are traditional varieties which produce lower
                    yields than modern industrial ones. With lower yields, each plant can take up more nutrients (such as vitamins and minerals)
                    from the soil which not only makes them healthier for our bodies but also results in a richer and more complex taste.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width portrait-video wc-75">
        <div class="a-vimeo-video" style="margin-top:0px; margin-bottom:0px;">
            <iframe src="https://player.vimeo.com/video/460941558?autoplay=0&amp;amp;color=ffffff&amp;amp;title=0&amp;amp;byline=0&amp;amp;portrait=0" width="640" height="360" frameborder="0" allowfullscreen="" style="height: 100%; width:100%"></iframe>
        </div>

        <div class="o-width wc-50">
            <div class="o-tag-cloud">
                <h6 class="a-heading-6 cloud-title">External website</h6>
                <ul class="tags-container">
                    <li class="tag">
                        <a href="http://www.nordiskravara.se" target="_self" class="a-link">Nordisk Råvara</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>

    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-jessica.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket-cafe2.ejs") %>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[3].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->