<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
            <h2 class="a-heading-2">
                <span class="heading-cap">Food</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        토마토, 구운 피망<br>
                        샐러드
                    </h2>
                </div>
            </div>

            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="about-align-center">
                    제공량&nbsp;<span>3인분 제공</span>
                </div>
                <div class="about-align-center">
                    요리 시간&nbsp;<span>30~45분</span>
                </div>
                <div class="about-align-center"><span>&nbsp;</span></div>
                <div class="about-align-center">
                    비건, (선택사항) 글루텐-프리
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">

            <div class="headings about-align-left">
                <div class="m-headline">
                    <span class="heading-cap">Recipe</span>
                    이 비건 샐러드는 아르켓 카페가 여름철 가장 좋아하는 메뉴 입니다. 일년 중 여름에 가장 달콤하고 즙이 많은 토마토를 메인으로 비타민과 미네랄로 가득차 있습니다.
                </div>
            </div>

            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    후무스 베이스에 타히니 맛의 콩과 구운 피망이 어우러져 더운날 충분히 가볍게 만족스러운 한끼를 만들어 냅니다. 신선한 토마토 드레싱이 마무리되어 계절식 샐러드와 구운 요리에 아름다운 짝을 이룹니다. 
                    가족, 친구들과 집 또는 사랑스러운 여름 피크닉에서 이 샐러드를 즐겨보세요. 글루텐 프리로 만들고 싶다면 크루통을 생략하고 글루텐이 없는 다른 대체품을 넣어보세요.
                </p>
            </div>

        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">

                    <div class="layout-row-2">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1">
                                <div class="image-container">
                                    <div class="trackImage col-item">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_salad_A_WEB_X2.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layout-row-3">
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="headings">
                                    <div class="m-headline">
                                        <h2 class="a-heading-2 has-margin">
                                            <span class="heading-cap">레시피(요리법)</span>
                                            재료들
                                        </h2>
                                    </div>
                                </div>
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext">
                                        <b>200g</b> 후무스 (좋아하는 레시피를 이용하거나 아르켓의
                                        <a href="/en/about/food/yellow-pea-hummus.html" class="a-link">노란 콩 후무스 레시피를 이용하세요.</a>)<br>
                                        <b>125g</b> 비건 마요네즈<br>
                                        <b>250g</b> 샐러드 믹스 (로메인, 로켓)<br>
                                        <b>425g</b> 믹스 토마토<br>
                                        오이 1개<br>
                                        구운 홍피망 3개 (즙 포함)<br>
                                        <b>250g</b>익은/캔에 든 콩 믹스 (좋아하는 콩종류나 렌틸콩을 사용하세요)<br>
                                        <b>45g</b> 자색 양파 피클<br>
                                        <b>3tbsp</b> 케이퍼<br>
                                        잘게 썬 파슬리 한다발<br>
                                        <b>1tbsp</b> 타히니 소스(참깨 소스)<br>
                                        <b>1–2tbsp</b> 간장/클루텐 프리 간장<br>
                                        <b>1tbsp</b> 머스타드<br>
                                        <b>2tbsp</b> 사과 식초<br>
                                        <b>50ml</b> 올리브유<br>
                                        크루통 (빵 3조각 슬라이스 낸 - 옵션)<br>
                                        가니쉬용 바질<br>
                                        레몬 즙<br>
                                        소금과 후추
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="headings about-align-center">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">
                    <span class="heading-cap">방법</span>
                    토마토, 구운 피망 샐러드
                </h2>
            </div>
        </div>

        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">step 1</span>
                    오븐을 170도로 예열 합니다. 피망을 반으로 자르고 초록색 윗부분과 하얀막, 씨를 제거 합니다. 피망을 한입 사이즈로 썰어 줍니다.
                    쟁반에 옮겨 소금, 후추 그리고 올리브유를 뿌려줍니다. (갈릭맛이 나는 오일을 이용할 수도 있습니다.) 오븐 170도에서 20~30분 동안 약간에 색이 나고 부드러워질 때까지 구워주세요. 쟁반 위에서 식히면 됩니다.
                </h2>
            </div>
        </div>

        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">step 2</span>
                    콩 드레싱을 준비해 줍니다. 125g의 비건 마요네즈와 1티스푼의 타히니, 1티스푼의 간장을 섞고 잘게 썬 파슬리와 후추를 넣어주고 줍니다. 드레싱은 콩과 쉽게 섞일 수 있을 정도로 크리미하고 흐를 정도점도여야 합니다. 필요하다면 적당한 점도를 위해 물을 조금 넣어주세요. 
                    숟가락을 사용해 드레싱을 익은 또는 캔에 든 콩과 부드럽게 섞고 한쪽에 두세요. 드레싱은 냉장고에 1주일 정도 보관할 수 있습니다.
                </h2>
            </div>
        </div>

        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">step 3</span>
                    토마토 드레싱을 위해, 125g의 토마토를 4등분 한 후 디종 머스타드와 사과 식초 2 티스푼과 함께 믹서에 넣고 완전히 퓨레가 될 때까지 섞으세요. 50ml 올리브 오일과 약간의 소금이 유화될 때까지 천천히 넣으면서 계속 블렌딩 해줍니다. 
                    이 드레싱은 냉장고에 약 3일간 보관하실 수 있습니다.
                </h2>
            </div>
        </div>

        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">step 4</span>
                    샐러드 믹스를 씻고, 로메인을 가늘게 썰고, 남은 토마토와 오이를 덩어리로 자릅니다. 볼에 후무스를 충분히 펼쳐 발라 주고 샐러드 믹스, 타히니 콩, 잘게 썬 야채, 양파 피클, 크루통을 넣어 섞어줍니다. 
                    케이퍼, 바질 잎과 레몬 제스트 약간을 위에 뿌려줍니다. 토마토 드레싱, 갓 갈아놓은 후추, 소금 한 꼬집기로 마무리 해 줍니다.

                </h2>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Learn more about our seasonal vegetarian cooking</h6>
            <ul class="tags-container">
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/cafe.html" target="_self" class="a-link">ARKET Café</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/martin-berg.html" target="_self" class="a-link">Martin Berg</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/cookbook-for-spring-summer-autumn-and-winter.html" target="_self" class="a-link">Our cookbook</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/nordisk-ravara.html" target="_self" class="a-link">Nordisk Råvara</a>
                </li>
            </ul>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-about-food.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket-cafe3.ejs") %>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[3].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->