<div data-component="OPageContent" class="o-page-content">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
            <h2 class="a-heading-2">
                <span class="heading-cap">Food</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        TOMATO AND ROASTED PEPPER SALAD
                    </h2>
                </div>
            </div>

            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;">
                    <b>Serves&nbsp;</b><span>3 people</span><br>
                </div>
                <div style="text-align: center;">
                    <b>Cooking time</b><span> 30–45 minutes</span>
                </div>
                <div style="text-align: center;"><span>&nbsp;</span></div>
                <div style="text-align: center;">
                    <b>vegan, (optional) gluten-free<br></b>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">

            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <span class="heading-cap">Recipe</span>
                    This vegan salad is a summertime favourite in ARKET cafés. Starring sweet,
                    juicy tomatoes that are at their best this time of the year, it is packed with vitamins and minerals.
                </div>
            </div>

            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    The hearty hummus base, tahini-flavoured legumes and roasted bell peppers make for a satisfying meal,
                    yet the salad is light enough to serve on a hot day. Our fresh tomato dressing adds a finishing zing
                    and will pair beautifully with other seasonal salads and grilled dishes. Try the salad at home or enjoy it on a summer-loving picnic with family and friends.
                    To make it gluten-free, skip the croutons or replace them with a gluten-free alternative.
                </p>
            </div>

        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">

                    <div class="layout-row-2">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
                                <div class="image-container">
                                    <div class="trackImage col-item">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_salad_A_WEB_X2.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layout-row-3">
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="headings" style="text-align:center;">
                                    <div class="m-headline">
                                        <h2 class="a-heading-2 has-margin">
                                            <span class="heading-cap">Recipe</span>
                                            Ingredients
                                        </h2>
                                    </div>
                                </div>
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext">
                                        <b>200g</b> hummus (use your favourite recipe or try&nbsp;
                                        <a href="/en/about/food/yellow-pea-hummus.html" class="a-link">ARKET’s yellow pea hummus</a>)<br>
                                        <b>125g</b> vegan mayonnaise<br>
                                        <b>250g</b> salad mix (romaine and rocket)<br>
                                        <b>425g</b> mixed heirloom tomatoes<br>
                                        <b>1</b> cucumber<br>
                                        <b>3</b> roasted red bell peppers (with juice)<br>
                                        <b>250g</b> cooked/canned legumes mix (use your favourite beans/lentils)<br>
                                        <b>45g</b> pickled red onion<br>
                                        <b>3tbsp</b> capers<br>
                                        <b>1</b> bunch of parsley leaves, chopped<br>
                                        <b>1tbsp</b> tahini<br>
                                        <b>1–2tbsp</b> Japanese soy sauce/gluten-free soy sauce<br>
                                        <b>1tbsp</b> Dijon mustard<br>
                                        <b>2tbsp</b> apple cider vinegar<br>
                                        <b>50ml</b> olive oil<br>
                                        Croutons from <b>3</b> bread slices (optional)<br>
                                        Basil leaves for garnish<br>
                                        Lemon zest<br>
                                        Salt and pepper to taste
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">
                    <span class="heading-cap">Method</span>
                    Tomato and roasted pepper salad
                </h2>
            </div>
        </div>

        <div class="headings" style="text-align:left;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">step 1</span>
                    Preheat the oven to 170°C. Cut the bell peppers in half and remove the green top, white membrane and seeds.
                    Cut the peppers into chunky bite-sized pieces. Transfer to a tray and sprinkle some salt, black pepper and olive oil (you can also use garlic-flavoured oil).
                    Roast in the oven at 170°C for 20–30 mins until tender with a bit of colour. Let it cool on the tray.
                </h2>
            </div>
        </div>

        <div class="headings" style="text-align:left;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">step 2</span>
                    Prepare the legumes dressing by mixing 125g vegan mayonnaise with 1tbsp tahini and 1-2tbsp soy sauce.
                    Add chopped parsley leaves and black pepper to taste. The dressing should be creamy but runny enough to easily mix with the legumes
                    – if needed, thin out with water to get the right texture. Using a spoon, gently combine the dressing with your choice of cooked/canned legumes (250g) and set aside.
                    If you have any dressing over, you can store it in the fridge for about 1 week.
                </h2>
            </div>
        </div>

        <div class="headings" style="text-align:left;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">step 3</span>
                    For the tomato dressing, cut 125g tomatoes into quarters and mix them in a blender with 1tbsp Dijon mustard and 2tbsp apple cider vinegar until completely pureed.
                    Continue blending while slowly adding 50ml olive oil and a pinch of salt until emulsified. You can store this dressing in the fridge for about 3 days.
                </h2>
            </div>
        </div>

        <div class="headings" style="text-align:left;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">step 4</span>
                    Rinse the salad mix, cut romaine into strips, and the remaining tomatoes and cucumber into chunks.
                    In a bowl, spread the hummus to create a hearty base. Assemble the dish by adding the salad mix, tahini legumes, chopped vegetables, pickled onion and croutons.
                    Top with capers, basil leaves and a touch of lemon zest. Finish the creation with a generous drizzle of tomato dressing, freshly ground pepper and a pinch of salt.
                </h2>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Learn more about our seasonal vegetarian cooking</h6>
            <ul class="tags-container">
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/cafe.html" target="_self" class="a-link">ARKET Café</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/martin-berg.html" target="_self" class="a-link">Martin Berg</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/cookbook-for-spring-summer-autumn-and-winter.html" target="_self" class="a-link">Our cookbook</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/nordisk-ravara.html" target="_self" class="a-link">Nordisk Råvara</a>
                </li>
            </ul>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-about-food.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket-cafe3.ejs") %>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[3].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->