<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Food</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">노란 완두콩 후무스</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="about-align-center">
                    10<span>인분</span><br>
                </div>
                <div class="about-align-center">
                    <b>요리 시간</b><span> 밤새 콩을 불리는 시간 + 35분<br></span>
                </div>
                <div class="about-align-center">
                    <span>&nbsp;</span>
                </div>
                <div class="about-align-center">
                    <b>비건, 글루텐 프리<br></b>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="headings about-align-left">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">
                    <span class="heading-cap">Recipe</span>ARKET의 후무스는 전통적인 병아리콩 대신 풍부하고 달콤한 맛을 내는 노르딕 노란 완두 콩으로 만들어집니다. 노란 완두 콩을 넣은 샐러드를 찍어 먹는 소스나 크리미한 수프 베이스로 시도해 보세요.
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">
                    <div class="layout-row-2">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1">
                                <div class="image-container">
                                    <div class="trackImage col-item">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21_cafe_extra_images_A_WEB.jpg" alt="Salad">
                                        <span class="promoIndex" hidden="">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-row-3">
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="headings">
                                    <div class="m-headline">
                                        <h2 class="a-heading-2 has-margin">
                                            <span class="heading-cap">Recipe</span>재료
                                        </h2>
                                    </div>
                                </div>
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext">
                                        하룻 밤 동안 물에 불려 둔 말린 노란 콩 <b>200g</b><br>
                                        빨간 고추 <b>1</b>개를 삼등분으로 커팅<br>
                                        마늘 <b>2</b>쪽<br>
                                        즙을 낸 레몬 <b>1</b>개<br>
                                        올리브오일<b> 3tbsp</b><br>
                                        바다소금<br>
                                        후추
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="headings about-align-center">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">
                    <span class="heading-cap">Method</span>토마토와 구운 피망 샐러드
                </h2>
            </div>
        </div>
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">불에 불린 노란 콩을 물에 씻고 물기를 제거합니다. 냄비에 물을 붓고 콩, 빨간 고추와 마늘, 소금 3tbsp을 넣습니다.
                    30분 혹은 뭉개지지 않을 정도로 냄비에 뚜껑을 덮고 중불에 삶습니다. 삶을 때 사용한 물 100ml를 다른 통에 담아 둡니다. 콩, 빨간 고추와 바늘을 믹서기에 넣습니다. 레몬주스와 올리브오일을 넣고 다집니다.
                    만약에 너무 꾸덕꾸덕하다면 조금 더 부드러운 텍스처를 위해 콩과 야채를 삶았던 물을 넣습니다. 소금과 후추를 넣고 맛을 봅니다.</h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Learn more about our seasonal vegetarian cooking</h6>
            <ul class="tags-container">
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/martin-berg.html" target="_self" class="a-link">Martin Berg</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/cookbook-for-spring-summer-autumn-and-winter.html" target="_self" class="a-link">Our cookbook</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/cafe.html" target="_self" class="a-link">ARKET Café</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/nordisk-ravara.html" target="_self" class="a-link">Nordisk Råvara</a>
                </li>
            </ul>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-about-food.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket-cafe3.ejs") %>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[3].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->