<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Food</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">YELLOW PEA HUMMUS</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="about-align-center">
                    <b>Serves </b>10<span> people</span><br>
                </div>
                <div class="about-align-center">
                    <b>Cooking time</b><span> overnight soaking + 35 mins <br></span>
                </div>
                <div class="about-align-center">
                    <span>&nbsp;</span>
                </div>
                <div class="about-align-center">
                    <b>vegan, gluten-free <br></b>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="headings about-align-left">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">
                    <span class="heading-cap">Recipe</span>ARKET’s take on hummus uses Nordic yellow peas that serve as a sweet and robust alternative to classic
                    chickpeas. Try the yellow pea hummus in salads, as a dip or turn it into a creamy and satisfying soup base.
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">
                    <div class="layout-row-2">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1">
                                <div class="image-container">
                                    <div class="trackImage col-item">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21_cafe_extra_images_A_WEB.jpg" alt="Salad">
                                        <span class="promoIndex" hidden="">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-row-3">
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="headings">
                                    <div class="m-headline">
                                        <h2 class="a-heading-2 has-margin">
                                            <span class="heading-cap">Recipe</span>Ingredients
                                        </h2>
                                    </div>
                                </div>
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext">
                                        <b>200g</b> dried yellow peas, soaked overnight <br>
                                        <b>1</b> red chilli, cut into 3 pieces<br>
                                        <b>2</b>garlic cloves, peeled<br>
                                        <b>1</b> lemon, juiced <br>
                                        <b>3 tbsp</b> good quality olive oil <br>
                                        sea salt <br>
                                        black pepper
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="headings about-align-center">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">
                    <span class="heading-cap">Method</span>Tomato and roasted pepper salad
                </h2>
            </div>
        </div>
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">Drain, then rinse the soaked, dried yellow peas.
                    Add the peas, red chilli and garlic to a pot with fresh water and 3 tbsp of salt. Cover with a lid
                    and cook on mid-low heat for 30 minutes or until cooked but not mushy. Drain and set aside 100ml of
                    the cooking water. Place the peas, chilli and garlic in a blender. Pour in the lemon juice and olive
                    oil and blend. If too thick, add some of the cooking water to achieve a smooth texture. Add salt and
                    pepper to taste.</h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Learn more about our seasonal vegetarian cooking</h6>
            <ul class="tags-container">
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/martin-berg.html" target="_self" class="a-link">Martin Berg</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/cookbook-for-spring-summer-autumn-and-winter.html" target="_self" class="a-link">Our cookbook</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/cafe.html" target="_self" class="a-link">ARKET Café</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/nordisk-ravara.html" target="_self" class="a-link">Nordisk Råvara</a>
                </li>
            </ul>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-about-food.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket-cafe3.ejs") %>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[3].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->