<div data-component="OPageContent" class="o-page-content">

    <div class="parbase sdp-component left-component">
        <%# m-breadcrumb %>
        <%- include ("../../../common/md-m-breadcrumb.ejs") %>
    </div>

    <div class="o-width spacer wc-50">
        <!-- o-text-field -->
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">women</span>
                        Leather collection
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Our leather garments are carefully curated styles made from soft and supple leather that has
                    undergone a chrome-free tanning process. Classic and timeless, they will age beautifully and stand
                    the test of time.
                </p>
            </div>
        </div>
        <!-- //o-text-field -->
    </div>

    <div class="o-width wc-75">
        <!-- o-layout -->
        <div class="o-layout">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-1">
                            <div class="image-container">
                                <a href="#none" target="_self" class="trackImage a-link">
                                    <div class="" style="">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/component/WEB_20Q3_LAYERING_8.jpg">
                                    </div>
                                </a>
                                <div class="slider-text-block">
                                    <div class="is-richtext o-text-field ">
                                        <div style="text-align:center;">Leather Anorak</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-1">
                            <div class="image-container">
                                <a href="#none" target="_self" class="trackImage a-link">
                                    <div>
                                        <img class="a-image" src="<%= pageInfo.root %>/images/component/WEB_20Q3_X_UD_9.jpg">
                                    </div>
                                </a>
                                <div class="slider-text-block">
                                    <div class="is-richtext o-text-field ">
                                        <div style="text-align: center;">Knot-Detail Soft Leather Bag</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //o-layout -->
    </div>
    
    <div class="o-width wc-100">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
			<%- include ("../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
			<div id="lazyLoadSpan">
				<div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-4 u-align-center">
					<%# md-o-product-listing-product-list %>
					<%- include ("../../../common/md-o-product-listing-product-list-30ea-corner.ejs") %>
				</div>

			</div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->

        </div>

        <div id="productStart" class="0"></div>
        <div id="productPath" class="/en/women/new-arrivals/_jcr_content/homepagepar/widthcomponent_16087/o-width/productlisting_copy_.products.html"></div>
        <div id="productCount" class="102"></div>
        <div id="productPerPage" class="36"></div>
    </div>

    <div class="splash parbase"></div>
</div>
