<div data-component="OPageContent" class="o-page-content">

    <div class="parbase sdp-component left-component">
        <%# m-breadcrumb %>
        <%- include ("../../../common/md-m-breadcrumb.ejs") %>
    </div>

    <h1 class="a-heading-1 seo-heading ">
        <span class="department">Women</span><span>New arrivals</span>
    </h1>

    <div class="parbase sdp-component local-navigation">
        <!-- o-local-navigation -->
        <div data-component="OLocalNavigation" class="o-local-navigation">
            <button type="button" class="a-button-nostyle show-more-left-btn"></button>
            <span class="nav-title"></span>
            <ul>
                <li class="is-selected">
                    <a href="/en/women/new-arrivals.html" target="_self" class="a-link" data-title="New arrivals" tabindex="0">
                        All New arrivals
                    </a>
                </li>
                <li>
                    <a href="/en/women/new-arrivals/shoes-accessories.html" target="_self" class="a-link" data-title="슈즈 &amp; 액세서리" tabindex="0">
                        슈즈 &amp; 액세서리
                    </a>
                </li>
                <li>
                    <a href="#none" target="_self" class="a-link" data-title="드레스" tabindex="0">
                        드레스
                    </a>
                </li>
            </ul>
            <button type="button" class="a-button-nostyle show-more-right-btn"></button>
        </div>
        <!-- //o-local-navigation -->
    </div>

    <div class="o-width wc-100">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
			<%- include ("../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
			<div id="lazyLoadSpan">
				<div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-4 u-align-center">
					<%# md-o-product-listing-product-list %>
					<%- include ("../../../common/md-o-product-listing-product-list-30ea-corner.ejs") %>
				</div>

			</div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->

        </div>

        <div id="productStart" class="0"></div>
        <div id="productPath" class="/en/women/new-arrivals/_jcr_content/homepagepar/widthcomponent_16087/o-width/productlisting_copy_.products.html"></div>
        <div id="productCount" class="102"></div>
        <div id="productPerPage" class="36"></div>
    </div>

    <!-- o-teaser-container -->
    <div class="o-teaser-container full-width" data-component="OTeaserContainer">
        <div class="search-bar-wrapper">
			<span class="a-tag is-curated" data-type="curated"
                  data-title="Essential products for men, women, children and the home"
                  data-url="/content/p11/en/index">
				Essential products for men, women, children and the home <span class="close"> </span>
			</span>
            <span class="placeholder-text">§ Search </span>
        </div>
        <div class="search-bottom-border"></div>
        <div class="teaser-content-wrapper">
            <!-- o-width -->
            <div class="o-width VNAV wc-100">
                <!-- md-o-image-listing -->
                <%- include ("../../../common/md-o-image-listing-cols3-1.ejs") %>
                <!-- //md-o-image-listing -->
            </div>
            <!-- //o-width -->

            <!-- o-width -->
            <div class="o-width VNAV --shadow wc-100">
                <!-- md-o-image-listing -->
                <%- include ("../../../common/md-o-image-listing-cols3-2.ejs") %>
                <!-- //md-o-image-listing -->
            </div>
            <!-- //o-width -->
        </div>
        <a href="/en/index.html" class="a-link-read-more q-color-black-100 q-bg-transparent">
            <div class="link-wrapper">
                <div class="link-icon">
                    <span class="link-icon-1"> </span>
                    <span class="link-icon-2"> </span>
                    <span class="link-icon-3"> </span>
                </div>
                <span class="link-text"> <span>READ MORE </span>
			</span>
            </div>
        </a>
    </div>
    <!-- //o-teaser-container -->

</div>
