<div data-component="OPageContent" class="o-page-content cofs-page">

    <!-- o-my-page -->
    <div class="o-my-page o-width wc-75">

        <%# md-o-my-page-navigation %>
        <%- include ("../../../common/md-o-my-page-navigation.ejs") %>

        <!-- my-order-delivery-content -->
        <div class="my-order-delivery-content detail u-clearfix">

            <h3 class="a-heading-3 sub">주문/배송 상세보기</h3>
            <!-- order-detail-info-bx -->
            <div class="dft-bx line-bx order-detail-info-bx">
                <ul class="dot-ul">
                    <li>
                        <dt>주문번호</dt>
                        <dd class="number">2150260062361</dd>
                    </li>
                    <li>
                        <dt>주문일</dt>
                        <dd>2021-05-29</dd>
                    </li>
                    <li>
                        <dt>주문고객</dt>
                        <dd>홍길동 (abscd32@gmail.com, 010-8765-3243)</dd>
                    </li>
                </ul>
                <div class="order-info-btns">
                    <a class="a-link a-link-udln btn-order-list-hide open-lightbox" href="#none" target="_self" data-template="lp-hide-order-history" data-classes="alert">주문내역숨김</a>
                    <a class="a-link btn-order-list-hide-guide open-tooltip-btn" href="#none" target="_self" data-content="localizedTTT">
                        <span class="a-icon-question"></span>
                    </a>
                    <div class="a-tooltip tooltip-order-list-hide-guide">
                        <div class="is-richtext" data-content="localized">
                            <h3>주문내역 숨김</h3>
                            <p>고객님의 주문내역 중 특정주문내역을 “주문/배송”내역에서 표시되지 않도록 숨기는 기능입니다. 이 기능은 “상품발송”후 15일 이후부터 또는 “주문취소” 후 사용 가능하며, 홈페이지에서만 표시되지 않을 뿐, 실제 고객님의 주문내역은 삭제되지 않습니다. “주문내역숨김” 처리가 완료된 주문의 반품/AS는 반드시 고객센터 전화상담을 통해서만 가능합니다.</p>
                        </div>
                        <p><a href="#" target="_self"></a></p>
                    </div>
                </div>
            </div>
            <!-- //order-detail-info-bx -->

            <h3 class="a-heading-3 sub">주문상품</h3>
            <!-- my-orders-list-wrap -->
            <div class="my-orders-list-wrap">

                <!-- my-order-list -->
                <div class="my-order-list">

                    <div class="order-list-ul-header">
                        <ul class="product-list-ul">
                            <li class="m-order-summary-row">상품정보/옵션정보</li>
                            <li class="order-price">결제금액</li>
                            <li class="order-status">주문상태</li>
                        </ul>
                    </div>
                    <ul class="order-list-ul">
                        <li>
                            <!-- order-list-item -->
                            <div class="order-list-item">
                                <ul class="product-list-ul">
                                    <li>
                                        <!-- product-list-item -->
                                        <div class="product-list-item">
                                            <div class="m-order-summary-row">
                                                <div class="product-image">
                                                    <!--<img class="a-image product-image" alt="image description" src="http://pava-0341648599.s3-eu-west-1.amazonaws.com/images/55f8861ee517704a05ab1b11/boy-vintage-thumbnail-big.jpg">-->
                                                    <a href="#none" class="a-link" target="_self">
                                                        <img class="a-image product-image" alt="image description" src="<%= pageInfo.root %>/images/temp/boy-vintage-thumbnail-big.jpg">
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-item-info first">
                                                        <div class="product-details">
                                                            <div class="product-name">
                                                                <a href="#none" class="a-link" target="_self">해리 블랙 슈즈해리 블랙 슈즈해리 블랙 슈즈</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-param-info second">
                                                        <div class="product-params data">
                                                            <div class="product-size">s-4Y(EUR 104)</div>
                                                            <div class="product-color">더스티 라일락</div>
                                                            <div class="product-quantity">999</div>
                                                        </div>
                                                    </div>
                                                    <div class="product-param-price third">
                                                        <div class="product-params data">
                                                            <div class="product-price">1,303,800</div>
                                                        </div>
                                                    </div>
                                                    <!--
                                                    <div class="product-param-btns fourth">
                                                        <a href="#none" class="a-link a-link-udln">옵션변경</a>
                                                    </div>
                                                    -->
                                                </div>
                                            </div>
                                            <div class="order-price"><span>1,303,800</span></div>
                                            <div class="order-status">
                                                <span>상품배송</span>
                                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-delivery-trace">배송추척</a>
                                            </div>
                                            <!-- to Dev : 정렬을 위한 빈태그 : 20211005 -->
                                            <div class="order-btns"></div>
                                        </div>
                                        <!-- //product-list-item -->
                                    </li>
                                </ul>

                            </div>
                            <!-- //order-list-item -->
                        </li>
                        <li>
                            <!-- order-list-item -->
                            <div class="order-list-item">
                                <ul class="product-list-ul">
                                    <li>
                                        <!-- product-list-item -->
                                        <div class="product-list-item">
                                            <div class="m-order-summary-row">
                                                <div class="product-image">
                                                    <!--<img class="a-image product-image" alt="image description" src="http://pava-0341648599.s3-eu-west-1.amazonaws.com/images/55f8861ee517704a05ab1b11/boy-vintage-thumbnail-big.jpg">-->
                                                    <a href="#none" class="a-link" target="_self">
                                                        <img class="a-image product-image" alt="image description" src="<%= pageInfo.root %>/images/temp/boy-vintage-thumbnail-big.jpg">
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-item-info first">
                                                        <div class="product-details">
                                                            <div class="product-name">
                                                                <a href="#none" class="a-link" target="_self">해리 2블랙 슈즈해리 블랙 슈즈해리 블랙 슈즈</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-param-info second">
                                                        <div class="product-params data">
                                                            <div class="product-size">44</div>
                                                            <div class="product-color">블루</div>
                                                            <div class="product-quantity">2</div>
                                                        </div>
                                                    </div>
                                                    <div class="product-param-price third">
                                                        <div class="product-params data">
                                                            <div class="product-price">1,303,800</div>
                                                        </div>
                                                    </div>
                                                    <!--
                                                    <div class="product-param-btns fourth">
                                                        <a href="#none" class="a-link a-link-udln">옵션변경</a>
                                                    </div>
                                                    -->
                                                </div>
                                            </div>
                                            <div class="order-price"><span>1,303,800</span></div>
                                            <div class="order-status">
                                                <span>주문취소</span>
                                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-order-cancel-details" data-classes="alert">상세보기</a>
                                            </div>
                                            <!-- to Dev : 정렬을 위한 빈태그 : 20211005 -->
                                            <div class="order-btns"></div>
                                        </div>
                                        <!-- //product-list-item -->
                                    </li>
                                </ul>

                            </div>
                            <!-- //order-list-item -->
                        </li>
                    </ul>

                </div>
                <!-- //my-order-list -->

            </div>
            <!-- //my-orders-list-wrap -->

            <!-- grid-line-wrap -->
            <div class="grid-line-wrap">
                <!-- grid-line-item -->
                <div class="grid-line-item orders-recipient-info-bx">
                    <h3 class="a-heading-3 sub">
                        받는사람정보
                        <a class="a-link a-link-udln btn-change-delivery open-lightbox" href="#none" target="_self" data-template="lp-select-delivery-address">배송지변경</a>
                    </h3>
                    <ul class="o-info-line-box col-2-1">
                        <li>
                            <span class="f-type1">받는사람</span>
                            <span class="f-type1">홍길동</span>
                        </li>
                        <li>
                            <span class="f-type1">휴대폰</span>
                            <span class="f-type1">010-6800-6740</span>
                        </li>
                        <li>
                            <span class="f-type1">추가연락처</span>
                            <span class="f-type1">010-6800-6740</span>
                        </li>
                        <li>
                            <span class="f-type1">배송지주소</span>
                            <span class="f-type1">서울시 영등포구 당산동 11안길103호</span>
                        </li>
                        <li>
                            <span class="f-type1">요청사항</span>
                            <span class="f-type1">빠른배송부탁드립니다.현관앞에 두고 가주세요~</span>
                        </li>
                    </ul>
                </div>
                <!-- //grid-line-item -->

                <!-- grid-line-item -->
                <div class="grid-line-item orders-pay-info-bx">
                    <h3 class="a-heading-3 sub">결제정보</h3>
                    <ul class="o-info-line-box col-2-1">
                        <li>
                            <span class="f-type1">주문금액</span>
                            <span class="f-type2 price-won">1,390,000</span>
                        </li>
                        <li>
                            <span class="f-type1">배송비</span>
                            <span class="f-type2 price-won">2,500</span>
                        </li>
                        <li>
                            <span class="f-type1">할인금액</span>
                            <span class="f-type2 price-won">- 90,000</span>
                        </li>
                        <li>
                            <span class="f-type1">총 결제금액</span>
                            <span class="f-type2 price-won">789,000</span>
                        </li>
                    </ul>
                </div>
                <!-- //grid-line-item -->
            </div>
            <!-- //grid-line-wrap -->

            <!-- grid-line-wrap -->
            <div class="grid-line-wrap">
                <!-- grid-line-item -->
                <div class="grid-line-item orders-pay-way-bx">
                    <h3 class="a-heading-3 sub">
                        결제수단
                        <a class="a-link a-link-udln btn-pay-way open-lightbox" href="#none" target="_self" data-template="lp-select-pay-way">결제수단변경</a>
                    </h3>
                    <ul class="o-info-line-box col-3-1">
                        <li>
                            <span class="f-type1">신용카드</span>
                            <span class="f-type1">현대카드 할부 3개월</span>
                            <span class="f-type2 price-won">1,390,000</span>
                        </li>
                        <li>
                            <span class="f-type1">무통장입금</span>
                            <span class="f-type2 price-won">0</span>
                        </li>
                        <li class="one-line">
                            <span class="f-type1">무통장입금</span>
                            <span class="f-type1 space">
                                (<b>결제하실 금액 : 29,000원</b> / 입금마감일 <b>2021-05-26</b>)
                            </span>
                            <span class="f-type3 space">
                                2021년 5월 26일까지 입금하지 않으면 주문이 취소됩니다.<br>
                                입금은행 : 국민은행 (1234-12314-123123)<br>
                                입금자명 : 홍길동
                            </span>
                        </li>
                        <li>
                            <span class="f-type1">예치금</span>
                            <span class="f-type2 price-won">- 390,000</span>
                        </li>
                    </ul>
                </div>
                <!-- //grid-line-item -->

                <!-- grid-line-item -->
                <div class="grid-line-item orders-approval-list-bx">
                    <h3 class="a-heading-3 sub">승인내역</h3>
                    <ul class="o-info-line-box col-3-2">
                        <li>
                            <span class="f-type1">2021-05-26 11:20:14</span>
                            <span class="f-type1">신용카드</span>
                            <span class="f-type2 price-won">90,000</span>
                        </li>
                        <li>
                            <span class="f-type1">2021-05-26 11:20:14</span>
                            <span class="f-type1">무통장입금</span>
                            <span class="f-type2 price-won">- 90,000</span>
                        </li>
                        <li>
                            <span class="f-type1">2021-05-26 11:20:14</span>
                            <span class="f-type1">예치금</span>
                            <span class="f-type2 price-won">789,000</span>
                        </li>
                    </ul>
                </div>
                <!-- //grid-line-item -->
            </div>
            <!-- //grid-line-wrap -->

            <a class="a-button page-btn" href="#">목록으로 이동</a>

        </div>
        <!-- //my-order-delivery-content -->
    
    </div>
    <!-- //o-my-page -->
</div>

<!-- handlebars-template -->
<%# 주문내역 숨김 %>
<%- include ("../../../handlebars/hndl-lp-hide-order-history.ejs") %>

<%# 배송지변경 %>
<%- include ("../../../handlebars/hndl-lp-select-delivery-address.ejs") %>

<%# 배송추적 %>
<%- include ("../../../handlebars/hndl-lp-delivery-trace.ejs") %>

<%# 주소검색 %>
<%- include ("../../../handlebars/hndl-lp-find-address.ejs") %>

<%# 결제수단변경 %>
<%- include ("../../../handlebars/hndl-lp-select-pay-way.ejs") %>

<%# 주문취소 상세 정보 %>
<%- include ("../../../handlebars/hndl-lp-order-cancel-details.ejs") %>
<!-- //handlebars-template -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelector('.menu-my-orders');
        if(activeTab){
            activeTab.parentNode.classList.add('is-active');
        }
    })();
</script>
<!-- //tip -->