<div data-component="OPageContent" class="o-page-content cofs-page">

    <!-- o-my-page -->
    <div class="o-my-page o-width wc-75">

        <%# md-o-my-page-navigation %>
        <%- include ("../../../common/md-o-my-page-navigation.ejs") %>

        <!-- my-order-delivery-content -->
        <div class="my-order-delivery-content order-info-edit return-apply u-clearfix">

            <h3 class="a-heading-3 sub">반품신청</h3>
            <!-- order-detail-info-bx -->
            <div class="dft-bx line-bx order-detail-info-bx">
                <ul class="dot-ul">
                    <li>
                        <dt>주문번호</dt>
                        <dd class="number">2150260062361</dd>
                    </li>
                    <li>
                        <dt>주문일</dt>
                        <dd>2021-05-29</dd>
                    </li>
                    <li>
                        <dt>주문고객</dt>
                        <dd>홍길동 (abscd32@gmail.com, 010-8765-3243)</dd>
                    </li>
                </ul>
            </div>
            <!-- //order-detail-info-bx -->

            <h3 class="a-heading-3 sub">주문상품</h3>
            <!-- my-orders-list-wrap -->
            <div class="my-orders-list-wrap">

                <!-- my-order-list -->
                <div class="my-order-list with-cart-item">

                    <div class="order-list-ul-header">
                        <ul class="product-list-ul">
                            <li class="m-order-summary-row">상품정보/옵션정보</li>
                            <li class="order-quantity">주문수량</li>
                            <li class="order-quantity-counter">반품수량</li>
                            <li class="order-total-price">결제/반품 금액</li>
                        </ul>
                    </div>
                    <ul class="order-list-ul">
                        <li>
                            <!-- order-list-item -->
                            <div class="order-list-item">
                                <ul class="product-list-ul">
                                    <li>
                                        <!-- product-list-item -->
                                        <div class="product-list-item">
                                            <div class="m-order-summary-row">
                                                <div class="product-image">
                                                    <!--<img class="a-image product-image" alt="image description" src="http://pava-0341648599.s3-eu-west-1.amazonaws.com/images/55f8861ee517704a05ab1b11/boy-vintage-thumbnail-big.jpg">-->
                                                    <img class="a-image product-image" alt="image description" src="<%= pageInfo.root %>/images/temp/boy-vintage-thumbnail-big.jpg">
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-item-info first">
                                                        <div class="product-details">
                                                            <div class="product-name">해리 블랙 슈즈해리 블랙 슈즈해리 블랙 슈즈</div>
                                                        </div>
                                                    </div>
                                                    <div class="product-param-info second">
                                                        <div class="product-params data">
                                                            <div class="product-size">44</div>
                                                            <div class="product-color">블루</div>
                                                            <div class="product-quantity">0</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order-quantity"><span>0</span></div>
                                            <div class="order-quantity-counter">
                                                <!-- 수량선택 -->
                                                <div class="o-cart-item" data-component="OCartItem">
                                                    <div class="cart-wrapper">
                                                        <div class="cart-item-info">
                                                            <div class="quantity-section">
                                                                <span class="quantity-label" tabindex="0"></span>
                                                                <div class="m-dropdown" data-component="MDropdown">
                                                                    <button class="a-button-nostyle placeholder" type="button" aria-label="filter expand/close" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                                                        <span>2</span>
                                                                    </button>
                                                                    <button class="a-button-nostyle a-icon-close" type="button" aria-label="close"></button>
                                                                    <input class="js-input" name="selectQty" value="2" type="text">
                                                                    <button class="a-button-nostyle a-icon-arrow-down-small" type="button" role="button" aria-label="expand/close" tabindex="0">
                                                                    </button>
                                                                    <ul class="list-wrapper">
                                                                        <li>
                                                                            <ul class="options">
                                                                                <li class="a-option" data-value="1">1</li>
                                                                                <li class="a-option is-selected" data-value="2">2</li>
                                                                                <li class="a-option" data-value="3">3</li>
                                                                                <li class="a-option" data-value="4">4</li>
                                                                                <li class="a-option" data-value="5">5</li>
                                                                            </ul>
                                                                            <ul class="bottom-option">
                                                                                <li>Cancel</li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    <span class="error-msg"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- //수량선택 -->
                                            </div>
                                            <div class="order-total-price">
                                                <span class="order-price-value">30,000</span>
                                                <span class="order-edit-price-value zero">0</span>
                                            </div>
                                        </div>
                                        <!-- //product-list-item -->
                                    </li>
                                </ul>
                            </div>
                            <!-- //order-list-item -->
                        </li>
                        <li>
                            <!-- order-list-item -->
                            <div class="order-list-item">
                                <ul class="product-list-ul">
                                    <li>
                                        <!-- product-list-item -->
                                        <div class="product-list-item">
                                            <div class="m-order-summary-row">
                                                <div class="product-image">
                                                    <!--<img class="a-image product-image" alt="image description" src="http://pava-0341648599.s3-eu-west-1.amazonaws.com/images/55f8861ee517704a05ab1b11/boy-vintage-thumbnail-big.jpg">-->
                                                    <img class="a-image product-image" alt="image description" src="<%= pageInfo.root %>/images/temp/boy-vintage-thumbnail-big.jpg">
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-item-info first">
                                                        <div class="product-details">
                                                            <div class="product-name">해리 블랙 슈즈해리 블랙 슈즈해리 블랙 슈즈2</div>
                                                        </div>
                                                    </div>
                                                    <div class="product-param-info second">
                                                        <div class="product-params data">
                                                            <div class="product-size">44</div>
                                                            <div class="product-color">블루</div>
                                                            <div class="product-quantity">2</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order-quantity"><span>2</span></div>
                                            <div class="order-quantity-counter">
                                                <!-- 수량선택 -->
                                                <div class="o-cart-item" data-component="OCartItem">
                                                    <div class="cart-wrapper">
                                                        <div class="cart-item-info">
                                                            <div class="quantity-section">
                                                                <span class="quantity-label" tabindex="0"></span>
                                                                <div class="m-dropdown" data-component="MDropdown">
                                                                    <button class="a-button-nostyle placeholder" type="button" aria-label="filter expand/close" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                                                        <span>2</span>
                                                                    </button>
                                                                    <button class="a-button-nostyle a-icon-close" type="button" aria-label="close"></button>
                                                                    <input class="js-input" name="selectQty" value="2" type="text">
                                                                    <button class="a-button-nostyle a-icon-arrow-down-small" type="button" role="button" aria-label="expand/close" tabindex="0">
                                                                    </button>
                                                                    <ul class="list-wrapper">
                                                                        <li>
                                                                            <ul class="options">
                                                                                <li class="a-option is-selected" data-value="0">0</li>
                                                                                <li class="a-option" data-value="1">1</li>
                                                                                <li class="a-option" data-value="2">2</li>
                                                                                <li class="a-option" data-value="3">3</li>
                                                                                <li class="a-option" data-value="4">4</li>
                                                                                <li class="a-option" data-value="5">5</li>
                                                                            </ul>
                                                                            <ul class="bottom-option">
                                                                                <li>Cancel</li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    <span class="error-msg"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- //수량선택 -->
                                            </div>
                                            <div class="order-total-price">
                                                <span class="order-price-value">115,000</span>
                                                <span class="order-edit-price-value">2,000</span>
                                            </div>
                                        </div>
                                        <!-- //product-list-item -->
                                    </li>
                                </ul>
                            </div>
                            <!-- //order-list-item -->
                        </li>
                        <li>
                            <!-- order-list-item -->
                            <div class="order-list-item">
                                <ul class="product-list-ul">
                                    <li>
                                        <!-- product-list-item -->
                                        <div class="product-list-item">
                                            <div class="m-order-summary-row">
                                                <div class="product-image">
                                                    <!--<img class="a-image product-image" alt="image description" src="http://pava-0341648599.s3-eu-west-1.amazonaws.com/images/55f8861ee517704a05ab1b11/boy-vintage-thumbnail-big.jpg">-->
                                                    <img class="a-image product-image" alt="image description" src="<%= pageInfo.root %>/images/temp/boy-vintage-thumbnail-big.jpg">
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-item-info first">
                                                        <div class="product-details">
                                                            <div class="product-name">오가닉 코튼 삭스</div>
                                                        </div>
                                                    </div>
                                                    <div class="product-param-info second">
                                                        <div class="product-params data">
                                                            <div class="product-size">44/76</div>
                                                            <div class="product-color">멜란지 그레이</div>
                                                            <div class="product-quantity">5</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order-quantity"><span>5</span></div>
                                            <div class="order-quantity-counter">
                                                <!-- 수량선택 -->
                                                <div class="o-cart-item" data-component="OCartItem">
                                                    <div class="cart-wrapper">
                                                        <div class="cart-item-info">
                                                            <div class="quantity-section">
                                                                <span class="quantity-label" tabindex="0"></span>
                                                                <div class="m-dropdown" data-component="MDropdown">
                                                                    <button class="a-button-nostyle placeholder" type="button" aria-label="filter expand/close" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                                                        <span>2</span>
                                                                    </button>
                                                                    <button class="a-button-nostyle a-icon-close" type="button" aria-label="close"></button>
                                                                    <input class="js-input" name="selectQty" value="3" type="text">
                                                                    <button class="a-button-nostyle a-icon-arrow-down-small" type="button" role="button" aria-label="expand/close" tabindex="0">
                                                                    </button>
                                                                    <ul class="list-wrapper">
                                                                        <li>
                                                                            <ul class="options">
                                                                                <li class="a-option" data-value="1">1</li>
                                                                                <li class="a-option" data-value="2">2</li>
                                                                                <li class="a-option is-selected" data-value="3">3</li>
                                                                                <li class="a-option" data-value="4">4</li>
                                                                                <li class="a-option" data-value="5">5</li>
                                                                            </ul>
                                                                            <ul class="bottom-option">
                                                                                <li>Cancel</li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    <span class="error-msg"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- //수량선택 -->
                                            </div>
                                            <div class="order-total-price">
                                                <span class="order-price-value">115,000</span>
                                                <span class="order-edit-price-value">-60,900</span>
                                            </div>
                                        </div>
                                        <!-- //product-list-item -->
                                    </li>
                                </ul>
                            </div>
                            <!-- //order-list-item -->
                        </li>
                    </ul>
                    <p class="error-text">해당 상품은 N개 이상 취소할 수 없습니다.</p>

                </div>
                <!-- //my-order-list -->

                <div class="button-container col-2-1">
                    <button class="a-button is-outlined harf" type="button"><span>반품 수량 저장</span></button>
                </div>

                <p class="guide-text">
                    <span class="desc-text2">* 반품상품을 선택한 후 저장해주세요.</span>
                </p>
            </div>
            <!-- //my-orders-list-wrap -->

            <!-- grid-line-wrap -->
            <div class="grid-line-wrap">
                <!-- grid-line-item -->
                <div class="grid-line-item full order-pay-info-bx">
                    <h3 class="a-heading-3 sub">결제정보</h3>
                    <ul class="o-info-line-box col-2-1">
                        <li>
                            <span class="f-type1">결제금액</span>
                            <span class="f-type2 price-won">1,390,000</span>
                        </li>
                        <li>
                            <span class="f-type1">신용카드</span>
                            <span class="f-type2 price-won">80,500</span>
                        </li>
                        <li>
                            <span class="f-type1">무통장입금</span>
                            <span class="f-type2 price-won">25,000</span>
                        </li>
                        <li>
                            <span class="f-type1">예치금</span>
                            <span class="f-type2 price-won">25,000</span>
                        </li>
                    </ul>
                </div>
                <!-- //grid-line-item -->
            </div>
            <!-- //grid-line-wrap -->

            <!-- grid-line-wrap -->
            <div class="grid-line-wrap">
                <!-- grid-line-item -->
                <div class="grid-line-item full refund-location-bx">
                    <h3 class="a-heading-3 sub">회수 요청지</h3>
                    <ul class="o-info-line-box">
                        <li class="no-padding">

                            <%# md-deliver-info-bx : 배송지 목록2 %>
                            <%- include ("../../../common/md-delivery-info-bx2.ejs") %>

                        </li>
                    </ul>
                </div>
                <!-- //grid-line-item -->

            </div>
            <!-- //grid-line-wrap -->

            <!-- grid-line-wrap -->
            <div class="grid-line-wrap">
                <!-- grid-line-item -->
                <div class="grid-line-item full refund-way-info-bx">
                    <h3 class="a-heading-3 sub">환불 방법 선택</h3>
                    <ul class="o-info-line-box col-2-1">
                        <li class="no-padding">
                            <span class="f-type1">환불방법</span>
                            <div class="f-type1">
                                <div class="radio-button-list">
                                    <div class="m-radio-button v3">
                                        <input type="radio" class="a-radio-button rd-toggle" id="refund-way-cate1" name="refund-way-cate" data-toggle-target="rd-toggle-con-deposit">
                                        <label class="a-label js-a-label u-no-select custom-radio" for="refund-way-cate1"></label>
                                        <label class="a-label js-a-label label-text" for="refund-way-cate1">예치금</label>
                                    </div>
                                    <div class="m-radio-button v3">
                                        <input type="radio" class="a-radio-button rd-toggle" id="refund-way-cate2" name="refund-way-cate" data-toggle-target="rd-toggle-con-account" checked="" >
                                        <label class="a-label js-a-label u-no-select custom-radio" for="refund-way-cate2"></label>
                                        <label class="a-label js-a-label label-text" for="refund-way-cate2">환불계좌</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- 예치금 -->
                        <li class="rd-toggle-con rd-toggle-con-deposit is-hidden-strong no-padding" data-name="refund-way-cate">
                            <span class="f-type1 v-center">환불금액</span>
                            <div class="f-type1">
                                <div class="m-input v3 is-readonly" data-component="MInput">
                                    <input class="a-input js-a-input"
                                           type="text"
                                           value="10,000 원"
                                           name="refund-deposit"
                                           id="refund-deposit"
                                           readonly="readonly"
                                           required="">
                                    <label class="a-label js-a-label" for="refund-deposit" data-placeholder=""></label>
                                </div>
                            </div>
                        </li>
                        <!-- //예치금 -->
                        <!-- 환불계좌 -->
                        <li class="rd-toggle-con rd-toggle-con-account no-padding" data-name="refund-way-cate">
                            <span class="f-type1">환불계좌</span>
                            <div class="f-type1">
                                <span class="refund-account-text">우리은행   0000-0000-0000-0000 (예금주: 홍길동)</span>
                                <button class="a-button sm edit-call-btn toggle-info-line-li-btn" type="button"><span>계좌번경</span></button>
                                <button class="a-button is-outlined sm edit-cancle-btn toggle-info-line-li-btn" type="button"><span>취소</span></button>
                            </div>
                        </li>
                        <li class="rd-toggle-con rd-toggle-con-account info-line-toggle-li no-padding" data-name="refund-way-cate">
                            <span class="f-type1">예금주</span>
                            <div class="f-type1">홍길동</div>
                        </li>
                        <li class="rd-toggle-con rd-toggle-con-account info-line-toggle-li no-padding" data-name="refund-way-cate">
                            <span class="f-type1">은행</span>
                            <div class="f-type1">
                                <div class="m-dropdown v3">
                                    <label class="a-label js-a-label" for="delivery-msg-dropdown"></label>
                                    <select name="selectSize" id="delivery-msg-dropdown">
                                        <option class="a-option">은행 선택</option>
                                        <option class="a-option">국민은행</option>
                                        <option class="a-option">하나은행</option>
                                    </select>
                                    <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                                </div>
                            </div>
                        </li>
                        <li class="rd-toggle-con rd-toggle-con-account info-line-toggle-li no-padding" data-name="refund-way-cate">
                            <span class="f-type1 v-top">계좌번호</span>
                            <div class="f-type1">
                                <div class="m-input v3 with-button big-btn" data-component="MInput">
                                    <input class="a-input js-a-input v3"
                                           type="numpber"
                                           name="return-account-number"
                                           id="return-account-number"
                                           placeholder="- 없이 숫자만 입력하세요">
                                    <button class="a-button sm btn-account-confirm open-lightbox" type="button" data-template="lp-account-success"><span>계좌인증</span></button>
                                    <label class="a-label js-a-label" for="return-account-number" data-placeholder=""></label>
                                </div>
                                <p class="error-text">은행을 선택해 주세요.</p>
                            </div>
                        </li>
                        <!-- //환불계좌 -->
                    </ul>
                </div>
                <!-- //grid-line-item -->
            </div>
            <!-- //grid-line-wrap -->

            <!-- grid-line-wrap -->
            <div class="grid-line-wrap">
                <!-- grid-line-item -->
                <div class="grid-line-item full refund-reason-info-bx">
                    <h3 class="a-heading-3 sub">반품사유</h3>
                    <ul class="o-info-line-box col-2-1">
                        <li class="flexwrap no-padding">
                            <span class="f-type1">반품사유</span>
                            <div class="f-type1">
                                <div class="m-dropdown v3">
                                    <label class="a-label js-a-label" for="refund-reason-msg-dropdown"></label>
                                    <select name="selectSize" id="refund-reason-msg-dropdown">
                                        <option class="a-option">반품사유 선택</option>
                                        <option class="a-option">제품하자</option>
                                    </select>
                                    <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                                </div>
                                <p class="error-text">반품사유를 선택하세요.</p>
                            </div>
                        </li>
                        <li class="no-padding">
                            <span class="f-type1">반품배송비</span>
                            <div class="f-type1">
                                <div class="m-input v3 is-readonly" data-component="MInput">
                                    <input class="a-input js-a-input"
                                           type="text"
                                           value="0 원"
                                           name="refund-dellivary-price"
                                           id="refund-dellivary-price"
                                           readonly="readonly"
                                           required="">
                                    <label class="a-label js-a-label" for="refund-dellivary-price" data-placeholder=""></label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- //grid-line-item -->

            </div>
            <!-- //grid-line-wrap -->

            <!-- pay-policy-bx -->
            <div class="dft-bx line-bx pay-policy-bx">
                <div class="pay-policy-agree">
                    <span class="m-checkbox v2 u-clearfix" id="checkbox1">
                        <input class="a-checkbox" type="checkbox" id="chck-order-info-agree">
                        <label class="a-label js-a-label custom-box" for="chck-order-info-agree" tabindex="0"></label>
                        <label class="a-label js-a-label" for="chck-order-info-agree">주문하실 상품의 상품명, 가격, 배송정보를 확인 하였으며, 주문취소 재결제에 동의하시겠습니까? (전자상거래법 제8조 제2항)</label>
                    </span>
                </div>
            </div>
            <p class="error-text">결제수단 변경에 동의해주셔야 결제가 가능합니다.</p>
            <!-- //pay-policy-bx -->

            <!-- button-container -->
            <div class="button-container col-2">
                <button class="a-button is-outlined" type="button"><span>취소</span></button>
                <button class="a-button is-primary" type="button"><span>반품취소</span></button>
            </div>
            <!-- //button-container -->

        </div>
        <!-- //my-order-delivery-content -->

    </div>
    <!-- //o-my-page -->
</div>

<!-- handlebars-template -->
<%# 배송지목록 > 삭제 %>
<%- include ("../../../handlebars/hndl-lp-dlvr-list-del.ejs") %>

<%# 계좌인증 성공 %>
<%- include ("../../../handlebars/hndl-lp-account-success.ejs") %>

<%# 계좌인증 실패 %>
<%- include ("../../../handlebars/hndl-lp-account-failure.ejs") %>
<!-- //handlebars-template -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelector('.menu-my-orders');
        if(activeTab){
            activeTab.parentNode.classList.add('is-active');
        }

        setTimeout(function(){
            //배송지 수정, 삭제 버튼 클릭이벤트
            renewCommon.deliverListEdit.init();
        },100);
    })();
</script>
<!-- //tip -->