<div data-component="OPageContent" class="o-page-content" data-component-id="">
    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width ">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Community.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">community</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">WOMEN IN LEADERSHIP</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Community</span>
                        To celebrate women’s achievements and raise awareness of the continued efforts needed to build a gender-equal future, we take cues from UN Women's theme for this year's International Women’s Day and discuss why women’s advancement in leadership matters.&nbsp;
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph is-richtext">
                    Women have historically faced more significant barriers than men when it comes to fully participating in the economy. These barriers, even if concealed, persist to date in the form of pay gaps, uneven opportunities for advancement, and unbalanced representation in critical decision-making. 
                </p>
                <p class="a-paragraph is-richtext">
                    A growing body of evidence shows, however, that when women are represented and engaged in leadership, it benefits not only their employees, but also their families, communities and whole societies. Systemic gender inequality is, on the other hand, linked to slow progress and limited sustainability outcomes. <br>
                </p>
                <p class="a-paragraph is-richtext">
                    We have invited some of our female managers from three strategic areas of ARKET – the Headquarters, Stores &amp; Cafés and Production Office to share their thoughts on leadership. Meet Lina, Leona and Vera as they talk about representation, everyday role models and making a positive business case for women in positions of power.&nbsp; <br>
                </p>
                <p class="a-paragraph is-richtext"></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-100">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    Select a colleague below to read more
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-focus-panel">
            <div class="focus-panel-container three-tiles">
                <div class="free-tile focus-panel"> <!--added style-->
                    <a href="/en/about/community/women-in-leadership/lina-hallgren.html" target="_self" class="a-link">
                        <div class="m-free-tile q-color-black-100 ">
                            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_3_WEB.jpg" alt="Lina Hällgren, Creative Content &amp; Studio Manager, Stockholm">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2 big-tags">Lina Hällgren</h2>
                                <p class="a-paragraph q-gamma">Creative Content &amp; Studio Manager, Stockholm</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="free-tile focus-panel"> <!--added style-->
                    <a href="/en/about/community/women-in-leadership/leona-whitfield.html" target="_self" class="a-link">
                        <div class="m-free-tile q-color-black-100">
                            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_7_WEB.jpg" alt="Leona Whitfield, Area Manager for UK, Benelux &amp; South Korea, London ">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2 big-tags">Leona Whitfield</h2>
                                <p class="a-paragraph q-gamma">Area Manager for UK, Benelux&nbsp;&amp; South Korea, London&nbsp;</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="free-tile focus-panel"> <!--added style-->
                    <a href="/en/about/community/women-in-leadership/vera-huang.html" target="_self" class="a-link">
                        <div class="m-free-tile q-color-black-100 ">
                            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_9_WEB.jpg" alt="Vera Huang, Global Merchandising Senior Manager,  Shanghai">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2 big-tags">Vera Huang</h2>
                                <p class="a-paragraph q-gamma">Global Merchandising Senior Manager,  Shanghai</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--mobile fullWidth--desktop fullWidth--tablet spacer wc-100" style="background-color: #f3f3f3">
        <div class="o-width title--small about-icon wc-50">
            <div class="o-text-field is-wide is-large">
                <div class="headings" style="text-align:center;">
                    <div class="m-headline">
                        <h2 class="a-heading-2  has-margin">
                            TRANSFORMING COMMUNITIES
                        </h2>
                    </div>
                </div>
                <div class="text-container">
                    <p class="a-paragraph is-richtext"> </p>
                    <p class="a-paragraph"></p>
                    <p class="a-paragraph">
                        As a company we have a great responsibility to advance gender equality and act-ively seek opportunities to empower women through our business. This applies to both our employees and the 170,000 textile workers employed by our suppliers. <br>
                    </p>
                    <p class="a-paragraph"></p>
                </div>
            </div>
        </div>
        
        <div class="o-width image-comp--4-col wc-75">
            <div class="o-image-listing cols-3" style="margin-top:0px; margin-bottom:0px;">
                <div class="image-container">
                    <class class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Headquarters.png" alt="ARKET HEADQUARTERS currently consist of 72% female colleagues and 76% female managers">
                    </class>
                </div>
                <div class="image-container">
                    <class class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Stores.png" alt="ARKET STORES AND CAFÉS currently consist of 71% female colleagues and 70% female managers">
                    </class>
                </div>
                <div class="image-container">
                    <class class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Prroduction-Office.png" alt="ARKET PRODUCTION OFFICE currently consist of 77% female colleagues and 90% female managers">
                    </class>
                </div>
                <div class="image-container">
                    <class class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Production_new.png" alt="The production supply chain that we use currently consist of 61% female colleagues and 35% female managers">
                    </class>
                </div>
            </div>
        </div>
        <div class="o-width hide--desktop-401 wc-50">
            <div class="o-text-field is-wide ">
                <div class="text-container">
                    <p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">
                        <b>Swipe to read more<span style="font-family: arket sans ding;"> c</span> <br></b>
                    </div>
                    <p class="a-paragraph"></p>
                </div>
            </div>
        </div>
        <div class="o-width wc-50">
            <div class="o-text-field two-columns ">
                <div class="text-container">
                    <p class="a-paragraph is-richtext"></p>
                    <p class="a-paragraph">We do this by committing to our diversity, inclusiveness and equality policies, setting goals and measuring our performance as a brand. We actively share our insights and expertise with our business partners and support them in creating more gender-equal leadership structures through a number of initiatives together with the <a title="H&amp;M Foundation" href="https://hmfoundation.com/2020/06/16/women-mean-business-global-program-care/" class="a-link">H&amp;M Foundation</a>.</p>
                    <p class="a-paragraph">As individuals, we also hold immense power to lead by example, endorse women around us and challenge the status quo. At ARKET, we believe that each of us can be part of the change. Our joint efforts will eventually lead to a structural shift that will enable people of all genders, identities, talents and backgrounds to equally participate in society and be meaningfully represented by leadership bodies.<br>&nbsp;</p>
                    <p class="a-paragraph"></p>
                </div>
            </div>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width ">
                <h2 class="a-heading-2 ">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-sustainability-fact-sheet.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-stores-cafes.ejs") %>

                </div>
            </div>
        </div>
    </div>
    <div class="splash parbase"></div>
</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[7].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->