<div data-component="OPageContent" class="o-page-content footer-about-wrap">
    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width ">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Community.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">community</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">여성 리더들</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings">
                <div class="m-headline about-align-left">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Community</span>
                        여성의 업적을 축하하고 성평등한 미래 건설을 위해 필요한 지속적인 노력에 대한 인식을 높이기 위해, 우리는 올해 국제 여성의 날을 맞아 UN 여성 주제에서 단서를 얻고 여성의 리더십 발전이 왜 중요한지에 대해 논의합니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph is-richtext">
                    역사적으로 여성들은 경제에 참여하는 것에 있어서 남성들보다 더 큰 장벽을 마주해 왔었습니다. 이러한 장애물은 은폐 하더라도 급여 격차, 고르지 못한 승진 기회 및 중요한 의사결정에 있어 성 불균형한 대표들의 형태로 오늘날까지 지속됩니다.
                </p>
                <p class="a-paragraph is-richtext">
                    그러나 점점 더 많은 증거들이 여성이 대표되고 지도력에 종사할 때, 직원들뿐만 아니라 그들의 가족, 지역 사회 그리고 사회 전체에 혜택을 준다는 것을 보여줍니다. 반면에, 시스템적인 성 불평등은 느린 발전과 제한된 지속가능성 결과와 연결 되었습니다.
                </p>
                <p class="a-paragraph is-richtext">
                    ARKET의 3개의 전략 분야인 본사, 매장&카페, 프로덕션 오피스의 여성 매니저들을 초청하여 그들의 리더십에 대한 생각을 공유하였습니다. 리나, 레오나, 베라를 만나 대표성, 일상의 롤모델, 힘있는 자리에 있는 여성들에게 긍정적인 비즈니스 사례를 제시합니다.
                </p>
                <p class="a-paragraph is-richtext"></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-100">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    Select a colleague below to read more
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-focus-panel">
            <div class="focus-panel-container three-tiles">
                <div class="free-tile focus-panel"> <!--added style-->
                    <a href="#none" target="_self" class="a-link">
                        <div class="m-free-tile q-color-black-100 ">
                            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_3_WEB.jpg" alt="Lina Hällgren, Creative Content &amp; Studio Manager, Stockholm">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2 big-tags">Lina Hällgren</h2>
                                <p class="a-paragraph q-gamma">Creative Content &amp; Studio Manager, Stockholm</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="free-tile focus-panel"> <!--added style-->
                    <a href="#none" target="_self" class="a-link">
                        <div class="m-free-tile q-color-black-100">
                            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_7_WEB.jpg" alt="Leona Whitfield, Area Manager for UK, Benelux &amp; South Korea, London ">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2 big-tags">Leona Whitfield</h2>
                                <p class="a-paragraph q-gamma">Area Manager for UK, Benelux&nbsp;&amp; South Korea, London&nbsp;</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="free-tile focus-panel"> <!--added style-->
                    <a href="#none" target="_self" class="a-link">
                        <div class="m-free-tile q-color-black-100 ">
                            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_9_WEB.jpg" alt="Vera Huang, Global Merchandising Senior Manager,  Shanghai">
                            </picture>
                            <div class="text-content">
                                <h2 class="a-heading-2 big-tags">Vera Huang</h2>
                                <p class="a-paragraph q-gamma">Global Merchandising Senior Manager,  Shanghai</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--mobile fullWidth--desktop fullWidth--tablet spacer wc-100 fullWidth--bgColor">
        <div class="o-width title--small about-icon wc-50">
            <div class="o-text-field is-wide is-large">
                <div class="headings">
                    <div class="m-headline">
                        <h2 class="a-heading-2  has-margin">
                            공동체의 변화
                        </h2>
                    </div>
                </div>
                <div class="text-container">
                    <p class="a-paragraph is-richtext"> </p>
                    <p class="a-paragraph"></p>
                    <p class="a-paragraph">
                        기업으로서 우리는 성 평등을 증진하고 우리의 사업을 통해 여성들에게 힘을 실어줄 기회를 적극적으로 찾아야 할 큰 책임이 있습니다. 이는 당사의 직원과 공급업체에 고용된 17만 명의 섬유 근로자 모두에게 해당됩니다.
                    </p>
                    <p class="a-paragraph"></p>
                </div>
            </div>
        </div>
        
        <div class="o-width image-comp--4-col wc-75">
            <div class="o-image-listing cols-3">
                <div class="image-container">
                    <class class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Headquarters.png" alt="ARKET HEADQUARTERS currently consist of 72% female colleagues and 76% female managers">
                    </class>
                </div>
                <div class="image-container">
                    <class class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Stores.png" alt="ARKET STORES AND CAFÉS currently consist of 71% female colleagues and 70% female managers">
                    </class>
                </div>
                <div class="image-container">
                    <class class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Prroduction-Office.png" alt="ARKET PRODUCTION OFFICE currently consist of 77% female colleagues and 90% female managers">
                    </class>
                </div>
                <div class="image-container">
                    <class class="trackImage col-item">
                        <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Production_new.png" alt="The production supply chain that we use currently consist of 61% female colleagues and 35% female managers">
                    </class>
                </div>
            </div>
        </div>
        <div class="o-width hide--desktop-401 wc-50">
            <div class="o-text-field is-wide ">
                <div class="text-container">
                    <p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">
                        <b>Swipe to read more<span style="font-family: arket sans ding;"> c</span> <br></b>
                    </div>
                    <p class="a-paragraph"></p>
                </div>
            </div>
        </div>
        <div class="o-width wc-50">
            <div class="o-text-field two-columns ">
                <div class="text-container">
                    <p class="a-paragraph is-richtext"></p>
                    <p class="a-paragraph">우리는 다양성, 포괄성 및 평등 정책에 전념하고, 목표를 설정하고, 브랜드로서의 성과를 측정함으로써 이러한 성과를 달성합니다. 우리는  <a title="H&amp;M Foundation" href="https://hmfoundation.com/2020/06/16/women-mean-business-global-program-care/" class="a-link">H&amp;그룹</a>과 함께 다양한 계획을 통해 보다 성 평등한 리더십 구조를 만들 수 있도록 적극적으로 협력하고 있습니다.</p>
                    <p class="a-paragraph">개인으로서, 우리는 또한 모범을 보이고, 우리 주변의 여성들을 지지하며, 현재 상황에 도전할 엄청난 힘을 가지고 있습니다. ARKET에서는 우리 각자가 변화의 일부가 될 수 있다고 생각합니다. 우리의 공동의 노력은 결국 모든 성별, 정체성, 재능, 배경을 가진 사람들이 사회에 평등하게 참여하고 의미 있는 대표가 될 수 있는 구조적인 변화로 이어질 것 입니다.</p>
                    <p class="a-paragraph"></p>
                </div>
            </div>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width ">
                <h2 class="a-heading-2 ">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-sustainability-fact-sheet.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-stores-cafes.ejs") %>

                </div>
            </div>
        </div>
    </div>
    <div class="splash parbase"></div>
</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[7].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->