<!-- category-wrapper -->
<div data-title="Women" role="treeitem" aria-hidden="true" class="category-wrapper">
    <div class="category-menu">

        <div class="curated-categories">
            <a href="/<%= pageInfo.lang %>/women/new-arrivals.html" target="_self" class="a-link department-link">New arrivals</a>
            <a href="/<%= pageInfo.lang %>/women/basics.html" target="_self" class="a-link department-link">Basics</a>
            <a href="/<%= pageInfo.lang %>/women/most-popular.html" target="_self" class="a-link department-link">Most popular</a>
            <a href="/<%= pageInfo.lang %>/women/c/sdp/online-exclusive.html" target="_self" class="a-link department-link">Online exclusive</a>
            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link  ">
                                                <span>
                                                    <span class="title">Campaigns</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-underneath">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/women/c/striped-collection.html" target="_self" class="a-link">Campaigns</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/c/striped-collection.html" target="_self" class="a-link ">스트라이프 컬렉션</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/c/terry-basics.html" target="_self" class="a-link ">테리</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/c/the-new-romantic.html" target="_self" class="a-link ">로맨틱</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/c/summer-linen.html" target="_self" class="a-link ">여름 리넨</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-categories">
            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link is-open">
                                                <span>
                                                    <span class="title">Clothing</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-visible">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/women/all.html" target="_self"class="a-link">Clothing</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/all.html" target="_self" class="a-link ">전체</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/coats-and-jackets.html" target="_self" class="a-link ">코트 &amp; 자켓</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/knitwear.html" target="_self" class="a-link ">니트웨어</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/tailoring/blazers.html" target="_self" class="a-link ">블레이저</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/trousers.html" target="_self" class="a-link ">바지</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/loungewear.html" target="_self" class="a-link">라운지웨어</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/jeans.html" target="_self" class="a-link">진</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/tops/t-shirts.html" target="_self" class="a-link">티셔츠</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/dresses.html" target="_self" class="a-link">드레스</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shirts-blouses.html" target="_self" class="a-link">셔츠 &amp; 블라우스</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shirts-blouses/overshirts.html" target="_self" class="a-link">오버셔츠</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/skirts.html" target="_self" class="a-link">스커트</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/tops.html" target="_self" class="a-link">탑</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/trousers/shorts.html" target="_self" class="a-link">셔츠</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/tailoring.html" target="_self" class="a-link">양복&nbsp;</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/sportswear.html" target="_self" class="a-link">스포츠웨어</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/underwear.html" target="_self" class="a-link">언더웨어</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/tops/sweatshirts-hoodies.html" target="_self" class="a-link">스웨트셔츠</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/swimwear.html" target="_self" class="a-link">수영복</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/c/leather-collection.html" target="_self" class="a-link">가죽</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/underwear/socks.html" target="_self" class="a-link">양말</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link is-open">
                                                <span>
                                                    <span class="title">Shoes</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-visible">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/women/shoes.html" target="_self" class="a-link">Shoes</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shoes.html" target="_self" class="a-link">전체</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shoes/boots.html" target="_self" class="a-link">부츠</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shoes/trainers.html" target="_self" class="a-link">트레이너</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shoes/veja.html" target="_self" class="a-link">Veja</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shoes/adidas.html" target="_self" class="a-link">adidas</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shoes/heels.html" target="_self" class="a-link">힐스</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shoes/sandals.html" target="_self" class="a-link">샌들</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shoes/flats.html" target="_self" class="a-link">플랫</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/shoes/loafers-and-mules.html" target="_self" class="a-link">단화 &amp; 슬리퍼</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link is-open">
                                                <span>
                                                    <span class="title">Bags</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-visible">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/women/bags-and-accessories/bags.html" target="_self" class="a-link">Bags</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/bags-and-accessories/bags.html" target="_self" class="a-link">가방</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/bags-and-accessories/crossbody-bags.html" target="_self" class="a-link">크로스백</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/bags-and-accessories/tote-bags.html" target="_self" class="a-link">토트백</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/travel.html" target="_self" class="a-link">여행가방</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link is-open">
                                                <span>
                                                    <span class="title">Accessories</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-visible">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/women/bags-and-accessories.html" target="_self" class="a-link">Accessories</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/bags-and-accessories.html" target="_self" class="a-link">전체</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/jewellery.html" target="_self" class="a-link">쥬얼리</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/bags-and-accessories/hats-and-gloves.html" target="_self" class="a-link">모자 &amp; 장갑</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/bags-and-accessories/scarves.html" target="_self" class="a-link">스카프</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/bags-and-accessories/hair-accessories.html" target="_self" class="a-link">헤어액세서리</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/bags-and-accessories/sunglasses.html" target="_self" class="a-link">선글라스</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/women/bags-and-accessories/belts.html" target="_self" class="a-link">벨트</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- //category-wrapper -->

<!-- category-wrapper -->
<div data-title="Men" role="treeitem" aria-hidden="true" class="category-wrapper">
    <div class="category-menu">

        <div class="curated-categories">
            <a href="/<%= pageInfo.lang %>/men/new-arrivals.html" target="_self" class="a-link department-link">New arrivals</a>
            <a href="/<%= pageInfo.lang %>/men/basics.html" target="_self" class="a-link department-link">Basics</a>
            <a href="/<%= pageInfo.lang %>/men/most-popular.html" target="_self" class="a-link department-link">Most popular</a>
            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link  ">
                                                <span>
                                                    <span class="title">Campaigns</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-underneath">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/men/c/striped-collection.html" target="_self" class="a-link">Campaigns</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/c/striped-collection.html" target="_self" class="a-link">Striped Collection</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/c/terry-basics.html" target="_self" class="a-link">Terry Basics</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/c/life-in-linen.html" target="_self" class="a-link">Life in linen</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/c/the-comfort-edit.html" target="_self" class="a-link">The comfort edit</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="/<%= pageInfo.lang %>/men/travel.html" target="_self" class="a-link department-link">Travel</a>
        </div>

        <div class="main-categories">
            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link is-open">
                                                <span>
                                                    <span class="title">Clothing</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-visible">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/men/all.html" target="_self" class="a-link">Clothing</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/all.html" target="_self" class="a-link">전체</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/shirts.html" target="_self" class="a-link">셔츠</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/trousers.html" target="_self" class="a-link">바지</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/T-shirts.html" target="_self" class="a-link">티셔츠</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/sweatshirts-and-hoodies.html" target="_self" class="a-link">스웻셔츠</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/Shorts.html" target="_self" class="a-link">반바지</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/swim-shorts.html" target="_self" class="a-link">수영반바지</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/shoes.html" target="_self" class="a-link">신발</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/coats-jackets.html" target="_self" class="a-link">코드 &amp; 재킷</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/shirts/overshirts.html" target="_self" class="a-link">오버셔츠</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/jeans.html" target="_self" class="a-link">청바지</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/knitwear.html" target="_self" class="a-link">니트웨어</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/pile-fleece.html" target="_self" class="a-link">파일 &amp; 양털</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/suits.html" target="_self" class="a-link">양복</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/socks.html" target="_self" class="a-link"><b>5 for 4 &nbsp;</b>양말</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/underwear.html" target="_self" class="a-link">속옷</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/blazers.html" target="_self" class="a-link">블레이저</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/T-shirts/polos.html" target="_self" class="a-link">폴로</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/sportswear.html" target="_self" class="a-link">러닝</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/pyjamas.html" target="_self" class="a-link">잠옷</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link is-open">
                                                <span>
                                                    <span class="title">Shoes</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-visible">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/men/shoes.html" target="_self" class="a-link">Shoes</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/shoes.html" target="_self" class="a-link">전체</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/shoes/trainers.html" target="_self" class="a-link">트레이너</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/shoes/leather-shoes.html" target="_self" class="a-link">가죽신발</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/shoes/boots.html" target="_self" class="a-link">부츠</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/shoes/slides.html" target="_self" class="a-link">슬라이드</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link is-open">
                                                <span>
                                                    <span class="title">Bags</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-visible">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/men/bags.html" target="_self" class="a-link">Bags</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/bags.html" target="_self" class="a-link">전체</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/bags/backpacks.html" target="_self" class="a-link">백팩</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/bags/tote-bags.html" target="_self" class="a-link">토트백</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link is-open">
                                                <span>
                                                    <span class="title">Accessories</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-visible">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/men/accessories.html" target="_self" class="a-link">Accessories</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/accessories.html" target="_self" class="a-link">전체</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/accessories/hats.html" target="_self" class="a-link">모자</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/accessories/belts.html" target="_self" class="a-link">벨트</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/accessories/sunglasses.html" target="_self" class="a-link">선글라스</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/accessories/scarves.html" target="_self" class="a-link">스카프</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/accessories/leather-accessories.html" target="_self" class="a-link">가죽 액세서리</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/accessories/gloves.html" target="_self" class="a-link">장급</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/accessories/care.html" target="_self" class="a-link">케어</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/accessories/beanies.html" target="_self" class="a-link">비니</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/men/accessories/ties.html" target="_self" class="a-link">타이</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- //category-wrapper -->

<!-- category-wrapper -->
<div data-title="Homeware" role="treeitem" aria-hidden="true" class="category-wrapper">
    <div class="category-menu">

        <div class="curated-categories">
            <a href="/<%= pageInfo.lang %>/homeware/new-arrivals.html" target="_self" class="a-link department-link">New arrivals</a>
            <a href="/<%= pageInfo.lang %>/homeware/all.html" target="_self" class="a-link department-link">All products</a>

            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link  ">
                                                <span>
                                                    <span class="title">In season</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-underneath">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/homeware/decorating/pots.html" target="_self" class="a-link"></a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/decorating/pots.html" target="_self" class="a-link">화분</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/textiles/blankets.html" target="_self" class="a-link">담요</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-categories">
            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link is-open">
                                                <span>
                                                    <span class="title">Rooms</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-visible">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/homeware/kitchen_.html" target="_self" class="a-link">Rooms</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/kitchen_.html" target="_self" class="a-link">부엌</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/living-room.html" target="_self" class="a-link">거실</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/bathroom.html" target="_self" class="a-link">화장실</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/children-room.html" target="_self" class="a-link">어린이방</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="folder-category">
                <button class="a-button a-button-nostyle folder-link is-open">
                                                <span>
                                                    <span class="title">Categories</span>
                                                    <span class="a-icon-plus-circle"></span>
                                                    <span class="a-icon-lg-arrow-right"></span>
                                                </span>
                </button>
                <div role="treeitem" class="category-group is-visible">
                    <h3 class="a-heading-3">
                        <a href="/<%= pageInfo.lang %>/homeware/cleaning-and-caring.html" target="_self" class="a-link">CATEGORIES</a>
                    </h3>
                    <ul class="subcategories">
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/cleaning-and-caring.html" target="_self" class="a-link">청소 &amp; 관리</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/cooking.html" target="_self" class="a-link">요리</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/serving.html" target="_self" class="a-link">피복재</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/decorating.html" target="_self" class="a-link">꾸미기</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/organising.html" target="_self" class="a-link">정리</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/textiles.html" target="_self" class="a-link">홈 덱스타일</a>
                        </li>
                        <li class="subcategory">
                            <a href="/<%= pageInfo.lang %>/homeware/play.html" target="_self" class="a-link">장난감</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- //category-wrapper -->

<!-- category-wrapper -->
<div data-title="Travel" role="treeitem" aria-hidden="true" class="category-wrapper">

</div>
<!-- //category-wrapper -->