<!-- information-section -->
<div role="treeitem" class="information-section tooltip-content" aria-hidden="true" aria-expanded="false">

    <a href="<%= pageInfo.lang %>/about.html" target="_self" class="a-link nav">
        <img class="a-image img" src="<%= pageInfo.root %>/org/content/dam/P11/images/customer-service-icons/stores.png" alt="">
        <span class="text">About ARKET</span>
    </a>
    <a href="<%= pageInfo.lang %>/stores.html" target="_self" class="a-link nav">
        <img class="a-image img" src="<%= pageInfo.root %>/org/content/dam/P11/images/illustrations/storesandcafes.gif" alt="">
        <span class="text">상점 &amp; 카페</span>
    </a>
    <a href="<%= pageInfo.lang %>/customer-service.html" target="_self" class="a-link nav">
        <img class="a-image img" src="<%= pageInfo.root %>/org/content/dam/P11/images/customer-service-icons/customerservice1.png" alt="">
        <span class="text">고객 서비스</span>
    </a>
    <a href="<%= pageInfo.lang %>/newslettersubscribe.html" target="_self" class="a-link nav">
        <img class="a-image img" src="<%= pageInfo.root %>/org/content/dam/P11/images/customer-service-icons/newsletter.png" alt="">
        <span class="text">뉴스레터</span>
    </a>
    <a href="<%= pageInfo.lang %>/customer-service/delivery-methods.html" target="_self" class="a-link nav">
        <img class="a-image img" src="<%= pageInfo.root %>/org/content/dam/P11/images/customer-service-icons/delivery-ani-3.gif" alt="">
        <span class="text">배달</span>
    </a>
    <a href="<%= pageInfo.lang %>/guide/recycle-with-arket.html" target="_self" class="a-link nav">
        <img class="a-image img" src="<%= pageInfo.root %>/org/content/dam/P11/images/illustrations/recyclewitharket_icon.png" alt="">
        <span class="text">재활용 with ARKET</span>
    </a>
    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/login/login.html" target="_self" class="a-link my-account-icon" id="signInMobile" area-hidden="false">
        <span class="a-icon-profile"></span>
        <span class="text">로그인</span>
    </a>
    <a href="<%= pageInfo.lang %>/my-account/profile" target="_self" class="a-link my-account-icon" id="accountMobile" style="display:none" area-hidden="true">
        <span class="a-icon-profile"></span>
        <span class="text">내계정</span>
    </a>

    <div class="bottom-section">
        <button type="button" id="navMenuShippingLink"
                data-classes="is-country-selector is-multi-language"
                class="a-button-nostyle open-lightbox m-country-cta"
                data-template="country-selector">
            <span class="country-name">배송국가</span>
            <span class="lang"></span>
        </button>
        <a href="/<%= pageInfo.lang %>/logout" target="_self" class="a-link bottom account logout" area-hidden="true">로그아웃</a>
    </div>

    <a href="https://www.instagram.com/arketofficial" target="_self" class="a-link follow">Follow us</a>

</div>
<!-- information-section -->