<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="p:domain_verify">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>ARKET - Essential products for men, women, children and the home WW</title>

    <meta name="description" content="ARKET is a modern-day market and lifestyle destination offering essential products for men, women, children and the home. ">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="Essential products for men, women, children and the home">
    <meta property="og:description" content="ARKET is a modern-day market and lifestyle destination offering essential products for men, women, children and the home. ">
    <meta property="og:site_name" content="ARKET">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.arket.com/<%= pageInfo.lang %>/index.html">
    <meta property="og:image" content="https:">

    <meta property="fb:app_id" content="138733209821465">

    <link rel="shortcut icon" type="image/png" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/favicons/favicon-32.png">
    <link rel="apple-touch-icon" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/favicons/favicon-180.png">

    <link rel="canonical" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/index.html">

    <!--<link rel="stylesheet" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend.min.a033ce601ceae2b3ed0d1dc0a1cc8264.css" type="text/css">-->
    <link rel="stylesheet" href="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend.min.1987a0f885a03ad325376517da7bed68.css" type="text/css">

    <!-- frontend.renew.css -->
    <link rel="stylesheet" href="<%= pageInfo.root %>/css/frontend.renew.css" type="text/css">
    <!-- //frontend.renew.css -->

    <script src="<%= pageInfo.root %>/org/etc/designs/hm/clientlibs/shared/jquery.min.98d49f2a9477a5d4f9edef7b7e9698b1.js"></script>
    <script src="<%= pageInfo.root %>/org/etc/designs/appeaser/p11/pattern-lib/frontend/js/modernizr-custom.min.js"></script>
    <script src="<%= pageInfo.root %>/org/metrics/default/touchpoint.js"></script>
</head>

