<!-- o-image-list-explore-arket -->
<!-- mrk-edit : 20211025 -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/materials.html" target="_blank" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_10_WEB.jpg" alt="Kenjiro Kuwana">
        </a>
        <div class="slider-text-block">
            <!--<div class="is-richtext o-text-field">Materials</div>-->
            <div class="is-richtext o-text-field">소재</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_susanna_04_WEB.jpg" alt="Susanna Cognigni">
        </a>
        <div class="slider-text-block">
            <!--<div class="is-richtext o-text-field">Suppliers</div>-->
            <div class="is-richtext o-text-field">공급업체</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/design.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_elisabeth_06_WEB.jpg" alt="Elisabet Holmström">
        </a>
        <div class="slider-text-block">
            <!--<div class="is-richtext o-text-field">Design</div>-->
            <div class="is-richtext o-text-field">디자인</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q3_cafe_bts_jessica_f.jpg" alt="Jessica Leroux">
        </a>
        <div class="slider-text-block">
            <!--<div class="is-richtext o-text-field">Food</div>-->
            <div class="is-richtext o-text-field">음식</div>
        </div>
    </div>
</div>
<!-- //mrk-edit : 20211025 -->
<!-- //o-image-list-explore-arket -->