<!-- o-image-list-explore-arket -->
<!-- mrk-edit : 20211025 -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/materials.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Materials.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field"><!--Materials-->소재</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field"><!--Suppliers-->공급업체</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/design.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Design.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field"><!--Design-->디자인</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field"><!--Food-->음식</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/people.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_People.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field">People</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/balance.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Balance.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field"><!--Balance-->균형</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/knowledge.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Knowledge.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field"><!--Knowledge-->지식</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/community.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Community.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field"><!--Community-->커뮤니티</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/environment.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field"><!--Environment-->환경</div>
        </div>
    </div>
</div>
<!-- //mrk-edit : 20211025 -->
<!-- //o-image-list-explore-arket -->