<!-- o-iamge-list-explore-arket -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="/en/about.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Materials.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Materials&nbsp;</div>
        </div>
    </div>
    <div class="image-container">
        <a href="/en/about/suppliers.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Suppliers&nbsp;</div>
        </div>
    </div>
    <div class="image-container">
        <a href="/en/about/design.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Design.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Design</div>
        </div>
    </div>
    <div class="image-container">
        <a href="/en/about/food.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Food&nbsp;</div>
        </div>
    </div>
    <div class="image-container">
        <a href="/en/about/people.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_People.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">People&nbsp;</div>
        </div>
    </div>
    <div class="image-container">
        <a href="/en/about/balance.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Balance.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Balance&nbsp;</div>
        </div>
    </div>
    <div class="image-container">
        <a href="/en/about/knowledge.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Knowledge.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Knowledge&nbsp;</div>
        </div>
    </div>
    <div class="image-container">
        <a href="/en/about/community.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Community.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Community&nbsp;</div>
        </div>
    </div>
    <div class="image-container">
        <a href="/en/about/environment.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Environment&nbsp;</div>
        </div>
    </div>
</div>
<!-- //o-iamge-list-explore-arket -->