<!-- o-image-list-explore-arket -->
<!-- mrk-edit : 20211025 -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/balance.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_08_WEB.jpg" alt="Caroline Igel">
        </a>
        <div class="slider-text-block">
            <!--<div class="is-richtext o-text-field">Balance</div>-->
            <div class="is-richtext o-text-field">균형</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/knowledge.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_03_WEB.jpg" alt="Ivan Fernandez">
        </a>
        <div class="slider-text-block">
            <!--<div class="is-richtext o-text-field">Knowledge</div>-->
            <div class="is-richtext o-text-field">지식</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/community.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_07_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <!--<div class="is-richtext o-text-field">Community</div>-->
            <div class="is-richtext o-text-field">커뮤니티</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/environment.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_10_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <!--<div class="is-richtext o-text-field">Environment</div>-->
            <div class="is-richtext o-text-field">환경</div>
        </div>
    </div>
</div>
<!-- //mrk-edit : 20211025 -->
<!-- //o-image-list-explore-arket -->