<!-- o-slider -->
<div data-component="OSlider"
     id="praOSlider"
     class="o-slider"
     data-multislide="true"
     data-num-slides="customized-pra"
     data-slide-width="200"
     data-slide-controler-hide="true">
    <div class="redils">
        <div class="slide-cont">

            <!-- slides -->
            <!--
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Linen Shorts" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_1.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>리넨 반바지</span>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">49,000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            -->
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Striped Cotton Jumper" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_2.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>면 잠바</span>
                            </div>
                            <div class="product-markers">
                                <div data-component="MProductMarkers" class="m-product-marker">
                                    <div class="marker-text">
                                        <span>Organic cotton</span>
                                    </div>
                                </div>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">99,000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Linen Shorts" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_3.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>리넨 반바지</span>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">49,000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Linen Shorts" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_4.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>리넨 반바지</span>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">49,000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Seamless™ Yoga Bra" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_5.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>Seamless™ 요가브라</span>
                            </div>
                            <div class="product-markers">
                                <div data-component="MProductMarkers" class="m-product-marker">
                                    <div class="marker-text">
                                        <span>Recycled material</span>
                                    </div>
                                </div>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">983,030</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Crew-Neck T-shirt" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_6.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>크루 넥 티셔츠</span>
                            </div>
                            <div class="product-markers">
                                <div data-component="MProductMarkers" class="m-product-marker">
                                    <div class="marker-text">
                                        <span>ARKET BASICS COLLECTION</span>
                                    </div>
                                </div>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">1,987,920</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="ARKET Canvas Tote" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_7.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>ARKET 캔버스 토트</span>
                            </div>
                            <div class="product-markers">
                                <div data-component="MProductMarkers" class="m-product-marker">
                                    <div class="marker-text">
                                        <span>Organic cotton</span>
                                    </div>
                                </div>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">128,000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Oversized Wool Hopsack Blazer" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_8.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>오버 사이즈 올 홉색 블레이저</span>
                            </div>
                            <div class="product-markers">
                                <div data-component="MProductMarkers" class="m-product-marker">
                                    <div class="marker-text">
                                        <span>Responsible wool </span>
                                    </div>
                                </div>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">199,990</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Crew-Neck T-shirt" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_9.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>크루 넥 티셔츠</span>
                            </div>
                            <div class="product-markers">
                                <div data-component="MProductMarkers" class="m-product-marker">
                                    <div class="marker-text">
                                        <span>ARKET BASICS COLLECTION</span>
                                    </div>
                                </div>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">33,000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Crew-Neck T-shirt" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_10.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>크루 넥 티셔츠</span>
                            </div>
                            <div class="product-markers">
                                <div data-component="MProductMarkers" class="m-product-marker">
                                    <div class="marker-text">
                                        <span>ARKET BASICS COLLECTION</span>
                                    </div>
                                </div>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">888,900</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Oversized Pima Cotton T-shirt" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_11.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>오버사이즈 피마 티셔츠</span>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">444,000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->
            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
                                <img alt="Linen Shorts" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_12.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>Linen Shorts</span>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">444,000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->

        </div>
    </div>
    <div class="redils-controls">
        <div class="arrow-area arrow-area-left">
            <button type="button" class="a-button-nostyle arrow"></button>
        </div>
        <div class="arrow-area arrow-area-right">
            <button type="button" class="a-button-nostyle arrow"></button>
        </div>
    </div>
    <div class="pagination"></div>
</div>
<!-- //o-slider -->

