<!-- md-o-image-listing -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="/<%= pageInfo.lang %>/baby.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_21Q1_BABY_02_WEB.jpg" alt="ARKET-baby">
            <span class="promoIndex" hidden="">4</span>
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Baby</div>
        </div>
        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="4">
            <span class="promo_id">image component grid</span>
            <span class="promo_name">startpage</span>
            <span class="promo_creative">startpage / baby</span>
        </div>
    </div>
    <div class="image-container">
        <a href="/<%= pageInfo.lang %>/women/new-arrivals.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/W_Newarrivals_w19-21.gif" alt="New arrivals">
            <span class="promoIndex" hidden="">5</span>
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">New arrivals<br>
            </div>
        </div>
        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="5">
            <span class="promo_id">image component grid</span>
            <span class="promo_name">startpage</span>
            <span class="promo_creative">startpage / new arrivals</span>
        </div>
    </div>
    <div class="image-container">
        <a href="/<%= pageInfo.lang %>/cafe.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_21_cafe_cinnamon_bun_B_WEB.jpg" alt="ARKET café">
            <span class="promoIndex" hidden="">6</span>
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">ARKET café<br>
            </div>
        </div>
        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="6">
            <span class="promo_id">image component grid</span>
            <span class="promo_name">startpage</span>
            <span class="promo_creative">startpage / cafe</span>
        </div>
    </div>
    <div class="image-container">
        <a href="/<%= pageInfo.lang %>/about/sustainability-fact-sheet.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/Supplier_wanjiamei_04_a_WEB.jpg">
            <span class="promoIndex" hidden="">7</span>
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Sustainability Fact Sheet<br>
            </div>
        </div>
        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="7">
            <span class="promo_id">image component grid</span>
            <span class="promo_name">startpage</span>
            <span class="promo_creative">startpage / sustainability-fact-sheet</span>
        </div>
    </div>
</div>
<!-- //md-o-image-listing -->