<div class="o-focus-panel">
    <div class="focus-panel-container three-tiles">
        <div class="free-tile focus-panel">
            <!--added style-->
            <a href="/<%= pageInfo.lang %>/about/community/women-in-leadership.html" target="_self" class="a-link">
                <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.httpDomain %>/content/dam/P11/images/campaigns/2021/iwd/iwd_vnav.jpg&quot;);">
                    <picture data-component="APicture" class="a-picture" data-background="m-free-tile" data-component-id="6c249449-99cf-446a-b96c-8791aa1b1aaa">
                        <img class="a-image" src="<%= pageInfo.httpDomain %>/content/dam/P11/images/campaigns/2021/iwd/iwd_vnav.jpg">
                    </picture>
                    <div class="text-content">
                        <h2 class="a-heading-2  ">Women in leadership</h2>
                        <p class="a-paragraph q-gamma"></p>
                    </div>
                    <div class="promotion-data p11-freetile" hidden="" data-slides-index="8">
                        <span class="promo_id">startpage freetile</span>
                        <span class="promo_name">startpage</span>
                        <span class="promo_creative">startpage / freetile 1</span>
                    </div>
                    <span class="promoIndex" hidden="">8</span>
                </div>
            </a>
        </div>

        <div class="free-tile focus-panel">
            <!--added style-->
            <a href="/<%= pageInfo.lang %>/about/environment/recycle-with-arket.html" target="_self" class="a-link">
                <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.httpDomain %>/content/dam/P11/images/suppliers/Supplier_ico_RGB_07_WEB.jpg&quot;);">
                    <picture data-component="APicture" class="a-picture" data-background="m-free-tile" data-component-id="d2a79958-e04e-4bbe-8f3c-c58dbfd962d2">
                        <img class="a-image" src="<%= pageInfo.httpDomain %>/content/dam/P11/images/suppliers/Supplier_ico_RGB_07_WEB.jpg">
                    </picture>
                    <div class="text-content">
                        <h2 class="a-heading-2  ">Recycle with ARKET</h2>
                        <p class="a-paragraph q-gamma"></p>
                    </div>
                    <div class="promotion-data p11-freetile" hidden="" data-slides-index="9">
                        <span class="promo_id">startpage freetile</span>
                        <span class="promo_name">startpage</span>
                        <span class="promo_creative">startpage / freetile 2</span>
                    </div>
                    <span class="promoIndex" hidden="">9</span>
                </div>
            </a>
        </div>

        <div class="free-tile focus-panel">
            <!--added style-->
            <a href="/<%= pageInfo.lang %>/about/materials.html" target="_self" class="a-link">
                <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;<%= pageInfo.httpDomain %>/content/dam/P11/images/campaigns/2020/about/ARKET_20Q4_about_ken_01_WEB.jpg&quot;);">
                    <picture data-component="APicture" class="a-picture" data-background="m-free-tile" data-component-id="dc593eac-888c-41fa-8962-181146da4339">
                        <img class="a-image" src="<%= pageInfo.httpDomain %>/content/dam/P11/images/campaigns/2020/about/ARKET_20Q4_about_ken_01_WEB.jpg">
                    </picture>
                    <div class="text-content">
                        <h2 class="a-heading-2  ">About MATERIALS</h2>
                        <p class="a-paragraph q-gamma"></p>
                    </div>
                    <div class="promotion-data p11-freetile" hidden="" data-slides-index="10">
                        <span class="promo_id">startpage freetile</span>
                        <span class="promo_name">startpage</span>
                        <span class="promo_creative">startpage / freetile 3</span>
                    </div>
                    <span class="promoIndex" hidden="">10</span>
                </div>
            </a>
        </div>
    </div>
</div>