<!-- o-local-navigation -->
<div class="sdp-component local-navigation">
    <div data-component="OLocalNavigation" class="o-local-navigation">
        <button type="button" class="a-button-nostyle show-more-left-btn"></button>
        <ul>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service.html" target="_self" class="a-link" data-title="Customer service" tabindex="0">
                    고객문의
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/delivery-methods.html" target="_self" class="a-link" data-title="Delivery" tabindex="0">
                    배송정보
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/return-and-refund-policy.html" target="_self" class="a-link" data-title="Returns" tabindex="0">
                    반품 및 환불
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/payment.html" target="_self" class="a-link" data-title="Payment" tabindex="0">
                    결제정보
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/size-guide.html" target="_self" class="a-link" data-title="Size guide" tabindex="0">
                    사이즈 가이드
                </a>
            </li>
        </ul>
        <button type="button" class="a-button-nostyle show-more-right-btn"></button>
    </div>
</div>
<!-- //o-local-navigation -->