<!-- o-local-navigation -->
<div class="sdp-component local-navigation">
    <div data-component="OLocalNavigation" class="o-local-navigation">
        <button type="button" class="a-button-nostyle show-more-left-btn"></button>
        <ul>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/size-guide.html" target="_self" class="a-link">
                    All Size Guide
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/size-guide/size-guide-men.html" target="_self" class="a-link">
                    Men
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/size-guide/size-guide-women.html" target="_self" class="a-link">
                    Women
                </a>
            </li>
        </ul>
        <button type="button" class="a-button-nostyle show-more-right-btn"></button>
    </div>
</div>
<!-- //o-local-navigation -->