<!-- o-local-navigation -->
<div class="sdp-component local-navigation">
    <div data-component="OLocalNavigation" class="o-local-navigation">
        <button type="button" class="a-button-nostyle show-more-left-btn"></button>
        <ul>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/size-guide.html" target="_self" class="a-link">
                    <!--ll Size Guide-->모두 보기
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/size-guide/size-guide-men.html" target="_self" class="a-link">
                    <!--Men-->남성
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/size-guide/size-guide-women.html" target="_self" class="a-link">
                    <!--Women-->여성
                </a>
            </li>
            <!-- mrk-add : 20211115 -->
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service/size-guide/size-guide-children.html" target="_self" class="a-link">
                    아동
                </a>
            </li>
            <!-- //mrk-add : 20211115 -->
        </ul>
        <button type="button" class="a-button-nostyle show-more-right-btn"></button>
    </div>
</div>
<!-- //o-local-navigation -->