<!-- md-o-image-listing -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="/<%= pageInfo.lang %>/women.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/list/ARKET_21201_W_Dressessandals_03_WEB.jpg">
            <span class="promoIndex" hidden="">0</span>
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Women</div>
        </div>
        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="0">
            <span class="promo_id">image component grid</span>
            <span class="promo_name">startpage</span>
            <span class="promo_creative">startpage / women</span>
        </div>
    </div>
    <div class="image-container">
        <a href="/<%= pageInfo.lang %>/men.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/list/ARKET_21122_M_Linen_15_WEB.jpg">
            <span class="promoIndex" hidden="">1</span>
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Men</div>
        </div>
        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="1">
            <span class="promo_id">image component grid</span>
            <span class="promo_name">startpage</span>
            <span class="promo_creative">startpage / men</span>
        </div>
    </div>
    <div class="image-container">
        <a href="/<%= pageInfo.lang %>/children.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/list/ARKET_21121_C_Linen_6_WEB.jpg">
            <span class="promoIndex" hidden="">2</span>
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Children</div>
        </div>
        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="2">
            <span class="promo_id">image component grid</span>
            <span class="promo_name">startpage</span>
            <span class="promo_creative">startpage / children</span>
        </div>
    </div>
    <div class="image-container">
        <a href="/<%= pageInfo.lang %>/homeware.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/list/ARKET_21141_Home_Balcony_03_WEB.jpg">
            <span class="promoIndex" hidden="">3</span>
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Homeware</div>
        </div>
        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="3">
            <span class="promo_id">image component grid</span>
            <span class="promo_name">startpage</span>
            <span class="promo_creative">startpage / Home</span>
        </div>
    </div>
</div>
<!-- //md-o-image-listing -->