<!-- o-local-navigation -->
<div class="sdp-component local-navigation">
    <div data-component="OLocalNavigation" class="o-local-navigation">
        <button type="button" class="a-button-nostyle show-more-left-btn"></button>
        <ul>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/community/women-in-leadership.html" target="_self" class="a-link" data-title="Women in leadership" tabindex="0">
                    All Women in leadership
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/community/women-in-leadership/lina-hallgren.html" target="_self" class="a-link" data-title="Lina Hällgren, Stockholm" tabindex="0">
                    Lina Hällgren, Stockholm
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/community/women-in-leadership/vera-huang.html" target="_self" class="a-link" data-title="Vera Huang, Shanghai" tabindex="0">
                    Vera Huang, Shanghai
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/community/women-in-leadership/leona-whitfield.html" target="_self" class="a-link" data-title="Leona Whitfield, London " tabindex="0">
                    Leona Whitfield, London
                </a>
            </li>
        </ul>
        <button type="button" class="a-button-nostyle show-more-right-btn"></button>
    </div>
</div>