<!-- md-o-image-listing -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/women.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21210_bythewater_7_uncropped_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Women</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/men.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_Q2_Summerhike_22_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Men</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/children.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21219_C_PRE BTS_07_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Children</div>
        </div>
    </div>
    <div class="image-container">
        <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/homeware.html" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21217_HOME_SUMMER_24_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Homeware</div>
        </div>
    </div>
</div>
<!-- //md-o-image-listing -->