<!-- o-local-navigation -->
<div class="sdp-component local-navigation">
    <div data-component="OLocalNavigation" class="o-local-navigation">
        <button type="button" class="a-button-nostyle show-more-left-btn"></button>
        <ul>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/care.html" target="_self" class="a-link">
                    All Product care
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/wool.html" target="_self" class="a-link">
                    Wool
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/wood.html" target="_self" class="a-link">
                    Wood
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/silk.html" target="_self" class="a-link">
                    Silk
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/linen.html" target="_self" class="a-link">
                    Linen
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/leather.html" target="_self" class="a-link">
                    Leather
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/canvas.html" target="_self" class="a-link" >
                    Canvas
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/cashmere.html" target="_self" class="a-link">
                    Cashmere
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/denim.html" target="_self" class="a-link">
                    Denim
                </a>
            </li>
            <li>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care/Jewellery.html" target="_self" class="a-link">
                    Jewellery
                </a>
            </li>
        </ul>
        <button type="button" class="a-button-nostyle show-more-right-btn"></button>
    </div>
</div>