<div class="o-product productTrack">
    <!-- plp-link-track -->
    <a href="/<%= pageInfo.lang %>/product-detail"
       target="_self"
       class="a-link plp-link-track"
       data-product-id="0739734003"
       data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDczOTczNF9ncm91cF8wMDNfZW5fd3c7MDczOTczNDAwM19lbl93dzs7Tk9ORTpOT05FOzU4Ow"
       data-image="SMALL">

        <div class="image">
            <div class="m-product-image">
                <div class="cross"></div>
                <div class="" style="">
                    <!--
                    <img class="a-image default-image ResolveComplete"
                         src="https://lp.arket.com/app006prod?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&amp;set=key%5Bresolve.width%5D,value%5B250%5D&amp;set=key%5Bresolve.height%5D,value%5B10000%5D&amp;set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&amp;set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&amp;set=key%5Bresolve.format%5D,value%5Bwebp%5D&amp;set=key%5Bresolve.quality%5D,value%5B70%5D&amp;set=ImageVersion%5B1%5D,origin%5Bdam%5D,source%5B/76/41/76411172b170256162e9044edff696ce40e57bfe.jpg%5D,type%5BLOOKBOOK%5D&amp;call=url%5Bfile:/product/dynamic.chain%5D"
                         data-resolvechain="set=source[/76/41/76411172b170256162e9044edff696ce40e57bfe.jpg],origin[dam],type[LOOKBOOK],ImageVersion[1]&amp;call=url[file:/product/dynamic.chain]"
                         data-resolvewidth="2" data-resolveheight="3" id="resolve_11">

                    <img class="a-image hover-image ResolveComplete"
                         src="https://lp.arket.com/app006prod?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&amp;set=key%5Bresolve.width%5D,value%5B250%5D&amp;set=key%5Bresolve.height%5D,value%5B10000%5D&amp;set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&amp;set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&amp;set=key%5Bresolve.format%5D,value%5Bwebp%5D&amp;set=key%5Bresolve.quality%5D,value%5B70%5D&amp;set=ImageVersion%5B1%5D,origin%5Bdam%5D,source%5B/bd/47/bd476d42e47d6b0a341b433d1a083a5c03fdd1c2.jpg%5D,type%5BLOOKBOOK%5D&amp;call=url%5Bfile:/product/dynamic.chain%5D"
                         data-resolvechain="set=source[/bd/47/bd476d42e47d6b0a341b433d1a083a5c03fdd1c2.jpg],origin[dam],type[LOOKBOOK],ImageVersion[1]&amp;call=url[file:/product/dynamic.chain]"
                         data-resolvewidth="2" data-resolveheight="3" id="resolve_12">
                    -->
                    <img class="a-image default-image ResolveComplete"
                         src="<%= pageInfo.root %>/images/temp/prod-detail-00.jpg"
                         data-resolvechain="set=source[/76/41/76411172b170256162e9044edff696ce40e57bfe.jpg],origin[dam],type[LOOKBOOK],ImageVersion[1]&amp;call=url[file:/product/dynamic.chain]"
                         data-resolvewidth="2" data-resolveheight="3" id="resolve_11">

                    <img class="a-image hover-image ResolveComplete"
                         src="<%= pageInfo.root %>/images/temp/prod-detail-01.jpg"
                         data-resolvechain="set=source[/bd/47/bd476d42e47d6b0a341b433d1a083a5c03fdd1c2.jpg],origin[dam],type[LOOKBOOK],ImageVersion[1]&amp;call=url[file:/product/dynamic.chain]"
                         data-resolvewidth="2" data-resolveheight="3" id="resolve_12">
                </div>
            </div>
        </div>
    </a>
    <!-- //plp-link-track -->

    <!-- description -->
    <div class="description style-corner-aligned">

        <!-- Swatch change-->
        <div class="product-wrapper u-clearfix">
            <a href="https://www.arket.com/en/women/underwear-loungewear/product.linen-shorts-black.0739734003.html"
               target="_self"
               class="a-link plp-link-track"
               data-product-id="0739734003"
               data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDczOTczNF9ncm91cF8wMDNfZW5fd3c7MDczOTczNDAwM19lbl93dzs7Tk9ORTpOT05FOzU4Ow"
               data-image="SMALL"
               tabindex="-1">
                <div class="product">
                    <span class="i18n">Product</span>
                    <span>리넨 바지2</span>
                </div>
            </a>

            <div class="swatches">
                <div class="m-swatches" data-component="MSwatches">
                    <div>
                        <a href="/en/women/underwear-loungewear/product.linen-shorts-black.0739734003.html"
                           target="_self"
                           class="a-link pdp"
                           tabindex="-1">
                            <div class="a-swatch js-swatch current">
                                <input type="radio" name="colors" value="Black">
                                <button type="button" class="a-button-nostyle">
                                    <span class="a-swatch-foreground"></span>
                                    <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-03.jpg">
                                    <span class="sold-out i18n">Sold out</span>
                                </button>
                            </div>
                        </a>

                        <a href="/en/women/underwear-loungewear/product.linen-shorts-beige.0739734004.html"
                           target="_self"
                           class="a-link pdp"
                           tabindex="-1">
                            <div class="a-swatch js-swatch">
                                <input type="radio" name="colors" value="Light Beige">
                                <button type="button" class="a-button-nostyle">
                                    <span class="a-swatch-foreground"></span>
                                    <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-02.jpg">
                                    <span class="sold-out i18n">Sold out</span>
                                </button>
                            </div>
                        </a>

                        <a href="/en/women/underwear-loungewear/product.linen-shorts-beige.0739734008.html"
                           target="_self"
                           class="a-link pdp"
                           tabindex="-1">
                            <div class="a-swatch js-swatch">
                                <input type="radio" name="colors" value="Off White/Blue">
                                <button type="button" class="a-button-nostyle">
                                    <span class="a-swatch-foreground"></span>
                                    <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-01.jpg">
                                    <span class="sold-out i18n">Sold out</span>
                                </button>
                            </div>
                        </a>

                        <a href="/en/women/underwear-loungewear/product.linen-shorts-orange.0739734009.html"
                           target="_self"
                           class="a-link pdp"
                           tabindex="-1">
                            <div class="a-swatch js-swatch">
                                <input type="radio" name="colors" value="Peach">
                                <button type="button" class="a-button-nostyle">
                                    <span class="a-swatch-foreground"></span>
                                    <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-04.jpg">
                                    <span class="sold-out i18n">Sold out</span>
                                </button>
                            </div>
                        </a>

                        <a class="a-link more-swatches"
                           href="https://www.arket.com/en/women/underwear-loungewear/product.linen-shorts-black.0739734003.html"
                           target="_self">
                            <span class="symbol">+</span>
                            <span class="count">1</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <a href="https://www.arket.com/en/women/tops/product.jersey-polo-shirt-white.0969484001.html"
           target="_self" class="a-link plp-link-track" data-product-id="0969484001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk2OTQ4NF9ncm91cF8wMDFfZW5fd3c7MDk2OTQ4NDAwMV9lbl93dzs7Tk9ORTpOT05FOzU4Ow"
           data-image="SMALL">
            <div class="product-markers">
                <div data-component="MProductMarkers" class="m-product-marker"
                     data-component-id="a782c62f-910f-4855-8d2c-7647dada5dd3">
                    <div class="marker-text product-marker">
                        <span style="color: #000000; background-color: #ffffff; border-radius: #fffff;;">Ogarnic Cotton</span>
                    </div>
                </div>
            </div>
        </a>

        <a href="https://www.arket.com/en/women/underwear-loungewear/product.linen-shorts-black.0739734003.html"
           target="_self"
           class="a-link plp-link-track"
           data-product-id="0739734003"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDczOTczNF9ncm91cF8wMDNfZW5fd3c7MDczOTczNDAwM19lbl93dzs7Tk9ORTpOT05FOzU4Ow"
           data-image="SMALL">
            <div class="price">
                <span class="i18n">Price</span>
                <div class="m-product-price">
	                <span>14,000</span>
                </div>
            </div>
        </a>

        <div class="swatches swatches-bottom">
            <!-- m-swatches -->
            <div class="m-swatches" data-component="MSwatches">
                <div>
                    <a href="/en/women/underwear-loungewear/product.linen-shorts-black.0739734003.html"
                       target="_self"
                       class="a-link pdp"
                       tabindex="-1">
                        <div class="a-swatch js-swatch current ">
                            <input type="radio" name="colors" value="Black">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-04.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>

                    <a href="/en/women/underwear-loungewear/product.linen-shorts-beige.0739734004.html"
                       target="_self"
                       class="a-link 0739734004 pdp /en/women/underwear-loungewear/product.linen-shorts-beige.0739734004.html"
                       tabindex="-1">
                        <div class="a-swatch js-swatch  ">
                            <input type="radio" name="colors" value="Light Beige">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-03.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>

                    <a href="/en/women/underwear-loungewear/product.linen-shorts-beige.0739734008.html"
                       target="_self"
                       class="a-link pdp"
                       tabindex="-1">
                        <div class="a-swatch js-swatch  ">
                            <input type="radio" name="colors" value="Off White/Blue">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-02.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>

                    <a href="/en/women/underwear-loungewear/product.linen-shorts-orange.0739734009.html"
                       target="_self"
                       class="a-link 0739734009 pdp /en/women/underwear-loungewear/product.linen-shorts-orange.0739734009.html"
                       tabindex="-1">
                        <div class="a-swatch js-swatch  ">
                            <input type="radio" name="colors" value="Peach">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-01.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>

                    <a class="a-link more-swatches"
                       href="https://www.arket.com/en/women/underwear-loungewear/product.linen-shorts-black.0739734003.html"
                       target="_self">
                        <span class="symbol">+</span>
                        <span class="count">1</span>
                    </a>

                </div>

            </div>
            <!-- //m-swatches -->
        </div>

    </div>
    <!-- description -->

</div>