<div class="o-product productTrack" id="0976427001">

    <a href="#none" target="_self" class="a-link plp-link-track"
       data-product-id="0976427001"
       data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
       data-image="SMALL">

        <!--abc false false -- centered-->
        <div class="image">
            <div class="m-product-image">
                <div class="cross"></div>
                <div class="" style="">
                    <img class="a-image ResolveComplete"
                         src="<%= pageInfo.root %>/images/care/app006prod.jpg"
                         data-resolvewidth="2"
                         data-resolveheight="3"
                         id="resolve_1">
                </div>
            </div>
        </div>
    </a>

    <div class="description style-central-aligned">
        <!-- 상품 명 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="product">
                <span class="i18n">Product</span>
                <span>핸디 스팀다리미 No.2</span>
            </div>
        </a>
        <!-- //상품 명 -->

        <!-- 상품 컬러명 -->
        <div class="color">
            <a href="#none" target="_self" class="a-link plp-link-track"
               data-product-id="0976427001"
               data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow" data-image="SMALL">
                <span class="i18n">Color</span>
                <span>Black</span>
            </a>
        </div>
        <!-- // 상품 컬러칩 -->

        <!-- 상품 가격 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="price">
                <span class="i18n">Price</span>
                <div class="m-product-price">
                    <span>14,0000</span>
                </div>
            </div>
        </a>
        <!-- 상품 가격 -->
        <!-- Swatches bottom inStock hello inStock-->

        <!--<sly data-sly-test.swatchCountNo="4"/>  swatchMore 1 -->
        <div class="swatches swatches-bottom">
            <div class="m-swatches" data-component="MSwatches" data-component-id="c50709b9-dc88-4c4c-8139-3d7fccaef44f">
                <div>
                    <a href="#none" target="_self" class="a-link pdp" tabindex="-1">
                        <div class="a-swatch js-swatch current">
                            <input type="radio" name="colors" value="Black">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-00.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>
                    <!--<div data-sly-use.count="swatchCount.js">-->
                </div>
            </div>
        </div>
        <!-- Swatches end  hello 1 1 Swacthes more 1-->
    </div>

    <!-- product tile details -->
    <div class="producttile-details" hidden="" data-slides-index="0">
        <div>
            <span class="articleCode">0976427001</span>
            <span class="baseProductCode">0976427_group_001</span>
            <span class="productCategory">Home - homeware_home_all</span>
            <span class="currencyCode">USD</span>
            <span class="price">140.0</span>
            <span class="originalPrice">140.0</span>
            <div>
                <span class="productName">Steamery Cirrus No.2 Hand Steamer UK Plug</span>
                <span class="brandName"></span>
                <span class="colorName">Black</span>
                <span class="colorLoc">Black</span>
                <span class="atelierName"></span>
                <span class="originCountry">China</span>
            </div>
        </div>
    </div>
</div><div class="o-product productTrack" id="1017274001">

    <a href="#none" target="_self" class="a-link plp-link-track"
       data-product-id="1017274001"
       data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
       data-image="SMALL">

        <!--abc false false -- centered-->
        <div class="image">
            <div class="m-product-image">
                <div class="cross"></div>
                <div class="" style="">
                    <img class="a-image ResolveComplete"
                         src="<%= pageInfo.root %>/images/care/app006prod.jpg"
                         data-resolvewidth="2"
                         data-resolveheight="3"
                         id="resolve_1">
                </div>
            </div>
        </div>
    </a>

    <div class="description style-central-aligned">
        <!-- 상품 명 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="1017274001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="product">
                <span class="i18n">Product</span>
                <span>핸디 스팀다리미 No.2</span>
            </div>
        </a>
        <!-- //상품 명 -->

        <!-- 상품 컬러명 -->
        <div class="color">
            <a href="#none" target="_self" class="a-link plp-link-track"
               data-product-id="1017274001"
               data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow" data-image="SMALL">
                <span class="i18n">Color</span>
                <span>Black</span>
            </a>
        </div>
        <!-- // 상품 컬러칩 -->

        <!-- 상품 가격 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="1017274001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="price">
                <span class="i18n">Price</span>
                <div class="m-product-price">
                    <span>14,0000</span>
                </div>
            </div>
        </a>
        <!-- 상품 가격 -->
        <!-- Swatches bottom inStock hello inStock-->

        <!--<sly data-sly-test.swatchCountNo="4"/>  swatchMore 1 -->
        <div class="swatches swatches-bottom">
            <div class="m-swatches" data-component="MSwatches" data-component-id="1c37fc9d-8e6b-4870-9850-33efb146bed6">
                <div>
                    <a href="#none" target="_self" class="a-link pdp" tabindex="-1">
                        <div class="a-swatch js-swatch current">
                            <input type="radio" name="colors" value="Black">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-00.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>
                    <!--<div data-sly-use.count="swatchCount.js">-->
                </div>
            </div>
        </div>
        <!-- Swatches end  hello 1 1 Swacthes more 1-->
    </div>

    <!-- product tile details -->
    <div class="producttile-details" hidden="" data-slides-index="0">
        <div>
            <span class="articleCode">1017274001</span>
            <span class="baseProductCode">1017274_group_001</span>
            <span class="productCategory"></span>
            <span class="currencyCode">USD</span>
            <span class="price">140.0</span>
            <span class="originalPrice">140.0</span>
            <div>
                <span class="productName">Steamery Cirrus No.2 Hand Steamer UK Plug</span>
                <span class="brandName"></span>
                <span class="colorName">Black</span>
                <span class="colorLoc">Black</span>
                <span class="atelierName"></span>
                <span class="originCountry">China</span>
            </div>
        </div>
    </div>
</div><div class="o-product productTrack" id="0976427001">

    <a href="#none" target="_self" class="a-link plp-link-track"
       data-product-id="0976427001"
       data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
       data-image="SMALL">

        <!--abc false false -- centered-->
        <div class="image">
            <div class="m-product-image">
                <div class="cross"></div>
                <div class="" style="">
                    <img class="a-image ResolveComplete"
                         src="<%= pageInfo.root %>/images/care/app006prod.jpg"
                         data-resolvewidth="2"
                         data-resolveheight="3"
                         id="resolve_1">
                </div>
            </div>
        </div>
    </a>

    <div class="description style-central-aligned">
        <!-- 상품 명 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="product">
                <span class="i18n">Product</span>
                <span>핸디 스팀다리미 No.2</span>
            </div>
        </a>
        <!-- //상품 명 -->

        <!-- 상품 컬러명 -->
        <div class="color">
            <a href="#none" target="_self" class="a-link plp-link-track"
               data-product-id="0976427001"
               data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow" data-image="SMALL">
                <span class="i18n">Color</span>
                <span>Black</span>
            </a>
        </div>
        <!-- // 상품 컬러칩 -->

        <!-- 상품 가격 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="price">
                <span class="i18n">Price</span>
                <div class="m-product-price">
                    <span>14,0000</span>
                </div>
            </div>
        </a>
        <!-- 상품 가격 -->
        <!-- Swatches bottom inStock hello inStock-->

        <!--<sly data-sly-test.swatchCountNo="4"/>  swatchMore 1 -->
        <div class="swatches swatches-bottom">
            <div class="m-swatches" data-component="MSwatches" data-component-id="c50709b9-dc88-4c4c-8139-3d7fccaef44f">
                <div>
                    <a href="#none" target="_self" class="a-link pdp" tabindex="-1">
                        <div class="a-swatch js-swatch current">
                            <input type="radio" name="colors" value="Black">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-00.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>
                    <!--<div data-sly-use.count="swatchCount.js">-->
                </div>
            </div>
        </div>
        <!-- Swatches end  hello 1 1 Swacthes more 1-->
    </div>

    <!-- product tile details -->
    <div class="producttile-details" hidden="" data-slides-index="0">
        <div>
            <span class="articleCode">0976427001</span>
            <span class="baseProductCode">0976427_group_001</span>
            <span class="productCategory">Home - homeware_home_all</span>
            <span class="currencyCode">USD</span>
            <span class="price">140.0</span>
            <span class="originalPrice">140.0</span>
            <div>
                <span class="productName">Steamery Cirrus No.2 Hand Steamer UK Plug</span>
                <span class="brandName"></span>
                <span class="colorName">Black</span>
                <span class="colorLoc">Black</span>
                <span class="atelierName"></span>
                <span class="originCountry">China</span>
            </div>
        </div>
    </div>
</div><div class="o-product productTrack" id="0976427001">

    <a href="#none" target="_self" class="a-link plp-link-track"
       data-product-id="0976427001"
       data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
       data-image="SMALL">

        <!--abc false false -- centered-->
        <div class="image">
            <div class="m-product-image">
                <div class="cross"></div>
                <div class="" style="">
                    <img class="a-image ResolveComplete"
                         src="<%= pageInfo.root %>/images/care/app006prod.jpg"
                         data-resolvewidth="2"
                         data-resolveheight="3"
                         id="resolve_1">
                </div>
            </div>
        </div>
    </a>

    <div class="description style-central-aligned">
        <!-- 상품 명 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="product">
                <span class="i18n">Product</span>
                <span>핸디 스팀다리미 No.2</span>
            </div>
        </a>
        <!-- //상품 명 -->

        <!-- 상품 컬러명 -->
        <div class="color">
            <a href="#none" target="_self" class="a-link plp-link-track"
               data-product-id="0976427001"
               data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow" data-image="SMALL">
                <span class="i18n">Color</span>
                <span>Black</span>
            </a>
        </div>
        <!-- // 상품 컬러칩 -->

        <!-- 상품 가격 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="price">
                <span class="i18n">Price</span>
                <div class="m-product-price">
                    <span>14,0000</span>
                </div>
            </div>
        </a>
        <!-- 상품 가격 -->
        <!-- Swatches bottom inStock hello inStock-->

        <!--<sly data-sly-test.swatchCountNo="4"/>  swatchMore 1 -->
        <div class="swatches swatches-bottom">
            <div class="m-swatches" data-component="MSwatches" data-component-id="c50709b9-dc88-4c4c-8139-3d7fccaef44f">
                <div>
                    <a href="#none" target="_self" class="a-link pdp" tabindex="-1">
                        <div class="a-swatch js-swatch current">
                            <input type="radio" name="colors" value="Black">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-00.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>
                    <!--<div data-sly-use.count="swatchCount.js">-->
                </div>
            </div>
        </div>
        <!-- Swatches end  hello 1 1 Swacthes more 1-->
    </div>

    <!-- product tile details -->
    <div class="producttile-details" hidden="" data-slides-index="0">
        <div>
            <span class="articleCode">0976427001</span>
            <span class="baseProductCode">0976427_group_001</span>
            <span class="productCategory">Home - homeware_home_all</span>
            <span class="currencyCode">USD</span>
            <span class="price">140.0</span>
            <span class="originalPrice">140.0</span>
            <div>
                <span class="productName">Steamery Cirrus No.2 Hand Steamer UK Plug</span>
                <span class="brandName"></span>
                <span class="colorName">Black</span>
                <span class="colorLoc">Black</span>
                <span class="atelierName"></span>
                <span class="originCountry">China</span>
            </div>
        </div>
    </div>
</div>

<div class="o-product productTrack" id="0976427001">

    <a href="#none" target="_self" class="a-link plp-link-track"
       data-product-id="0976427001"
       data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
       data-image="SMALL">

        <!--abc false false -- centered-->
        <div class="image">
            <div class="m-product-image">
                <div class="cross"></div>
                <div class="" style="">
                    <img class="a-image ResolveComplete"
                         src="<%= pageInfo.root %>/images/care/app006prod.jpg"
                         data-resolvewidth="2"
                         data-resolveheight="3"
                         id="resolve_1">
                </div>
            </div>
        </div>
    </a>

    <div class="description style-central-aligned">
        <!-- 상품 명 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="product">
                <span class="i18n">Product</span>
                <span>핸디 스팀다리미 No.2</span>
            </div>
        </a>
        <!-- //상품 명 -->

        <!-- 상품 컬러명 -->
        <div class="color">
            <a href="#none" target="_self" class="a-link plp-link-track"
               data-product-id="0976427001"
               data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow" data-image="SMALL">
                <span class="i18n">Color</span>
                <span>Black</span>
            </a>
        </div>
        <!-- // 상품 컬러칩 -->

        <!-- 상품 가격 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="price">
                <span class="i18n">Price</span>
                <div class="m-product-price">
                    <span>14,0000</span>
                </div>
            </div>
        </a>
        <!-- 상품 가격 -->
        <!-- Swatches bottom inStock hello inStock-->

        <!--<sly data-sly-test.swatchCountNo="4"/>  swatchMore 1 -->
        <div class="swatches swatches-bottom">
            <div class="m-swatches" data-component="MSwatches" data-component-id="c50709b9-dc88-4c4c-8139-3d7fccaef44f">
                <div>
                    <a href="#none" target="_self" class="a-link pdp" tabindex="-1">
                        <div class="a-swatch js-swatch current">
                            <input type="radio" name="colors" value="Black">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-00.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>
                    <!--<div data-sly-use.count="swatchCount.js">-->
                </div>
            </div>
        </div>
        <!-- Swatches end  hello 1 1 Swacthes more 1-->
    </div>

    <!-- product tile details -->
    <div class="producttile-details" hidden="" data-slides-index="0">
        <div>
            <span class="articleCode">0976427001</span>
            <span class="baseProductCode">0976427_group_001</span>
            <span class="productCategory">Home - homeware_home_all</span>
            <span class="currencyCode">USD</span>
            <span class="price">140.0</span>
            <span class="originalPrice">140.0</span>
            <div>
                <span class="productName">Steamery Cirrus No.2 Hand Steamer UK Plug</span>
                <span class="brandName"></span>
                <span class="colorName">Black</span>
                <span class="colorLoc">Black</span>
                <span class="atelierName"></span>
                <span class="originCountry">China</span>
            </div>
        </div>
    </div>
</div>

<div class="o-product productTrack" id="0976427001">

    <a href="#none" target="_self" class="a-link plp-link-track"
       data-product-id="0976427001"
       data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
       data-image="SMALL">

        <!--abc false false -- centered-->
        <div class="image">
            <div class="m-product-image">
                <div class="cross"></div>
                <div class="" style="">
                    <img class="a-image ResolveComplete"
                         src="<%= pageInfo.root %>/images/care/app006prod.jpg"
                         data-resolvewidth="2"
                         data-resolveheight="3"
                         id="resolve_1">
                </div>
            </div>
        </div>
    </a>

    <div class="description style-central-aligned">
        <!-- 상품 명 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="product">
                <span class="i18n">Product</span>
                <span>핸디 스팀다리미 No.2</span>
            </div>
        </a>
        <!-- //상품 명 -->

        <!-- 상품 컬러명 -->
        <div class="color">
            <a href="#none" target="_self" class="a-link plp-link-track"
               data-product-id="0976427001"
               data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow" data-image="SMALL">
                <span class="i18n">Color</span>
                <span>Black</span>
            </a>
        </div>
        <!-- // 상품 컬러칩 -->

        <!-- 상품 가격 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="price">
                <span class="i18n">Price</span>
                <div class="m-product-price">
                    <span>14,0000</span>
                </div>
            </div>
        </a>
        <!-- 상품 가격 -->
        <!-- Swatches bottom inStock hello inStock-->

        <!--<sly data-sly-test.swatchCountNo="4"/>  swatchMore 1 -->
        <div class="swatches swatches-bottom">
            <div class="m-swatches" data-component="MSwatches" data-component-id="c50709b9-dc88-4c4c-8139-3d7fccaef44f">
                <div>
                    <a href="#none" target="_self" class="a-link pdp" tabindex="-1">
                        <div class="a-swatch js-swatch current">
                            <input type="radio" name="colors" value="Black">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-00.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>
                    <!--<div data-sly-use.count="swatchCount.js">-->
                </div>
            </div>
        </div>
        <!-- Swatches end  hello 1 1 Swacthes more 1-->
    </div>

    <!-- product tile details -->
    <div class="producttile-details" hidden="" data-slides-index="0">
        <div>
            <span class="articleCode">0976427001</span>
            <span class="baseProductCode">0976427_group_001</span>
            <span class="productCategory">Home - homeware_home_all</span>
            <span class="currencyCode">USD</span>
            <span class="price">140.0</span>
            <span class="originalPrice">140.0</span>
            <div>
                <span class="productName">Steamery Cirrus No.2 Hand Steamer UK Plug</span>
                <span class="brandName"></span>
                <span class="colorName">Black</span>
                <span class="colorLoc">Black</span>
                <span class="atelierName"></span>
                <span class="originCountry">China</span>
            </div>
        </div>
    </div>
</div>

<div class="o-product productTrack" id="0976427001">

    <a href="#none" target="_self" class="a-link plp-link-track"
       data-product-id="0976427001"
       data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
       data-image="SMALL">

        <!--abc false false -- centered-->
        <div class="image">
            <div class="m-product-image">
                <div class="cross"></div>
                <div class="" style="">
                    <img class="a-image ResolveComplete"
                         src="<%= pageInfo.root %>/images/care/app006prod.jpg"
                         data-resolvewidth="2"
                         data-resolveheight="3"
                         id="resolve_1">
                </div>
            </div>
        </div>
    </a>

    <div class="description style-central-aligned">
        <!-- 상품 명 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="product">
                <span class="i18n">Product</span>
                <span>핸디 스팀다리미 No.2</span>
            </div>
        </a>
        <!-- //상품 명 -->

        <!-- 상품 컬러명 -->
        <div class="color">
            <a href="#none" target="_self" class="a-link plp-link-track"
               data-product-id="0976427001"
               data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow" data-image="SMALL">
                <span class="i18n">Color</span>
                <span>Black</span>
            </a>
        </div>
        <!-- // 상품 컬러칩 -->

        <!-- 상품 가격 -->
        <a href="#none" target="_self" class="a-link plp-link-track"
           data-product-id="0976427001"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDk3NjQyN19ncm91cF8wMDFfZW5fd3c7MDk3NjQyNzAwMV9lbl93dzs7Tk9ORTpOT05FOzk5Ow"
           data-image="SMALL">
            <div class="price">
                <span class="i18n">Price</span>
                <div class="m-product-price">
                    <span>14,0000</span>
                </div>
            </div>
        </a>
        <!-- 상품 가격 -->
        <!-- Swatches bottom inStock hello inStock-->

        <!--<sly data-sly-test.swatchCountNo="4"/>  swatchMore 1 -->
        <div class="swatches swatches-bottom">
            <div class="m-swatches" data-component="MSwatches" data-component-id="c50709b9-dc88-4c4c-8139-3d7fccaef44f">
                <div>
                    <a href="#none" target="_self" class="a-link pdp" tabindex="-1">
                        <div class="a-swatch js-swatch current">
                            <input type="radio" name="colors" value="Black">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="<%= pageInfo.root %>/images/temp/color-00.jpg">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>
                    <!--<div data-sly-use.count="swatchCount.js">-->
                </div>
            </div>
        </div>
        <!-- Swatches end  hello 1 1 Swacthes more 1-->
    </div>

    <!-- product tile details -->
    <div class="producttile-details" hidden="" data-slides-index="0">
        <div>
            <span class="articleCode">0976427001</span>
            <span class="baseProductCode">0976427_group_001</span>
            <span class="productCategory">Home - homeware_home_all</span>
            <span class="currencyCode">USD</span>
            <span class="price">140.0</span>
            <span class="originalPrice">140.0</span>
            <div>
                <span class="productName">Steamery Cirrus No.2 Hand Steamer UK Plug</span>
                <span class="brandName"></span>
                <span class="colorName">Black</span>
                <span class="colorLoc">Black</span>
                <span class="atelierName"></span>
                <span class="originCountry">China</span>
            </div>
        </div>
    </div>
</div>