<style>
p.gnbcheck{margin-top: 30px;padding-right:50px;padding-left:50px;font-weight:700;font-size:32px;}
.markup-list-wrap {display:flex;}
.markup-list-wrap ul {margin-top:0;list-style-type:square;}
.markup-list-wrap ul li {margin-bottom:5px;}
.markup-list-wrap h4 {margin-top:40px;margin-bottom:5px;text-transform:capitalize;}
.markup-list-r,
.markup-list-l {padding:0 0 50px 50px;}
.s-ko,
.s-en {display:inline-block;padding:2px 10px;}
.s-ko {color:#fff;background:#333;font-size:12px;}
.s-en {color:#000;}
</style>
<p class='gnbcheck'>Markup List</p>
<div class="markup-list-wrap">
    <% if(!pageInfo.isLocalExPath){ %>
    <div class='markup-list-l'>
        <h2>Express</h2>
        <%
            let tempListType = 'index';
            pageList.forEach(function(data, idx){
                if(tempListType != data.type){
                    if(idx > 1){
        %>
        </ul>
        <%
                    }
        %>
        <h4><%= data.type %></h4>
        <ul id='<%= data.type %>'>
        <%
                }
                if(idx != 0){
        %>
            <li>
                <a href='<%= data.url %>' target="_blank"><span class="s-ko"><%= data.titleko %></span><span class="s-en"><%= data.title %></span></a>
            </li>
        <%
                }
                tempListType = data.type;
                if(idx == (pageList.length - 1)){
        %>
        </ul>
        <%
                }
            })
        %>
    </div>
    <% } else if(pageInfo.isLocalExPath) { %>
    <div class='markup-list-r'>
        <h2>Local</h2>
        <%
            let tempListType2 = 'index';
            pageList.forEach(function(data,idx){
                if(tempListType2 != data.type){
                    if(idx > 1){
        %>
        </ul>
        <%
                }
        %>
        <h4><%= data.type %></h4>
        <ul id='<%= data.type %>'>
        <%
                }
                if(idx != 0){
        %>
            <li>
                <a href='dist/<%= data.pageurl.replace(/(.ejs)$/,'') %>.html' target="_blank"><span class="s-ko"><%= data.titleko %></span><span class="s-en"><%= data.title %></span></a>
            </li>
        <%
                }
                tempListType2 = data.type;
                if(idx == (pageList.length - 1)){
        %>
        </ul>
        <%
                }
            })
        %>
    </div>
    <% } %>
</div>