<div data-component="OPageContent" class="o-page-content">
    
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width ">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">ENVIRONMENT</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">ARKET과 함께<br>리사이클</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="a-paragraph is-richtext" style="text-align: center;">
                    <b>파트너</b> I:CO
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Environment</span>섬유는 절대 버려져서는 안 됩니다. 섬유는 여전히 가치 있는 자원으로 사용될 수 있음에 도 불구하고, 오늘날 많은 원치 않는 옷들이 쓰레기 매립지에 버려집니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">대부분의 옷은 수선되거나 리메이크를 통해 수명이 연장될 수 있습니다 . 만약 여러분에게 더 이상 필요 없다면, 교환 및 리셀, 친구나 가족에게 주거나, 자선단체에 기부할 수도 있습니다. 마지막 대안으로, 여러분의 오래된 옷은 재활용될 수 있고 순환 패션 루프로 돌아갈 수 있습니다. 저희 매장에 어떤 섬유라도 가져와주세요, 저희가 새로운 쓰임을 만들도록 하겠습니다.</p>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_11_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/Supplier_ico_RGB_05_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">작업 방식</span>의류, 신발 및 가정용 직물을 가까운 ARKET 상점으로 가져와 주세요. 어떤 브랜드라도, 어떤 상태라도 무방합니다. 재활용하기에는 너무 작거나 너무 하찮은 것은 없습니다. 심지어 여러분의 서랍 한켠에 있는 짝 잃은 양말도 가져오면 새로운 목적을 줄 수 있습니다. 저희는 또한 카페의 테이크 어웨이 포장지를 제외한 ARKET의 제품 포장 패키지도 받습니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">원치 않는 물건들을 가방에 챙겨서 스토어로 가져오세요. 재활용을 위해 신발을 가져오고 싶다면, 반드시 테이프로 묶거나 끈을 함께 묶어주세요. ARKET 제품 포장 패키지는 별도의 가방에 넣어주세요.</p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/V-NAV_ico_01.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_06_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">기부에 대한 보상으로 다음 번 구매 시 10% 할인된 가격으로 매장이나 카페에서 구매가능 한 쿠폰을 드립니다. 3개월 동안 유효한 쿠폰을을 한 건당 한 장씩 드립니다.  이 쿠폰은 다른 할인 혜택과 함께 사용할 수 없으며 온라인 구매 시에는 유효하지 않습니다.</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph">섬유와 신발은 ARKET의 기존 물류 네트워크를 통해 저희 창고로 보내질 것입니다. 매장으로 제품을 배달하는 트럭은 재활용을 위해 들여온 물품을 싣고 창고로 돌아갈 것입니다. 우리의 파트너 I:CO는 모든 항목을 수집하여 상태에 따라 재착용가능, 재사용 또는 재활용의 세 가지 주요 범주로 분류합니다.<br><br>제품 포장지는 나뉘어져 각 스토어의 일반적인 폐기물 처리를 통해 분류 및 재활용됩니다.</p>
                <p class="a-paragraph"><br>재활용을 통해 얻은 최종 수익은 H&M 재단에 기부되고 사회 및 환경 프로젝트에 투자될 것입니다.</p>
            </div>
        </div>
    </div>
    <div class="o-width about-grid wc-50">
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2 has-hover has-margin">
                    <span class="heading-cap">explore</span>
                    <a href="/en/about.html" target="_self" class="a-link heading-tag">ARKET</a>
                </h2>
            </div>
        </div>

        <%# md-about-o-image-list-explore-arket %>
        <%- include ("../../../../common/md-about-o-image-list-explore-arket.ejs") %>

        <div class="o-width wc-50">
            <div class="o-text-field is-wide ">
                <div class="text-container">
                    <p class="a-paragraph is-richtext"></p>
                    <div class="a-paragraph is-richtext" style="text-align:left;font-size:13px;">그리드는 우리의 시각적 아이덴티티에 있어 필수적인 요소입니다. 그것은 아카이브의 개념을 나타내며, 식물 이름부터 직물의 무게 및 우리의 컬렉션에 사용되는 다양한 소재에 이르는 정보를 정리 하고 표시하는 데 사용됩니다. 이 9개의 사각형은 우리의 세상을 구성하는 각 부분을 상징하며, 우리가 변화를 만들기 위해 노력하 는 영역을 나타냅니다.</div>
                    <p class="a-paragraph"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color:#f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-sofia.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../../common/md-about-o-focus-tiles-fact.ejs") %>
                </div>
            </div>
        </div>
    </div>
</div>