<div data-component="OPageContent" class="o-page-content" data-component-id="">
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Balance.png" alt="Menu">
            <h2 class="a-heading-2">
                <span class="heading-cap">a conversation on</span>
                <span class="heading-value"></span>
            </h2>
        </div>

        <div class="o-text-field is-wide">
            <div class="headings" style="text-align: center;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">BEING OPEN TO CHANGE AND KIND TO YOURSELF</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;">
                    with Caroline Igel
                    <b><br>
                    Graphic Designer and Office Yoga initiator<br>
                    </b>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Balance</span>
                        Caroline Igel, one of our graphic designers, shares her thoughts on the benefits of sustained yoga practice and the discoveries that come from listening kindly to what your body says.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                ‘I have been working on finding balance in life for quite a long time. But in the past year, with all the changes that have happened in the world, 
                I’ve realised that life balance is not something you will just find but a condition you constantly need to create and recreate. Because balance is change. 
                You have to be flexible and attuned to what it is you need today, in the current moment. What do I need to save or recharge my energy, to feel at ease, to be happy?
            </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_05_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_06_WEB.jpg">
                </div>
            </div>
        </div>
    </div>


    <div class="o-width title--medium wc-75">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    ‘Life balance is not something you will find but a condition you constantly need to recreate.’
                </h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width ">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Balance.png">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">balance</span>
                    <span class="heading-value">Caroline Igel</span>
                </h2>
            </div>
        </div>
    </div>

    <div class="o-hero is-takeover full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_01_WEB03.jpg)" class="takeover-background"></div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph">Depending on where you are in life, it’s going to be different things. Work, family, food, exercise, sleep, friends, art, music, your personal finances, finding time for your hobbies, or just to reflect. I guess this is what makes up the life puzzle. The importance and combination of each of these pieces of life are individual to everyone, so what creates balance in your life will be different from mine, and it’s going to change over the course of our lives as well. It’s been eye-opening for me to realise this.</p>
                <p class="a-paragraph">That’s why yoga is such a great tool. It gives you a chance to be in the moment, to pause and listen to where you are right now; where your thoughts are going and what sensations you’re feeling in your body. Everyday you’ll get a different answer. So at least to me, the yoga practice helps create an awareness of which pieces in the life puzzle I need to focus more on. You’re also building strength and balance on a literal level, which is why I started doing yoga in the first place. I wanted to feel strong.</p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-50">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_04_WEB.jpg" alt="ARKET Design">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_10_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_09_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_13_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph">I have been organising a yoga class with a guest teacher at our office to make the practice accessible to as many people as possible. I think it’s important for many reasons. It’s a fun thing to do with your colleagues and it allows you to focus on something else for a while; it’s a slight change of scenery which opens up for new perspectives; a chance to break out of the work routine which brings new inspiration and helps our creativity.&nbsp;<span style="">For me personally, it is also an opportunity to get to know new people. You often work and hang out within a smaller team, but in yoga, it doesn’t matter who you are and what you do or what your title is. Everyone is equal on the mat and shows up with whatever they’re carrying today. Everyone is there for the same reason, to share the practice and be together. I think that’s fantastic. Out of 150 people at the office, about 50 of us have been part of the yoga group on and off, which I think really shows there’s a need for it.</span></p>
                <p class="a-paragraph">Part of being aware and conscious of your needs is also to do nothing. I think that’s really important to underline. I’ve always struggled to be good, to be capable, so part of my search for balance is to remind myself that everything is OK. I’ve sometimes felt bad for not doing enough yoga, not being ‘balanced enough’. But that feeling of failure is definitely not serving me.&nbsp;<span style="">Every new year, I’m writing a list of goals for myself. Things I want to do or start working on. On top of that list is ‘Be kind to yourself’.’</span></p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Explore our assortment in</h6>
            <ul class="tags-container">
                <li class="tag ">
                    <a href="/en/women/sportswear/yoga.html" target="_self" class="a-link">Yoga</a>
                </li>
                <li class="tag ">
                    <a href="/en/women/sportswear/running.html" target="_self" class="a-link">Running</a>
                </li>
                <li class="tag ">
                    <a href="/en/men/c/sportswear.html" target="_self" class="a-link">Sportswear</a>
                </li>
            </ul>    
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width ">
                <h2 class="a-heading-2 ">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-knowledge.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-seamless-tm-yoga.ejs") %>
                </div>
            </div>
        </div>
    </div>
    <div class="splash parbase"></div>
</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[5].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->