<div data-component="OPageContent" class="o-page-content" data-component-id="">
    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width ">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Community.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">a conversation on</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">SHARING STORIES AND LEARNING FROM EACH OTHER</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">
                        with Marie-Louise O'Rourke<b><br>
                        Social Media Coordinator</b>
                    </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Community</span>
                        With a passion for learning new skills and finding out unknown facts about the things we surround ourselves with, ARKET Social Media Coordinator Marie-Louise O’Rourke aims to create a broad dialogue around sustainable living.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ‘Companies are always built up by people. We’re more than 200 employees working for ARKET around the world, who all have different experiences and opin-ions, who all live a life outside of work and who are all part of society. I think that’s sometimes forgotten. It’s important that we show people who interact with us, whether on social media or by visiting our stores and cafés, what values are behind our name.&nbsp;
                    If you have a following of any kind, you also have a responsibility to lead by example. Especially if your values are about inclusiveness and being accessible, you need to act and breathe that philosophy with everything you do. 
                    ARKET’s mission is to democratise quality and promote sustainable everyday design; our products are made to be used and loved for a long time. That’s our ideology and what we strive for. It’s an important thing for me personally to build a relationship with our community around these questions.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_07_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_10_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-75">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin" >
                    ‘A company is always built up by people, who all live a life outside of work and who are all part of society.’
                </h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width ">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Knowledge.png">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">knowledge</span>
                    <span class="heading-value">Ivan Fernandez</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="o-hero is-takeover  full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_01_WEB3.jpg)" class="takeover-background"></div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        As a company that sells clothes that are made to last, it’s crucial that we also provide the tools for our customers to take care of the products. We try to share as much of our own knowledge as possible. Information that goes beyond what’s on the care label. How to store your knitwear and outerwear over the summer, how to oil your leather shoes before and after use, how to wash or not to wash different materials, and how to make repairs with the things you have at home. There is tons of knowledge inside our walls, so it makes sense to gather it and put it all in one place, online, for our community to access.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    I also really want this to be a two-way dialogue between us and our customers. We get a lot of questions and input from our followers and it’s my job to make sure they get delivered to the relevant person or team within the company. It’s really important for us to learn from our community and refreshing to get feedback on our work. We don’t know everything, even though we’re a company. We’re just people; humans that are trying to learn from each other. If there’s something I didn’t know or that I’ve been wondering about myself, I’m sure there are more people out there who would be interested to learn about it too.&nbsp;
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile spacer-desktop wc-50">
        <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_04_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
            <p class="a-paragraph is-richtext"></p>
            <p class="a-paragraph">I definitely think that the more knowledge you acquire about a product – who made it and where it comes from – the more you will cherish it after you’ve bought it. It makes you respect the work that went into making it. You’ll want to take care of the product and hold on to it and make sure to hand it on when it’s not suitable to you anymore. I think this kind of awareness helps you consume less and be more circular in your everyday life.</p>
            <p class="a-paragraph"><span>People who are part of our community probably come to us for different reasons and I’d also like to think that our community is wider than the people who currently shop with us. The information and inspiration we provide is relevant for all the things you own, not just ARKET products. My goal is to grow a community that wants to stay with us because of the kind of information we give and the values we stand for.’</span></p>
            <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Learn how to prolong the lifespan of your products</h6>
            <ul class="tags-container">
                <li class="tag ">
                    <a href="http://www.instagram.com/arketofficial" target="_self" class="a-link">Follow us on Instagram</a>
                </li>
                <li class="tag ">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/guide/care.html" target="_self" class="a-link">Read our care guides</a>
                </li>
            </ul>    
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width ">
                <h2 class="a-heading-2 ">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-women-in-leadership.ejs") %>


                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-care-guide.ejs") %>
                </div>
            </div>
        </div>
    </div>
    <div class="splash parbase"></div>
</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[7].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->