<div data-component="OPageContent" class="o-page-content footer-about-wrap">
    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width ">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Community.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">a conversation on</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">이야기를 나누고<br> 서로에게서 배우는 것에 관한 대화</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                    <div class="about-align-center">
                        마리-루이즈 오럴크,<br>
                        소셜 미디어 코디네이터
                    </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Community</span>
                        새로운 스킬을 배우고 우리 주변의 미지의 사실들을 알아나가는 것에 열정을 가진 ARKET 소셜 미디어 코디네이터인 마리-루이즈 오럴크는 지속 가능한 삶에 대한 폭넓은 대화를 만드는 것을 목표로 합니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    '회사는 항상 사람들에 의해 세워집니다. 우리는 전세계에서 ARKET을 위해 일하기 위해 모인 200명이 넘는 직원입니다. 우리는 모두 다른 경험과 의견을 가지고 있고, 모두 일 이외의 삶을 살고 있으면서, 사회의 일부이기도 합니다. 전 가끔 그것이 잊혀지는 것 같아요. 우리의 이름 뒤에 어떠한 가치들이 있는지를, 소셜미디어를 통해서든 아니면 스토어나 카페를 방문해서든, 우리와 교류하는 사람들에게 보여주는 것은 중요합니다.<br class="only-pc"><br class="only-pc">
                    만약 당신에게 팔로어가 있다면, 당신은 또한 모범을 보여야 할 책임이 있습니다. 특히 자신의 가치관이 포괄적이고 접근하기 쉽다면, 여러분이 하는 모든 일에 그 철학을 가지고 행동하며 호흡해야 합니다. ARKET의 미션은 퀄리티를 대중화하고 지속 가능한 일상 디자인을 알리는 것입니다. 우리 제품은 오랫동안 사용되고 사랑 받을 수 있도록 만들어졌습니다. 그것이 우리의 이념이고 우리가 추구하는 것입니다. 저는 개인적으로, 이러한 질문들과 함께 우리 커뮤니티와 관계를 맺는 것이 중요하다고 생각합니다. 
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_07_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_10_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-75">
        <div class="headings about-align-center big-tit-txt">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin interval-zero">
                    ‘회사는 항상 사람들에 의해 세워집니다.<br class="only-pc">그들은 모두 일 이외의 삶을 살고 있으며,<br class="only-pc">사회의 일부이기도 합니다.’
                </h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width ">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Knowledge.png">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">knowledge</span>
                    <span class="heading-value">마리-루이즈 오럴크</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="o-hero is-takeover  full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_01_WEB3.jpg)" class="takeover-background"></div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="heading">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        오래 지속되는 옷을 판매하는 회사로서, 고객이 제품을 관리할 수 있는 툴을 제공하는 것이 중요합니다. 우리는 가능한 많은 지식을 공유하려고 노력합니다. 케어 라벨에 있는 이상의 정보를요. 여름에 니트와 겉옷을 보관하는 방법, 착용 전후에 레더 슈즈에 오일을 바르는 방법, 서로다른 소재의 세탁 방법, 집에 있는 것으로 수선하는 방법 등이 있습니다. 우리 안에는 수많은 지식이 있습니다. 그렇기 때문에 그것을 온라인이라는 한 곳에 모아서, 우리 커뮤니티가 접근할 수 있도록 해야하는 것이죠.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    저는 또한 이것이 저희와 고객들 사이의 양방향 대화가 되기를 바랍니다. 우리는 팔로워들로부터 많은 질문과 의견을 받고 있으며, 그것이 회사 내에서 관련팀이나 부서에 전달되도록 하는 것이 제 일입니다. 커뮤니티를 통해 배우는 것은 매우 중요한 일이며,  우리의 일에 대한 피드백을 받는 것은 리프레쉬 됩니다. <br class="only-pc">우리가 비록 회사이지만 모든 것을 다 아는 것은 아닙니다.
                    우리는 사람일 뿐입니다. 서로에게서 배우려고 노력하는 사람들이지요. 만약 제가 몰랐던 것이 있거나 제 스스로 궁금한 것이 있게된다면, 그것에 대해 배우고 싶어하는 사람들도 더 많을 거예요.
                </p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile spacer-desktop wc-50">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_04_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
            <p class="a-paragraph is-richtext"></p>
            <p class="a-paragraph">
                저는 여러분이 어떤 제품에 대해 더 많은 지식을 얻을수록 – 누가 그것을 만들었는지, 어디에서 왔는지 – 여러분은 그것을 구매 후에 더 소중히 여길 것이라고 생각합니다. 그것은 여러분이 그 상품이 만들어지기까지의 과정을 존경하게 만듭니다. 여러분은 그 제품을 잘 관리할 것이고 잘 지니고 있을 것이며,  더 이상 당신에게 맞지 않을 때 다른 이에게 건네고 싶을 거예요. 저는 이런 인식이 일상 생활에서 소비를 줄이고 더 순환적이게 만든다고 생각합니다.,
            </p>
            <p class="a-paragraph"><span>
                우리 커뮤니티의 일부인 사람들도 아마도 다른 이유로 우리에게 올 수 있을 것이고, 저는 또한 우리의 커뮤니티가 더 커져서 지금 이상으로 쇼핑 하는 사람이 많아질 것이라 생각하고 싶습니다. 우리가 제공하는 정보와 영감은 단지 ARKET 제품만이 아니라 당신이 소유하고 있는 모든 것과 관련이 있습니다. 제 목표는 우리의 정보의 종류와 우리가 토대로 삼는 가치로 인해 우리와 함께하고 싶은 커뮤니티를 늘려나가는 것입니다
            </span></p>
            <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Learn how to prolong the lifespan of your products</h6>
            <ul class="tags-container">
                <li class="tag ">
                    <a href="http://www.instagram.com/arketofficial" target="_target" class="a-link">Follow us on Instagram</a>
                </li>
                <li class="tag ">
                    <a href="#none" target="_self" class="a-link">Read our care guides</a>
                </li>
            </ul>    
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width ">
                <h2 class="a-heading-2 ">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-women-in-leadership.ejs") %>


                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-care-guide.ejs") %>
                </div>
            </div>
        </div>
    </div>
    <div class="splash parbase"></div>
</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[7].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->