<div data-component="OPageContent" class="o-page-content footer-about-wrap">
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Design.png" alt="Menu">
            <h2 class="a-heading-2">
                <span class="heading-cap">a conversation on</span>
                <span class="heading-value"></span>
            </h2>
        </div>

        <div class="o-text-field is-wide">
            <div class="headings about-align-center big-tit-txt">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">책임감 있는 디자인의<br class="only-pc"> 장기적인 영향에<br> 관한 대화</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="about-align-center">
                    엘리사벳 홈스트롬, <br>
                    헤드 오브 디자인, 아르켓 아동복<br>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Design</span>
                        '새로운 것을 창조하고 공공 자원에 대해 클레임을 제기하는 것은 지역사회에 긍정적인 기여를 하기 위한 책임감을 수반합니다'라고 엘리사벳 홈스트롬 아동복 디자인 책임자는 말합니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    '패션 및 디자인 산업에서 일하는 데에는 큰 책임이 따릅니다. 우리가 내리는 결정은 세상에 영향을 미칠 것이고, 이는 또한 우리가 긍정적인 방향으로 영향을 미칠 기회를 가지고 있다는 것을 의미합니다. 
                    디자인 과정에서의 능동적이고 신중한 선택은 변화를 만들 수 있습니다. 이러한 선택들은 어떤 일을 하지 않는다거나 어떤 방향으로 가지 않는 것에 관한 것입니다. 
                    저는 특히 어린이를 위한 디자인을 할 때 이러한 부분을 느낍니다. 저는 오랫동안 상업적인 패션쪽에서 일을 해왔기 때문에, 제가 엄마가 되었을 때, 고정관념이 없는 아동복을 만들고 싶다고 생각하였습니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_elisabeth_03_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_elisabeth_10_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-75">
        <div class="headings about-align-center">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    ‘우리가 내리는 결정은<br class="only-pc"> 세상에 영향을 끼칩니다.<br class="only-pc"> 디자인 과정에서의 신중한 선택은<br class="only-pc"> 변화를 만들 수 있습니다.
                </h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width ">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Design.png">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">design</span>
                    <span class="heading-value">엘리사벳 홈스트롬</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="o-hero is-takeover full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_elisabeth_01_WEB_03.jpg)" class="takeover-background">
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    저희 컬렉션의 대부분은 유니섹스입니다. 이는 분명 우리가 디자인에서 고려하는 관점입니다. 여자아이나 남자아이에게 모두에게 잘 어울리는 색상과 내구성과 기능성을 주요 포커스로 한 중립적인 제품을 만드는 것이지요. 성별에 구애받지 않는 옷은 아이가 자라나면 형제나 사촌, 친구들에게 물려주기도 더 쉽습니다.<br class="only-pc">
                    비록 아이들이 짧은 기간 동안만 옷을 입을 것이라는 것을 알지만, 더 오래가는 디자인을 하는 것은 매우 중요합니다. 제품이 시간을 넘어 오래 지속되기 위해서는, 퀄리티와 디자인이 모두 지속 가능해야 합니다. 옷은 심미적인 관점에서 볼 때 모던하고 적절해야 하지만, 우리는 짧은 유행에서 벗어나려고 노력합니다.
                </span></p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-25">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_elisabeth_09_WEB.jpg" alt="ARKET Design">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph">
                    우리는 사람들의 옷에 있어 특정한 부분을 채우기 위하여 모든 옷을 디자인합니다. 일년내내 다양한 수요들이 있고, 특히 이곳 북유럽에서는, 옷이 맞추어져야 합니다. 그러나 매 계절의 변화에 맞추어 완전히 대체될 필요는 없습니다. 우리 컬렉션의 핵심은 '지속 가능한 기본 아이템'으로, 계절을 넘어 연중 대부분 동안 착용할 수 있는 제품입니다. 그에 더해, 우리는 계절용 아이템 및 특정한 상황에 맞춘 옷도 만듭니다. 이 제품은 당연히 아름답게 꾸며진 아이템이지만, 역시 무엇보다도 실용적면서도 어린이들의 일상적인 활동으로 인한 손상을 견뎌낼 수 있어야 합니다. 
                </p>
                <p class="a-paragraph">
                    우리는 고객의 라이프 스타일을 위해 특별히 디자인합니다. 우리는 그것이 가능한 한 항상 지속 가능한 소재로 제작합니다. 우리 컬렉션의 97%는 지속 가능한 자원을 통한 것입니다. 더 나은 면, 유기농 또는 재활용 섬유, 무화학 처리.  저에게 있어, 그것은 디자이너로서 제가 갖는 의무입니다; 바로 우리가 제작하는 것을 책임감 있는 방식으로 만들고 더 나은 미래에 기여할 수 있도록 하는 것이지요.
                </p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Read more about our approach to long-lasting design</h6>
            <ul class="tags-container">
                <li class="tag "> 
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/sustainability-fact-sheet.html" target="_self" class="a-link">Sustainability Fact Sheet</a>
                </li>
            </ul>    
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width ">
                <h2 class="a-heading-2">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-food.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-fact2.ejs") %>
                </div>
            </div>
        </div>
    </div>
    <div class="splash parbase"></div>
</div> 
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[2].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->