<div data-component="OPageContent" class="o-page-content footer-about-wrap">
    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width ">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">a conversation on</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings about-align-center">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">우리가 미치는<br>영향에 대한<br> 책임에 관한 대화</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                    <div class="about-align-center">
                        소피아 스노보르그,<br>
                        프로덕션 매니저
                    </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">환경</span>
                        패션은 세계에서 가장 자원 집약적인 산업 중 하나이며, 기후 면적이 큽니다. 하지만 여기 ARKET 일하는 많은 사람들에게, 그것은 바로 점진적 변화의 일부가 되는 능력이며 순환 경제에 기여하며 우리가 하는 일에 동기부여를 주는 것입니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    '저는 20년 넘게 섬유 산업에 종사해 왔고, 그 시간의 대부분을 생산, 공장 방문, 공급업체와의 협력에 할애했습니다. 의류 생산은 자원 집약적인 것으로 알려져 있습니다. 티셔츠나 청바지 한 벌을 만드는데는 많은 에너지와 물이 필요합니다. <br class="only-pc">
                    우리의 가장 큰 의무 중 하나는 제품의 환경적 영향을 줄이기 위해 우리가 할 수 있는 모든 것을 확실히 하는 것입니다. 또한 변화를 만들고 영향을 미칠 수 있다는 것은 제 개인적으로 큰 원동력이기도 합니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_10_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_11_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-75">
        <div class="headings about-align-center">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    ‘변화를 만들고 영향을<br class="only-pc"> 미칠 수 있다는 것은<br class="only-pc"> 제 개인적으로 큰 원동력입니다.’
                </h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width ">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">환경</span>
                    <span class="heading-value">소피아 스노보르그</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="o-hero is-takeover  full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_01_WEB3.jpg)" class="takeover-background"></div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    우리의 소재를 생산하는 공급 업체들과 비교하여, 우리는 우리의 옷을 직조하고 바느질하는 의류 제조업체들과 훨씬 더 직접적인 관계를 맺고 있습니다. 더 긴밀한 협업을 할 수 있으면, 구체적인 요구를 하고 지속 가능한 발전을 추진할 수 있는 기회도 더 커집니다. 
                    현재 모든 수준에서 협력하는 공급업체의 수를 줄이고 있습니다. 이는 선별된 파트너와 더욱 강력한 관계를 구축할 수 있도록 하며, 이를 통해 원자재에서 완제품에 이르는 전체 생산 체인에 영향을 미칠 수 있습니다. <br class="only-pc"> <br class="only-pc">
                    우리는 함께 물 사용량 감소와 재생 에너지에 대한 명확하고 측정 가능한 목표를 세울 수 있습니다. 그리고 공장 태양광 발전이나 빗물 수확 프로그램 같은 소규모 사업들을 공동 투자함으로써 직접 지원할 수 있습니다. 이러한 프로젝트들은 우리와 파트너 간의 상호 이익이 되는 프로젝트입니다. 
                    우리는 서로를 위해 의미 있고 지속 가능한 사업을 만들어 나가야 하며, 우리의 공급자들은 그들의 투자가 성과를 거둘 것이라는 것을 알게 될 것입니다. 그러나 어떤 상황에서도, 자원의 사용을 계속 늘리는 것은 대안이 아닙니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-25">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_06_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        대부분의 경우에 고객은 현재 진행 중인 개선 사항을 인식하지 못할 것입니다. 불과 몇 년 만에 우리는 데님 제품에 사용되는 물의 양을 대폭 줄였습니다. 터키와 방글라데시에 있는 우리의 공급업자들은 데님 의류를 염색하고 워싱하는 특별한 기술을 사용하면서, 물을 덜 사용하면서도 같은 외관과 느낌을 주는 데님을 만들고 있습니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    우리는 항상 우리가 만드는 제품의 품질과 만족도를 고려해야 합니다. 옷이 충분히 아름답지 않거나 빨리 해진다면, 지속 가능한 재료와 실행이 아무것도 바꾸지 못할  것입니다. <br class="only-pc">
                    우리의 옷은 고객이 수년 동안 입으면서 소중히 간직할 수 있어야합니다. 그렇지 않으면 장기적으로 지속 가능성을 실현하지 못할 것입니다.’
                </p>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Read about our goals and recent improvements</h6>
            <ul class="tags-container">
                <li class="tag ">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/sustainability-fact-sheet.html" target="_self" class="a-link">ARKET Sustainability Fact Sheet</a>
                </li>
            </ul>    
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width ">
                <h2 class="a-heading-2">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-fact2.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-materials.ejs") %>

                </div>
            </div>
        </div>
    </div>
    <div class="splash parbase"></div>
</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[8].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->