<div data-component="OPageContent" class="o-page-content" data-component-id="">
    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width ">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">a conversation on</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">TAKING RESPONSIBILITY FOR THE IMPACT WE HAVE</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">
                        with Sofia Snöborgs<b><br>
                        Production manager</b>
                    </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Environment</span>
                        Fashion is one of the world’s most resource-intensive industries, with a large climate footprint. But for many of us working here at ARKET, it is precisely the ability to be part of the progress and make contributions towards a circular economy that motivates us to do what we do.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ‘I have been in the textile industry for over 20 years and I’ve spent much of that time working in production, visiting factories and collaborating hands-on with suppliers. It’s a known fact that garment production is extremely resource intensive. It takes a lot of energy and water to produce a T-shirt or a pair of jeans. One of the greatest responsibilities we have is to make sure we do everything we can to reduce the environmental impact of our products. It’s also a strong driving force for me personally – to be able to shape and influence change.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_10_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_11_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-75">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    ‘It is a strong driving force for me personally; to be able to shape and influence change.’
                </h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width ">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">environment</span>
                    <span class="heading-value">Sofia Snöborgs</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="o-hero is-takeover  full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_01_WEB3.jpg)" class="takeover-background"></div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    We have a much more direct relationship with the garment makers, who knit and sew our products, compared to the suppliers who produce our materials. 
                    The tighter the collaboration, the bigger opportunity we have to make specific demands and drive the sustainable development forward. We are currently reducing the number of suppliers we’re working with, on all levels. 
                    It helps us build even stronger relationships with selected partners, which in turn opens up for us to impact the whole production chain from raw material to the finished product. Together we can define clear and measurable goals for reduced water usage and renewable energy. 
                    And we can support smaller initiatives directly by co-investing in their development, such as solar plants at the factories or programs for rainwater harvesting. These are mutually benefitting projects between us and our partners. We have to create a meaningful and sustainable business for both parties, and our suppliers need to know their investment will pay off. But under all circumstances, it’s not an alternative to just continue increasing the use of resources.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-25">
        <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_06_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        Many times, the customer will not notice the great improvements we’re making. In just a few years, we have significantly reduced the amount of water used for our denim products. Our suppliers in Turkey and Bangladesh are using a special technology for dyeing and washing denim garments which requires much less water but results in an identical look and feel. 
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    We always have to consider the quality and desirability of the products we’re making. If the garment isn’t beautiful enough or if it wears out quickly, then sustainable materials and practices will not change anything. It needs to be something that our customers will use and cherish for many years, otherwise it’s never going to be sustainable in the long run.’
                </p>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Read about our goals and recent improvements</h6>
            <ul class="tags-container">
                <li class="tag ">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/sustainability-fact-sheet.html" target="_self" class="a-link">ARKET Sustainability Fact Sheet</a>
                </li>
            </ul>    
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width ">
                <h2 class="a-heading-2">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-fact2.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-materials.ejs") %>

                </div>
            </div>
        </div>
    </div>
    <div class="splash parbase"></div>
</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[8].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->