<div data-component="OPageContent" class="o-page-content" data-component-id="">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Food</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        음식을 통한 발견과 새로운 습관 만들기에 대한 대화
                    </h2>
                </div>
            </div>

            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;">제시카 르루
                    <b><br>셰프&amp;오퍼레이션 책임자, ARKET 카페<br></b>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">

            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        음식 먹는 것은 우리 주변의 세계를 탐험하고 경험할 수 있는 한 방법입니다.
                        우리의 요리 전통은 이야기와 추억을 담고 있고, 이를 다른 사람들과 나눌 수 있게 해줍니다.
                        ARKET에서 우리는, 좋은 음식은 새로운 아이디어를 낼 수 있게 해주며,
                        이를 통해 우리의 문화에 긍정적이고 변혁적인 변화를 가져올 것이라고 확신하고 있습니다.
                    </h2>
                </div>
            </div>

            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    저는 ARKET에서 일하기 시작하면서 채식주의자가 됐습니다. 저는 오랫동안 그런 변화를 원해왔고, 이곳에 온 이후로는 카페에서 하는 모든 일에 영감을 받았습니다.
                    이것이 저에게 있어 새로운 창조적인 면을 열어주었습니다.
                    저는 7년 동안 쉐프로 일해왔는데, 야채를 맛있게 만드는 것과 채식 요리를 만드는 것은 정말 재미있는 도전이에요. 저는 새로운 요리를 만드는 것을 좋아합니다.
                </p>
            </div>

        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_jessica_04_WEB.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_jessica_11_WEB.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="o-width title--medium wc-75">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    ‘저는 여러분이 음식에 관심을 가지고 있는 사람들에게 그들 스스로에 생각해 본 적이 없는 방식으로 영감을 줄 수 있을 것이라고 생각합니다.’
                </h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">음식</span>
                    <span class="heading-value">제시카 르루</span>
                </h2>
            </div>
        </div>
    </div>

    <div class="o-hero is-takeover full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>

        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_jessica_01_WEB3.jpg)" class="takeover-background"></div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        많은 사람들이 채식을 어렵다고 생각합니다. 우리가 ARKET에서 하려고 하는 것은 고객이 외식을 할 때 새로운 습관을 가질 수 있도록 영감을 주는 것입니다.
                        그들이 잘 먹으면서 좋은 일을 하다는 느낌을 주는 것이죠. 만약 더 많은 사람들이 채식을 하게 하려면, 그것이 맛있으면서 가득 찬 느낌을 주는 것이 매우 중요합니다.
                        무언가 부족하다는 느낌을 가지지 않게 해야합니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    우리는 맛에 타협하지 않은, 건강에 중점을 둔 지속 가능한 음식을 제공합니다. 우리는 심플하고 제철이며, 유기농인 재료를 사용하고 있고,
                    그것들을 다양한 방식으로 레벨업하고 있습니다 – 비트루트나 당근을 후무스에 섞거나 다양한 시즈닝으로 맛을 풍부하게 하는 등으로요.
                    우리는 항상 다섯 가지 기본적인 맛을 넣어서 결합시키려고 노력합니다. 각각의 음식은 달콤하고, 시고, 짜면서, 약간의 쓴맛과 감칠맛의 느낌이 있습니다.
                    다른 질감의 조합도 정말 중요합니다. 요리에 다른 차원을 더하기 때문이지요.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_jessica_07_WEB.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_jessica_05_WEB.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        음식은 새로운 것을 배우는 정말 흥미로운 방법이라고 생각해요. 음식은 호기심을 가질 수 있는 방법입니다.
                        모든 사람은 먹어야 하고, 많은 사람들이 먹는 것을 즐깁니다. 또한 먹는다는 것은 익숙한 것입니다. 모든 문화에서, 각 공동체들은 축하 자리나 다양한 상황을 위해 음식을 중심으로 모입니다.
                        하지만 음식은 또한 끊임없이 변화합니다. 계절의 바뀌는 것과 새로운 아이디어들이 우리가 먹는 방식에 영향을 주지요.
                        그래서 저는 여러분이 음식에 관심을 가지고 있는 사람들에게 그들 스스로에 생각해 본 적이 없는 방식으로 영감을 줄 수 있을 것이라고 생각합니다.
                        매일 고기를 섭취하던 것을 일주일에 단 며칠로 줄이는 것은 꽤 쉽습니다. 그것은 융통성을 갖게 해줍니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph">
                    제가 대단히 흥미롭게 생각하는 것은 대부분의 사람들이 우리가 먹는 음식들이 어떻게 생산되는지 혹은 자연 속에서 어떤 모습을 가지고 있는지에 대해 생각하지 않는다는 것입니다.
                    여러분이 입에 넣는 음식과 그 뒤의 과정이 이어지지 않습니다. 저는 사람들이 우리가 소비하는 모든 것들의 이면에 얼마나 많은 일이 있는지 인식하지 못하고 있다고 생각합니다.
                    참깨처럼 간단한 것이라도, 어디에서 유래하고 어떻게 자라는 걸까요? 저는 고객들이 무엇을 먹고 있는지 하나하나 설명하면서, 그 호기심을 공유하고 싶습니다.
                    여러분의 일상 습관에 대한 인식을 심어주는 것입니다. 우리는 실제로 카페에서 서빙하고 판매하는 제품에 있어 이러한 과정을 많이 생각해 왔습니다.
                    우리는 환경을 생각하면서 제품을 생산하는 방식에 열정적인 사람들이 만든 유기농의 고품질 제품을 신중하게 선택해 왔습니다.
                </p>
                <p class="a-paragraph">
                    패스트리에 들어가는 밀가루부터 후무스에 들어가는 스웨덴산 노란 완두콩, 북유럽에서 자라나는 유서깊은 작물까지, 모두 이유를 가지고 아주 꼼꼼하게 골랐습니다.
                    지구에 좋은 것은 우리의 건강에도 좋다는 것입니다. 저는 음식과 세상에 영향을 미치는 것에 대해 매우 열정적인 사람입니다. 적어도 저에게는, 더 많이 자각하는 것과 더 의식적인 선택을 하는 것이 저를 더 행복하게 만들었습니다.
                    저는 제 자신, 제가 먹는 음식, 그리고 그것이 지구에 미치는 영향에 대해 신경을 씁니다. 물론 그것은 제 자신의 웰빙에 영향을 미칩니다.
                    <br><br>
                    현재 Jessica Leroux는 공인 라이프 코치로 일하고 있으며, 고객이 일상 생활에서 더 많은 재미를 느낄 수 있도록 도우면서, 그들의 전반적인 웰빙에 기여하고 있습니다.
                </p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Learn more about our seasonal vegetarian cooking</h6>
            <ul class="tags-container">
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/martin-berg.html" target="_self" class="a-link">Martin Berg</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/cookbook-for-spring-summer-autumn-and-winter.html" target="_self" class="a-link">Our cookbook</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/cafe.html" target="_self" class="a-link">ARKET Café</a>
                </li>
                <li class="tag">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food/nordisk-ravara.html" target="_self" class="a-link">Nordisk Råvara</a>
                </li>
            </ul>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>

    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-nordisk.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket-cafe.ejs") %>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[3].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->