<div data-component="OPageContent" class="o-page-content" data-component-id="">
    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width ">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Knowledge.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">a conversation on</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">BEAUTIFUL BACKGROUNDS DESIGNED  TO GO UNNOTICED</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">
                        with Ivan Fernandez<b><br>
                        Architect and Store Concept Creative Lead</b>
                    </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Knowledge</span>
                        To attempt to make products with a longer life, we invest time in their development. It can be in the form of researching source materials to identify archetypal qualities, or creating custom yarns that will run through the collections. The same consideration is given to all our designs – from prints to garments to in-store furniture.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ‘As an architect and designer, you often want to invent something new; you want to create a small world that is completely different from what was before. It’s your job to present the reality in the nicest and most inter-esting way possible. But this is a way of thinking that promotes constant renewal, and it leads to decisions which many times are not necessary. To me, it’s really important to cool down this design fever. We don’t always have to put makeup on the world.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_10_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_09_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-75">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    ’It is really important to cool down the design fever. We don’t always have to put makeup on the world.’
                </h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width ">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Knowledge.png">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">knowledge</span>
                    <span class="heading-value">Ivan Fernandez</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="o-hero is-takeover  full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_12_WEB3.jpg)" class="takeover-background"></div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        When designing our stores, we always try to understand the features of each individual space and ask ourselves what actually needs to be done. What do we have to take away and what do we need to add to make it beautiful and functional? What characteristics does the building have that we can use and incorporate into our world? It’s about showing respect for the history of the building we’re entering, to value what’s already there, but it’s also the foundation of our sustainability approach; a philosophy based on simplicity, and doing only what’s absolutely relevant.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                Reduce, reuse, repair and recycle are known as the four principles of sustainable design. We put a lot of effort especially in the first part – to reduce – and try to apply it to everything we do. From the measure-ments of the components we are producing, to the packaging we need to transport them, to the function-ality and longevity of each design. Of course we invest in recycled and circular materials whenever possible, but it doesn’t really matter whether you use sustainable materials if you produce 15 different types of tables that are going to be replaced in a few years, or even months.
            </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-50">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_08_WEB.jpg" alt="ARKET Design">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_07_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_03_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_02_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
            <p class="a-paragraph is-richtext"></p>
            <p class="a-paragraph">We always go back to the core function of all things. To the archetype. What is a chair? Why does it look the way it does? What material best serves the design? If you combine functional, well-considered shapes with durable high-quality materials, then one type of chair is enough. It’s never going to be outdated, it’s always going to serve its purpose, and it’s going to look great for decades. We took great care to develop the store concept ahead of our launch and made a conscious choice never to use seasonal interiors that have to be thrown out after a few months, which is a common way for many other brands to signal renewal. When we do make changes, they are small refinements of the original idea.&nbsp;Our stores are not a design fair but a space for presenting our products in the best possible way. The environment must never take over. Our job is to support the collection through unseen design, with components that you will not question or even pay attention to. On the other hand, for the background to be invisible, all the simple little details need to be perfect. You can always feel when something is wrong.</p>
            <p class="a-paragraph">Environmental design has a huge power to influence your mood and perception of things. If you enter one of our stores and just feel good without knowing why, that’s a success.’</p>
            <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-community.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>
                    
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket-stores.ejs") %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[6].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->