<div data-component="OPageContent" class="o-page-content footer-about-wrap" data-component-id="">
    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width ">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Knowledge.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">a conversation on</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">눈에 띄지 않도록<br> 디자인 된 아름다운<br> 배경에 대한 대화</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">
                        이반 페르난데스<br>
                        건축가 겸 스토어 컨셉 크리에이티브 리드
                    </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Knowledge</span>
                        더 오래가는 제품을 만들기 위해, 우리는 그 발전과정에 시간을 투자합니다. 그것은 전형적인 퀄리티를 확인하기 위해 원재료를 연구하는 형태일 수도 있고, 컬렉션에서 사용할 특정한 실을 만드는 것도 될 수 있습니다. 프린트부터 의류, 매장 내 가구까지 우리의 모든 디자인에 동일한 고려 사항이 적용됩니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    건축가이자 디자이너로서 여러분은 대개 새로운 것을 발명하고 싶어합니다; 여러분은 이전과는 완전히 다른 작은 세상을 만들고 싶어합니다. 현실을 가능한 가장 멋지고 재미있는 방법으로 보여주는 것이 여러분의 일입니다. 
                    그러나 이것은 계속하여 리뉴얼을 촉진하는 사고 방식이며, 대부분의 경우 필요하지 않은 결정을 내리게 합니다. 제게는 이러한 디자인 열풍을 식히는 것이 정말 중요합니다. 우리가 항상 세상에 무언가 만들어 낼 필요는 없어요.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_10_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_09_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-75">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    ’디자인 열풍을 식히는 것은<br class="br-only-m"> 정말 중요합니다. 우리가 항상 세상에<br class="br-only-m"> 무언가 만들어 낼 필요는 없어요.’
                </h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width ">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Knowledge.png">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">knowledge</span>
                    <span class="heading-value">이반 페르난데스</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="o-hero is-takeover  full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_12_WEB3.jpg)" class="takeover-background"></div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        매장을 디자인할 때, 우리는 항상 각각의 개별 공간의 특징을 이해하려고 노력하며 실제로 무엇을 해야 하는지 스스로 묻습니다. 아름답고 기능적으로 만들기 위해 무엇을 제하고 무엇을 더해야 할까요? 이 건물은 어떤 쓸 만한 특성을 가지고 있어 우리 세계에 접목시킬 수 있을까요? 그것은 우리가 들어가는 건물의 역사에 대한 존중을 보여주고, 
                        이미 존재하는 것을 가치 있게 여기는 것입니다. 이것은 우리의 지속 가능성에 대한 접근의 기초이기도 합니다. 소박함에 기초한 철학, 그리고 절대적으로 관련된 것만을 하는 것입니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    첫 번째 파트 축소 파트에서는 많은 노력을 기울이고 있으며, 이를 모든 작업에 적용하려고 노력합니다. 현재 제작 중인 구성 요소의 측정에서부터 운반해야 하는 포장, 각 설계의 기능 및 수명에 이르기까지요. <br class="br-only-m"> 
                    물론 우리는 가능할 때마다 재활용과 순환 재료에 투자하지만. 하지만 만약 여러분이 몇 년이나 몇 달 안에 교체될 15가지 종류의 테이블을 만든다면, 지금 지속가능성한 소재를 쓰는지는 크게 상관이 없습니다.
            </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-50">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_08_WEB.jpg" alt="ARKET Design">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_07_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_03_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_02_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
            <p class="a-paragraph is-richtext"></p>
            <p class="a-paragraph">
                우리는 항상 모든 것의 핵심 기능으로 돌아갑니다. 원형으로요. 의자란 무엇일까? 왜 이러한 형태를 하고 있는 것일까? 디자인에 가장 적합한 소재는 무엇일까? 기능적이고 잘 짜여진 모양을 내구성이 뛰어난 고품질 소재와 결합하면 의자 한 종류로 충분합니다. 
                결코 시대에 뒤떨어져 보이지 않을 것이고, 사용 목적에 부합할 것이며, 수십 년 동안 멋지게 보일 것입니다. 저희는 런칭을 앞두고 매장 컨셉을 개발하기 위해 많은 노력을 기울였고, 몇 달 후에 폐기해야 하는 계절적 인테리어를 절대 사용하지 않기로 의식적인 선택을 했습니다. 
                이는 다른 많은 브랜드들이 리뉴얼을 알리는 일반적인 방법입니다. 우리가 변화를 만들 때, 그것들은 기존의 가지고 있던 생각이 작게 개선된 것입니다.<br class="br-only-m">  
                우리의 매장은 디자인 박람회가 아니라 최상의 방법으로 제품을 선보여야 하는 공간입니다. 환경이 이를 압도해서는 안 됩니다. 우리의 일이란, 이전에 선보인 적 없는 디자인을, 여러분이 질문하거나 관심 조차 기울이지 않을 요소들을 통해 컬렉션을 지원하는 것입니다. 반면에, 배경이 보이지 않기 위해서는, 모든 간단한 세부 사항들이 완벽해야 합니다. 여러분은 어떤 것이 잘못되었을 때 항상 느낄 수 있습니다. 
            </p>
            <p class="a-paragraph">환경적 디자인은 여러분의 감정과 사물에 대한 인식에 영향을 미칠 수 있는 큰 힘을 가지고 있습니다. 만약 여러분이 우리 스토어 중 한 곳에 들어가서 왜 그런지 모르게 기분이 좋아진다면, 그것이 성공입니다.’</p>
            <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-community.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>
                    
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket-stores.ejs") %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[6].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->