<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Materials.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">a conversation on</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings">
                <div class="m-headline">
                    <!-- mrk-edit : 20211025 -->
                    <!--<h2 class="a-heading-2 has-margin">“우리의 제품을<br>완성하는 작업”에<br>관한 대화</h2>-->
                    <h2 class="a-heading-2 has-margin">“우리의 제품을<br>완성하는 작업”</h2>
                    <!-- //mrk-edit : 20211025 -->
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="about-align-center">쿠와나 켄지로, <br>시니어 니트웨어 스페셜리스트</div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="headings about-align-left">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin ">
                        <span class="heading-cap">소재</span>
                        ARKET의 포부는 일상적인 디자인의 퀄리티를 높이는 것과 세심하고 아름답게 만들어진 제품을 더 많은 사람들이 접할 수 있도록 하는 것입니다. 우리의 시니어 니트웨어 스페셜리스트인 쿠와나 켄지로씨는 각 제품에 맞는 올바른 구성을 개발하는 과정에 대해 설명합니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    '저는 디테일을 좋아합니다. 저는 마치 수학자처럼, 과학적인 방법으로 디자인 과정에 접근합니다. 정답에서 시작하여 문제를 위한 바른 질문을 찾기 위해 거꾸로 일하는 것이죠. 
                    <br>저는 완성된 제품이 어떻게 보이고 어떤 느낌인지에 대한 아이디어에서 시작하여 원하는 결과를 얻기 위한 솔루션을 위한 퍼즐을 맞추어 나갑니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width spacer-desktop fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_09_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_04_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    그래서 저는 니트웨어가 참 재미있는 것 같아요. 사실 직물로 할 수 있는 일이 많지는 않습니다. 작업 공정이 항상 비슷한 부분이 많고 대부분의 공장에서 만들어지기 때문이지요. 
                    하지만 니트 제품은 뒤집힌 쪽으로부터 세심하게 디자인되어 있기 때문에, 우리가 사소한 디테일까지 컨트롤할 수 있습니다. 실의 지름에서부터 뜨개질 기계를 프로그래밍하는 방법이나, 다양한 결과물을 만들어 낼 수 있는 여러가지 조합에 이르기까지, 개발의 전 과정에 있어 많은 얼터너티브 옵션이 있습니다. 
                    <br>이러한 조합을 통해, 우리는 매 시즌마다 정제와 혁신의 기회를 갖습니다. 저희는 새로운 컬렉션이 제작될 때마다 의류의 퀄리티와과 지속 가능성을 개선하기 위해 세부 사항을 조금씩 수정하고 있습니다. 대부분의 경우, 고객으로서의 여러분은 이러한 차이를 알아차리지 못할 수도 있습니다. 
                    그러나 우리는 제품의 핏과 촉감, 성능을 완벽하게 하기 위해 많은 노력을 기울이고 있습니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width title--medium spacer wc-75">
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin about-align-center">‘저는 디테일을 좋아합니다.<br class="only-pc">
                    저는 마치 수학자처럼,<br class="only-pc"> 과학적인 방법으로<br class="only-pc"> 디자인 과정에 접근합니다.’</h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Materials.png">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">materials</span>
                    <span class="heading-value">쿠와나 켄지로</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="o-hero is-takeover full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_13_WEB3.jpg)" class="takeover-background"></div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    우리의 첫 컬렉션인 2017년 가을에, 알파카, 울, 나일론, 엘라스테인의 블렌드를 통해 지속가능한 기준으로 제작된 니트 점퍼를 선보였습니다. 니트는 정말 아름다웠지만,  드라이클리닝을 해야 했고, 저희는 그것이 최선은 아니라고 생각하였습니다. 
                    그래서 다음 해에, 우리는 어떻게 하면 기계세탁이 가능하게 만들 수 있는지를 조사하기 시작하였고 <br class="only-pc">버진 나일론을 리사이클드 폴리에스테르로 대체했습니다. 우리는 또한 기존에 사용하던 양모 대신 RWS 인증을 받은 양모를 사용할 수 있게 되었습니다. 그런 후에 우리는 보풀과 관련한 문제를 겪으며,  더 안정된 섬유를 만들기 위해 실을 돌리는 방법을 조정하기로 결정 하였습니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile spacer-desktop wc-50">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_05_WEB.jpg" alt="ARKET Design">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_02_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph">
                    우리는 지금도 여전히 그 의류를 미세하게 조정하는 작업을 진행하고 있습니다. 겉으로는 비슷해 보일 수 있으나, 내년 봄에는 리사이클드 엘라스테인으로 작업할 예정이며. 몇 년 안에 100% 지속 가능한 옵션으로 생산할 수 있게 될 것입니다. 인공 섬유는 재활용될 것이며 양모와 알파카 모두 윤리적인 방식으로 생산된 제품을 사용할 것입니다. 
                    우리는 첫번째 컬렉션을 선보일 때부터 리사이클드 캐시미어를 통한 작업으로 비슷한 자취를 걸어왔습니다. 그 당시에, 우리는 버진 캐시미어 생산에서 남은 프리컨슈머 실을 공급받아 왔습니다. 
                </p>
                <p class="a-paragraph">
                    그러나 컬러와 수량면에서 많은 제한이 있었고, 이는 곧 우리가 원해온 만큼 계속 사용할 수 없다는 것을 의미하였습니다.  
                    그리하여 우리는  2020년 가을부터, 리사이클드 프리컨슈머 캐시미어와 윤리적 기준에 적합한 양모를 통해 새로운 실의 제작을 돕는 이탈리아 공급업체와 협력하고 있습니다. 
                    그 퀄리티는 아주 환상적입니다. 매 시즌마다, 우리는 핵심 소재를 다듬어 나갑니다. 저는 우리가 성장함에 따라 점점 더 지속 가능성을 실천하는  것이 우리의 책임이라고 생각합니다. 이렇게 작은 개선들이 정말로 변화를 만들 수 있기 때문입니다.
                </p>
                <p class="a-paragraph"></p></div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <!-- mrk-edit : 20211025 -->
            <!--<h6 class="a-heading-6 cloud-title">Read more about our work on sustainable materials</h6>-->
            <h6 class="a-heading-6 cloud-title">지속 가능한 소재에 대해서 더 읽어보세요</h6>
            <ul class="tags-container">
                <li class="tag ">
                    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/sustainability-fact-sheet.html" target="_self" class="a-link">
                        <!--Sustainability Fact Sheet-->
                        지속 가능성 리포트
                    </a>
                </li>
            </ul>
            <!-- //mrk-edit : 20211025 -->
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-suppliers.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-fact2.ejs") %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[0].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->