<div data-component="OPageContent" class="o-page-content" data-component-id="">
    <div class="o-width fullWidth--mobile title--large about-icon wc-50" style="padding: 3px 0;">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_People.png" alt="Menu">
            <h2 class="a-heading-2">
                <span class="heading-cap">CONVERSATIONS ON</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide">
            <div class="headings ta-c">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">WHO WE ARE AND WHO WE WANT TO BE</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width VNAV wc-100">
        <div class="o-width about wc-50">
            <div class="o-text-field two-columns ">
                <div class="headings" style="text-align:left;">
                    <div class="m-headline">
                        <h2 class="a-heading-2  has-margin">
                            <span class="heading-cap" style="font-size: 20px;">People</span>
                            Our new interview series features conversations with members of the ARKET team, sharing their thoughts on the creative process and the responsibility we all have for what we put out into the world.
                        </h2>
                    </div>
                </div>
                <div class="text-container">
                    <p class="a-paragraph is-richtext">
                        ARKET’s design studio and head office are located on Södermalm in Stockholm, Sweden, and in total we are more than 200 people working for the brand around the world: designers, chefs, architects, buyers, pattern makers, production teams, mid-level managers, mothers, fathers, readers, runners, artists and hobby gardeners. <span>Our shared mission is to democratise quality and make sustainable design accessible to more people. With a circular approach and high level of transparency into our processes, we also want to drive forward positive change in the fashion and design industry.&nbsp;These eight stories represent an example of who we are and who we want to be, what we wish for, how we think, and what inspires our work.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width VNAV wc-100">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    Select a topic below
                </h2>
            </div>
        </div>
        
        <div class="o-image-listing cols-3" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/materials.html" target="_blank" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_10_WEB.jpg" alt="Kenjiro Kuwana">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Materials</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_susanna_04_WEB.jpg" alt="Susanna Cognigni">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Suppliers</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/design.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_elisabeth_06_WEB.jpg" alt="Elisabet Holmström">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Design</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/food.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q3_cafe_bts_jessica_f.jpg" alt="Jessica Leroux">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Food</div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width VNAV wc-100">
        <div class="o-image-listing cols-3">
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/balance.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_08_WEB.jpg" alt="Caroline Igel">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Balance</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/knowledge.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ivan_03_WEB.jpg" alt="Ivan Fernandez">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Knowledge</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/community.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_07_WEB.jpg">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Community</div>
                </div>
            </div>
            <div class="image-container">
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/environment.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_sofia_10_WEB.jpg">
                    <span class="promoIndex" hidden="">18</span>
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Environment</div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50"></div>
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="/images/about/ARKET_9_GRID_Community.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">ARKET PEOPLE</span>
                <span class="heading-value"></span>
            </h2>
        </div>
    </div>
    <div class="o-width about-chooser wc-75">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                <b>130384-2658</b>
            </p>
            </div>
        </div>
    </div>

    <div class="o-width about wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-layout">
                <div class="layout-row-1">
                </div>
                    <div class="layout-5">
                        <div class="layout-row-2">
                            <div class="image-slideshow parbase section">
                                <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
                                    <div class="image-container">
                                        <div class="trackImage col-item">
                                            <img class="a-image" src="<%= pageInfo.root %>/images/about/WEB_20Q3_LA_1_f.jpg" alt="Linnéa Andersson">
                                            <div class="caption">
                                                <span>Linnéa Andersson</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-container">
                                        <div class="trackImage col-item">
                                            <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_ARKET_20Q2_Baby_B_9.jpg" alt="Oumie Jammeh &amp; baby">
                                            <div class="caption">
                                                <span>Oumie Jammeh &amp; daughter</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-container">
                                        <div class="trackImage col-item">
                                            <img class="a-image" src="<%= pageInfo.root %>/images/about/CAMP_ARKET_20Q3_KG_1.jpg" alt="KG Nilson">
                                            <div class="caption">
                                                <span>KG Nilson</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-container">
                                        <div class="trackImage col-item">
                                            <img class="a-image" src="<%= pageInfo.root %>/images/about/CAMP_19S9B2_M_24.jpg" alt="Apartamento Magazine">
                                            <div class="caption">
                                                <span>Apartamento Magazine</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-row-3">
                            <div class="textcomponent parbase section"><div class="o-text-field is-wide ">
                                <div class="headings" style="text-align:left;">
                                    <div class="m-headline">
                                        <h2 class="a-heading-2  has-margin">
                                            ARKET people is a broad community of family, friends and individuals who inspire us through their creativity and spirited expressions.
                                        </h2>
                                    </div>
                                </div>
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext">
                                        Our collections regularly include collaborations and creative partnerships with artists, cultural outlets and heritage brands who share our commitment to craftsmanship and sustainable design.<br>
                                        <br>
                                        Since our launch in 2017, we have been working with names such as Linnéa Andersson and KG Nilson, Martin Fengel and Apartmento Magazine, Zuzana Spustova, Carina Seth Andersson, Tricker’s, Morjas, Diemme, Klippan, Liberty London, Stockholm Brewery, coffee roasters Johan &amp; Nyström, the International Perfume Museum of Grasse, as well the archives of Swedish architect Carl Malmsten and French silk producer Francois Ducharne.&nbsp;<br>
                                        <br>
                                        Tag posts with #arket to be featured in our ARKET People stories on @arketofficial
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tagCloud parbase section">
                            <div class="o-tag-cloud">
                                <h6 class="a-heading-6 cloud-title">Join our community</h6>
                                <ul class="tags-container">
                                    <li class="tag ">
                                        <a href="#" target="_self" class="a-link">ARKET Instagram</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-50"></div>

    <div class="o-width about-grid wc-50">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-hover has-margin">
                    <span class="heading-cap">explore</span>
                    <a href="#" target="_self" class="a-link heading-tag">ARKET</a>
                </h2>
            </div>
        </div>
        <div class="o-image-listing cols-3" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <a href="#" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Materials.png" alt="Materials">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Materials</div>
                </div>
            </div>
            <div class="image-container">
                <a href="#" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png" alt="Suppliers">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Suppliers</div>
                </div>
            </div>
            <div class="image-container">
                <a href="#" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Design.png" alt="Design">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Design</div>
                </div>
            </div>
            <div class="image-container">
                <a href="#" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png" alt="Food">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Food</div>
                </div>
            </div>
            <div class="image-container">
                <a href="#Current" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_People.png" alt="People">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">People</div>
                </div>
            </div>
            <div class="image-container">
                <a href="#" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Balance.png" alt="Balance">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Balance</div>
                </div>
            </div>
            <div class="image-container">
                <a href="/en/about/knowledge.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Knowledge.png" alt="Knowledge">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Knowledge</div>
                </div>
            </div>
            <div class="image-container">
                <a href="/en/about/community.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Community.png" alt="Community">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Community</div>
                </div>
            </div>
            <div class="image-container">
                <a href="/en/about/environment.html" target="_self" class="trackImage a-link">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png" alt="Environment">
                </a>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">Environment</div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-25">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: left;font-size: 14.0px;">
                    The grid is an essential element of our visual identity. It represents the notion of the archive and is used to organise and display information ranging from the names of plants to fabric weights and different types of materials used in our collections. These nine squares symbolise the separate parts that together form our world, and they are also the areas where we strive to make a difference.
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 ">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <div class="free-tile focus-panel"> <!--added style-->
                        <a href="#" target="_self" class="a-link">
                            <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;https://www.arket.com/images/about/campaigns/2020/about/ARKET_20Q4_about_marielouise_07_WEB.jpg&quot;);">
                                <picture data-component="APicture" class="a-picture" data-background="m-free-tile" data-component-id="90d251f0-e515-4a48-83a3-b3af04c02698">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_marielouise_07_WEB.jpg" alt="Next story">
                                </picture>
                                <div class="text-content">
                                    <h2 class="a-heading-2">Community</h2>
                                    <p class="a-paragraph q-gamma"></p>
                                </div>
                                <div class="promotion-data p11-freetile" hidden="">
                                    <span class="promo_id">about-nextstory</span>
                                    <span class="promo_name">about-nextstory</span>
                                    <span class="promo_creative">about-nextstory</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="free-tile focus-panel"> <!--added style-->
                        <a href="#" target="_self" class="a-link">
                            <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;https://www.arket.com/images/about/campaigns/2020/about/arketgrid_vnav.gif&quot;);">
                                <picture data-component="APicture" class="a-picture" data-background="m-free-tile" data-component-id="0136380e-7ef1-4627-92bc-d49f7e4eaf2f">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/about/arketgrid_vnav.gif" alt="About ARKET">
                                </picture>
                                <div class="text-content">
                                    <h2 class="a-heading-2  ">About ARKET</h2>
                                    <p class="a-paragraph q-gamma"></p>
                                </div>
                                <div class="promotion-data p11-freetile" hidden="">
                                    <span class="promo_id">about-arket</span>
                                    <span class="promo_name">about-arket</span>
                                    <span class="promo_creative">about-arket</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="free-tile focus-panel"> <!--added style-->
                        <a href="#" target="_self" class="a-link">
                            <div class="m-free-tile q-color-black-100 is-promo" style="background-image: url(&quot;https://www.arket.com/images/about/brand_vnav/suppliers/VNAV_Suppliers_8.jpg&quot;);">
                                <picture data-component="APicture" class="a-picture" data-background="m-free-tile" data-component-id="28537435-c80f-4f05-8265-bf748506476f">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Suppliers_8.jpg" alt="Sustainability Fact Sheet">
                                </picture>
                                <div class="text-content">
                                    <h2 class="a-heading-2  ">Sustainability Fact Sheet</h2>
                                    <p class="a-paragraph q-gamma"></p>
                                </div>
                                <div class="promotion-data p11-freetile" hidden="">
                                    <span class="promo_id">start-recycle</span>
                                    <span class="promo_name">start-recycle</span>
                                    <span class="promo_creative">start-recycle</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="promotion-data p11-focus-panel" hidden="">
                    <span class="promo_id">tagcloud-about</span>
                    <span class="promo_name">tagcloud-about</span>
                    <span class="promo_creative">tagcloud-about</span>
                </div>
            </div>
        </div>
    </div>

















</div><!--  end -->