<div data-component="OPageContent" class="o-page-content footer-about-wrap">
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_People.png" alt="Menu">
            <h2 class="a-heading-2">
                <span class="heading-cap">CONVERSATIONS ON</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide">
            <div class="headings big-tit-txt">
                <div class="m-headline">
                    <!-- mrk-edit : 20211025 -->
                    <!--<h2 class="a-heading-2 has-margin">우리는 누구이며<br>어떤 사람이 되고 싶은지에 관한 대화들</h2>-->
                    <h2 class="a-heading-2 has-margin">우리는 누구이며<br>어떤 사람이 되고 싶은지에 대한 고찰</h2>
                    <!-- //mrk-edit : 20211025 -->
                </div>
            </div>
        </div>
    </div>

    <div class="o-width VNAV wc-100">
        <div class="o-width about wc-50">
            <div class="o-text-field two-columns ">
                <div class="headings about-align-left">
                    <div class="m-headline">
                        <h2 class="a-heading-2  has-margin">
                            <span class="heading-cap">People</span>
                            우리의 새로운 인터뷰 시리즈는 ARKET의 팀의 다양한 사람들과의 대화를  통해, 크리에이티브한 과정, 그리고 우리가 세상에 선보이는 것에 대한 책임감에 관한 그들의 생각을 나눕니다.
                        </h2>
                    </div>
                </div>
                <div class="text-container">
                    <p class="a-paragraph is-richtext">
                        ARKET의 디자인 스튜디오와 본사는 스웨덴 스톡홀름의 소더말름에 위치하고 있으며, 디자이너, 요리사, 건축가, 바이어, 패턴 메이커, 생산팀, 중간 관리자, 엄마, 아빠, 독서가, 러너, 예술가, 정원가꾸기를 사랑하는 사람 등 전 세계에서 모인 200여 명이 함께 일하고 있습니다. 우리가 지향하는 미션은 퀄리티를 대중화하며,  더 많은 사람들이 지속가능한 디자인을 이용할 수 있도록 하는 것입니다. <br class="only-pc">
                        우리의 프로세스에 대한 순환적 접근과 높은 수준의 투명성을 통하여. 패션 및 디자인 산업의 긍정적인 변화도 추진하고자 합니다. 다음의 8가지 이야기에서, 지금의 우리와 앞으로의 우리가 누구인지, 우리가 바라는 것은 무엇이며, 어떠한 방식으로 생각하고, 무엇이 우리의 일에 영감을 주는지 보여주려고 합니다.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- mrk-edit : 20211025 -->
    <div class="o-width VNAV wc-100">
        <div class="headings about-align-center">
            <div class="m-headline">
                <!-- mrk-edit : 20211025 -->
                <h2 class="a-heading-2  has-margin">
                    <!--Select a topic below-->
                    주제를 선택하세요
                </h2>
                <!-- //mrk-edit : 20211025 -->
            </div>
        </div>
        <%# md-about-o-image-list-tiles %>
        <%- include ("../../../common/md-about-o-image-list-tiles-1.ejs") %>
    </div>
    <div class="o-width VNAV wc-100">
        <%# md-about-o-image-list-tiles %>
        <%- include ("../../../common/md-about-o-image-list-tiles-2.ejs") %>
    </div>
    <!-- //mrk-edit : 20211025 -->

    <div class="o-width about wc-50"></div>
    <div class="o-width fullWidth--mobile title--large about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Community.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">ARKET PEOPLE</span>
                <span class="heading-value"></span>
            </h2>
        </div>
    </div>
    <div class="o-width about-chooser wc-75">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                <b>130384-2658</b>
            </p>
            </div>
        </div>
    </div>

    <div class="o-width about wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                    <div class="layout-5">
                        <div class="layout-row-2">
                            <div class="image-slideshow parbase section">
                                <div class="o-image-listing cols-2">
                                    <div class="image-container">
                                        <div class="trackImage col-item">
                                            <img class="a-image" src="<%= pageInfo.root %>/images/about/WEB_20Q3_LA_1_f.jpg" alt="Linnéa Andersson">
                                            <div class="caption">
                                                <span>Linnéa Andersson</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-container">
                                        <div class="trackImage col-item">
                                            <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_ARKET_20Q2_Baby_B_9.jpg" alt="Oumie Jammeh &amp; baby">
                                            <div class="caption">
                                                <span>Oumie Jammeh &amp; daughter</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-container">
                                        <div class="trackImage col-item">
                                            <img class="a-image" src="<%= pageInfo.root %>/images/about/CAMP_ARKET_20Q3_KG_1.jpg" alt="KG Nilson">
                                            <div class="caption">
                                                <span>KG Nilson</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-container">
                                        <div class="trackImage col-item">
                                            <img class="a-image" src="<%= pageInfo.root %>/images/about/CAMP_19S9B2_M_24.jpg" alt="Apartamento Magazine">
                                            <div class="caption">
                                                <span>Apartamento Magazine</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-row-3">
                            <div class="textcomponent parbase section">
                                <div class="o-text-field is-wide">
                                    <div class="headings">
                                        <div class="m-headline">
                                            <h2 class="a-heading-2 has-margin">
                                                ARKET People은 크리에이티브함과 활발한 표현을 통해 우리에게 영감을 주는 가족, 친구, 개인의 폭넓은 커뮤니티입니다.
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="text-container">
                                        <p class="a-paragraph is-richtext">
                                            우리의 컬렉션에는 장인정신과 지속 가능한 디자인에 대한 우리의 약속을 공유하는 예술가, 문화적 아울렛 및 유서깊은 브랜드와의 협업 및 파트너십이 정기적으로  포함되어 있습니다.<br>
                                            <br>
                                            2017년에 런칭한 이후, 우리는 Linnéa Andersson과 KG Nilson, Martin Fengel, Apartmento Magazine, Zuzana Spustova, Carina Seth Andersson, Tricker’s, Morjas, Diemme, Klippan, Liberty London, Stockholm Brewery, coffee roasters Johan & Nyström, the International Perfume Museum of Grasse뿐 아니라 스웨덴 건축가 Carl Malmsten의 아카이브와 프랑스 실크 제작자인 Francois Ducharne와 함께 일해오고 있습니다.<br>
                                            <br>
                                            해쉬태그 #arket 으로 포스팅하고 @arketofficial에서 ARKET People 이야기와 함께해보세요. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tagCloud parbase section">
                                <div class="o-tag-cloud">
                                    <!-- mrk-edit : 20211025 -->
                                    <h6 class="a-heading-6 cloud-title"><!--Join our community-->우리의 소식을 구독하세요</h6>
                                    <ul class="tags-container">
                                        <li class="tag ">
                                            <a href="http://www.instagram.com/arketofficial" target="_self" class="a-link"><!--ARKET Instagram-->ARKET 인스타그램</a>
                                        </li>
                                    </ul>
                                    <!-- //mrk-edit : 20211025 -->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-50"></div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>
    
    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100 fullWidth--bgColor">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 ">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-community.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-fact2.ejs") %>
                </div>
            </div>
        </div>
    </div>
</div><!--  end -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.about-grid .o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[4].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->