<div data-component="OPageContent" class="o-page-content">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">a conversation on</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">CO-CREATING THE COLLECTION WITH OUR FRIENDS</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;">Susanna Cognigni<b><br>Senior Designer, SHOES AND LEATHER GOODS<br></b></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin"><span class="heading-cap">Suppliers</span>Each
                        of our products is created in dialogue between our teams in Stockholm and skilled partners
                        around the world – a network of farmers, weaving mills, yarn specialists, knitting factories and
                        garment makers who we grow closer to with each new collaboration.</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">‘I grew up around shoemakers. Both of my
                    parents worked in the shoemaking business, as did my grandmother and most of my relatives. In the
                    summers I would help my father in his workshop, cutting leather and chalk lines where the stitches
                    would go. Now I have been working in this business for 20 years myself.</p></div>
        </div>
    </div>
    <div class="o-width spacer-desktop fullWidth--mobile wc-75">
        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_susanna_12_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_susanna_10_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-75">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">‘We have a really tight relationship. I talk to them every day. It is a very collaborative process.’</h2>
            </div>
        </div>
        <div class="o-width about-quote wc-100">
            <div class="m-headline with-icon u-align-center is-main-headline full-width">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
                <h2 class="a-heading-2">
                    <span class="heading-cap">suppliers</span>
                    <span class="heading-value">Susanna Cognigni</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="o-hero is-takeover full-width hero-takeover single-image" data-component="OHero">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block disable-bg"></div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/about/ARKET_20Q4_about_susanna_01_WEB3.jpg)" class="takeover-background"></div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">Since ARKET’s first collection, we have been
                    developing our shoes together with suppliers in Italy, Portugal and Spain. The majority of our
                    production is done by a company called Effemme in the Italian region of Le Marche. It is an area
                    known for manufacturing high-quality women’s shoes, and also where I grew up. We have a really tight
                    relationship – I talk to them every day – and we have been growing and developing together over the
                    years. It is a very collaborative process; they really understand our needs and the vision we have
                    for the products.&nbsp;We usually go to visit them a few times each year to develop our new designs
                    on site. It’s so much easier to try out ideas and modify all the small technical details when we’re
                    there, in their environment, as all suppliers of the shoe components are gathered in the same area.
                    Last makers, leather tanneries, heel makers, sole makers, trim suppliers and so on. It also helps to
                    reduce the number of samples we need to produce and send back and forth between Italy and our design
                    studio in Stockholm, which limits unnecessary waste.&nbsp;<span>The input and help we get from our supplier is invaluable. But we have also been able to influence how they are working, by requiring that all of the leathers we buy need to be chrome-free tanned. ARKET is still quite a small brand, with products in limited quantities. But we are growing, and we’re focusing on timeless designs with a consistent palette of materials and colours year after year. This means that our supplier can trust that their investments in more sustainable practices will pay off. We’re not suddenly moving away from them to make something completely different with someone else.</span>
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile wc-25">
        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_susanna_08_WEB.jpg" alt="ARKET Suppliers">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph">When we are challenging the supplier to deliver more sustainable products, it
                    also has effects on a wider scale. The materials they’re sourcing for us can be used by other
                    clients as well, and together we are creating a growing interest in chrome-free tanned leather
                    throughout the industry.</p>
                <p class="a-paragraph"><span style="">I feel we are very much on one and the same team – us, our supplier and their sub-suppliers. Everyone is working together to make an even better and more sustainable product, which is possible only if there’s trust and loyalty in the relationships.’</span><br>
                </p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud"><h6 class="a-heading-6 cloud-title">Read more about a chosen few of our suppliers</h6>
            <ul class="tags-container"><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/Artifex.html" target="_self" class="a-link">Artifex</a>
                    <!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/econyl.html" target="_self"
                                            class="a-link">Aquafil</a><!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/bottinelli.html" target="_self" class="a-link">Botinelli</a>
                    <!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/Foshan.html" target="_self"
                                            class="a-link">Foshan</a><!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/flamingo.html" target="_self" class="a-link">Flamingo
                        Fashion</a><!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/fuijan-wanjiamei.html" target="_self"
                                            class="a-link">Fujian Wanjiamei</a><!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/limonta.html" target="_self" class="a-link">Limonta</a>
                    <!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/marconi.html" target="_self" class="a-link">Marconi</a>
                    <!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/Marzotto.html" target="_self" class="a-link">Marzotto</a>
                    <!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/pimkie.html" target="_self"
                                            class="a-link">Pimkie</a><!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/suppliers/redown.html" target="_self"
                                            class="a-link">Re:Down</a><!-- --></li><!-- --></ul>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">or download a full list of our current suppliers</h6>
            <ul class="tags-container"><!-- -->
                <li class="tag "><!-- --><a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/sustainability-fact-sheet.html" target="_self" class="a-link">Sustainability Fact Sheet</a><!-- --></li><!--
            --></ul>
        </div>
    </div>

    <%# md-about-o-image-list-explore-arket-wrap %>
    <%- include ("../../../common/md-about-o-image-list-explore-arket-wrap.ejs") %>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 "><span class="heading-value">You may also be interested in</span></h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-nextstory.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-fact2.ejs") %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //explore Arket 활성화
        let tempImageContainer = document.querySelectorAll('.o-image-listing.cols-3 .image-container');
        let tempExploreArket = tempImageContainer[1].querySelector('a')
        tempExploreArket.setAttribute('href','#Current'); //활성화
    })();
</script>
<!-- //tip -->