<div data-component="OPageContent" class="o-page-content" data-component-id="">
    <div class="o-width relative hero hero--mobile-2images hero--mobile-text wc-100">
        <div class="o-hero is-takeover  full-width hero-takeover double-image" style="background-color:#878787;" data-component="OHero">
            <div class="takeover-wrapper">
                <div class="textblock-container">
                    <div class="o-text-block disable-bg"></div>
                </div>
            </div>
            <div class="image-wrapper">
                <div style="background-image:url(<%= pageInfo.root %>/images/about/huilong_08_a.jpg)" class="takeover-background"></div>
                <div style="background-image: url(<%= pageInfo.root %>/images/about/huilong_06_a.jpg); float:right" class="takeover-background"></div>
            </div>
        </div>
        <div class="multipleTags title--medium invert hero--dark-shadow wc-100">
            <div class="o-width wc-50">
                <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
                    <div class="image-container">
                        <div class="trackImage col-item">
                            <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_sustainability_fact_sheet_symbol--white.png" alt="ARKET SUSTAINABILITY FACT SHEET">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width spacer wc-50">
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ARKET was founded with the mission to simplify good choices and influence positive change in our industry. Our design philosophy is based on the Nordic tradition of simplicity and function. We aim to create well-made and beautiful everyday things that our customers will be able to use and love for a long time. By presenting a broad collection of well-considered fashion, food, scents, beauty and home items under one roof, we want to inspire people to live a more sustainable lifestyle.&nbsp;&nbsp; &nbsp;
                </p>
            </div>
        </div>
    </div>
    <div class="o-width wc-100">
        <div class="o-chooser with-image" data-component="OChooser" data-type="with-image">
            <div class="item-container"></div>
        </div>
    </div>
    <div class="o-width spacer wc-75"></div>
    <div class="o-width about-chooser wc-75">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    <b><u>Materials</u>&nbsp;  |&nbsp; Suppliers&nbsp;  |&nbsp;  Longevity</b>  
                </p>
            </div>
        </div>
    </div>
    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout" data-chooser="Materials" data-chooser-title="Materials" data-chooser-image="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Materials.png" data-chooser-image-alt="Materials" id="materials">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>
    <div class="headings" style="text-align:center;">
        <div class="m-headline">
            <h2 class="a-heading-2  has-margin">
                <span class="heading-code">01 </span>
            </h2>
        </div>
    </div>
    <div class="title--small o-width wc-75">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">facts</span>
                    Materials
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
        <div class="headings" style="text-align:left;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    About 70 percent of a garment’s environmental footprint comes from the production phase – from the fibre and raw material production and from spinning, dyeing, weaving, knitting and sewing – before it reaches the customer. 
                    The remaining part is a combination of transport, retail, laundry and the process of taking care of the product at the end of its use. Designing for a longer life and advancing the use of responsible and ethically produced materials are some of the main priorities in reducing our environmental footprint, 
                    and the areas where we can make the greatest difference.
                </h2>
            </div>
        </div>
        <div class="text-container">
            <p class="a-paragraph is-richtext">
                During 2020, a total of 76 percent of our ready-to-wear, accessories and homeware textiles were made using sustainably sourced materials. 
                This year we also reached our goal of working exclusively with&nbsp;preferred&nbsp;cotton, which means either organic&nbsp;or recycled&nbsp;cotton or cotton sourced through the Better Cotton Initiative&nbsp;<b>(BCI)</b>.&nbsp;ARKET has committed to using 100 percent sustainably sourced materials by 2030 and becoming fully climate-positive by 2040.
                &nbsp;To be climate-positive means that our whole value chain will help create an environmental benefit – by reducing and removing more greenhouse gas emissions from the atmosphere than what we emit – even as we grow and expand our business.<br>&nbsp;
            </p>
        </div>
        </div>
    </div>
    <div class="o-width mobile-image-70 wc-25">
        <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/facts_sustainablysourced.png" alt="ARKET currently sources 76% sustainable materials. Including 11% recycled materials.">
                </div>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">The figures display the total share of materials used in our 2020 collections&nbsp;(DEC 2019 – NOV 2020).</div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-50"></div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-layout">
        <div class="layout-row-1"></div>
        <div class="layout-5">
            <div class="layout-row-2">
                <div class="image-slideshow parbase section">
                    <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
                        <div class="image-container">
                            <div class="trackImage col-item">
                                <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Suppliers_12.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-row-3">
                <div class="textcomponent parbase section">
                    <div class="o-text-field is-wide is-large">
                        <div class="headings" style="text-align:center;">
                            <div class="m-headline">
                                <h2 class="a-heading-2  has-margin">
                                    Sustainably sourced
                                </h2>
                            </div>
                        </div>
                        <div class="text-container">
                            <p class="a-paragraph is-richtext">
                                Sustainably sourced materials are those that naturally have a lighter imprint on the environment, such as linen, or materials that are consciously produced in a more ethical or responsible manner. This definition is based on an assessment of the material’s full lifecycle.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="textcomponent parbase section">
                    <div class="o-text-field is-wide ">
                        <div class="text-container">
                            <p class="a-paragraph is-richtext">
                                The majority of&nbsp;our sustainably sourced materials are certified and verified by third-party standards: Organic Content Standard (OCS) and Global Organic Textile Standard (GOTS) for organic materials, Recycled Claim Standard (RCS)&nbsp;and Global Recycled Standard (GRS) for recycled materials&nbsp;and the Responsible Wool Standard (RWS) for wools.<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="textcomponent parbase section">
                    <div class="o-text-field two-columns is-large">
                        <div class="headings" style="text-align:center;">
                            <div class="m-headline">
                                <h2 class="a-heading-2  has-margin">
                                    Our favourite sustainably sourced materials currently include: 
                                </h2>
                            </div>
                        </div>
                        <div class="text-container">
                            <p class="a-paragraph is-richtext"></p>
                            <ul>
                                <li style="text-align: left;"><b><a href="#none" class="a-link">Organic cotton&nbsp;</a></b></li>
                                <li style="text-align: left;"><b>Cotton sourced through BCI</b></li>
                                <li style="text-align: left;"><b>Recycled cotton&nbsp;</b></li>
                                <li style="text-align: left;"><b>Linen&nbsp;</b></li>
                                <li style="text-align: left;"><b><span>Recycled nylon <br>
                                (including ECONYL® regenerated yarn)</span><br>
                                </b></li>
                                <li style="text-align: left;"><b>Recycled polyester&nbsp;</b></li>
                                <li style="text-align: left;"><b><span>TENCEL™&nbsp;lyocell</span></b></li>
                                <li style="text-align: left;"><b>Cupro&nbsp;<br>
                                </b></li>
                                <li style="text-align: left;"><b><span>RWS-certified wool</span><br>
                                </b></li>
                                <li style="text-align: left;"><b>Recycled wool&nbsp;</b></li>
                                <li style="text-align: left;"><b>Recycled cashmere&nbsp;</b></li>
                                <li style="text-align: left;"><b><span>Recycled down (Upcycled Down™)</span><br></b></li>
                                <li style="text-align: left;"><b><span>FSC-certified paper and cardboard</span></b><br></li>
                            </ul>
                            <p class="a-paragraph"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="o-width wc-75"></div>
    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75"></div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        Materials we do not use
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    There is also a list of&nbsp;materials&nbsp;and practices&nbsp;that we have committed to never use due to their unacceptable risks regarding hazardous chemicals, the health and safety of workers, animal welfare and biodiversity loss. These include&nbsp;for example:&nbsp;
                </p>
            </div>
        </div>
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <ul>
                    <li><b>Angora</b></li>
                    <li><b>Animal-tested cosmetics</b></li>
                    <li><b>Exotic skins</b></li>
                    <li><b>Fluorocarbons</b></li>
                    <li><b>Fur</b></li>
                    <li><b>Mohair**</b></li>
                    <li><b>Leathers from Brazil and Bangladesh</b></li>
                    <li><b>Products derived from endangered forests</b></li>
                    <li><b>PVC (polyvinyl chloride)</b></li>
                    <li><b>Wool from mulesed sheep</b></li>
                </ul>
                <p class="a-paragraph"></p>
            </div>
        </div>
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    <sub>** From A/W 2021, we are aiming to buy certified Responsible Mohair (RMS)&nbsp;</sub></p><p class="a-paragraph"><sub>&nbsp;</sub>
                </p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-75"></div>
    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">
                    <div class="layout-row-2">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
                                <div class="image-container">
                                    <div class="trackImage col-item">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_12_WEB.jpg" alt="ARKET Shopping bag made of FSC-certified paper">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-row-3">
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide ">
                                <div class="headings" style="text-align:center;">
                                    <div class="m-headline">
                                        <h2 class="a-heading-2  has-margin">
                                            Circular packaging
                                        </h2>
                                    </div>
                                </div>
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext">
                                        In addition to the&nbsp;broad&nbsp;palette of materials used in our collections, we continuously work to improve and develop new solutions for our packaging and labelling. These are sometimes small and invisible changes&nbsp;but&nbsp;with the potential of&nbsp;making&nbsp;a big difference.&nbsp;
                                        <span>We aim to implement a circular approach to all our non-commercial goods. This means&nbsp;using less&nbsp;material, choosing recycled alternatives whenever possible and avoiding the use of plastic when not&nbsp;necessary.&nbsp;All packaging should be reusable and recyclable.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext"></p>
                                    <div style="text-align: left;"><b>we have committed to reaching the following goals: <br> <br></b></div>
                                    <div style="text-align: left;"><b>By 2025</b></div>
                                    <div style="text-align: center;"><b>&nbsp;</b></div>
                                    <ul>
                                        <li><span>To use 100% reusable, recyclable and/or compostable packaging</span><br></li>
                                        <li><span>To recycle or compost 100% of the packaging waste generated within our production</span><br></li>
                                        <li><span>&nbsp;To eliminate all unnecessary plastic packaging</span></li>
                                        <li><span>To move from single-use products towards reuse models where relevant</span></li>
                                    </ul>
                                        <div style="text-align: left;"><b>&nbsp;</b></div>
                                        <div style="text-align: left;"><b>By 2030</b></div>
                                        <div style="text-align: center;"><b>&nbsp;</b></div>
                                    <ul>
                                        <li>To be 100% circular in our use of non-commercial goods</li>
                                    </ul>
                                    <div><b>&nbsp;</b></div>
                                    <p class="a-paragraph"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-75"></div>
    <div class="o-width wc-50">
        <div class="headings" style="text-align:left;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    This is an ongoing work and we still have a lot to do. However, we have taken several steps towards these goals: 
                </h2>
            </div>
        </div>
    </div>

    <div class="o-width layout--no-lines title--small wc-75">
        <div class="o-layout">
            <div class="layout-row-1"></div>
            <div class=" layout-2">
                <div class="layout-row-2">
                    <div class="layout parbase section">
                        <div class="o-layout">
                            <div class="layout-row-1"></div>
                            <div class=" layout-2">
                                <div class="layout-row-2">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">01</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    For our in-store shopping bags, we have combined a reusable design with FSC-certified paper. We are now working on converting this material to recycled paper.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layout-row-3">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">02</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    We actively avoid using plastic whenever possible and instead use paper or cardboard, either FSC-certified or recycled. One such an example is the decision to use paper&nbsp;banderoles&nbsp;instead of plastic hooks on our children’s underwear.&nbsp;<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-row-4"></div>
                        </div>
                    </div>
                </div>
                <div class="layout-row-3">
                    <div class="layout parbase section">
                        <div class="o-layout">
                            <div class="layout-row-1"></div>
                            <div class=" layout-2">
                                <div class="layout-row-2">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">03</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    When we do need to use a plastic material, we always look for a recycled option. Our Bath &amp; Body bottles are made from 100 percent recycled polyester derived from post-consumer PET and the tube for our lip balm is made from 50 percent recycled plastic.&nbsp;
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layout-row-3">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">04</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    We have already converted all of our care labels to 100 percent recycled polyester. These represent half of all our textile labels – now we need to do the same thing for the other half. <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-row-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-row-4"></div>
        </div>
        <div class="o-layout">
            <div class="layout-row-1"></div>
            <div class=" layout-2">
                <div class="layout-row-2">
                    <div class="layout parbase section">
                        <div class="o-layout">
                            <div class="layout-row-1"></div>
                            <div class=" layout-2">
                                <div class="layout-row-2">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">05</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    We removed the foiled logo on our shopping bags and printed it instead. 
                                                    This means great savings in foiled paper without much change on the 
                                                    design. It's an example of a small detail with a big impact.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layout-row-3">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">06</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    We are continuously working on improving our take-away packaging for 
                                                    ARKET café. Cardboard is preferred over plastic in most cases, even for 
                                                    the coffee cup lids, and to reduce the use of single-use coffee cups we 
                                                    offer a 10% discount on all coffee when customers bring their own mug.&nbsp;
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-row-4"></div>
                        </div>
                    </div>
                </div>
                <div class="layout-row-3">
                    <div class="layout parbase section"></div>
                    <div class="o-layout">
                        <div class="layout-row-1"></div>
                        <div style=";" class=" layout-2">
                            <div class="layout-row-2">
                                <div class="textcomponent parbase section">
                                    <div class="o-text-field is-wide ">
                                        <div class="headings" style="text-align:center;">
                                            <div class="m-headline">
                                                <h2 class="a-heading-2  has-margin">
                                                    <span class="heading-code">07</span>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="text-container">
                                            <p class="a-paragraph is-richtext">
                                                To facilitate a circular loop of materials, we offer a take-back system in our stores for all our product packaging.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-row-3"></div>
                        </div>
                        <div class="layout-row-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-row-4"></div>
        </div>
    </div>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width about-chooser wc-75">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    b>Materials&nbsp; |&nbsp; <u>Suppliers</u>&nbsp; |&nbsp; Longevity </b>
                </p>
            </div>
        </div>
    </div>

    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout" data-chooser="Suppliers" data-chooser-title="Suppliers" data-chooser-image="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png" data-chooser-image-alt="Suppliers" id="suppliers">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-50">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;"><b>02<br></b></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">facts</span>
                    Suppliers
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        Throughout the production chain, we build on a foundation of strong and trusting relationships with skilled suppliers across the world. Since our launch in 2017, our collections have been designed in collaboration with modern garments manufacturers in China, Turkey and Bangladesh, with organic cotton growers in India, responsible wool farms in Uruguay, producers of circular materials in Slovenia and Hungary, as well as traditional weaving mills in Sweden, Italy, England and Japan.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    This&nbsp;combination of big and small partners – local and global, modern and traditional – is an important influence&nbsp;on&nbsp;the way we design our collections. It also gives us the opportunity to innovate and pilot new ideas in a limited format before launching them on a wider scale; from circular material projects to design collaborations and partnerships with local food suppliers to our cafés.&nbsp;<span style="">Investing in and engaging with our network of suppliers is one of our most crucial responsibilities as a modern retail brand – using our size and impact to help support smaller change-makers across the world. Our goal of reaching climate-positivity (net negative greenhouse emissions) in 2040 depends entirely on the work we&nbsp;do today to develop new and cleaner methods for spinning, weaving, dyeing, sewing, and all the other stages of the production process.</span>
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        Number of suppliers per country/region
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width mobile-image-70 wc-25">
        <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/facts_amountofsupplierspercountryweb3.png" alt="Number of suppliers per market: China - 24, Turkey - 27, Bangladesh 25, Hong Kong - 17, Portugal - 14, India - 8, Italy - 8, Sweden 7. For a full list of suppliers check the link below">
                </div>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">
                        <p>For our 2020 collections, we have been working with a total of 170 suppliers in 24 different countries or regions. Besides the ones displayed above, our products are made in collaboration with partners in Korea, France, Thailand, Taiwan, Bulgaria, Germany, Cyprus, Czech Republic, Indonesia, Myanmar, Pakistan, Spain, Sri Lanka, Poland and Hungary. 11% of our suppliers are based in one of these countries/regions.</p>
                        <p>The above numbers are based on the official registered location of our suppliers. This is sometimes different from the location of their production facility.<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">DOWNLOAD</h6>
            <ul class="tags-container">
                <li class="tag ">
                    <a href="https://www.arket.com/content/dam/P11/docs/arket_suppliers_2020.pdf" target="_self" class="a-link">ARKET Supplier list<span class="promoIndex" hidden="">5</span></a>
                </li>
            </ul>    
        </div>
    </div>
    <div class="o-width fullWidth--mobile spacer wc-50">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_abraham_moon_9.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Suppliers_6.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        Much of the textile and apparel manufacturing industry is in countries where labour laws and labour market institutions are still developing and do not conform to international standards. This presents the challenge of consistently ensuring good working conditions, improved wages, worker representation and development opportunities. 
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    We aim to play a proactive role in ensuring that the rights of workers in our supply chain are upheld, as well as advocating for wider changes in&nbsp;labour&nbsp;practices to enable systematic progress. We want to be a force for positive change by creating good jobs and good working conditions.&nbsp;<span style="">Together with our suppliers, we continually work to develop and improve our production supply chain while collaborating with a range of stakeholders to push for regulatory improvements and higher industry standards.&nbsp;We are proud to share the names and locations of the people we collaborate with as well as other information about how our products are made.&nbsp;By providing as much background and knowledge as possible, we&nbsp;want&nbsp;to simplify good choices and strengthen the relationship between our customers and our products.</span>
                </p>
            </div>
        </div>
    </div>
    <div class="o-width wc-50"></div>
    <div class="o-width wc-75"></div>
    <div class="o-width spacer wc-100"></div>
    <div class="o-width about-chooser wc-75">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    <b>Materials&nbsp; |&nbsp; Suppliers&nbsp; |&nbsp; <u>Longevity</u> </b>
                </p>
            </div>
        </div>
    </div>

    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout" data-chooser="Longevity" data-chooser-title="Longevity" data-chooser-image="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png" data-chooser-image-alt="Longevity" id="longevity">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-50">
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;"><b>03<br></b></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">facts</span>
                    Longevity
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        Extending the life of the things we surround ourselves with is one of the most important contributions we can make to reduce our footprint on the environment. For brands and manufacturers, as well as on an individual level. It is a responsibility shared between all of us.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Learning about the craft and resources that go into making a product helps us appreciate it more and gives us a better understanding of the consequences of the throwaway society.&nbsp;<span style="">In the science of sustainable design, the concept of ‘emotional durability’ describes how the value of a product increases as we develop a personal bond to it. The stronger relationships we build to our belongings, the more we will cherish, take care and hold on to them instead of replacing them with new things.&nbsp;Elevating the value of our everyday&nbsp;goods&nbsp;can help conserve resources and prevent materials from becoming waste. This is one of the reasons why we try to share as much information as possible about our products – who made them and where, what materials they’re composed of, what ideas inspired their design, and how we intended for them to be used.</span><br>
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile spacer wc-50">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_04_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_elisabeth_05_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        For our designs to be sustainable, we know we need to develop products that will continue to be useful and meaningful for many years and that allow the natural signs of ageing to be integrated and celebrated as something beautiful rather than imperfections.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ARKET products are carefully made to last through seasons and intended to be used and loved for a long time. Many of our materials – such as wood, wool, leather and linen – will only become more beautiful with wear and use. Please treat them with care. Air out garments between washes, wash at a cool temperature and avoid tumble drying when possible (Always refer to the care tag for specific care instructions).
                </p>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_about.gif">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">Reduce, reuse, repair and recycle</span>
                </h2>
            </div>
        </div>
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        In our experience, it can often be eye-opening to reconsider the choices we make in everyday life. Changing habits and finding new ways forward enhance creativity and help develop a stronger awareness of what we actually need to feel good. 
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    The simple motto of reduce, reuse, repair and recycle gives us the basic principles for more sustainable living. It also represents a more mindful approach to our everyday things: Buy only what you need, use and love it for as long as possible, repair and improve along the way. Swap, resell or give to charity if you no longer want it, and when the product is finally at the end of its use, make sure it is properly taken care of.<br>
                    <br>
                    Recycle with ARKET is our program for collecting unwanted garments, shoes and home textiles inside our stores. In collaboration with the German company I:Collect we make sure all products are sorted for either re-wear, reuse or material recycling. No textile should ever be thrown away in the trash but can instead be treated as a valuable resource.<br>
                    Fashion needs to be more circular and advancing the use of circular materials is crucial for reducing the environmental footprint of our products. Since our launch in 2017, we have been using recycled polyester, recycled nylon and recycled down filling to a large extent and we are currently shifting to using recycled wool, cashmere and cotton in many of our products. In spring 2021, we are launching our first collection made using repurposed vintage fabrics from the Recycle with ARKET program. Our goal is to increase the share of recycled materials by 15 percent during 2021. In 2024, all our polyester will be made from recycled materials and for 2030 we have set the goal to produce our collections exclusively from sustainably sourced materials.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width wc-75"></div>
    <div class="o-width spacer-desktop wc-50">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;font-size: 14.0px;"><b>Revisions</b></div>
                <div style="text-align: center;font-size: 14.0px;"><b>&nbsp;</b></div>
                <div style="text-align: center;font-size: 14.0px;"><br>
                <div style="text-align: center;font-size: 14.0px;"><b>22 March 2021&nbsp; </b>Updated supplier list added</div>
                <b>16 November 2020&nbsp;</b>&nbsp;Updated supplier list added</div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 ">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-women-in-leadership.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-recycle2.ejs") %>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width spacer wc-50">
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;"><b>Browse our assortment</b></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <%- include ("../../../common/md-o-teaser.ejs") %>


</div>
<!-- end -->