<div data-component="OPageContent" class="o-page-content footer-about-wrap">
    <div class="o-width relative hero hero--mobile-2images hero--mobile-text wc-100">
        <div class="o-hero is-takeover  full-width hero-takeover double-image" style="background-color:#878787;" data-component="OHero">
            <div class="takeover-wrapper">
                <div class="textblock-container">
                    <div class="o-text-block disable-bg"></div>
                </div>
            </div>
            <div class="image-wrapper">
                <div style="background-image:url(<%= pageInfo.root %>/images/about/huilong_08_a.jpg)" class="takeover-background"></div>
                <div style="background-image: url(<%= pageInfo.root %>/images/about/huilong_06_a.jpg); float:right" class="takeover-background"></div>
            </div>
        </div>
        <div class="multipleTags title--medium invert hero--dark-shadow wc-100">
            <div class="o-width wc-50">
                <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
                    <div class="image-container">
                        <div class="trackImage col-item">
                            <img class="a-image" src="<%= pageInfo.root %>/images/about/arket_sustainability_fact_sheet_symbol--white.png" alt="ARKET SUSTAINABILITY FACT SHEET">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width spacer wc-50">
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ARKET는 좋은 선택을 간소화하고 우리 산업의 긍정적인 변화에 영향을 미치기 위한 미션을 가지고 설립되었습니다. 우리의 디자인 철학은 심플함과 기능성이라는 북유럽 전통에 바탕을 두고 있습니다.
                    우리는 고객들이 오랫동안 사용하고 사랑할 수 있는 웰메이드 된 아름다운 일상 용품을 만드는 것을 목표로 합니다. 한 지붕 아래 다양하지만 섬세한 컬렉션으로
                    패션, 음식, 향, 뷰티, 가정 용품들을 선보임으로써, 우리는 사람들이 보다 더 지속 가능한 삶을 살아갈 수 있도록 영감을 주고 싶습니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width wc-100">
        <div class="o-chooser with-image" data-component="OChooser" data-type="with-image">
            <div class="item-container"></div>
        </div>
    </div>
    <div class="o-width spacer wc-75"></div>
    <div class="o-width about-chooser wc-75">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    <b><u>Materials</u>&nbsp;  |&nbsp; Suppliers&nbsp;  |&nbsp;  Longevity</b>  
                </p>
            </div>
        </div>
    </div>
    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout" data-chooser="Materials" data-chooser-title="Materials" data-chooser-image="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Materials.png" data-chooser-image-alt="Materials" id="materials">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>
    <div class="headings" style="text-align:center;">
        <div class="m-headline">
            <h2 class="a-heading-2  has-margin">
                <span class="heading-code">01 </span>
            </h2>
        </div>
    </div>
    <div class="title--small o-width wc-75">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">facts</span>소재
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
        <div class="headings" style="text-align:left;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    의류가 환경에 남기는 흔적의 약 70%는 고객에게 전달되기 전인 생산 단계(섬유 및 원료 생산, 회전, 염색, 직조, 뜨개질 및 바느질 등)에서 나옵니다.
                    나머지 부분은 운송, 판매, 세탁 및 사용 후의 제품 관리 프로세스에서 발생합니다. 보다 긴 수명을 위해 디자인하고 책임감 있고 윤리적으로
                    생산되는 재료의 사용을 지향하는 것은 환경에 남기는 흔적을 줄이는 데 있어 주된 우선순위 중 일부이며, 우리가 가장 큰 차이를 만들 수 있는 부분입니다.
                </h2>
            </div>
        </div>
        <div class="text-container">
            <p class="a-paragraph is-richtext">
                2020년에는, ARKET의 기성복, 액세서리 및 홈웨어 직물의 76%가 지속 가능한 소재를 사용하여 제작되었습니다. 올해는 오가닉 코튼, 리사이클 코튼,
                또한 BCI(Better Cotton Initiative)를 통해 조달된 코튼만을 사용되어 제작이 되었습니다.<br><br>
                ARKET은 2030년까지 100% 지속 가능한 소재를 사용하고 2040년에는 완벽하게 기후에 긍정적인 재료를 사용하기로 약속합니다.
                긍정적인 영향을 기후에 준다는 것은 전체적인 밸류 체인에서 공기 중 온실가스 배출이 되는 것을 줄이고 제거함으로써 환경적인 이익을 창출하는 데 도움이 된다는 것을 의미합니다.&nbsp;
            </p>
        </div>
        </div>
    </div>
    <div class="o-width mobile-image-70 wc-25">
        <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/facts_sustainablysourced.png" alt="ARKET currently sources 76% sustainable materials. Including 11% recycled materials.">
                </div>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">The figures display the total share of materials used in our 2020 collections&nbsp;(DEC 2019 – NOV 2020).</div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-50"></div>
    </div>
    <div class="o-width fullWidth--mobile wc-75">
        <div class="o-layout">
        <div class="layout-row-1"></div>
        <div class="layout-5">
            <div class="layout-row-2">
                <div class="image-slideshow parbase section">
                    <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
                        <div class="image-container">
                            <div class="trackImage col-item">
                                <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Suppliers_12.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-row-3">
                <div class="textcomponent parbase section">
                    <div class="o-text-field is-wide is-large">
                        <div class="headings" style="text-align:center;">
                            <div class="m-headline">
                                <h2 class="a-heading-2  has-margin">
                                    지속 가능한 소재
                                </h2>
                            </div>
                        </div>
                        <div class="text-container">
                            <p class="a-paragraph is-richtext">
                                지속 가능한 소재는 리넨과 같이 자연적으로 환경에 가벼운 영향을 미치거나 보다 윤리적이거나 책임감 있게 생산되는 재료입니다.
                                이에 대한 정의는 소재의 전체 라이프 사이클에 대한 평가를 기반으로 합니다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="textcomponent parbase section">
                    <div class="o-text-field is-wide ">
                        <div class="text-container">
                            <p class="a-paragraph is-richtext">
                                지속 가능하게 조달되는 대부분의 재료는 외부의 기준의 인증 및 검증을 받았습니다 :
                                오가닉 소재를 위한 오가닉 코튼 스탠더드(OCS)와 오가닉 소재를 위한 글로벌 오가닉 텍스타일 스탠더드(GOTS),
                                리사이클 소재를 위한 리사이클드 클레임 스탠더드(RCS)와 글로벌 리사이클드 스탠더드(GRS), 그리고 울은 리스펀서블 울 스탠더드(RWS)에서 인증이 진행되었습니다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="textcomponent parbase section">
                    <div class="o-text-field two-columns is-large">
                        <div class="headings" style="text-align:center;">
                            <div class="m-headline">
                                <h2 class="a-heading-2  has-margin">
                                    우리가 현재 가장 선호하는 지속 가능한 소재에는<br class="only-pc">다음이 포함됩니다:
                                </h2>
                            </div>
                        </div>
                        <div class="text-container">
                            <p class="a-paragraph is-richtext"></p>
                            <ul>
                                <li style="text-align: left;"><b><a href="#none" class="a-link">오가닉 코튼</a></b></li>
                                <li style="text-align: left;"><b>BCI를 통한 코튼</b></li>
                                <li style="text-align: left;"><b>리사이클 코튼</b></li>
                                <li style="text-align: left;"><b>리넨</b></li>
                                <li style="text-align: left;">
                                    <b>
                                        <span>리사이클 나일론<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(에코닐 포함)</span><br>
                                    </b>
                                </li>
                                <li style="text-align: left;"><b>리사이클 폴리에스터
                                    </b></li>
                                <li style="text-align: left;"><b><span>텐셀 라이오셀</span></b></li>
                                <li style="text-align: left;"><b>큐프로<br></b></li>
                                <li style="text-align: left;"><b><span>RWS-인증 울</span><br></b></li>
                                <li style="text-align: left;"><b>리사이클 울</b></li>
                                <li style="text-align: left;"><b>리사이클 캐시미어</b></li>
                                <li style="text-align: left;"><b><span>리사이클 다운(업사이클 드 다운)</span><br></b></li>
                                <li style="text-align: left;"><b><span>FSC 인증 용지 및 카드 보드지</span></b><br></li>
                            </ul>
                            <p class="a-paragraph"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="o-width wc-75"></div>
    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-75"></div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field is-wide ">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        우리가 사용하지 않는 소재
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    유해화학물질, 근로자의 건강과 안전, 동물복지, 생물 다양성 훼손에 대한 용납할 수 없는 위험 때문에 우리가 절대 사용하지 않기로 한 소재와 실천 목록도 있습니다. 여기에는 다음이 포함됩니다.
                </p>
            </div>
        </div>
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <ul>
                    <li><b>앙고라</b></li>
                    <li><b>동물 실험 화장품</b></li>
                    <li><b>이국적인 동물의 피혁</b></li>
                    <li><b>플루오르화탄소</b></li>
                    <li><b>모피</b></li>
                    <li><b>모헤어**</b></li>
                    <li><b>브라질과 방글라데시 생산의 가죽</b></li>
                    <li><b>멸종 위기 삼림에서 파생된 제품</b></li>
                    <li><b>PVC(폴리염화비닐)</b></li>
                    <li><b>노새 한 양의 양털</b></li>
                </ul>
                <p class="a-paragraph"></p>
            </div>
        </div>
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    <sub>** A/W 2021년부터, 공인된 리스펀서블 모헤어(RMS) 구매를 목표로 하고 있습니다.</sub></p><p class="a-paragraph"><sub>&nbsp;</sub>
                </p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-75"></div>
    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">
                    <div class="layout-row-2">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
                                <div class="image-container">
                                    <div class="trackImage col-item">
                                        <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_caroline_12_WEB.jpg" alt="ARKET Shopping bag made of FSC-certified paper">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-row-3">
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide ">
                                <div class="headings" style="text-align:center;">
                                    <div class="m-headline">
                                        <h2 class="a-heading-2  has-margin">
                                            순환 패키징
                                        </h2>
                                    </div>
                                </div>
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext">
                                        우리의 컬렉션에 사용되는 광범위한 소재 팔레트 외에도, 우리는 패키징 및 라벨링을 위한 새로운 솔루션을 개선하고 개발하기 위해 지속적으로 노력하고 있습니다.
                                        이러한 변화들은 때때로 작고 눈에 보이지 않는 변화이지만 큰 차이를 만들 수 있는 잠재력이 있습니다. 우리의 모든 비영리 상품에 대한 순환적 접근법을 시행하고자 합니다.
                                        즉, 재료 사용을 줄이고, 가능하면 재활용 대체품을 선택하고, 필요하지 않을 때는 플라스틱 사용을 피한다는 의미입니다. 모든 포장은 재사용 및 재활용이 가능해야 합니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext"></p>
                                    <div style="text-align: left;"><b>우리는 다음과 같은 목표를 달성하기 위해 노력할 것입니다.<br><br></b></div>
                                    <div style="text-align: left;"><b>By 2025</b></div>
                                    <div style="text-align: center;"><b>&nbsp;</b></div>
                                    <ul>
                                        <li><span>100% 재사용, 재활용 및/또는 퇴비화 가능한 패키징의 사용</span><br></li>
                                        <li><span>생산 과정에서 발생하는 패키지 폐기물의 100%를 재활용하거나 퇴비화</span></li>
                                        <li><span>불필요한 플라스틱 포장을 모두 제거</span></li>
                                        <li><span>단일 사용 제품에서 관련 모델을 재사용하는 방식으로 전환</span></li>
                                    </ul>
                                        <div style="text-align: left;"><b>&nbsp;</b></div>
                                        <div style="text-align: left;"><b>By 2030</b></div>
                                        <div style="text-align: center;"><b>&nbsp;</b></div>
                                    <ul>
                                        <li>비영리 상품 사용의 100% 순환</li>
                                    </ul>
                                    <div><b>&nbsp;</b></div>
                                    <p class="a-paragraph"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-75"></div>
    <div class="o-width wc-50">
        <div class="headings" style="text-align:left;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    순환 패키징 사용을 도입하는 것은 진행 중인 작업이며, 우리는 여전히 할 일이 많습니다. 이러한 목표를 위해 몇 가지 단계를 진행하였습니다.
                </h2>
            </div>
        </div>
    </div>

    <div class="o-width layout--no-lines title--small wc-75">
        <div class="o-layout">
            <div class="layout-row-1"></div>
            <div class=" layout-2">
                <div class="layout-row-2">
                    <div class="layout parbase section">
                        <div class="o-layout">
                            <div class="layout-row-1"></div>
                            <div class=" layout-2">
                                <div class="layout-row-2">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">01</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    매장 내 사용이 될 쇼핑백을 재사용 가능한 디자인과 FSC 인증을 받은 용지를 결합했습니다. 지금 이 재료를 재활용 종이로 변환하는 작업을 하고 있습니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layout-row-3">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">02</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    우리는 가능한 한 적극적으로 플라스틱 사용을 피하고, 대신 종이나 카드 보드지, 혹은 FSC 인증 혹은 재활용된 용지를 사용합니다.
                                                    이 노력에 대한 예시로 아동용 속옷에 플라스틱 고리가 아닌 종이 고리를 사용하기로 결정했습니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-row-4"></div>
                        </div>
                    </div>
                </div>
                <div class="layout-row-3">
                    <div class="layout parbase section">
                        <div class="o-layout">
                            <div class="layout-row-1"></div>
                            <div class=" layout-2">
                                <div class="layout-row-2">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">03</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    플라스틱 재료를 사용할 필요가 있을 때, 우리는 항상 재활용할 수 있는 옵션을 찾습니다.
                                                    저희 Bath & Body 병들은 프리 컨슈머 PET에서 나온 100% 재활용 폴리에스터로 만들어졌고 립밤의 튜브는 50% 재활용 플라스틱으로 만들어졌습니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layout-row-3">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">04</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    이미 우리의 모든 케어 라벨을 100% 재활용 폴리에스터로 바꾸었습니다. 이는 모든 텍스타일 라벨의 절반이며, 이제 나머지 절반에 대해 동일한 작업을 진행해야 합니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-row-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-row-4"></div>
        </div>
        <div class="o-layout">
            <div class="layout-row-1"></div>
            <div class=" layout-2">
                <div class="layout-row-2">
                    <div class="layout parbase section">
                        <div class="o-layout">
                            <div class="layout-row-1"></div>
                            <div class=" layout-2">
                                <div class="layout-row-2">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">05</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    쇼핑백에 붙어 있던 호일 로고를 제거하고 대신 인쇄를 했습니다.
                                                    이는 디자인을 크게 변경하지 않고도 호일 종이를 크게 절약했음을 의미합니다. 작은 디테일이 큰 영향을 미친 예라고 볼 수 있습니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layout-row-3">
                                    <div class="textcomponent parbase section">
                                        <div class="o-text-field is-wide ">
                                            <div class="headings" style="text-align:center;">
                                                <div class="m-headline">
                                                    <h2 class="a-heading-2  has-margin">
                                                        <span class="heading-code">06</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="text-container">
                                                <p class="a-paragraph is-richtext">
                                                    ARKET 카페의 테이크아웃 포장을 개선하기 위해 지속적으로 노력하고 있습니다.
                                                    커피의 뚜껑까지, 대개의 경우 플라스틱보다 카드 보드지를 선호하며, 일회용 커피 컵 사용을 줄이기 위해 고객이 직접 머그잔을 가져오면 모든 커피를 10% 할인해 드립니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-row-4"></div>
                        </div>
                    </div>
                </div>
                <div class="layout-row-3">
                    <div class="layout parbase section"></div>
                    <div class="o-layout">
                        <div class="layout-row-1"></div>
                        <div style=";" class=" layout-2">
                            <div class="layout-row-2">
                                <div class="textcomponent parbase section">
                                    <div class="o-text-field is-wide ">
                                        <div class="headings" style="text-align:center;">
                                            <div class="m-headline">
                                                <h2 class="a-heading-2  has-margin">
                                                    <span class="heading-code">07</span>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="text-container">
                                            <p class="a-paragraph is-richtext">
                                                순환 자원 루프를 도입하여, 모든 제품의 패키징에 대해 매장에서 수거 시스템을 제공합니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-row-3"></div>
                        </div>
                        <div class="layout-row-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-row-4"></div>
        </div>
    </div>

    <div class="o-width spacer wc-100"></div>
    <div class="o-width about-chooser wc-75">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    b>Materials&nbsp; |&nbsp; <u>Suppliers</u>&nbsp; |&nbsp; Longevity </b>
                </p>
            </div>
        </div>
    </div>

    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout" data-chooser="Suppliers" data-chooser-title="Suppliers" data-chooser-image="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png" data-chooser-image-alt="Suppliers" id="suppliers">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-50">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;"><b>02<br></b></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">facts</span>서플라이어
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        서플라이 체인을 통해 전 세계의 숙련된 공급업체들과의 신뢰를 기반으로 하는 견고한 관계를 구축하고 있습니다.
                        2017년 론칭한 이래로 ARKET의 컬렉션은 중국, 터키 및 방글라데시의 모던 의류 제조업체와 함께 인도의 오가닉 코튼 재배농가,
                        우루과이의 리스펀서블 양모 농장, 슬로베니아와 헝가리의 순환 소재 생산업체, 스웨덴, 이탈리아, 영국 및 일본의 전통 직조 공장 등과 협력하여 디자인하고 있습니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    이러한 크고 작은 파트너(지역 및 글로벌, 현대 및 전통)와의 결합은 컬렉션을 디자인하는 방식에 중요한 영향을 미칩니다.
                    순환 소재 프로젝트부터 디자인 협업, 지역 식품 공급업체와 ARKET 카페의 파트너십에 이르기까지 새로운 아이디어를 보다 광범위하게 출시하기 전에 제한된 형식으로 혁신하고 시험할 수 있는 기회가 주어집니다.
                    우리의 서플라이어 네트워크에 투자하고 참여하는 것은 모던 리테일 브랜드로서 가장 중요한 책임 중 하나이며, 이는 당사의 규모와 영향력을 사용하여 전 세계의 소규모 체인지 메이커를 지원하는 데에도 도움이 됩니다.
                    2040년까지 친환경적인 목표(온실가수 배출 규모 감소)에 도달하려는 것은 새롭고 깨끗한 방적, 직조, 염색, 바느질의 방식, 그리고 생산 과정의 모든 다른 단계들을 개발하기 위한 작업에 전적으로 달려 있습니다.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-width fullWidth--mobile wc-75">
            <div class="headings" style="text-align:center;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        Number of suppliers per country/region
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="o-width mobile-image-70 wc-25">
        <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/facts_amountofsupplierspercountryweb3.png" alt="Number of suppliers per market: China - 24, Turkey - 27, Bangladesh 25, Hong Kong - 17, Portugal - 14, India - 8, Italy - 8, Sweden 7. For a full list of suppliers check the link below">
                </div>
                <div class="slider-text-block">
                    <div class="is-richtext o-text-field ">
                        <p>2020 컬렉션을 위해 24개 국가 또는 지역의 총 170개 서플라이어와 협력하였습니다.
                            위에 표시된 곳 외에도, 우리의 제품은 한국, 프랑스, 태국, 대만, 불가리아, 독일, 키프로스, 체코, 인도네시아, 미얀마, 파키스탄, 스페인, 스리랑카, 폴란드, 헝가리의 협력사와 공동으로 만들었으며,
                            서플라이어의 11%가 이들 국가/지역 중 하나에 기반을 두고 있습니다.</p><br>

                        <p>위의 숫자는 서플라이어의 공식 등록 위치를 기준으로 하며, 그들의 생산 시설의 위치와 다를 수 있습니다.<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">DOWNLOAD</h6>
            <ul class="tags-container">
                <li class="tag ">
                    <a href="https://www.arket.com/content/dam/P11/docs/arket_suppliers_2020.pdf" target="_self" class="a-link">ARKET Supplier list<span class="promoIndex" hidden="">5</span></a>
                </li>
            </ul>    
        </div>
    </div>
    <div class="o-width fullWidth--mobile spacer wc-50">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_abraham_moon_9.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/VNAV_Suppliers_6.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        섬유 및 의류 제조업의 대부분은 노동법과 노동 기관이 아직 발전 중이고 국제 표준에 부합하지 않는 나라들에 위치해 있습니다.
                        이는 좋은 근로 조건, 개선된 임금, 근로자 대표성 및 개발 기회를 지속적으로 보장해야 하는 과제를 제시합니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ARKET은 서플라이 체인 내의 노동자들의 권리가 유지되도록 하는 데 있어, 적극적인 역할을 수행할 뿐만 아니라, 체계적인 발전을 위해 노동 관행을 보다 폭넓게 변화시킬 것을 지원하는 것을 목표로 합니다.
                    좋은 일자리와 좋은 근로 조건을 만들어 긍정적인 변화를 가져오는데 힘이 되고 싶습니다.

                    우리는 서플라이어와 함께 지속적으로 생산 공급망을 개발하고 개선하는 동시에 다양한 이해관계자들과 협력하여 규제 개선 및 업계 표준 향상을 추진하고 있습니다. 우리는 함께 협력하는 사람들의 이름과 위치뿐만 아니라 우리 제품이 어떻게 만들어지는지에 대한 정보를 공유하게 되어 자랑스럽습니다.
                    우리는 가능한 한 많은 배경과 지식을 제공함으로써 좋은 선택을 간소화하고  고객과 제품 간의 관계를 강화하고자 합니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width wc-50"></div>
    <div class="o-width wc-75"></div>
    <div class="o-width spacer wc-100"></div>
    <div class="o-width about-chooser wc-75">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    <b>Materials&nbsp; |&nbsp; Suppliers&nbsp; |&nbsp; <u>Longevity</u> </b>
                </p>
            </div>
        </div>
    </div>

    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout" data-chooser="Longevity" data-chooser-title="Longevity" data-chooser-image="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Environment.png" data-chooser-image-alt="Longevity" id="longevity">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>
    <div class="o-width title--medium wc-50">
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;"><b>03<br></b></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">facts</span>지속성
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        상품의 수명을 연장시키는 것은 환경에 대한 우리의 흔적을 줄이는 데 있어 우리가 할 수 있는 가장 중요한 노력 중 하나입니다.
                        브랜드 및 제조업체는 물론 개인의 레벨에서도 마찬가지입니다. 이는 모두가 공유하는 책임입니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    제품을 만드는 데 들어가는 기술과 자원에 대해 배우는 것은 우리가 제품을 더 높이 평가하는 데 도움이 되고, 낭비가 심한 사회가 가져올 결과에 대해 더 잘 이해할 수 있게 해줍니다.
                    지속 가능한 디자인 과학에서, '감정적인 내구성'이라는 개념은 우리가 제품에 대한 개인적 유대감을 개발함에 따라 제품의 가치가 어떻게 증가하는지 설명합니다.
                    우리의 소유물에 더 강한 관계가 형성될수록, 그것들을 새로운 것으로 대체하는 대신 더 많이 소중히 여기고, 아끼고, 더 오래 사용할 것입니다.
                    일상 용품의 가치를 높이는 것은 자원을 절약하고 자재가 낭비되는 것을 예방하는 데 도움이 될 수 있습니다. 이것이 바로 우리가 제품에 대한 가능한 많은 정보를 공유하는 이유 중 하나입니다.
                    누가 어디서 만들었고, 어떤 소재로 구성되었는지, 어떤 아이디어들이 그 디자인에 영감을 주었는지, 그리고 우리가 어떻게 사용하려고 했는지를 말입니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--mobile spacer wc-50">
        <div class="o-image-listing cols-2" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_04_WEB.jpg">
                </div>
            </div>
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_elisabeth_05_WEB.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">디자인이 지속 가능하기 위해서는 수년 동안 사용 가능한 의미 있는 제품을 개발하고, 노화의 자연적인 징후를 받아들이면서 그것을 결함이 아닌 아름다운 것으로 축하할 수 있는 제품을 개발해야 한다는 것을 알고 있습니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    ARKET 제품은 시즌 내내 사용할 수 있도록 세심하게 제작되어 오랫동안 사용되고 사랑받기 위한 만들어집니다.
                    목재, 울, 레더 및 리넨과 같은 많은 우리의 주된 소재는 마모와 사용으로 인해 더욱 아름다워질 것입니다.
                    상품들을 조심해서 다뤄주세요. 세탁 사이에는 통기를 잘 해주시고, 가능한 낮은 온도에서 세탁하고, 건조기 사용은 가급적 피해주세요(특정 관리 지침은 항상 케어 라벨을 참조하십시오).
                </p>
            </div>
        </div>
    </div>
    <div class="o-width wc-75">
        <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_about.gif">
                </div>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">감축, 재사용, 수선, 재활용</span>
                </h2>
            </div>
        </div>
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        우리의 경험에서, 일상생활에서 하는 선택을 재고하는 것은 종종 놀라운 경험을 할 수 있게 해줍니다. 습관을 바꾸고 새로운 길을 찾는 것은 창의력을 향상시키며, 우리가 뿌듯한 기분이 되기 위해 필요한 부분이 무엇인지에 대해 더 강한 인식을 갖도록 해줍니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    감축, 재사용, 수선, 재활용이라는 단순한 모토는 우리에게 더 지속 가능한 삶을 위한 기본 원칙을 제공합니다. 또한 이는 일상 업무에 대한 보다 유념적인 접근 방식을 나타냅니다. 필요한 것만 구입하고, 사용하고, 최대한 오랫동안 좋아하고, 수선하고, 개선하세요. 더 이상 원하지 않을 경우 교환, 재판매 또는 자선단체에 기부하고, 제품의 사용을 그만하기로 결정했다면 친환경적인 방법으로 처리하세요.
                    <br><br>
                    Recycle with ARKET은 매장 내에서 원치 않는 의류, 슈즈 및 가정용 직물을 수집하는 프로그램입니다. 독일 기업 I:Collect와 협력하여 우리는 모든 제품이 재 착용, 재사용 또는 소재 재활용을 위해 분류되도록 보장합니다. 직물은 쓰레기통에 버려지는 것이 아니며, 대신 귀중한 소재로 취급될 수 있습니다.
                    <br>
                    패션은 좀 더 순환적이어야 하며, 상품의 환경적 영향을 줄이는 데는 순환 소재 활용이 매우 중요합니다. ARKET은 2017년 론칭 이후 리사이클 폴리에스터, 리사이클 나일론, 리사이클 다운 필링을 대대적으로 사용하고 있으며 현재 많은 제품을 리사이클 울, 캐시미어와 코튼 등으로 생산하는 것으로 전환하고 있습니다. 2021년 봄, 우리는 Recycle with ARKET 프로그램을 통해, 리퍼포스드 빈티지 원단으로 만든 첫 컬렉션을 출시할 예정입니다. 우리의 목표는 2021년 동안 재활용 소재의 점유율을 15% 늘리는 것입니다. 2024년에는 모든 폴리에스터가 재활용 소재로 만들어질 것이며, 2030년에는 지속 가능한 소재만을 사용하여 컬렉션을 생산하겠다는 목표를 세웠습니다.
                </p>
            </div>
        </div>
    </div>
    <div class="o-width wc-75"></div>
    <div class="o-width spacer-desktop wc-50">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;font-size: 14.0px;"><b>수정사항</b></div>
                <div style="text-align: center;font-size: 14.0px;"><b>&nbsp;</b></div>
                <div style="text-align: center;font-size: 14.0px;"><br>
                <div style="text-align: center;font-size: 14.0px;">
                    <b>2021년 3월 22일 </b>업데이트된 생산업체 목록이 추가되었습니다.<br>
                    <b>2020년 11월 16일 </b>업데이트된 생산업체 목록이 추가되었습니다.
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #f5f5f5">
        <div class="o-width wc-75">
            <div class="m-headline u-align-center is-main-headline full-width">
                <h2 class="a-heading-2 ">
                    <span class="heading-value">You may also be interested in</span>
                </h2>
            </div>
        </div>
        <div class="o-width wc-75">
            <div class="o-focus-panel">
                <div class="focus-panel-container three-tiles">
                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-women-in-leadership.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-arket.ejs") %>

                    <%# md-about-o-focus-tiles %>
                    <%- include ("../../../common/md-about-o-focus-tiles-recycle2.ejs") %>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width spacer wc-50">
        <div class="o-text-field is-wide is-large">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;"><b>Browse our assortment</b></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <%- include ("../../../common/md-o-teaser.ejs") %>


</div>
<!-- end -->