<div data-component="OPageContent" class="o-page-content page-sizeguide">

    <!-- m-breadcrumb -->
    <div class="sdp-component left-component">
        <nav aria-label="breadcrumbs" class="m-breadcrumb" data-component="MBreadCrumb">
            <ol class="breadcrumb-container">
                <li>
                    <a class="a-link" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/index.html">
                        <span>ARKET</span>
                    </a>
                </li>
                <li itemprop="itemListElement">
                    <a class="a-link" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service.html">
                        <span>고객서비스</span>
                    </a>
                </li>
                <li itemprop="itemListElement">
                    <a class="a-link" href="#none">
                        <span>사이즈 가이드</span>
                    </a>
                </li>
                <li itemprop="itemListElement">
                    <a class="a-link" href="#none" data-no-click="true">
                        <span>Men</span>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
    <!-- //m-breadcrumb -->

    <h1 class="a-heading-1 seo-heading"><span>사이즈 가이드</span></h1>

    <%# md-o-local-navigation-cs %>
    <%- include ("../../../../common/md-o-local-navigation-size-guide.ejs") %>

    <!-- cs-contents -->
    <div class="o-width wc-50 cs-contents">

        <!-- freeHTML-sizeguide -->
        <div class="freeHTML-sizeguide">
            <h1 class="freeHTML-sizeguide-title">남성신발</h1>
            <%# md-o-sizeguide-men-shoes %>
            <%- include ("../../../../common/md-sizeguide-men-shoes.ejs") %>
        </div>
        <!-- //freeHTML-sizeguide -->

        <!-- freeHTML-sizeguide -->
        <div class="freeHTML-sizeguide">
            <h1 class="freeHTML-sizeguide-title">남성 셔츠</h1>

            <%# md-o-sizeguide-men-shirts %>
            <%- include ("../../../../common/md-sizeguide-men-shirts.ejs") %>
        </div>
        <!-- //freeHTML-sizeguide -->

        <!-- freeHTML-sizeguide -->
        <div class="freeHTML-sizeguide">
            <h1 class="freeHTML-sizeguide-title">남성 상의</h1>

            <%# md-o-sizeguide-men-tops %>
            <%- include ("../../../../common/md-sizeguide-men-tops.ejs") %>
        </div>
        <!-- //freeHTML-sizeguide -->

        <!-- freeHTML-sizeguide -->
        <div class="freeHTML-sizeguide">
            <h1 class="freeHTML-sizeguide-title">남성 하의</h1>

            <%# md-o-sizeguide-men-trousers %>
            <%- include ("../../../../common/md-sizeguide-men-trousers.ejs") %>
        </div>
        <!-- //freeHTML-sizeguide -->

        <!-- freeHTML-sizeguide -->
        <div class="freeHTML-sizeguide">
            <h1 class="freeHTML-sizeguide-title">남성 데님</h1>

            <%# md-o-sizeguide-men-jeans %>
            <%- include ("../../../../common/md-sizeguide-men-jeans.ejs") %>
        </div>
        <!-- //freeHTML-sizeguide -->

        <!-- freeHTML-sizeguide -->
        <div class="freeHTML-sizeguide">
            <h1 class="freeHTML-sizeguide-title">벨트</h1>

            <%# md-o-sizeguide-men-belts %>
            <%- include ("../../../../common/md-sizeguide-men-belts.ejs") %>
        </div>
        <!-- //freeHTML-sizeguide -->

        <!-- freeHTML-sizeguide -->
        <div class="freeHTML-sizeguide">
            <h1 class="freeHTML-sizeguide-title">장갑</h1>

            <%# md-o-sizeguide-men-gloves %>
            <%- include ("../../../../common/md-sizeguide-men-gloves.ejs") %>
        </div>
        <!-- //freeHTML-sizeguide -->

        <!-- freeHTML-sizeguide -->
        <div class="freeHTML-sizeguide">
            <h1 class="freeHTML-sizeguide-title">남성 수영복</h1>

            <h2><br>수영복(허리밴딩)</h2>
            <%# md-o-sizeguide-men-swimwear-trunks %>
            <%- include ("../../../../common/md-sizeguide-men-swimwear-trunks.ejs") %>

            <h2>스윔쇼츠</h2>
            <%# md-o-sizeguide-men-swimwear-short %>
            <%- include ("../../../../common/md-sizeguide-men-swimwear-short.ejs") %>
        </div>
        <!-- //freeHTML-sizeguide -->

    </div>
    <!-- //cs-contents -->

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[1].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->