<div data-component="OPageContent" class="o-page-content">

    <!-- m-breadcrumb -->
    <div class="sdp-component left-component">
        <nav aria-label="breadcrumbs" class="m-breadcrumb" data-component="MBreadCrumb">
            <ol class="breadcrumb-container">
                <li>
                    <a class="a-link" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/index.html">
                        <span>ARKET</span>
                    </a>
                </li>
                <li itemprop="itemListElement">
                    <a class="a-link" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/customer-service.html">
                        <span>고객서비스</span>
                    </a>
                </li>
                <li itemprop="itemListElement">
                    <a class="a-link" href="#none" data-no-click="true">
                        <span>사이즈 가이드</span>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
    <!-- //m-breadcrumb -->

    <h1 class="a-heading-1 seo-heading"><span>사이즈 가이드</span></h1>

    <%# md-o-local-navigation-cs %>
    <%- include ("../../../../common/md-o-local-navigation-size-guide.ejs") %>

    <!-- cs-contents -->
    <div class="o-width wc-75 cs-contents">

        <!-- freeHTML-sizeguide -->
        <div class="freeHTML-sizeguide">
            <h1 class="freeHTML-sizeguide-title">남성신발</h1>

            <!-- information -->
            <div class="freeHTML-sizeguide-information">
                <p>사이즈 차트는 여러분이 적합한 사이즈를 찾는 데 도움이 되는 안내서입니다. 많은 상품들이 유니크한 방식으로 디자인 되어있으니, 설명란에 나와 있는 특정 제품의 길이와 측정치도 참조하시기를 권해드립니다.</p>
                <br>
                <p>신체 치수 측정 방법</p>
                <table class="freeHTML-sizeguide-information-text">
                    <tbody>
                    <tr>
                        <th>발 길이</th>
                        <td>뒤꿈치의 뒤쪽부터 가장 긴 발가락까지의 길이를 측정하세요</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- //information -->

            <!-- chart -->
            <div class="freeHTML-sizeguide-chart">
                <p class="freeHTML-sizeguide-chartTitle">사이즈 표</p>

                <input class="freeHTML-sizeguide-inputInch" type="radio" name="women_full_body_free_html_sizeguide">
                <span class="freeHTML-sizeguide-titleInch">inch</span>
                <input class="freeHTML-sizeguide-inputCm" type="radio" name="women_full_body_free_html_sizeguide" checked="checked">
                <span class="freeHTML-sizeguide-titleCm">cm</span>

                <table class="freeHTML-sizeguide-chart-titles">
                    <thead>
                    <tr>
                        <th><span>SIZE</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>eur</td>
                    </tr>
                    <tr>
                        <td>uk</td>
                    </tr>
                    <tr>
                        <td>chest</td>
                    </tr>
                    <tr>
                        <td>waist</td>
                    </tr>
                    <tr>
                        <td>hip</td>
                    </tr>
                    <tr>
                        <td>inside leg</td>
                    </tr>
                    </tbody>
                </table>
                <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
                    <table class="freeHTML-sizeguide-chart-sizes">
                        <thead>
                        <tr>
                            <th><span>XS</span></th>
                            <th><span>S</span></th>
                            <th><span>M</span></th>
                            <th><span>L</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>32-34</td>
                            <td>36-38</td>
                            <td>40-42</td>
                            <td>44-46</td>
                        </tr>
                        <tr>
                            <td>6-8</td>
                            <td>10-12</td>
                            <td>14-16</td>
                            <td>18-20</td>
                        </tr>
                        <tr>
                            <td>76-80</td>
                            <td>84-88</td>
                            <td>92-96</td>
                            <td>100-104</td>
                        </tr>
                        <tr>
                            <td>60-64</td>
                            <td>68-72</td>
                            <td>76-80</td>
                            <td>84-88</td>
                        </tr>
                        <tr>
                            <td>84-88</td>
                            <td>92-96</td>
                            <td>100-104</td>
                            <td>108-112</td>
                        </tr>
                        <tr>
                            <td>76-77</td>
                            <td>78-79</td>
                            <td>80-81</td>
                            <td>82-83</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
                    <table class="freeHTML-sizeguide-chart-sizes">
                        <thead>
                        <tr>
                            <th><span>XS</span></th>
                            <th><span>S</span></th>
                            <th><span>M</span></th>
                            <th><span>L</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>32-34</td>
                            <td>36-38</td>
                            <td>40-42</td>
                            <td>44-46</td>
                        </tr>
                        <tr>
                            <td>6-8</td>
                            <td>10-12</td>
                            <td>14-16</td>
                            <td>18-20</td>
                        </tr>
                        <tr>
                            <td>30-31½</td>
                            <td>33-34½</td>
                            <td>36¼-37¾</td>
                            <td>39½-41</td>
                        </tr>
                        <tr>
                            <td>23½-25¼</td>
                            <td>26¾-28½</td>
                            <td>30-31½</td>
                            <td>33-34½</td>
                        </tr>
                        <tr>
                            <td>33-34½</td>
                            <td>36¼-37¾</td>
                            <td>39½-41</td>
                            <td>42½-44</td>
                        </tr>
                        <tr>
                            <td>30-30½</td>
                            <td>30¾-31¼</td>
                            <td>31½-32</td>
                            <td>32½-32¾</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- //chart -->

        </div>
        <!-- //freeHTML-sizeguide -->
        
    </div>
    <!-- //cs-contents -->

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[1].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->